= form_for([:admin, @material], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = image_tag(@material.image_url(:medium)) if @material.image? 
    = f.label :image
    = f.file_field :image
    = f.hidden_field :image_cache
    %br
    = f.label :remove_image
    = f.check_box :remove_image
  .field
    = f.label :document
    = link_to('download', @material.document_url) if @material.document? 
    = f.file_field :document
    = f.hidden_field :document_cache
    %br
    = f.label :remove_document
    = f.check_box :remove_document
  .field
    = f.label :download_only
    %br
    = f.check_box :download_only
  .field
    = f.label :description
    %br
    = f.text_area :description, :class => 'wymeditor'
  %br
  .actions
    = f.submit :class => 'wymupdate jqui_save'
