%h1 Listing Shipping Rates (cart subtotal based)
= link_to 'New Shipping Rate', new_admin_shipping_rate_path, :class => 'jqui_new' if has_write_permissions?
%br
- unless params[:q].blank?
  = link_to 'all', admin_shipping_rates_path, :class => 'jqui_button'
= form_tag(admin_shipping_rates_path, :method => :get) do
  = admin_systems_checkboxes
  = text_field_tag :q, nil, :placeholder => "zone or country"
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        - currencies.each do |currency|
          = sortable "price_min_#{currency}"
          = sortable "price_max_#{currency}"
        = sortable "zone_or_country"
        = sortable "percentage", "%"
        - currencies.each do |currency|
          %th= "Standard Rate #{currency.upcase}"
          %th= "Rush Rate #{currency.upcase}"
        = sortable "system"
        - if has_write_permissions?
          %th &nbsp;
          %th &nbsp;
    %tbody
      - for shipping_rate in @shipping_rates
        %tr{ :class => cycle(:odd, :even) }
          - currencies.each do |currency|
            %td= shipping_rate.send "price_min_#{currency}"
            %td= shipping_rate.send "price_max_#{currency}"
          %td= shipping_rate.zone_or_country
          %td= shipping_rate.percentage
          - currencies.each do |currency|
            %td= shipping_rate.send "standard_rate_#{currency}"
            %td= shipping_rate.send "rush_rate_#{currency}"
          %td= shipping_rate.system
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_shipping_rate_path(shipping_rate), :class => 'jqui_edit_min'
            %td= link_to 'Destroy', admin_shipping_rate_path(shipping_rate), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= will_paginate @shipping_rates
%br
= link_to 'New US Shipping Rate', new_admin_shipping_rate_path, :class => 'jqui_new' if has_write_permissions?
