= form_for([:admin, @fedex_rate], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :weight_min, "Minimum Weight"
    %span.icon_weightfield
      = f.text_field :weight_min, :size => 8
      lbs
    %br
    = f.label :weight_max, "Maximum Weight"
    %span.icon_weightfield
      = f.text_field :weight_max, :size => 8
      lbs
  %hr
  - FedexZone::ZONES.each do |zone|
    .field
      %h4{:style => "float:left; margin-top: 2px; width: 90px;"}== Zone #{zone}
      - FedexRate::SERVICES.each do |service|
        .left
          = label_tag "fedex_rate[rates][#{zone}][#{service}]", service.to_s.humanize, :class => "autosize"
          %span.icon_pricefield_usd
            = text_field_tag "fedex_rate[rates][#{zone}][#{service}]", @fedex_rate.rates.try(:[], zone.to_s).try(:[], service), :size => 6, :style => "margin-right: 36px"
      .clear
      %p.formhelp= zone_label(zone)

    %hr
  .actions
    = f.submit :class => 'jqui_save', id: 'fedex_rate_submit'
