%h1 Listing US Shipping Rates
= link_to 'New US Shipping Rate', new_admin_fedex_rate_path, :class => 'jqui_new' if has_write_permissions?
%br
- unless params[:q].blank?
  = link_to 'all', admin_fedex_rates_path, :class => 'jqui_button'
= form_tag(admin_fedex_rates_path, :method => :get) do
  = text_field_tag :q, nil, :placeholder => "code, name"
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "weight_min"
        = sortable "weight_max"
        - if has_write_permissions?
          %th &nbsp;
          %th &nbsp;
    %tbody
      - for fedex_rate in @fedex_rates
        %tr{ :class => cycle(:odd, :even) }
          %td= fedex_rate.weight_min
          %td= fedex_rate.weight_max
          %td= link_to 'Show', admin_fedex_rate_path(fedex_rate), :class => 'jqui_show_min'
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_fedex_rate_path(fedex_rate), :class => 'jqui_edit_min'
            %td= link_to 'Destroy', admin_fedex_rate_path(fedex_rate), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= will_paginate @fedex_rates
%br
= link_to 'New US Shipping Rate', new_admin_fedex_rate_path, :class => 'jqui_new' if has_write_permissions?
