%li.ui-menu-item
  = f.text_field :item_num, :placeholder => "item num", :class => 'product_autocomplete', :style => "width: 70px"
  = f.select :discount_type, Campaign::DISCOUNT_TYPES, {}, :class => 'individual_discount_type', :style => "width: 85px"
  = f.text_field :discount, :placeholder => "discount value", :class => 'individual_discount_value', :style => "width: 50px; margin-right: 34px;", :onkeyup => "$(this).siblings('input.individual_product_price').val(calculate_sale_price($(this).siblings('input.individual_product_msrp').val(), this.value, $(this).siblings('.individual_discount_type').val()))", :onblur => "add_individual_discount();$(this).parent('li').next('li').find('.product_autocomplete').focus();"
  = f.text_field :msrp, :placeholder => "msrp", :readonly => true, :style => "width: 50px; margin-right: 34px;", :class => 'individual_product_msrp'
  = f.text_field :price, :placeholder => "sales price", :style => "width: 50px; margin-right: 34px;", :class => 'individual_product_price', :readonly => true
  -#= link_to_function "remove", "$(this).parent('li').remove()"
  = f.check_box :_destroy, :style => "margin-left: 0px"
  = f.label :_destroy, "Delete?", :class => "autosize minilink", :style => "font-weight: normal"
  = f.text_field :label, :class => 'transperent product_info', :readonly => true, :style => "width: 440px"
  = f.text_field :product_id, :class => 'transperent individual_product_id', :readonly => true, :size => 25, :type => "hidden"

  :javascript
    $(".product_autocomplete").autocomplete({
      source: function(request, response) {
        $.ajax({
        	url: "/products_autocomplete",
        	dataType: 'text json',
        	data: {term: request.term},
        	success: function( data ) {response(data)}
        });
      },
      search: function() {
        var term = extractLast(this.value);
        if (term.length < 2) {
          return false;
        }
      },
      focus: function() {
        return false;
      },
      select: function(event, ui) {
        this.value = split(ui.item.value).pop(); 
        $(this).siblings('.product_info').val(ui.item.label+' MSRP: '+ui.item.msrp_#{current_currency});
        $(this).siblings('input.individual_product_msrp').val(ui.item.msrp_#{current_currency});
        $(this).siblings('input.individual_product_id').val(ui.item.id);
        $(this).siblings('select.individual_discount_type').focus();
        return false;
      }
    });