- if visual_asset.must_own.blank? || machines_owned.any? {|e| visual_asset.must_own.include?(e)}
  - if visual_asset.asset_type == 'galleries' && visual_asset.child_visual_assets.present?
    %div{ :class => "frame_gallery#{visual_asset.wide? ? '_wide' : nil}" }
      = link_to image_tag("/images/ui-objects/_#{current_system}_frame_gallery#{visual_asset.wide? ? '_wide' : nil}.png", :class => "frame_gallery"), "#", :id => "gallery_link", :onclick => "if ($(this).attr('href') == '#') { return false; }"
      .gallery_asset{:id => "gallery_#{visual_asset.id}"}
        %ul
          - va_children_available = visual_asset.child_visual_assets.select {|asset| asset.available?(@time || Time.zone.now)}.sort {|x,y| x.display_order <=> y.display_order}
          - va_children_available.each do |child_visual_asset|
            - next unless child_visual_asset.must_own.blank? || machines_owned.any? {|e| child_visual_asset.must_own.include?(e)}
            - if child_visual_asset.image?
              %li= link_to_unless child_visual_asset.link.blank?, image_tag(child_visual_asset.image_url, :alt => child_visual_asset.name), child_visual_asset.link, :title => child_visual_asset.name
      :javascript
        $(document).ready(function(){
          $("#gallery_#{visual_asset.id}").sudoSlider({
            controlsShow: #{va_children_available.length > 1 ? "true" : "false"},
            controlsFade: true,
            prevHtml: '<a href="#" class="prevBtn" alt="previous" title="previous"> prev </a>',
            nextHtml: '<a href="#" class="nextBtn" alt="next" title="next"> next </a>',
            numeric: false,
            preloadAjax: true,
            auto: true,
            fade:true,
            pause:4200,
                        
            afterAniFunc: function(t){
              var gallery_link = $(this).find('a').attr("href");
              if (gallery_link == undefined) {
                $('#gallery_link').attr("href", "#");
              } else {
                $('#gallery_link').attr("href", gallery_link);
              }
            }
          });
        });      
  - elsif visual_asset.asset_type == 'billboards' && visual_asset.child_visual_assets.present?
    %div{ :class => "billboards#{ visual_asset.wide? ? nil : '_landing' }" }
      - va_children_available = visual_asset.child_visual_assets.select {|asset| asset.available?(@time || Time.zone.now)}.sort {|x,y| x.display_order <=> y.display_order}
      - va_children_available.each do |billboard|
        - next unless billboard.must_own.blank? || machines_owned.any? {|e| billboard.must_own.include?(e)}
        %div{:class => "billboard_#{billboard.wide ? 'wide' : 'narrow'} #{'last' if va_children_available.last == billboard}"}
          .captionfull{:class => "boxgrid-#{billboard.wide ? 'wide' : 'narrow'}"}
            = link_to_if billboard.content.blank? && billboard.link.present?, image_tag(billboard.image_url, :alt => "#{billboard.name.capitalize}", :title => "#{billboard.name.capitalize}"), billboard.link
            - unless billboard.content.blank? || billboard.content == "<br />"
              .cover{:class => "boxcaption-#{billboard.wide ? 'wide' : 'narrow'}"}
                %h4= billboard.name
                = billboard.content.html_safe
                = link_to "more", billboard.link if billboard.link.present?
    .clear
  - elsif visual_asset.asset_type == 'image' && visual_asset.image?
    %p= link_to_unless visual_asset.link.blank?, image_tag(visual_asset.image_url, :alt => visual_asset.name), visual_asset.link, :title => visual_asset.name
  - elsif visual_asset.asset_type == 'image_with_text' && visual_asset.image?
    .asset_text_for_image= visual_asset.content.html_safe
    .left= link_to_unless visual_asset.link.blank?, image_tag(visual_asset.image_url, :alt => visual_asset.name), visual_asset.link, :title => visual_asset.name
    .clear
  - elsif visual_asset.asset_type == 'text'
    .asset_text= visual_asset.content.html_safe
  - elsif visual_asset.asset_type == 'freeform'
    .asset_freeform= visual_asset.content.html_safe
    .clear
  - elsif visual_asset.asset_type == 'catalog_search'
    .asset_catalog_search
      %h2{:class => "#{visual_asset.name.parameterize(sep = '-') }"}
        %span= visual_asset.name
        %span= link_to "View All", catalog_path(:anchor => visual_asset.search_query), :class => "minilink"
      %div{ :class => "item_carousel#{visual_asset.wide? ? '_wide' : nil} ui-widget-#{ is_sizzix_us? ? 'header' : 'content'} ui-widget ui-corner-all" }
        %div{:id => "asset_carousel_#{visual_asset.id}"}
        .controls{ :style => "display: none"}
          = link_to "prev", "#", :class => "prev_button disabled", :id => "prev_button_#{visual_asset.id}", :onclick => "return false;"
          |
          = link_to "next", "#", :class => "next_button", :id => "next_button_#{visual_asset.id}", :onclick => "return false;"
        .clear
      :javascript
        $(function() {
          $('#asset_carousel_#{visual_asset.id}').load('/index/limited_search?#{visual_asset.search_query}&per_page=#{visual_asset.item_limit}' ,function() {
            $("#asset_carousel_#{visual_asset.id}").jCarouselLite({
              btnPrev: "#prev_button_#{visual_asset.id}",
              btnNext: "#next_button_#{visual_asset.id}",
              circular: false,
              speed: 900,
              scroll: 1,
              mouseWheel: true,
              visible: #{visual_asset.wide? ? 5 : 4}
            });  
            if ($("#asset_carousel_#{visual_asset.id}").find("ul li").length > #{visual_asset.wide? ? 5 : 4}) {
              $("#asset_carousel_#{visual_asset.id}").next(".controls").slideDown();
            }
            initialize_buttons();
          });
        });
  - elsif visual_asset.asset_type == 'products' || visual_asset.asset_type == 'ideas'
    .asset_items
      %h2{:class => "#{visual_asset.name.parameterize(sep = '-') }"}
        %span= visual_asset.name
      %div{ :class => "item_carousel#{visual_asset.wide? ? '_wide' : nil} ui-widget-#{ is_sizzix_us? ? 'header' : 'content'} ui-widget ui-corner-all", :id => "asset_carousel_#{visual_asset.id}" }
        %ul= render :partial => 'index/item', :collection => visual_asset.asset_type == 'products' ? Product.listable.where(:item_num.in => visual_asset.products).cache : Idea.available.where(:idea_num.in => visual_asset.ideas).cache
        .controls{ :style => "display: none"}
          = link_to "prev", "#", :class => "prev_button disabled", :id => "prev_button_#{visual_asset.id}", :onclick => "return false;"
          |
          = link_to "next", "#", :class => "next_button", :id => "next_button_#{visual_asset.id}", :onclick => "return false;"
        .clear
      :javascript
        $(function() {
          $("#asset_carousel_#{visual_asset.id}").jCarouselLite({
            btnPrev: "#prev_button_#{visual_asset.id}",
            btnNext: "#next_button_#{visual_asset.id}",
            circular: false,
            speed: 900,
            scroll: 1,
            mouseWheel: true,
            visible: #{visual_asset.wide? ? 5 : 4}
          });
          if ($("#asset_carousel_#{visual_asset.id} ul li").length > #{visual_asset.wide? ? 5 : 4}) {
            $("#asset_carousel_#{visual_asset.id} .controls").slideDown();
          }
        });
