- if visual_asset.asset_type == 'image' && visual_asset.image?
  = link_to_unless visual_asset.link.blank?, image_tag(visual_asset.image_url, :alt => visual_asset.name), visual_asset.link, :title => visual_asset.name
- elsif visual_asset.asset_type == 'text'
  .asset_text= visual_asset.content.html_safe
- elsif visual_asset.asset_type == 'freeform'
  .asset_freeform= visual_asset.content.html_safe
- elsif visual_asset.asset_type == 'catalog_search'
  .asset_catalog_search
    %h2
      = visual_asset.name
      = link_to "View All", catalog_path(:anchor => visual_asset.search_query), :class => "minilink"
    .item_carousel.ui-widget.ui-corner-all{ :class => "ui-widget-#{ is_sizzix? ? 'header' : 'content'}"}
      %div{:id => "asset_carousel_#{visual_asset.id}"}
      .controls
        = link_to "prev", "#", :class => "prev_button", :id => "prev_button_#{visual_asset.id}"
        |
        = link_to "next", "#", :class => "next_button", :id => "next_button_#{visual_asset.id}"
    :javascript
      $(function() {
        $('#asset_carousel_#{visual_asset.id}').load('/index/limited_search?#{visual_asset.search_query}&per_page=#{visual_asset.item_limit}' ,function() {
          $("#asset_carousel_#{visual_asset.id}").jCarouselLite({
            btnPrev: "#prev_button_#{visual_asset.id}",
            btnNext: "#next_button_#{visual_asset.id}",
            visible: #{visual_asset.wide? ? 5 : 4}
          });
        });
      });
- elsif visual_asset.asset_type == 'products' || visual_asset.asset_type == 'ideas'
  .asset_items
    %h2= visual_asset.name
    .item_carousel.ui-widget.ui-corner-all{ :class => "ui-widget-#{ is_sizzix? ? 'header' : 'content'}", :id => "asset_carousel_#{visual_asset.id}"}
      %ul= render :partial => 'index/item', :collection => visual_asset.asset_type == 'products' ? Product.available.where(:item_num.in => visual_asset.products).cache : Idea.available.where(:idea_num.in => visual_asset.ideas).cache
      .controls
        = link_to "prev", "#", :class => "prev_button", :id => "prev_button_#{visual_asset.id}"
        |
        = link_to "next", "#", :class => "next_button", :id => "next_button_#{visual_asset.id}"
    :javascript
      $(function() {
        $("#asset_carousel_#{visual_asset.id}").jCarouselLite({
          btnPrev: "#prev_button_#{visual_asset.id}",
          btnNext: "#next_button_#{visual_asset.id}",
            visible: #{visual_asset.wide? ? 5 : 4}
        });
      });