%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "3"}
      %h1.primary-heading Thank you for your order!
  %tr
    %td.threecol.first{ :style => "width: 28%; padding-right: 10px; padding-left: 10px; color: #444; padding-top: 10px; border-right: 1px solid #ccc; padding-left:0; width:25%;" }
      %h3.secondary-heading{ :style => "font-size: 18px; font-weight: normal; color: #333; font-style: normal; font-family: Georgia; text-align: left; margin-bottom: 15px;" } Billing Address
      %p
        - if @order.billing_address.present?
          - unless @order.billing_address.company.blank?
            = @order.billing_address.company
            %br
          == #{@order.billing_address.first_name} #{@order.billing_address.last_name}
          %br
          = @order.billing_address.address1
          %br
          - unless @order.billing_address.address2.blank?
            = @order.billing_address.address2
            %br
          == #{@order.billing_address.city}, #{@order.billing_address.state} #{@order.billing_address.zip_code}
          %br
          = @order.billing_address.country
          %br
          = @order.billing_address.phone
    %td.threecol{ :style => "width: 28%; padding-right: 10px; padding-left: 10px; color: #444; padding-top: 10px; border-right: 1px solid #ccc;" }
      %h3.secondary-heading{ :style => "font-size: 18px; font-weight: normal; color: #333; font-style: normal; font-family: Georgia; text-align: left; margin-bottom: 15px;" } Shipping Address
      %p
        - unless @order.address.company.blank?
          = @order.address.company
          %br
        == #{@order.address.first_name} #{@order.address.last_name}
        %br
        = @order.address.address1
        %br
        - unless @order.address.address2.blank?
          = @order.address.address2
          %br
        == #{@order.address.city}, #{@order.address.state} #{@order.address.zip_code}
        %br
        = @order.address.country
        %br
        = @order.address.phone
    %td.threecol.last{ :style => "width: 28%; padding-right: 10px; padding-left: 10px; color: #444; padding-top: 10px; border-right: 1px solid #ccc; padding-right: 0px; margin-right: 0px; border: 0;" }
      %h3.secondary-heading{ :style => "font-size: 18px; font-weight: normal; color: #333; font-style: normal; font-family: Georgia; text-align: left; margin-bottom: 15px;" } Order Details
      %strong Order Number:
      = @order.public_order_number
      %br
      %strong Customer Account:
      = @order.system == 'szus' ? 'SIZZIX.COM' : @order.user.erp
      %br
      %strong Web Customer:
      = @order.user.email
      %br
      %strong Order Date:
      = l @order.created_at, :format => :custom
      %br
      %strong Status:
      = @order.status
%hr
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %th{ :style => "font-size: 11px; vertical-align: top;", :width => "60", :align => "left" } Item #
    %th{ :style => "font-size: 11px; vertical-align: top;", :align => "left" } Item Name
    %th{ :style => "font-size: 11px; vertical-align: top;", :width => "40", :align => "center" } Qty
    %th{ :style => "font-size: 11px; vertical-align: top;", :width => "55", :align => "right" } Price
    %th{ :style => "font-size: 11px; vertical-align: top;", :width => "70", :align => "right" } Item Total
  - @order.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td{ :style => "font-size: 11px; vertical-align: top;", :width => "60", :align => "left" }= item.item_num
      %td{ :style => "font-size: 11px; vertical-align: top;", :align => "left" }= item.name.html_safe
      %td{ :style => "font-size: 11px; vertical-align: top;", :width => "40", :align => "center" }= item.quantity
      %td{ :style => "font-size: 11px; vertical-align: top;", :width => "55", :align => "right" }= number_to_currency item.gross_price
      %td{ :style => "font-size: 11px; vertical-align: top;", :width => "70", :align => "right" }= number_to_currency item.item_total
  %tr
    %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" }
      %strong Subtotal
    %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}
      %strong= number_to_currency @order.gross_subtotal_amount
  %tr
    %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" }== Shipping & Handling (#{@order.shipping_service.try :humanize})
    %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}= number_to_currency @order.gross_shipping_amount
  - if @order.cod?
    %tr
      %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" } COD account:
      %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}
        = @order.cod_account_type
        = @order.cod_account
  - if @order.handling_amount > 0.0
    %tr
      %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" } Shipping & Handling Surcharge
      %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}= number_to_currency @order.handling_amount
  %tr
    %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" }== #{is_us? ? 'Sales Tax' : is_uk? ? 'VAT (already included in Subtotal)' : 'Estimated Tax'}
    %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}= number_to_currency @order.tax_amount
  %tr
    %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" }
      %strong TOTAL
    %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}
      %strong= number_to_currency @order.total_amount
  - if @order.total_discount.present? && @order.total_discount > 0.0
    %tr
      %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "right" }
        %strong Total Savings:
      %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}
        %strong= number_to_currency @order.total_discount
  - if @order.payment.present? || @order.gift_card.present?
    %tr
      %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "left" }
        %span{:class=>"no_bold", :style=>"text-decoration:underline"}
          This order was charged to:
        %br
        - if @order.payment.try(:purchase_order)
          %strong 
            Purchase Order
            = @order.payment.purchase_order_number
        - elsif @order.payment.present?
          %strong
            == #{@order.payment.card_name}, 
            == #{@order.payment.card_expiration_month}/#{@order.payment.card_expiration_year}
          - if @order.gift_card.present?
            = number_to_currency @order.balance_due rescue ''
            %br
          - if @order.payment.reference_purchase_order_number.present?
            %br
            == Reference Purchase Order Number: 
            %strong
              #{@order.payment.reference_purchase_order_number}
            %br
        - if @order.gift_card.present?
          Sizzix/Ellison Gift Card Ending
          = @order.gift_card.card_num_last_four
          - if @order.payment.present?
            = number_to_currency @order.gift_card.paid_amount rescue ''
          %br
      %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}
    - if @order.payment.try :deferred
      %tr
        %td{ :style => "font-size: 11px; vertical-align: top;", :colspan => "4", :align => "left" }
          %table{ :width => "100% "}
            %tr
              %th{ :style => "font-size: 11px; vertical-align: top;", :align => "center" }
                Payment 1
                = l @order.payment.paid_at, :format => :date
              - 1.upto(Payment::NUMBER_OF_PAYMENTS) do |i|
                %th{ :style => "font-size: 11px; vertical-align: top;", :align => "center" }
                  Payment 
                  = i+1 
                  = l @order.payment.paid_at.since(i.month), :format => :date
            %tr
              %td{ :style => "font-size: 11px; vertical-align: top;", :align => "center" }
                = number_to_currency @order.payment.paid_amount
              - 1.upto(Payment::NUMBER_OF_PAYMENTS) do |i|
                %td{ :style => "font-size: 11px; vertical-align: top;", :align => "center" }= number_to_currency(@order.payment.deferred_payment_amount)
        %td{ :style => "font-size: 11px; vertical-align: top;", :align => "right"}
%br
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td{ :style => "font-size: 11px; vertical-align: top;" }
      %ol
        - unless @order.payment.try(:purchase_order)
          %li== Your credit card statement will reflect a charge from Sizzix/Ellison#{is_us? ? ' Lake Forest, CA' : nil}.
        %li Shipping errors and claims must be made within 30 days of receipt of goods.
        - if @order.gift_card?
          %li Gift Cards CANNOT be returned.
        - else
          %li Merchandise CANNOT be returned without prior approval.
        - if is_us? && !@order.gift_card?
          %li Returns or exchanges subject to restocking fee.
        - if is_uk?
          %li Please allow a maximum ten working days for your order to be processed during busier periods.
  - unless @order.comments.blank?
    %tr
      %td{ :style => "font-size: 11px; vertical-align: top;" }
        %p== <strong>Comments: </strong>#{@order.comments}
