%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td{ :colspan => "3"}
      %h1.primary-heading== Thank you for your #{quote_name}!
  %tr
    %td.twocol-left
      %h3.secondary-heading Shipping Address
      %p
        - unless @quote.address.company.blank?
          = @quote.address.company
          %br
        == #{@quote.address.first_name} #{@quote.address.last_name}
        %br
        = @quote.address.address1
        %br
        - unless @quote.address.address2.blank?
          = @quote.address.address2
          %br
        == #{@quote.address.city}, #{@quote.address.state} #{@quote.address.zip_code}
        %br
        = @quote.address.country
        %br
        = @quote.address.phone
    %td.twocol-right
      %h3.secondary-heading== #{quote_name.capitalize} Details
      %strong== #{quote_name} Name:
      = @quote.name
      %br
      %strong== #{quote_name} Number:
      = @quote.id
      %br
      %strong Customer Account:
      = @quote.system == 'szus' ? 'SIZZIX.COM' : @quote.user.erp
      %br
      %strong Web Customer:
      = @quote.user.email
      %br
      %strong Order Date:
      = l @quote.created_at, :format => :custom
      %br
      %strong Expires at:
      = l @quote.expires_at, :format => :custom
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %th{ :width => "60", :align => "left" } Item No.
    %th{ :align => "left" } Item Name
    %th{ :width => "40", :align => "center" } Qty
    %th{ :width => "55", :align => "right" } Price
    %th{ :width => "70", :align => "right" } Subtotal
  - @quote.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td{ :width => "60", :align => "left" }= item.item_num
      %td{ :align => "left" }= item.name
      %td{ :width => "40", :align => "center" }= item.quantity
      %td{ :width => "55", :align => "right" }= number_to_currency item.gross_price
      %td{ :width => "70", :align => "right" }= number_to_currency item.item_total
  %tr
    %td{ :colspan => "4", :align => "right" }
      %strong Subtotal
    %td{ :align => "right"}
      %strong= number_to_currency @quote.gross_subtotal_amount
  %tr
    %td{ :colspan => "4", :align => "right" }== Shipping & Handling (#{@quote.shipping_service.try :humanize})
    %td{ :align => "right"}= number_to_currency @quote.gross_shipping_amount
  - if @quote.cod?
    %tr
      %td{ :colspan => "4", :align => "right" } COD account:
      %td{ :align => "right"}
        = @quote.cod_account_type
        = @quote.cod_account
  %tr
    %td{ :colspan => "4", :align => "right" } Shipping & Handling Surcharge
    %td{ :align => "right"}= number_to_currency @quote.handling_amount
  %tr
    %td{ :colspan => "4", :align => "right" }== #{t :estimated_tax}
    %td{ :align => "right"}= number_to_currency @quote.tax_amount
  %tr
    %td{ :colspan => "4", :align => "right" }
      %strong ESTIMATED TOTAL
    %td{ :align => "right"} 
      %strong= number_to_currency @quote.total_amount
  - if @quote.total_discount.present? && @quote.total_discount > 0.0
    %tr
      %td{ :colspan => "4", :align => "right" }
        %strong Total Savings:
      %td{ :align => "right"}
        %strong= number_to_currency @quote.total_discount