%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td{ :colspan => "3"}
      %h1.primary-heading== Thank you for your #{quote_name.downcase}!
  %tr
    %td.twocol-left
      %h3.secondary-heading Shipping Address
      %p
        - unless @quote.address.company.blank?
          = @quote.address.company
          %br
        == #{@quote.address.first_name} #{@quote.address.last_name}
        %br
        = @quote.address.address1
        %br
        - unless @quote.address.address2.blank?
          = @quote.address.address2
          %br
        == #{@quote.address.city}, #{@quote.address.state} #{@quote.address.zip_code}
        %br
        = @quote.address.country
        %br
        = @quote.address.phone
    %td.twocol-right
      %h3.secondary-heading== #{quote_name} Details
      %strong== #{quote_name} Name:
      = @quote.name
      %br
      %strong== #{quote_name} Number:
      = (@quote.quote_number.blank? ? @quote.id : @quote.quote_number)
      %br
      %strong Customer Account:
      = @quote.system == 'szus' ? 'SIZZIX.COM' : @quote.user.erp
      %br
      %strong Web Customer:
      = @quote.user.email
      %br
      %strong Order Date:
      = l @quote.created_at, :format => :custom
      %br
      %strong Expires at:
      = l @quote.expires_at, :format => :custom
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %th{ :width => "60", :align => "left" } Item #
    %th{ :align => "left" } Item Name
    %th{ :width => "40", :align => "center" } Qty
    %th{ :width => "55", :align => "right" } Price
    %th{ :width => "70", :align => "right" } Item Total
  - @quote.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td{ :width => "60", :align => "left" }= item.item_num
      %td{ :align => "left" }= item.name.html_safe
      %td{ :width => "40", :align => "center" }= item.quantity
      %td{ :width => "55", :align => "right" }= number_to_currency item.gross_price
      %td{ :width => "70", :align => "right" }= number_to_currency item.item_total
  %tr
    %td{ :colspan => "4", :align => "right" }
      %strong Subtotal
    %td{ :align => "right"}
      %strong= number_to_currency @quote.gross_subtotal_amount
  %tr
    %td{ :colspan => "4", :align => "right" }== Estimated Shipping & Handling (#{@quote.shipping_service.try :humanize})
    %td{ :align => "right"}= number_to_currency @quote.gross_shipping_amount
  - if @quote.cod?
    %tr
      %td{ :colspan => "4", :align => "right" } COD account:
      %td{ :align => "right"}
        = @quote.cod_account_type
        = @quote.cod_account
  - if @quote.handling_amount > 0.0
    %tr
      %td{ :colspan => "4", :align => "right" } Estimated Shipping & Handling Surcharge
      %td{ :align => "right"}= number_to_currency @quote.handling_amount
  %tr
    %td{ :colspan => "4", :align => "right" }== #{is_us? ? 'Sales Tax' : is_uk? ? 'VAT (already included in Subtotal)' : 'Estimated Tax'}
    %td{ :align => "right"}= number_to_currency @quote.tax_amount
  %tr
    %td{ :colspan => "4", :align => "right" }
      %strong Estimated TOTAL
    %td{ :align => "right"} 
      %strong= number_to_currency @quote.total_amount
  - if @quote.total_discount.present? && @quote.total_discount > 0.0
    %tr
      %td{ :colspan => "4", :align => "right" }
        %strong Total Savings:
      %td{ :align => "right"}
        %strong= number_to_currency @quote.total_discount
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td
      %ol
        %li== Your #{quote_name.downcase} will be saved for #{is_ee? ? '90' : is_er? ? '180' : '90'} days. Any changes to product availability or any other factors beyond our control will void the #{quote_name.downcase}.
        - if is_ee_uk?
          %li==  If you would like to change any of the items on your quote, please contact Customer Service on 0844 499 8181 (within UK), +44 (0) 845 345 2277 (outside UK) or email #{ mail_to "europecustomerservices@ellison.com", "europecustomerservices@ellison.com" }
        - else
          %li== Products placed for #{quote_name.downcase} are final. #{quote_name} cannot be altered after being submitted.
  - unless @quote.comments.blank?
    %tr
      %td
        %p== <strong>Comments: </strong>#{@quote.comments}
