%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td{ :colspan => "2"}
      %h2.primary-heading== Your order ##{"<strong>#{@order.public_order_number}</strong>".html_safe} has shipped!
      %p Dear Valued Customer,
      %p
        == Thank you for shopping at #{"<strong>http://www.#{get_domain}</strong>".html_safe}. This is just a brief note to confirm that your order ##{"<strong>#{@order.public_order_number}</strong>".html_safe} has shipped!
        %br
        A summary of the shipped items are listed below.
        %br
        %br
  %tr
    %td.twocol-left
      %h3.secondary-heading Shipping Address
      %p
        - unless @order.address.company.blank?
          = @order.address.company
          %br
        == #{@order.address.first_name} #{@order.address.last_name}
        %br
        = @order.address.address1
        %br
        - unless @order.address.address2.blank?
          = @order.address.address2
          %br
        == #{@order.address.city}, #{@order.address.state} #{@order.address.zip_code}
        %br
        = @order.address.country
        %br
        = @order.address.phone
    %td.twocol-right
      %h3.secondary-heading Order Details
      %strong Order Number:
      = @order.public_order_number
      %br
      %strong Web Customer:
      = @order.user.email
      %br
      %strong Order Date:
      = l @order.created_at, :format => :custom
      %br
      %strong Status:
      = @order.status
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %th{ :width => "60", :align => "left" } Item No.
    %th{ :align => "left" } Item Name
    %th{ :width => "40", :align => "center" } Qty
  - @order.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td{ :width => "60", :align => "left" }= item.item_num
      %td{ :align => "left" }= item.name
      %td{ :width => "40", :align => "center" }= item.quantity
%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td
      %p Please note, in some cases merchandise may be shipped in multiple packages. If so, you will receive a shipping confirmation for each package sent.
      %p
        == Your order has been shipped via #{@order.carrier_description}. 
        You may track your package once the shipping carrier has scanned the shipment into their system, which usually occurs within 24 hours.
        %br
        - if @order.tracking_number.present?
          == For your records, your Tracking Number is: #{link_to @order.tracking_number, @order.tracking_url}
          %br
        = link_to 'Track Your Order', order_url(@order, :host => get_domain)