%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td
      %p== Dear #{ is_sizzix? ? "Sizzix" : "Ellison"} Subscriber,
      %p
        %em ** This is an automated confirmation email. **
      %p
        == Thank you for taking the first step in subscribing to #{@subscription.list_name}. Click on the link below to confirm your subscription and begin receiving 
        - if is_sizzix_us?
          the latest product launches, artist ideas, discounts, plus much more!
        - else
          == the latest news about our exciting products, newest #{ is_ee? ? "lessons" : "projects" } and time-saving tips, plus a few surprises!        
      
      %p
        == Please click here to confirm your subscription to #{@subscription.list_name}:
        %br
        == #{link_to "http://www.#{get_domain}/index/subscription/#{@subscription.id}", "http://www.#{get_domain}/index/subscription/#{@subscription.id}"}

      - if is_sizzix_us?
        %p== To welcome you as our special subscriber, we are offering you *<strong><em>FREE SHIPPING</em></strong> off any #{link_to "Value Pack", "http://www.sizzix.com/catalog#facets=special~value-packs"} at Sizzix.com. No matter your budget, Value Packs offer everything you need to start some serious crafting. Most include a Sizzix Machine, while all feature fantastic discounts on popular products bundled together for sizable savings! #{link_to "See our great selection of Value Packs here.", "http://www.sizzix.com/catalog#facets=special~value-packs"}
        %p== To take advantage of this special offer, just use code <strong><em>WELCOME</em></strong> at checkout. Better hurry for the best selection! Click for *#{link_to "offer limitations", "http://www.#{get_domain}/disclaimer_coupon2"}.
        %p We look forward to staying in touch with you throughout the year and hope you enjoy The Sizzix Scoop as much as we enjoy bringing it to you!
        %p== To ensure that your Sizzix Scoop is delivered to your inbox, not as spam, please add <strong>sizzixscoop@lyris.sizzix.com</strong> to your email address book as soon as possible.
      
      - elsif is_ee_us?
        %p== In addition to all the great benefits of being a subscriber to The Ellison Connection, we are offering you a budget-saving discount of 15% off your entire order* of $100 or more at ellisoneducation.com. Just use code <strong>ECN2013</strong> at checkout. Offer expires 01/06/2014. (*#{link_to "Some exclusions apply.", "http://www.ellisoneducation.com/disclaimer_perc_off_1"})
        %p== To ensure that your Ellison Connection is delivered to your inbox, please add <strong>connection@lyris.ellison.com</strong> to your address book.
        %p We look forward to staying in touch with you throughout the year, and we hope you enjoy The Ellison Connection as much as we enjoy bringing it to you!

      - else
        %p== To ensure that #{@subscription.list_name} is delivered to your inbox, please add <strong>#{lyris_email}</strong> to your address book.
        %p== We look forward to staying in touch with you throughout the year, and we hope you enjoy #{@subscription.list_name} as much as we enjoy bringing it to you!