%tr{:id => "discount_category_#{discount_category.id}"}
  %td.editable{:id => "name-#{discount_category.id}"}= discount_category.name
  - retailer_discount_levels.levels.each do |level|
    %td.editable{:id => "discount_#{level.id}-#{discount_category.id}"}= discount_category.send "discount_#{level.id}"