.field{:style => "border: 1px solid #{f.object.new_record? ? 'red' : 'green'}"}
  = f.error_messages
  = f.label :name, :class => "autosize"
  = f.text_field :name, :readonly => true
  - ELLISON_SYSTEMS.each do |sys|
    = check_box_tag "#{f.object_name}[systems_enabled][]", sys, f.object.systems_enabled && f.object.systems_enabled.include?(sys)
    = sys.upcase
  = f.check_box :read, :disabled => f.object.write, :class => 'read_permission'
  = f.label :read, :class => "autosize"
  = f.check_box :write, :onclick => "if (this.checked) {$(this).prevAll('input:checkbox').first().attr({checked: true, disabled: true}).trigger('change')} else {$(this).prevAll('input:checkbox').first().attr({disabled: false})}"
  = f.label :write, :class => "autosize"
  = f.check_box :_destroy, :onclick => "$(this).parents('.field').css('border-color', this.checked ? 'red' : 'green')"
  = f.label :_destroy, "Delete this permission", :class => "autosize"