= form_for([:admin, @blogger], :html => {:multipart => true}) do |f|
  = f.error_messages
  
  %hr
  %h3.contentwrap_XXXL.last System Visibility
  .contentwrap_large
    .field
      = required_label f, :systems_enabled, { :label => "Enabled for", :label_size => "auto" }
      = system_enabled('blogger')
  .contentwrap_large.last
  %hr
  %h3.contentwrap_XXXL.last Basic Information
  .contentwrap_large
    .field
      = required_label f, :display_order
      = f.text_field :display_order
    .field
      = required_label f, :name
      = f.text_field :name
    .field
      = required_label f, :blog_url
      = f.text_field :blog_url
      %br
      %p{:class=>"legalese"}
        *Enter RSS feed label with no spaces in the URL
        %br
        (If label name has a space, replace with "%20")
    .field
      = f.label :photo_url
      = f.text_field :photo_url
      %br
      %p{:class=>"legalese"}
        *Blogger photo standard size is currently 54 by 63 pixels.
        %br
        Images should be jpgs stored in the "/images/blog/" directory.

  .actions
    = f.submit :class => 'wymupdate jqui_save'
