%h2 Listing bloggers
= link_to 'New blogger', new_admin_blogger_path, :class => 'jqui_new' if has_write_permissions?
%br
- unless params[:q].blank?
  = link_to 'all', admin_bloggers_path, :class => 'jqui_button'
= form_tag(admin_bloggers_path, :method => :get) do
  = text_field_tag :q, nil, :placeholder => "blogger num, name, keyword"
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "name"
        %th Feed URL
        %th Display Order
        %th Systems
        - if has_write_permissions?
          %th &nbsp;
          %th &nbsp;
    %tbody
      - for blogger in @bloggers
        %tr{ :class => cycle(:odd, :even) }
          %td= blogger.name
          %td= blogger.blog_url
          %td= blogger.display_order
          %td= blogger.systems_enabled.join(", ") rescue ''
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_blogger_path(blogger), :class => 'jqui_edit_min'
            %td= link_to 'Destroy', admin_blogger_path(blogger), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= paginate @bloggers
%br
= link_to 'New blogger', new_admin_blogger_path, :class => 'jqui_new' if has_write_permissions?
