= form_for([:admin, @admin], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :systems_enabled
    = system_enabled('admin')
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :employee_number, :class => "autosize"
    %br
    = f.text_field :employee_number
  .field
    = f.label :password, :class => "autosize"
    %br/
    = f.password_field :password
    %br
    %span.formhelp
      leave this field blank if you don't want to change the password for
      %em this
      account
  .field
    = f.label :password_confirmation, :class => "autosize"
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :current_password, :class => "autosize"
    %br/
    = f.password_field :current_password
    %br
    %span.formhelp
      provide
      %em your
      current password to confirm changes to this account

  %h3 Permissions
  .field
    = f.check_box :can_act_as_customer
    = f.label :can_act_as_customer, :class => "autosize"
  .field
    = f.check_box :can_change_prices
    = f.label :can_change_prices, :class => "autosize"
  - f.fields_for :permissions do |permission_fields|
    = render 'admin/permissions/permission', :f => permission_fields
  = link_to_add_fields "Add Permission", f, :permissions
  %br
  %br
  .actions
    = f.submit :class => 'jqui_save'