%h1 Listing admins
= link_to 'New admin user', new_admin_admin_path, :class => 'new_button'
%br
- unless params[:q].blank?
  = link_to 'all', admin_admins_path, :class => 'button'
- form_tag(admin_admins_path, :method => :get) do
  = text_field_tag :q
  = submit_tag "search", :class => "search"
%table
  %thead
    %tr
      %th Active
      %th Email
      %th Signed in
      %th Created At
      %th &nbsp;
      %th &nbsp;
      %th &nbsp;
  %tbody
    - for user in @admins
      %tr{ :class => cycle(:odd, :even) }
        %td= user.active
        %td= user.email
        %td= user.sign_in_count
        %td= l user.created_at, :format => :custom rescue ''
        %td= link_to 'Edit', edit_admin_admin_path(user)
        %td= link_to 'Destroy', admin_admin_path(user), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @admins
%br
= link_to 'New admin user', new_admin_admin_path, :class => 'new_button'