= form_for([:admin, @idea], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :systems_enabled
    = system_enabled('idea')
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = f.label :idea_num
    %br
    = f.text_field :idea_num
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label "start_date_#{current_system}", "Start Date #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "start_date_#{current_system}", :class => 'datetimepicker'
  .field
    = f.label "end_date_#{current_system}", "End Date #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "end_date_#{current_system}", :class => 'datetimepicker'
  .field
    = f.label "distribution_life_cycle_#{current_system}", "Distribution Life Cycle #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "distribution_life_cycle_#{current_system}", :class => 'overrideable', :size => 100
  .field
    = f.label "distribution_life_cycle_ends_#{current_system}", "Distribution Life Cycle Ends #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "distribution_life_cycle_ends_#{current_system}", :class => 'datetimepicker'
  .field
    = f.label :description, :class => 'overrideable'
    %br
    = f.text_area :description, :class => 'wymeditor'
  .field
    = image_tag(@idea.image_url(:small)) if @idea.image? 
    = f.file_field :image
    = f.hidden_field :image_cache
    %br
    = f.label :remove_image
    = f.check_box :remove_image
  %br
  %h3 Tags
  %ul#idea_tags= render :partial => 'tag', :collection => @idea.tags
  = label_tag :idea_tags_helper
  = text_field_tag "idea_tags_helper"
  %br
  %br
  %h3 Products
  %ul#idea_products= render :partial => 'product', :collection => @idea.products
  = label_tag :idea_products_helper
  = text_field_tag "idea_products_helper"
  %br
  %br
  %h3 Related Idea Tag
  .field
    = f.label :related_idea_tag, "Related Idea Tag ID"
    %br
    = f.text_field :related_idea_tag
    %span#related_idea_tag_name= @idea.related_idea_tag_name
    :javascript
      $('#idea_related_idea_tag').autocomplete({
      	source: function(request, response) {
      		$.getJSON("/admin/tags/tags_autocomplete", {
      			term: request.term
      		}, response);
      	},
      	search: function() {
      		if (this.value.length < 2) {
      			return false;
      		}
      	},
      	focus: function( event, ui ) {
        				return false;
        			},
      	select: function(event, ui) {
      	  $("#related_idea_tag_name").html( ui.item.label );
          $(this).val( ui.item.id );
          return false;
        }});
  .actions
    = f.submit :class => 'wymupdate jqui_save'
  :javascript
    $(function() {
      $('#idea_distribution_life_cycle_#{current_system}').autocomplete({source: ["New", "Featured"]});
    });
    $("#idea_tags_helper").autocomplete({
    	source: function(request, response) {
    		$.getJSON("/admin/tags/tags_autocomplete", {
    			term: request.term
    		}, response);
    	},
    	search: function() {
    		if (this.value.length < 2) {
    			return false;
    		}
    	},
    	focus: function( event, ui ) {
      				$( "#idea_tags_helper" ).val( ui.item.label );
      				return false;
      			},
    	select: function(event, ui) {
    	  this.value = '';
    	  $("#idea_tags").append("<li class='ui-menu-item'><a href='#' onclick='$(this).parent().remove();return false;'>x</a> "+ui.item.label+"<input name=\"idea[my_tag_ids][]\" type=\"hidden\" value=\""+ui.item.id+"\" /></li>");
    		return false;
    	}});
    	
    	$("#idea_products_helper").autocomplete({
      	source: function(request, response) {
      		$.getJSON("/admin/products/products_autocomplete", {
      			term: request.term
      		}, response);
      	},
      	search: function() {
      		if (this.value.length < 2) {
      			return false;
      		}
      	},
      	focus: function( event, ui ) {
        				$( "#idea_products_helper" ).val( ui.item.label );
        				return false;
        			},
      	select: function(event, ui) {
      	  this.value = '';
      	  $("#idea_products").append("<li class='ui-menu-item'><a href='#' onclick='$(this).parent().remove();return false;'>x</a> "+ui.item.label+"<input name=\"idea[my_product_ids][]\" type=\"hidden\" value=\""+ui.item.id+"\" /></li>");
      		return false;
      	}});