%h2 Edit idea

= render 'form'
%hr
.field
  %h3 Additional Images
  = link_to 'upload new image', {:action => 'new_image', :id => @idea.id}, :remote => true, :class => 'jqui_new'
  #new_image
  #images= render :partial => 'image', :collection => @idea.images
  .clear
%hr
.field
  %h3 Tabs
  = link_to 'new tab', {:action => 'new_tab', :id => @idea.id}, :remote => true, :class => 'jqui_new'
  = link_to 'clone existing', {:action => 'reusable_tab', :id => @idea.id}, :remote => true, :class => 'jqui_clone'
  %br
  %br
  %ul#tabs.ui-sortable= render :partial => 'tab', :collection => @idea.tabs.ordered
  #edit_tab
  #info
  :javascript
    sortable_tabs("#{@idea.id}", "idea")
%hr
%ul.record_info
  %li
    Created By 
    %strong= @idea.created_by
  %li
    Created On
    %strong= @idea.created_at
  %li
    Updated By
    %strong= @idea.updated_by
  %li
    Updated On
    %strong= @idea.updated_at
= link_to 'Back', admin_ideas_path, :class => 'jqui_back'