- form_for([:admin, @landing_page], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :systems_enabled
    = system_enabled('landing_page')
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :permalink, "Permalink URL. Ex: st-patrick-day-sale"
    %br
    == This will be the url of the landing page. Ex: http://#{request.host_with_port}/shop/<strong>st-patrick-day-sale</strong>
    %br
    = f.text_field :permalink, :disabled => !@landing_page.new_record?
    - if @landing_page.new_record?
      %span.error WARNING: cannot be changed later!
  .field
    = f.label :search_query, "Catalog facet query parameter. Ex: category~embossing,machine_compatibility~sidekick"
    %br
    = f.text_field :search_query
    = f.label :outlet
    = f.check_box :outlet
  .field
    = f.label :quick_search
    %br
    = f.check_box :quick_search
  .field
    = f.label "start_date"
    %br
    = f.text_field "start_date", :class => 'datetimepicker'
  .field
    = f.label "end_date"
    %br
    = f.text_field "end_date", :class => 'datetimepicker'
  .field
    = f.label :short_desc
    %br
    = f.text_field :short_desc
  #visual_assets  
    = f.fields_for :visual_assets do |visual_asset_fields|
      = render 'admin/visual_assets/visual_asset', :f => visual_asset_fields
    = link_to_add_fields "Add Visual Asset", f, :visual_assets
  %br
  %br
  .actions
    = f.submit :class => 'wymupdate jqui_save'
:javascript
  $('#visual_assets').sortable({tolerance: 'pointer', start: function(event, ui) {$('.visual_asset').css({height:"22px",overflow:"hidden"})}, stop: function(event, ui) {$('.visual_asset').css({height:"auto"})}, update: function(event, ui) {
    $.ajax({url:"/admin/landing_pages/reorder_visual_assets?id=#{@landing_page.id}&"+$("#visual_assets").sortable('serialize')});
  }})
