%h2 Listing Landing Pages
= link_to 'New landing_page', new_admin_landing_page_path, :class => 'jqui_new' if has_write_permissions?
%br
%h3 Filters
- unless params[:q].blank?
  = link_to 'all', admin_landing_pages_path, :class => 'jqui_button'
= form_tag(admin_landing_pages_path, :method => :get) do
  = admin_systems_checkboxes
  = text_field_tag :q, nil, :placeholder => "name, search query, permalink"
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "name"
        = sortable "permalink"
        = sortable "start_date"
        = sortable "end_date"
        = sortable "search_query"
        %th Systems
        %th Active?
        %th &nbsp;
        - if has_write_permissions?
          %th &nbsp;
          %th &nbsp;
    %tbody
      - for landing_page in @landing_pages
        %tr{ :class => cycle(:odd, :even) }
          %td= landing_page.name
          %td= link_to landing_page.permalink, "http://#{request.host_with_port}/shop/#{landing_page.permalink}", :target => "_new"
          %td= l landing_page.send("start_date"), :format => :custom rescue ''
          %td= l landing_page.send("end_date"), :format => :custom rescue ''
          %td= landing_page.search_query
          %td= landing_page.systems_enabled.join(", ") rescue ''
          %td= landing_page.active
          %td= link_to 'Show', admin_landing_page_path(landing_page), :class => 'jqui_show_min'
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_landing_page_path(landing_page), :class => 'jqui_edit_min'
            %td= link_to 'Destroy', admin_landing_page_path(landing_page), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= will_paginate @landing_pages
%br
= link_to 'New landing_page', new_admin_landing_page_path, :class => 'jqui_new' if has_write_permissions?