- if has_write_permissions?
  .success
    - if @order.can_be_paid?
      = link_to_function "Make Payment", "$('#make_payment').slideDown()", :class => 'jqui_button'
    - if @order.to_refund? && !(@order.payment.try(:refunded_amount) && @order.payment.refunded_amount > 0)
      = link_to "Refund", {:action => 'refund_cc', :id => @order}, :class => 'jqui_button'
      = link_to "Refund & Recreate", {:action => 'refund_cc', :id => @order, :recreate => true}, :class => 'jqui_button'
    - else
      = link_to !@order.status_frozen? ? "Cancel & Recreate" : "Recreate", {:action => 'recreate', :id => @order}, :class => 'jqui_button'
    - if !@order.status_frozen?
      = link_to "Authorize CC", {:action => 'authorize_cc', :id => @order}, :class => 'jqui_button' if @order.payment.present? && !@order.payment.try(:purchase_order) && @order.payment.subscriptionid  && @order.user.erp.present? && @order.user.erp != 'New' && @order.user.invoice_account.present?
      - if !@order.tax_committed && calculate_tax?(@order.address.state) && @order.gift_card.blank?
        %span#calculate_tax_button= "Run Sales Tax" 
      - if @order.gift_card.blank?
        :javascript
          $(document).ready(function(){
            $('#shipping_amount').editInPlace({
              url: "/admin/orders/change_shipping",
              params: "id=#{@order.id}",
              show_buttons: true,
              value_required: true,
              success: function(data){
                eval(data);
              },
              saving_animation_color: "#ECF2F8"
            });
            $("#calculate_tax_button").button().click(function(){
              $(this).button({'disabled': true});
              $.ajax({url:"#{url_for({:action => "recalculate_tax", :id => @order})}"});
              return false;
            });
          });
      :javascript
        $(document).ready(function(){

          $("#order_status").editInPlace({
            url: "/admin/orders/change_order_status",
            params: "id=#{@order.id}",
            field_type: "select",
            select_options: "New, #{'Open, ' if @order.payment.try(:purchase_order) || @order.gift_card && @order.balance_due < 0.01}Pending, Cancelled", 
            show_buttons: true,
            value_required: true,
            saving_animation_color: "#ECF2F8"
          });
        });
    - elsif @order.uk_may_change?
      :javascript
        $(document).ready(function(){
          $("#order_status").editInPlace({
            url: "/admin/orders/change_order_status",
            params: "id=#{@order.id}",
            field_type: "select",
            select_options: "In Process, Shipped, Cancelled", 
            show_buttons: true,
            value_required: true,
            saving_animation_color: "#ECF2F8"
          });
        });
    - elsif @order.to_refund?
      :javascript
        $(document).ready(function(){
          $("#order_status").editInPlace({
            url: "/admin/orders/change_order_status",
            params: "id=#{@order.id}",
            field_type: "select",
            select_options: "To Refund, Refunded", 
            show_buttons: true,
            value_required: true,
            saving_animation_color: "#ECF2F8"
          });
        });

    
