%h2 Listing orders
%br
- unless params[:q].blank?
  = link_to 'all', admin_orders_path, :class => 'jqui_button'
= form_tag(admin_orders_path, :method => :get) do
  = admin_systems_checkboxes
  = text_field_tag :q, nil, :placeholder => "shipping name, address"
  = check_box_tag :extended, "1"
  Extended search (case insensitive, partial match)
  = select_tag :status, options_for_select([['All', nil]] + Order::STATUSES, params[:status])
  = select_tag :deferred, options_for_select([['All', nil]] + [['deferred', 1], ['not-deferred', 0]], params[:deferred])
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "order_number"
        = sortable "created_at"
        %th Company
        = sortable "address.last_name", "Name"
        = sortable "subtotal_amount", "Subtotal"
        %th System
        = sortable "status"
        = sortable "payment.deferred", 'Deferred'
        - if has_write_permissions?
          %th{:style => "text-align: right; white-space: nowrap;"} &nbsp;
    %tbody
      - for order in @orders
        - I18n.locale = order.locale
        %tr{ :class => cycle(:odd, :even) }
          %td= link_to order.public_order_number, admin_order_path(order)
          %td= l order.created_at, :format => :custom rescue ''
          %td= order.address.company
          %td== #{order.address.first_name} #{order.address.last_name}
          %td= number_to_currency order.gross_subtotal_amount
          %td= order.system
          %td{:style => order.on_hold? ? order.can_be_paid? ? 'color:green' : 'color:red' : nil, :class => order.uk_may_change? ? 'editable_order_status' : nil, :id => order.id}= order.status
          %td= order.payment.try :deferred
          - if has_write_permissions?
            %td{:style => "text-align: right; white-space: nowrap;"}= link_to 'View', admin_order_path(order), :class => 'jqui_show_min'
- I18n.locale = @current_locale
%br
= will_paginate @orders
%br
- if has_write_permissions? && is_uk?
  :javascript
    $(document).ready(function(){
      $(".editable_order_status").editInPlace({
        url: "/admin/orders/change_order_status",
        field_type: "select",
        select_options: "In Process, Shipped, Cancelled", 
        show_buttons: true,
        value_required: true,
        saving_animation_color: "#ECF2F8"
      });
    });