%h1 Listing orders
%br
- unless params[:q].blank?
  = link_to 'all', admin_orders_path, :class => 'jqui_button'
- form_tag(admin_orders_path, :method => :get) do
  = admin_systems_checkboxes
  = text_field_tag :q, nil, :placeholder => "shipping name, address"
  = select_tag :status, options_for_select([['All', nil]] + Order::STATUSES, params[:status])
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "id"
        = sortable "created_at"
        = sortable "address.last_name"
        = sortable "subtotal_amount"
        %th System
        = sortable "status"
        - if has_write_permissions?
          %th &nbsp;
    %tbody
      - for order in @orders
        - I18n.locale = order.locale
        %tr{ :class => cycle(:odd, :even) }
          %td= link_to order.id, admin_order_path(order)
          %td= l order.created_at, :format => :custom rescue ''
          %td== #{order.address.first_name} #{order.address.last_name}
          %td= number_to_currency order.subtotal_amount
          %td= order.system
          %td= order.status
          - if has_write_permissions?
            %td= link_to 'View', admin_order_path(order)
- I18n.locale = @current_locale
%br
= will_paginate @orders
%br