%h2 Listing orders
%span{:class=>"hdr1"}Filter
%span{:class=>"hdr2_red"}by System:
= form_tag(admin_orders_path, :method => :get) do
  = admin_systems_checkboxes
  .order_line
  - unless params[:q].blank?
    = link_to 'all', admin_orders_path, :class => 'jqui_button'
  .order_container
    %span{:style=>"font-weight:normal;"}Search
    %span{:class=>"hdr2_red"}by Order Number:
    %br
    = text_field_tag :q, nil, :placeholder => "order No."
  .order_container
    %span{:style=>"font-weight:normal;"}Search
    %span{:class=>"hdr2_red"}by Recipient/Ship-To:
    %br
    = text_field_tag :others, nil, :placeholder => "email, ship co., ship last name"
  .order_container
    = check_box_tag :extended, "1"
    Extended search
    %br
    %span{:class=>"hdr1_red"}
      (Case Insensitive, Partial Match):
  %div{:style=>"width:100%; height:1px; float:left;"}
  %br
  .order_container
    %span{:style=>"font-weight:normal;"}Filter
    %span{:class=>"hdr2_red"}by Order Status:
    %br
    = select_tag :status, options_for_select([['All', nil]] + Order::STATUSES, params[:status])
  .order_container
    %span{:style=>"font-weight:normal;"}Filter
    %span{:class=>"hdr2_red"}by Payment Deferrment:
    %br
    = select_tag :deferred, options_for_select([['All', nil]] + [['deferred', 1], ['not-deferred', 0]], params[:deferred])
  .order_container
    %span{:style=>"font-weight:normal;"}Filter
    %span{:class=>"hdr2_red"}by Gift Card:
    %br
    = select_tag :gift_card, options_for_select([['All', nil]] + [['gift card', 1], ['non-gift card', 0]], params[:gift_card])
  .order_container
    %span{:style=>"font-weight:normal;"}Filter
    %span{:class=>"hdr2_red"} Paid with Gift Card:
    %br
    = select_tag :paid_with_gift_card, options_for_select([['All', nil]] + [['yes', 1], ['no', 0]], params[:paid_with_gift_card])
  .order_container
    %span{:style=>"font-weight:normal;"}Filter
    %span{:class=>"hdr2_red"} Gift Card Identifier:
    %br
    = text_field_tag :identifier
  .order_line3
    = submit_tag "search", :class => 'jqui_search'
  .order_line_btm  
.clear
.highlightable
  %table
    %thead
      %tr
        = sortable "order_number"
        = sortable "created_at"
        %th Company
        = sortable "address.last_name", "Name"
        = sortable "subtotal_amount"
        %th Total Amount
        %th System
        = sortable "status"
        = sortable "payment.deferred", 'Deferred'
        - if has_write_permissions?
          %th{:style => "text-align: right; white-space: nowrap;"} &nbsp;
    %tbody
      - for order in @orders
        - I18n.locale = order.locale
        %tr{ :class => cycle(:odd, :even) }
          %td= link_to order.public_order_number, admin_order_path(order)
          %td= l order.created_at, :format => :custom rescue ''
          %td= order.address.company
          %td== #{order.address.first_name} #{order.address.last_name}
          %td= number_to_currency(order.subtotal_amount)
          %td= number_to_currency(order.total_amount) rescue 'N/A'
          %td= order.system
          %td{:style => order.on_hold? ? order.can_be_paid? ? 'color:green' : 'color:red' : nil, :class => order.uk_may_change? ? 'editable_order_status' : nil, :id => order.id}= order.status
          %td= order.payment.try :deferred
          - if has_write_permissions?
            %td{:style => "text-align: right; white-space: nowrap;"}= link_to 'View', admin_order_path(order), :class => 'jqui_show_min'
- I18n.locale = @current_locale
%br
= will_paginate @orders
%br
- if has_write_permissions? && is_uk?
  :javascript
    $(document).ready(function(){
      $(".editable_order_status").editInPlace({
        url: "/admin/orders/change_order_status",
        field_type: "select",
        select_options: "In Process, Shipped, Cancelled", 
        show_buttons: true,
        value_required: true,
        saving_animation_color: "#ECF2F8"
      });
    });
