.back= link_to "Back to Orders", admin_orders_path
- I18n.locale = @order.locale
.left
  %h3 Billing Address
  %ul
    %li= @order.payment.company
    %li== #{@order.payment.first_name} #{@order.payment.last_name}
    %li= @order.payment.address1
    %li= @order.payment.address2
    %li= @order.payment.city
    %li= @order.payment.state
    %li= @order.payment.zip_code
    %li= @order.payment.country
    %li= @order.payment.phone
.left
  %h3 Shipping Address
  %ul
    %li= @order.address.company
    %li== #{@order.address.first_name} #{@order.address.last_name}
    %li= @order.address.address1
    %li= @order.address.address2
    %li= @order.address.city
    %li= @order.address.state
    %li= @order.address.zip_code
    %li= @order.address.country
    %li= @order.address.phone
.left
  %h3 Details
  %strong Order Number:
  = @order.id
  %br
  %strong Web Customer Number:
  = @order.user.id
  %br
  %strong Order Date:
  = l @order.created_at, :format => :custom
  %br
  %strong Status:
  = @order.status
  %br
  %strong Customer Rep:
  = @order.customer_rep
.clear
%table
  %tr
    %th Item No.
    %th Item Name
    %th Quantity
    %th Item Price
    %th Item Subtotal
  - @order.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td= item.item_num
      %td= item.name
      %td= item.quantity
      %td= number_to_currency item.sale_price
      %td= number_to_currency item.item_total
Subtotal:
= number_to_currency @order.subtotal_amount
%br
== Shipping & Handling (#{@order.shipping_service.try :humanize}):
= number_to_currency @order.shipping_amount
%br
Shipping & Handling Surcharge:
= number_to_currency @order.handling_amount
%br
Estimated Sales Tax:
= number_to_currency @order.tax_amount
%br
ESTIMATED TOTAL:
= number_to_currency @order.total_amount
%br
%br
This order was charged to:
%br
= @order.payment.card_name
== #{@order.payment.card_expiration_month}/#{@order.payment.card_expiration_year}
%br
%br
.field
  %strong Paid Amount:
  = number_to_currency @order.payment.paid_amount rescue "N/A"
.field
  %strong Paid At:
  = l @order.payment.paid_at, :format => :custom rescue ""
.field
  %strong Merchant Reference Number:
  = @order.payment.vendor_tx_code
.field
  %strong Transaction ID:
  = is_us? ? @order.payment.vpstx_id : @order.payment.tx_auth_no
.field
  %strong Tax Transaction ID:
  = @order.tax_transaction
.field
  %strong Tax Calculated at:
  = l @order.tax_calculated_at, :format => :custom rescue ''
.field
  %strong Order Comments:
  = @order.comments
.field
  %strong Internal Comments:
  #internal_comment= @order.internal_comments
- I18n.locale = @current_locale
- if has_write_permissions?
  :javascript
    $("#internal_comment").editInPlace({
      url: "/admin/orders/update_internal_comment",
      params: "id=#{@order.id}",
      field_type: "textarea",
      textarea_rows: "15",
      textarea_cols: "35",
      show_buttons: true,
      saving_animation_color: "#ECF2F8"
    });