- unless params[:action] == "shop"
  = text_field_tag :keyword, nil, :autocomplete => "off", :value => "search within these results...", :onfocus => "if (this.value == 'search within these results...'){this.value='';}", :onblur => "if (this.value == ''){this.value='search within these results...';}", :style => "width:183px;"
:javascript
  $("#keyword").addClass("idlefield");
  $("#keyword").focus(function(){
    $(this).addClass("activefield").removeClass("idlefield");
  }).blur(function(){
    $(this).removeClass("activefield").addClass("idlefield");
  });

%h3
  = link_to "Filter Results By:", "#", :class => "link_collapse", :style => "display: none"
  = link_to "Filter Results By:", "#", :class => "link_expand"
.clear
.facets.ui-accordion.ui-widget.ui-helper-reset.ui-accordion-icons
  - @search.facets.each do |facet|
    - next if facet.rows.length < 1 || !MULTIFACETS && @facets_hash.any? {|h| h.include?(facet_to_param(facet.name))} || (facet.name == :price && !params[:price].blank?) || (facet.name == :saving && !params[:saving].blank?)
    %h4.head.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-top
      %span.ui-icon.ui-icon-triangle-1-e
      = link_to facet.name.to_s.gsub("_#{current_system}", "").humanize, "#", :id => "facet_#{facet.name.to_s.gsub("_#{current_system}", "")}"
    %ul.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active
      - facet.rows.each do |row|
        %li
          - if facet.class == Sunspot::Search::FieldFacet
            - next if row.instance.blank?
            - facet_selected = MULTIFACETS && @facets_hash.include?(row.value) 
            - if facet_selected
              = link_to(row.instance.name, "#", :title => "remove #{row.instance.name}", :rel => row.value, :class => "multifacet_remove facet_selected")
            - else  
              = link_to "#{row.instance.name} (#{row.count})", "/catalog##{'outlet=1&' if outlet?}facets=#{(@facets_hash + [row.value]).join(",")}",  :rel => "#{row.value}", :title =>  row.instance.name, :class => "facet_value"
          - elsif row.value.saving
            = link_to "#{row.value.label} (#{row.count})", "/catalog##{'outlet=1&' if outlet?}facets=#{@facets_hash.join(",")}&saving=#{row.value.min}~#{row.value.max}", :title => row.value.label, :rel => "#{row.value.min}~#{row.value.max}", :class => "saving_query_facet_value"
          - else
            = link_to "#{row.value.label} (#{row.count})", "/catalog##{'outlet=1&' if outlet?}facets=#{@facets_hash.join(",")}&price=#{row.value.min}~#{row.value.max}", :title => row.value.label, :rel => "#{row.value.min}~#{row.value.max}", :class => "price_query_facet_value"

- unless params[:action] == "shop"
  :javascript
    $(function() {
      $(".facet_value").click(function() {
        if ($.deparam.fragment()['facets'] == undefined || $.deparam.fragment()['facets'] == '') {
          location.hash = $.param.fragment( location.hash, {facets: $(this).attr('rel'), page: 1}, 0 );
        } else {
          location.hash = $.param.fragment( location.hash, {facets: $.deparam.fragment()['facets']+","+$(this).attr('rel'), page: 1}, 0 );
        }
        disable_facet_link($(this), "ell3_ui-check-box-tick--disabled");
        return false;
      });
      $(".price_query_facet_value").click(function() {
        location.hash = $.param.fragment( location.hash, {price: $(this).attr('rel'), page: 1}, 0 );
        disable_facet_link($(this), "ell3_ui-check-box-tick--disabled");
        return false;
      });
      $(".saving_query_facet_value").click(function() {
        location.hash = $.param.fragment( location.hash, {saving: $(this).attr('rel'), page: 1}, 0 );
        disable_facet_link($(this), "ell3_ui-check-box-tick--disabled");
        return false;
      });
      $('#keyword').change(function() {
        if (this.value.length < 3) {
          return false;
        } else {
          location.hash = $.param.fragment( location.hash, {q: this.value, page: 1}, 0 );
        }
      });
      $('.multifacet_remove').click(function() {
        var facets = $.deparam.fragment()['facets'].split(',');
        facets.splice(facets.indexOf($(this).attr('rel')),1);        
        location.hash = $.param.fragment( location.hash, {facets: facets.join(','), page: 1}, 0 );
        disable_facet_link($(this), "ell3_cross-small--disabled");
        return false;
      });

    });
    
    function disable_facet_link(link, icon) {
      $(link).css({
        'background' : 'url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/' + icon + '.png") top left no-repeat',
        'cursor' : 'text',
        'color' : '#ccc'
      });
    }
:javascript
  $(function() {
    $('.link_collapse').click(function() {
      $('.facets').find('ul').hide();
      $(this).hide();
      $('.link_expand').show();
      $('.facets .head').find('span').toggleClass('ui-icon-triangle-1-e');
      $('.facets .head').find('span').toggleClass('ui-icon-triangle-1-s');
      return false;
    });
    $('.link_expand').click(function() {
      $('.facets').find('ul').show();
      $(this).hide();
      $('.link_collapse').show();
      $('.facets .head').find('span').toggleClass('ui-icon-triangle-1-e');
      $('.facets .head').find('span').toggleClass('ui-icon-triangle-1-s');
      return false;
    });
  });
-#TODO: will DRY collapse/expand code above 
