= form_for @subscription, :url => url_for(:controller => :index, :action => :update_subscription, :id => @subscription) do |f|
  = f.error_messages
  .field
    = f.label :email, :style => "width: 40px"
    = f.text_field :email, :disabled => true
  .field
    = f.label :name, :style => "width: 40px"
    = f.text_field :name, :disabled => true
  %p
    = check_box_tag "subscription[segments][]", @list[1], "checked", :id => nil, :class => "subscription_segment", :disabled => true
    == You are subscribed to <strong>#{@list[1]}</strong>
    - if @segments.present?
      and the following additional newsletter segments:
    = render :partial => 'index/segments'
  - if @segments.present?
    %p
      To subscribe to a specific segment, check the relevant segment checkbox above,
      %br
      == <strong>OR</strong>, to <em>unsubscribe</em> from a specific segment, <u>uncheck</u> the segment from above and click "Update".
  %hr
  .field
    .left{:style => "margin-right: 10px"}= f.check_box :unsubscribe, :onclick => "if (this.checked) {$('.subscription_segment').attr('disabled', true);$('#unsubscribe_alert').show()} else {$('.subscription_segment').attr('disabled', false);$('#unsubscribe_alert').hide()}", :style => "margin-left: 4px"
    .left{:style => "margin-bottom: 10px"}== To <strong>completely unsubscribe</strong>, check this box and click "Update".<br/>You will be completely removed from <strong>#{@list[1]}</strong>, and all segments above.
  .clear
  .error#unsubscribe_alert{:style => "display:none"}== Are you sure you want to unsubscribe? Your email address will be removed permanently from #{@list[1]} list. Click "Update" to confirm.
  .actions
    = f.submit "Update", :class => 'jqui_save'
