= form_for @subscription, :url => url_for(:controller => :index, :action => :update_subscription, :id => @subscription) do |f|
  = f.error_messages
  .field
    = f.check_box :unsubscribe, :onclick => "if (this.checked) {$('.subscription_segment').attr('disabled', true);$('#unsubscribe_alert').show()} else {$('.subscription_segment').attr('disabled', false);$('#unsubscribe_alert').hide()}"
    Check this box if you want to completely unsubscibe from
    %strong= @list[1]
  .error#unsubscribe_alert{:style => "display:none"}== Your email address will be removed permanently from #{@list[1]} list.
  .field
    = f.label :email, :style => "width: 40px"
    = f.text_field :email, :disabled => true
  .field
    = f.label :name, :style => "width: 40px"
    = f.text_field :name, :disabled => true
  = render :partial => 'index/segments'
  .actions
    = f.submit "Update", :class => 'jqui_save'