.field
  = label_tag 'demographics[1]', "First Name *"
  = text_field_tag 'demographics[1]', @lyrishq_profile && @lyrishq_profile.demographic(1), required: true
- if is_sizzix_us?
  .field
    = label_tag 'demographics[11]', "Gender *"
    Male
    = radio_button_tag 'demographics[11]', 'Male', @lyrishq_profile && @lyrishq_profile.demographic(11) == 'Male', required: true
    Female
    = radio_button_tag 'demographics[11]', 'Female', @lyrishq_profile && @lyrishq_profile.demographic(11) == 'Female', required: true
  .field
    = label_tag 'demographics[36031]', "Country *"
    = select_tag 'demographics[36031]', options_for_select(['United States', 'Canada'], @lyrishq_profile && @lyrishq_profile.demographic(36031)), prompt: "--- select ---", required: true
  .field
    = label_tag 'demographics[37850]', "State/Province *"
    = select_tag 'demographics[37850]', grouped_options_for_select({USA: states, Canada: provinces}, @lyrishq_profile && @lyrishq_profile.demographic(37850), "--- select ---"), required: true
  .field
    = label_tag 'demographics[37655]', "DOB"
    = select_tag 'demographics[37655]', options_for_select([["mm", nil]] + Date::MONTHNAMES.reject {|e| e.nil?}, @lyrishq_profile && @lyrishq_profile.demographic(37655))
    = select_tag 'demographics[37656]', options_for_select((1..31).to_a.unshift(["dd", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37656))
    = select_tag 'demographics[37802]', options_for_select((1910..2012).to_a.unshift(["yyyy", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37802))
  .field
    = label_tag 'demographics[37654][]', "Which Sizzix Die-cutting Machines do you own?"
    Big Shot™
    = check_box_tag 'demographics[37654][]', 'Big Shot', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Big Shot')
    Big Shot™ Pro
    = check_box_tag 'demographics[37654][]', 'Big Shot Pro', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Big Shot Pro')
    BIGKick™
    = check_box_tag 'demographics[37654][]', 'BIGKick', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('BIGKick')
    eClips™
    = check_box_tag 'demographics[37654][]', 'eclips', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('eclips')
    Sidekick™
    = check_box_tag 'demographics[37654][]', 'Sidekick', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Sidekick')
    Texture Boutique™
    = check_box_tag 'demographics[37654][]', 'Texture Boutique', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Texture Boutique')
    Vagabond™
    = check_box_tag 'demographics[37654][]', 'Vagabond', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Vagabond')
    Vintaj BIGKick™
    = check_box_tag 'demographics[37654][]', 'Vintaj BIGKick', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Vintaj BIGKick')
    Other
    = check_box_tag 'demographics[37654][]', 'Other', @lyrishq_profile && @lyrishq_profile.demographic(37654, []).include?('Other')
  .field
    = label_tag 'demographics[35424][]', "Areas of interest"
    Cardmaking
    = check_box_tag 'demographics[35424][]', 'Cardmaking', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Cardmaking')
    Electronic Cutting
    = check_box_tag 'demographics[35424][]', 'Electronic Cutting', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Electronic Cutting')
    Fashion
    = check_box_tag 'demographics[35424][]', 'Fashion', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Fashion')
    Home Decor
    = check_box_tag 'demographics[35424][]', 'Home Decor', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Home Decor')
    Jewelry
    = check_box_tag 'demographics[35424][]', 'Jewelry', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Jewelry')
    Papercrafting
    = check_box_tag 'demographics[35424][]', 'Papercrafting', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Papercrafting')
    Quilting & Appliqué
    = check_box_tag 'demographics[35424][]', 'Quilting & Applique', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Quilting & Applique')
    Scrapbooking
    = check_box_tag 'demographics[35424][]', 'Scrapbooking', @lyrishq_profile && @lyrishq_profile.demographic(35424, []).include?('Scrapbooking')
  = hidden_field_tag 'extras[doubleoptin]', 'yes'

- elsif is_sizzix_uk?
  .field
    = label_tag 'demographics[37852]', "Country *"
    = select_tag 'demographics[37852]', options_for_select(Country.order_by([:name, :asc]).map(&:name), @lyrishq_profile && @lyrishq_profile.demographic(37852)), prompt: "--- select ---", required: true
  .field
    = label_tag 'demographics[37788]', "DOB"
    = select_tag 'demographics[37788]', options_for_select((1..31).to_a.unshift(["dd", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37788))
    = select_tag 'demographics[37689]', options_for_select([["mm", nil]] + Date::MONTHNAMES.reject {|e| e.nil?}, @lyrishq_profile && @lyrishq_profile.demographic(37689))
    = select_tag 'demographics[37791]', options_for_select((1910..2012).to_a.unshift(["yyyy", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37791))
  .field
    = label_tag 'demographics[37653][]', "Which Sizzix Die-cutting Machines do you own?"
    Big Shot™
    = check_box_tag 'demographics[37653][]', 'Big Shot', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Big Shot')
    Big Shot™ Pro
    = check_box_tag 'demographics[37653][]', 'Big Shot Pro', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Big Shot Pro')
    eClips™
    = check_box_tag 'demographics[37653][]', 'eClips', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('eClips')
    Texture Boutique™
    = check_box_tag 'demographics[37653][]', 'Texture Boutique', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Texture Boutique')
    Vagabond™
    = check_box_tag 'demographics[37653][]', 'Vagabond', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Vagabond')
    Vintaj BIGKick™
    = check_box_tag 'demographics[37653][]', 'Vintaj BIGKick', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Vintaj BIGKick')
    I don't own any Sizzix® Machines
    = check_box_tag 'demographics[37653][]', "I don't own any Sizzix Machine", @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?("I don't own any Sizzix Machine")
  .field
    = label_tag 'demographics[35658][]', "Areas of interest"
    Appliqué
    = check_box_tag 'demographics[35658][]', 'Applique', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Applique')
    Cardmaking
    = check_box_tag 'demographics[35658][]', 'Cardmaking', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Cardmaking')
    Papercrafting
    = check_box_tag 'demographics[35658][]', 'Papercrafting', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Papercrafting')
    Quilting
    = check_box_tag 'demographics[35658][]', 'Quilting', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Quilting')
    Scrapbooking
    = check_box_tag 'demographics[35658][]', 'Scrapbooking', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Scrapbooking')
    Home Décor
    = check_box_tag 'demographics[35658][]', 'Home Decor', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Home Decor')
    Classroom Activites
    = check_box_tag 'demographics[35658][]', 'Classroom Activities', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Classroom Activities')
  .field
    = label_tag 'demographics[37690]', "Crafting interest"
    = text_field_tag 'demographics[37690]', @lyrishq_profile && @lyrishq_profile.demographic(37690)


- elsif is_ee_us?
  .field
    = label_tag 'demographics[37782]', "Country"
    = select_tag 'demographics[37782]', options_for_select(['United States', 'Canada'], @lyrishq_profile && @lyrishq_profile.demographic(37782)), prompt: "--- select ---"
  .field
    = label_tag 'demographics[37851]', "State/Province"
    = select_tag 'demographics[37851]', grouped_options_for_select({USA: states, Canada: provinces}, @lyrishq_profile && @lyrishq_profile.demographic(37851), "--- select ---"), required: true
  .field
    = label_tag 'demographics[37784]', "Where do you teach? *"
    = select_tag 'demographics[37784]', options_for_select([['-- select --', nil],"Childcare Afterschool, Year-Round & Seasonal Programs", "Home School", "Preschool/Daycare", "Elementary School", "Middle School", "High School", "College/ University", "Technical/Trade School", "Sunday School", "Other"], @lyrishq_profile && @lyrishq_profile.demographic(37784)), required: true
  .field
    = label_tag 'demographics[37786]', "School/Organization"
    = select_tag 'demographics[37786]', options_for_select([['-- select --', nil],"Business (Resellers, Distributors, Independents)", "Career Center", "School District Office", "Faith Based School", "Government (Federal, State & Local Agencies)", "Non-Profit - Head Start/Even Start, Museums", "Hospital/Media Center", "Library/Media Center", "Senior Center", "Place of Worship", "Private School", "Public School", "PTO/PTA", "Teacher Resource Center", "Other"], @lyrishq_profile && @lyrishq_profile.demographic(37786)), required: true
  .field
    = label_tag 'demographics[37787][]', "Which Machine(s) do you use?"
    Electronic Cutting Machine
    = check_box_tag 'demographics[37787][]', 'Electronic Cutting Machine', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Electronic Cutting Machine')
    Press Machine
    = check_box_tag 'demographics[37787][]', 'Press Machine', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Press Machine')
    Roller Machine
    = check_box_tag 'demographics[37787][]', 'Roller Machine', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Roller Machine')
    Other
    = check_box_tag 'demographics[37787][]', 'Other', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Other')
  .field
    = label_tag 'demographics[37785][]', "Areas of interest"
    Arts & Crafts
    = check_box_tag 'demographics[37785][]', 'Arts & Crafts', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Arts & Crafts')
    English Language Arts
    = check_box_tag 'demographics[37785][]', 'English Language Arts', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('English Language Arts')
    Math
    = check_box_tag 'demographics[37785][]', 'Math', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Math')
    Science
    = check_box_tag 'demographics[37785][]', 'Science', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Science')
    Social Studies
    = check_box_tag 'demographics[37785][]', 'Social Studies', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Social Studies')
    Fundraising
    = check_box_tag 'demographics[37785][]', 'Fundraising', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Fundraising')
    Collaborative Summer Library Program (CSLP)
    = check_box_tag 'demographics[37785][]', 'Collaborative Summer Library Program (CSLP)', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Collaborative Summer Library Program (CSLP)')
    Science Technology Engineering Math (STEM)
    = check_box_tag 'demographics[37785][]', 'Science Technology Engineering Math (STEM)', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Science Technology Engineering Math (STEM)')
    Special Education
    = check_box_tag 'demographics[37785][]', 'Special Education', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Special Education')
    Vacation Bible Study (VBS)
    = check_box_tag 'demographics[37785][]', 'Vacation Bible Study (VBS)', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Vacation Bible Study (VBS)')
    Other
    = check_box_tag 'demographics[37785][]', 'Other', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Other')
  = hidden_field_tag 'extras[doubleoptin]', 'yes'



