.field{:class=>"field_f1"}
  = label_tag 'demographics[1]', "First Name *", class: 'label_div'
  = text_field_tag 'demographics[1]', @lyrishq_profile && @lyrishq_profile.demographic(1), required: true
- if is_sizzix_us?
  .field{:class=>"field_f1"}
    = label_tag 'demographics[11]', "Gender *", class: 'label_div'
    Male
    = radio_button_tag 'demographics[11]', 'Male', @lyrishq_profile && @lyrishq_profile.demographic(11) == 'Male', required: true
    Female
    = radio_button_tag 'demographics[11]', 'Female', @lyrishq_profile && @lyrishq_profile.demographic(11) == 'Female', required: true
  .field{:class=>"field_f1"}
    %br
    = label_tag 'demographics[36031]', "Country *", class: 'label_div'
    = select_tag 'demographics[36031]', options_for_select(['United States', 'Canada'], @lyrishq_profile && @lyrishq_profile.demographic(36031)), prompt: "--- select ---", required: true
  %br
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37850]', "State/Province *", class: 'label_div'
    = select_tag 'demographics[37850]', grouped_options_for_select({USA: states, Canada: provinces}, @lyrishq_profile && @lyrishq_profile.demographic(37850), "--- select ---"), required: true
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37655]', "Birthday *", class: 'label_div'
    = select_tag 'demographics[37655]', options_for_select([["Month", nil]] + Date::MONTHNAMES.reject {|e| e.nil?}, @lyrishq_profile && @lyrishq_profile.demographic(37655))
    = select_tag 'demographics[37656]', options_for_select((1..31).to_a.unshift(["dd", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37656))
    = select_tag 'demographics[37802]', options_for_select((1910..2012).to_a.unshift(["yyyy", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37802))
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37654][]', "Which Sizzix Die-cutting Machines do you own?", class: 'label_div'
    %br
    %div{:style=>"width:auto; float:left;"}
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Big Shot', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Big Shot')
      Big Shot™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Big Shot Pro', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Big Shot Pro')
      Big Shot™ Pro
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'BIGKick', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('BIGKick')
      BIGKick™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'eclips', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('eclips')
      eClips™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Sidekick', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Sidekick')
      Sidekick™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Texture Boutique', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Texture Boutique')
      Texture Boutique™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Vagabond', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Vagabond')
      Vagabond™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Vintaj BIGKick', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Vintaj BIGKick')
      Vintaj BIGKick™
    .checkbx_f1
      = check_box_tag 'demographics[37654][]', 'Other', @lyrishq_profile && @lyrishq_profile.demographic(37654).include?('Other')
      Other
  .field{:class=>"field_f1"}
    = label_tag 'demographics[35424][]', "Areas of interest", class: 'label_div'
    %br
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Cardmaking', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Cardmaking')
      Cardmaking
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Electronic Cutting', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Electronic Cutting')
      Electronic Cutting
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Fashion', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Fashion')
      Fashion
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Home Decor', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Home Decor')
      Home Decor
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Jewelry', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Jewelry')
      Jewelry
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Papercrafting', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Papercrafting')
      Papercrafting
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Quilting & Applique', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Quilting & Applique')
      Quilting & Appliqué
    .checkbx_f1
      = check_box_tag 'demographics[35424][]', 'Scrapbooking', @lyrishq_profile && @lyrishq_profile.demographic(35424).include?('Scrapbooking')
      Scrapbooking
  = hidden_field_tag 'demographics[37658]', params[:source] || @lyrishq_profile && @lyrishq_profile.demographic(37658) || 'Newsletter Signup Page'
  = hidden_field_tag 'extras[doubleoptin]', 'yes'

- elsif is_sizzix_uk?
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37852]', "Country *"
    = select_tag 'demographics[37852]', options_for_select(Country.order_by([:name, :asc]).map(&:name), @lyrishq_profile && @lyrishq_profile.demographic(37852)), prompt: "--- select ---", required: true

  .field{:class=>"field_f1"}
    = label_tag 'demographics[37788]', "Date of Birth"
    = select_tag 'demographics[37788]', options_for_select((1..31).to_a.unshift(["Day", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37788))
    = select_tag 'demographics[37689]', options_for_select([["Month", nil]] + Date::MONTHNAMES.reject {|e| e.nil?}, @lyrishq_profile && @lyrishq_profile.demographic(37689))
    = select_tag 'demographics[37791]', options_for_select((1910..2012).to_a.unshift(["Year", nil]), @lyrishq_profile && @lyrishq_profile.demographic(37791))
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37653][]', "Which Sizzix Die-cutting Machines do you own?", class: 'label_div'
    Big Shot™
    = check_box_tag 'demographics[37653][]', 'Big Shot', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Big Shot')
    Big Shot™ Pro
    = check_box_tag 'demographics[37653][]', 'Big Shot Pro', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Big Shot Pro')
    eClips™
    = check_box_tag 'demographics[37653][]', 'eClips', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('eClips')
    Texture Boutique™
    = check_box_tag 'demographics[37653][]', 'Texture Boutique', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Texture Boutique')
    Vagabond™
    = check_box_tag 'demographics[37653][]', 'Vagabond', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Vagabond')
    Vintaj BIGKick™
    = check_box_tag 'demographics[37653][]', 'Vintaj BIGKick', @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?('Vintaj BIGKick')
    I don't own any Sizzix® Machines
    = check_box_tag 'demographics[37653][]', "I don't own any Sizzix Machine", @lyrishq_profile && @lyrishq_profile.demographic(37653, []).include?("I don't own any Sizzix Machine")
  .field{:class=>"field_f1"}
    = label_tag 'demographics[35658][]', "Areas of interest", class: 'label_div'
    Appliqué
    = check_box_tag 'demographics[35658][]', 'Applique', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Applique')
    Cardmaking
    = check_box_tag 'demographics[35658][]', 'Cardmaking', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Cardmaking')
    Papercrafting
    = check_box_tag 'demographics[35658][]', 'Papercrafting', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Papercrafting')
    Quilting
    = check_box_tag 'demographics[35658][]', 'Quilting', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Quilting')
    Scrapbooking
    = check_box_tag 'demographics[35658][]', 'Scrapbooking', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Scrapbooking')
    Home Décor
    = check_box_tag 'demographics[35658][]', 'Home Decor', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Home Decor')
    Classroom Activites
    = check_box_tag 'demographics[35658][]', 'Classroom Activities', @lyrishq_profile && @lyrishq_profile.demographic(35658, []).include?('Classroom Activities')
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37690]', "Crafting interest"
    = text_field_tag 'demographics[37690]', @lyrishq_profile && @lyrishq_profile.demographic(37690)


- elsif is_ee_us?
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37782]', "Country", class: 'label_div'
    = select_tag 'demographics[37782]', options_for_select(['United States', 'Canada'], @lyrishq_profile && @lyrishq_profile.demographic(37782)), prompt: "--- select ---"
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37851]', "State/Province", class: 'label_div'
    = select_tag 'demographics[37851]', grouped_options_for_select({USA: states, Canada: provinces}, @lyrishq_profile && @lyrishq_profile.demographic(37851), "--- select ---"), required: true
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37784]', "Where do you teach? *", class: 'label_div'
    %br
    = select_tag 'demographics[37784]', options_for_select([['-- select --', nil],"Childcare Afterschool, Year-Round & Seasonal Programs", "Home School", "Preschool/Daycare", "Elementary School", "Middle School", "High School", "College/ University", "Technical/Trade School", "Sunday School", "Other"], @lyrishq_profile && @lyrishq_profile.demographic(37784)), required: true
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37786]', "School/Organization", class: 'label_div'
    = select_tag 'demographics[37786]', options_for_select([['-- select --', nil],"Business (Resellers, Distributors, Independents)", "Career Center", "School District Office", "Faith Based School", "Government (Federal, State & Local Agencies)", "Non-Profit - Head Start/Even Start, Museums", "Hospital/Media Center", "Library/Media Center", "Senior Center", "Place of Worship", "Private School", "Public School", "PTO/PTA", "Teacher Resource Center", "Other"], @lyrishq_profile && @lyrishq_profile.demographic(37786)), required: true
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37787][]', "Which Machine(s) do you use?", class: 'label_div'
    .checkbx_f1
      = check_box_tag 'demographics[37787][]', 'Electronic Cutting Machine', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Electronic Cutting Machine')
      Electronic Cutting Machine
    .checkbx_f1
      = check_box_tag 'demographics[37787][]', 'Press Machine', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Press Machine')
      Press Machine
    .checkbx_f1
      = check_box_tag 'demographics[37787][]', 'Roller Machine', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Roller Machine')
      Roller Machine
    .checkbx_f1
      = check_box_tag 'demographics[37787][]', 'Other', @lyrishq_profile && @lyrishq_profile.demographic(37787).include?('Other')
      Other
  .field{:class=>"field_f1"}
    = label_tag 'demographics[37785][]', "Areas of interest", class: 'label_div'
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Arts & Crafts', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Arts & Crafts')
      Arts & Crafts
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'English Language Arts', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('English Language Arts')
      English Language Arts
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Math', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Math')
      Math
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Science', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Science')
      Science
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Social Studies', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Social Studies')
      Social Studies
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Fundraising', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Fundraising')
      Fundraising
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Collaborative Summer Library Program (CSLP)', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Collaborative Summer Library Program (CSLP)')
      Collaborative Summer Library Program (CSLP)
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Science Technology Engineering Math (STEM)', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Science Technology Engineering Math (STEM)')
      Science Technology Engineering Math (STEM)
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Special Education', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Special Education')
      Special Education
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Vacation Bible Study (VBS)', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Vacation Bible Study (VBS)')
      Vacation Bible Study (VBS)
    .checkbx_f1
      = check_box_tag 'demographics[37785][]', 'Other', @lyrishq_profile && @lyrishq_profile.demographic(37785).include?('Other')
      Other
  = hidden_field_tag 'extras[doubleoptin]', 'yes'

- elsif is_er?
  .field
    = label_tag 'demographics[2]', "Last Name"
    = text_field_tag 'demographics[2]', @lyrishq_profile && @lyrishq_profile.demographic(2)
  .field
    = label_tag 'demographics[37853]', "Country *"
    = select_tag 'demographics[37853]', options_for_select(Country.order_by([:name, :asc]).map(&:name), @lyrishq_profile && @lyrishq_profile.demographic(37853)), prompt: "--- select ---", required: true
  .field
    = label_tag 'demographics[4]', "Address"
    = text_field_tag 'demographics[4]', @lyrishq_profile && @lyrishq_profile.demographic(4)
  .field
    = label_tag 'demographics[5]', "City"
    = text_field_tag 'demographics[5]', @lyrishq_profile && @lyrishq_profile.demographic(5)
  .field
    = label_tag 'demographics[37800]', "State"
    = text_field_tag 'demographics[37800]', @lyrishq_profile && @lyrishq_profile.demographic(37800)
  .field
    = label_tag 'demographics[7]', "Zip/Postal Code"
    = text_field_tag 'demographics[7]', @lyrishq_profile && @lyrishq_profile.demographic(7)
  .field
    = label_tag 'demographics[35811][]', "Areas of interest"
    Ellison Retailers
    = check_box_tag 'demographics[35811][]', 'Ellison Retailers', @lyrishq_profile && @lyrishq_profile.demographic(35811).include?('Ellison Retailers')
    Sizzx Retailers
    = check_box_tag 'demographics[35811][]', 'Sizzix Retailers', @lyrishq_profile && @lyrishq_profile.demographic(35811).include?('Sizzix Retailers')
    Sizzix Retailers in Spanish
    = check_box_tag 'demographics[35811][]', 'Sizzix Retailers in Spanish', @lyrishq_profile && @lyrishq_profile.demographic(35811).include?('Sizzix Retailers in Spanish')
    eClips
    = check_box_tag 'demographics[35811][]', 'eClips', @lyrishq_profile && @lyrishq_profile.demographic(35811).include?('eClips')
    Quilting
    = check_box_tag 'demographics[35811][]', 'Quilting', @lyrishq_profile && @lyrishq_profile.demographic(35811).include?('Quilting')
    Tim Holtz
    = check_box_tag 'demographics[35811][]', 'Tim Holtz', @lyrishq_profile && @lyrishq_profile.demographic(35811).include?('Tim Holtz')
    

  


