.right.dontprint= select_tag :sort, options_for_select(@sort_options, params[:sort]), :onchange => "location.hash = $.param.fragment( location.hash, {sort: this.value, page: 1}, 0 )"
.toggleview.right.minilink.dontprint= link_to "switch to list view", "#", :class => "toggle_view"
%h3== #{pluralize @search.total, @klass.to_s} Showing
#toggle_product_idea.dontprint== #{pluralize @secondary_search.total, @secondary_klass.to_s} Found
- if is_er? && ecommerce_allowed? && !idea?
  = check_box_tag :select_all_products, "1", false, :onclick => "$('input.add_to_cart_checkbox').attr('checked', this.checked);toggle_add_checked_to_cart();"
  = label_tag :select_all_products
  %br
  #add_checked_to_cart.rounded{:style => "display:none;position:fixed;z-index:9999;padding:20px;left:50%;top:150px;background:white;border:1px solid gray;opacity:0.9;filter:alpha(opacity=90);cursor: move;"}
    #add_all_selected_to_cart.jqui_new
  :javascript
    $('#add_checked_to_cart').draggable();
    $('#add_all_selected_to_cart').click(function(){
      var values = $('.add_to_cart_checkbox:checked').map(function() {
        return this.value+':'+$('#quantity_'+this.value).val();
      }).get().join(',');
      $.ajax({url:"/carts/add_selected_to_cart?values="+values});
      _gaq.push(['_trackEvent', 'Cart', 'Add All Selected To Cart', values]);
      $('#add_checked_to_cart').hide();
      $('input.add_to_cart_checkbox').attr('checked', false);
    });
    function toggle_add_checked_to_cart(){
      if ($('.add_to_cart_checkbox:checked').length > 0){$('#add_checked_to_cart').show()} else {$('#add_checked_to_cart').hide()};
      $('#add_all_selected_to_cart').button({label: 'Add All '+$('.add_to_cart_checkbox:checked').length+' Selected To Cart'});
    }
- if @search.total < 1
  == We're sorry, we found 0 matching #{@klass}s
  - if !@search.correctly_spelled? && @search.spell_collation
    %p 
      Did you mean? 
      = link_to_function @search.spell_collation, "location.hash = $.param.fragment( location.hash, {q: '#{@search.spell_collation}'}, 0 )"
.highlightable= render @products
.clear
.right
  %strong Items Per Page:
  = select_tag :per_page, options_for_select([24,48,72,96], per_page)
= will_paginate @products, :class => 'pagination ajax'
:javascript
  $(document).ready(function(){
    $("#product_catalog").css({ opacity: 1.0 });
    $('.pagination.ajax a').click(function() {
      this.innerHTML='#{escape_javascript spinner}';
      location.hash = $.param.fragment( location.hash, {page: $.deparam.querystring(this.href)['page']}, 0 );
      return false;
    })
    $('#toggle_product_idea').click(function() {
      location.hash = $.param.fragment( location.hash, {ideas: #{idea? ? '0' : '1'}, page: 1}, 0 );
      return false;
    });
    $('#per_page').change(function() {
      location.hash = $.param.fragment( location.hash, {per_page: this.value, page: 1}, 0 );
      return false;
    })
    $("a.toggle_view").toggleView({initial_state: $.deparam.fragment()['view']})
  });