%li
  %p.video-thumbnail{ :style => "background: url('#{video_default_image(video)}') no-repeat center center;"}= link_to image_tag("/images/ui-icons/set_fugue_custom/24x24/drop-shadow/ell3_film--glow.png", :class => "tooltip_playvideo"), "http://www.youtube.com/embed/#{yt_video_url(video)}?autoplay=1", :rel => j(video.title), :class => "fancyvideo", :id => yt_video_url(video)
  %p.video-title= link_to video.title, "http://www.youtube.com/embed/#{yt_video_url(video)}?autoplay=1", :class => "fancyvideo", :id => yt_video_url(video), :rel => j(video.title)
  .clear
  %p.video-description-two= truncate(video.description, :length => 126, :separator => ' ')
