%li
  %p.video-thumbnail{ :style => "background: url('#{video.thumbnails.first.try :url}') no-repeat center center;"}= link_to image_tag("/images/ui-icons/set_fugue_custom/24x24/drop-shadow/ell3_film--glow.png", :class => "tooltip_playvideo"), video.embed_url + "&autoplay=1&fs=1", :class => "fancyvideo", :id => video.embed_url[/v\/([^&]+)/, 1]
  %p.video-title= link_to video.title, video.embed_url + "&autoplay=1&fs=1", :class => "fancyvideo", :id => video.embed_url[/v\/([^&]+)/, 1]
  %p.video-detail
    == #{video.duration/60} min #{video.duration%60} seconds 
    %br
    == #{l video.published_at || video.updated_at, :format => :date_short}  | #{video.view_count} views
  .clear
  %p.video-description= truncate(video.description, :length => 200, :separator => ' ')