%img{:src => "/images/ui-backgrounds/blog_header_szuk.png"}/
.bloghead{:class=>"ui-corner-all"}
  .blogframe
    View Blogs by Designer
    .blogdview
      View all Blogs
  - @bloggers.each do |blogger|
    .blogger{:class=>"ui-corner-all blogselector", :style => "background:url(#{@blogger == blogger ? '/images/ui-backgrounds/blog_selected.gif' : '/images/ui-backgrounds/blog_choose.gif'}) bottom right no-repeat;"}
      = link_to "?id=#{blogger.id}" do
        .blogpic{:style=>"border:1px solid #{@blogger == blogger ? '#fff' : '#69c'};"}
          = image_tag blogger.photo_url
        .blogname{:style=>"color: #{@blogger == blogger ? '#fff' : '#346DA3'};"}
          = blogger.name
        %p{:style=>"color: #{@blogger == blogger ? '#fff' : '#346DA3'}; margin-bottom:0 !important;"}        
          #{@blogger == blogger ? 'Currently selected' : 'Click to select'}

%ul{:class=>"uk_blog_ul ui-corner-all", :style=>"float:left; width:916px; list-style-type: none; padding: 0 16px 14px;"}
  - @feed.entries.each do |feed|
    %li{:class=>"uk_blog_li"}
      - if feed["title"].present?
        %h3= feed["title"].html_safe
      %p
        %span.timestamp= l(Time.parse(feed["published"]), :format => :blog) rescue feed["published"]
        %br/    
        = feed["summary"].try(:html_safe)
- if @page > 1
  %div{:style=>"float:right"}
    = link_to "View Newer Posts", "?page=#{@page-1}"
- if @per_page * @page < @feed.total_results
  %div{:style=>"float:right; margin-right:8px"}
    = link_to "View Older Posts", "?page=#{@page+1}"
