.contentwrap_medium= image_tag("/images/feedback.png")
.contentwrap_XL.last
  %h2 Contact Us Form
  %p
    Contact us online 24 hours a day by using our Contact Us Form. Please submit your request below 
    and a member of our Customer Service department will respond to you via email during our normal 
    business hours.
%hr
#feedback_form.contentwrap_medium
  = form_for(@feedback, :url => {:controller => :index, :action => 'send_feedback', :secure => true}, :remote => true, :html => {:id => "contact_form", :method => :post}) do |f|
    .field
      = required_label f, :email, {:label_size => "60px;"}
      = f.text_field :email
    .field
      = required_label f, :subject, {:label_size => "60px;"}
      = f.select :subject, @subjects.map(&:name)
    = f.fields_for :comments, @feedback.comments.build do |comments_fields|
      .field
        = required_label comments_fields, :message, {:label => "Your Comments", :label_size => "auto"}
        %br
        = comments_fields.text_area :message, :rows => 10, :cols => 36
    = raw recaptcha_tag(:ajax, :ssl => request.ssl?, :display => {:theme => 'white'})
    .actions
      = f.submit "Submit", :class => 'jqui_save'
.contentwrap_XL.last
  - i=0
  - @subjects.each do |topic|
    %div{:id => "help_#{topic.name.parameterize}", :class => "infobox ui-widget-#{ is_sizzix_us? ? 'header' : 'content'} ui-widget ui-corner-all", :style => i != 0 ? "display: none" : nil}
      %h3= topic.name
      = render topic.visual_assets.current
    - i+=1
    
  :javascript
    $(function() {
      $("#feedback_subject").change(function() {
        if ($(this).val()) {
          $('.infobox').fadeOut().slideUp();
          $("#help_" + $(this).val().replace(/\s/g, '-').replace(/[^\w/-]/g, '').toLowerCase()).slideDown();
        }
      });
    });
    
    
    
