.contentwrap_medium= image_tag("/images/feedback.png")
.contentwrap_XL.last
  %h2 Feedback Form
  %p
    Contact us online 24 hours a day by using our Feedback Form. Please submit your request below 
    and a member of our Customer Service department will respond to you via email during our normal 
    business hours.
%hr
#feedback_form.contentwrap_medium
  = form_for(@feedback, :url => {:controller => :index, :action => 'send_feedback', :secure => true}, :remote => true, :html => {:id => "contact_form", :method => :post}) do |f|
    .field
      = f.label :email, :style => "width: 55px;"
      = f.text_field :email
    .field
      = f.label :subject, :style => "width: 55px;"
      = f.select :subject, Feedback.subjects
    = f.fields_for :comments, @feedback.comments.build do |comments_fields|
      .field
        = comments_fields.label :message, "Your Comments"
        %br
        = comments_fields.text_area :message, :rows => 10, :cols => 36
    .actions
      = f.submit :class => 'jqui_save'
.contentwrap_XL.last
  - i=0
  - Feedback.subjects.each do |topic|
    %div{:id => "help_#{topic.parameterize}", :class => "infobox ui-widget-#{ is_sizzix_us? ? 'header' : 'content'} ui-widget ui-corner-all", :style => i != 0 ? "display: none" : nil}
      %h3= topic
      
    - i+=1
    
  :javascript
    $(function() {
      $("#feedback_subject").change(function() {
        if ($(this).val()) {
          $('.infobox').fadeOut().slideUp();
          $("#help_" + $(this).val().replace(/\s/g, '-').replace(/[^\w/-]/g, '').toLowerCase()).slideDown();
        }
      });
    });
    
    
    
