%h2 Events

- if is_sizzix?
  = image_tag "/images/ui-objects/banner_event_sz.png"
- if is_ee?
  = image_tag "/images/ui-objects/banner_event_ee.png"
- if is_er?
  = image_tag "/images/ui-objects/banner_event_er.png"
%img{:class=>"eventstitleimg", :src => "/images/ui-backgrounds/events_pins.png"}/
%br
%br
%span{:style=>"font-weight:bold"}Want to connect with us live and in person?
%br
%br
Find us at our next Tradeshow or Convention Booth at a city near you.
Simply check our listing below to browse our complete schedule of Upcoming Events for 2011!
- if @events.present?
  %table
    %tr
      %th Name
      %th City
      %th State
      %th Country
      %th Event Starts
      %th Event End
    - @events.each do |event|
      %tr
        %td= link_to event.name, event_path(event)
        %td= event.city
        %td= event.state
        %td= event.country
        %td= l event.event_start_date, :format => :date
        %td= l event.event_end_date, :format => :date
- else
  No upcoming events scheduled at this point of time. Please visit us later.