= image_tag "/images/ui-objects/banner_eve.jpg"
= image_tag @event.actual_logo if @event.actual_logo.present?
%p= @event.name
%h3 Event dates
= l @event.event_start_date, :format => :date
through
= l @event.event_end_date, :format => :date
%h3 Location
%p
  = @event.location
  = @event.address1
  = @event.address2
  = @event.city
  = @event.state
  = @event.zip_code
  = @event.country
= @event.description
.right
  = image_tag @event.actual_image if @event.actual_image.present?
  = @event.sponsor.html_safe

