= image_tag "/images/ui-objects/banner_eve.jpg"
%table
  %tr
    %th Name
    %th City
    %th State
    %th Country
    %th Event Starts
    %th Event End
  - @events.each do |event|
    %tr
      %td= link_to event.name, event_path(event)
      %td= event.city
      %td= event.state
      %td= event.country
      %td= l event.event_start_date, :format => :date
      %td= l event.event_end_date, :format => :date
      