%h2 Events
= image_tag "/images/ui-objects/_#{current_system}_banner_event.png"
%h3{:style=>"margin-top:8px;"} Want to connect with us live and in person?
- if is_uk?
  %p
- else
  %p Come see us at our next Tradeshow or Convention booth at a city near you. Simply check the listings below for a complete schedule of our upcoming events!
- if @events.present?
  %table
    %thead
      %tr
        %th Name
        %th City
        %th State
        %th Country
        %th Event Starts
        %th Event End
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, event_path(event)
          %td= event.city
          %td= event.state
          %td= event.country
          %td= l event.event_start_date, :format => :date
          %td= l event.event_end_date, :format => :date
  :javascript
    initialize_tables();
- else
  %strong
    %em No upcoming events scheduled at this time. Please visit us later.