.gc_container
  %img{:src => "/images/ui-icons/gc_front_ico.png", :width => "60px", :height => "38px", :class=>"cc_thumb"}
  %h2 Check your Gift Card Balance
  %br
  Need to verify your Sizzix/Ellison Gift Card balance? No problem! Its simple and easy to check.  Enter your 19 digit Gift Card number (without spaces) plus the 8-digit pin number (located on the back of the card).
  %br
  %br
  .gc_img_frame
    %img{:class=>"gc_img", :src=>"/images/ui-backgrounds/gc_numerics.png"} 
  .gc_cell{:class=>"ui-widget ui-widget-content ui-corner-all"}
    = form_for(@payment, :url => {:controller => :index, :action => 'giftcard_balance', :secure => true}, :remote => true, :html => {:id => "gift_card_form", :method => :post}) do |f|
      = field_set_tag do
        #gift_card_errors2{class: "legalese gc_error_2"}
        %h2
          Enter Gift Card Number
        = f.label :full_card_number, "(19 Digits with No Spaces)", :class => "c_labelwidth gc_legal"
        %br
        = f.text_field :full_card_number, class: "required", style: "background:white", minlength: 19, maxlength: 19, digits: true, size: 25
        %br
        %br
        %h2
          Enter Gift Card Pin Number
        = f.label :full_card_number, "(8 Digits)", :class => "c_labelwidth gc_legal"
        %br
        = f.text_field :card_pin, class: "required", style: "background:white", minlength: 8, maxlength: 8, digits: true, size: 15
        %br
        %br
        = f.submit "Gift Card Balance", :class => 'button_large bg_large', id: "apply_gift_card", :disable_with => "Please Wait..."
        %br
        %br
    #gift_card_errors{class:"gc_bal"}
%br
%br
.c_linebreak
%br
%h2 Interested in Buying More Gift Cards?
= link_to "Click here ", '/catalog#facets=category~gift-cards'
to purchase additional Gift Cards.
%br
= link_to "More Information ", '/pricing'
about purchasing and using Gift Cards.
%br
%br
= link_to "Continue Shopping", session[:continue_shopping] || '/lp/categories', :class => "link_continue-shopping float"
/catalog#facets=category~gift-cards
%br
%br
:coffeescript
  $ ->
    $('#gift_card_form').validate
      errorClass: "invalid"
      messages:
        'payment[full_card_number]': "<br> Please enter a valid Gift Card Number"
        'payment[card_pin]': "<br> Please enter a valid Pin Number"
