- if @home_content.present?
  #carousels= render @home_content.visual_assets.current
  .clear

#customer-outreach
  %p Free Shipping on all Sizzix.com orders of $100 dollars or more!
      
.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_happythoughts.jpg")
    .cover.boxcaption
      %h4 Mattis eu scelerisque turpis
      %p
        Morbi et metus et mauris imperdiet dictum.
        %br/
        =link_to "Diam sagittis nisi", "http://www.google.com"

.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_tinbox.jpg")
    .cover.boxcaption
      %h4 Donec eu massa
      %p
        Pellentesque tellus tortor, scelerisque non libero. 
        %br/
        =link_to "pulvinar non elementum quis", "http://www.google.com"

.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_timholtz-ideaology.jpg")
    .cover.boxcaption
      %h4 fermentum mauris
      %p
        Suspendisse neque elit, dictum sit amet turpis.
        %br/
        =link_to "Elementum quis", "http://www.google.com"

.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_boy-volcanos.jpg")
    .cover.boxcaption
      %h4 Duis Pretium
      %p
        Etiam eget purus semper justo vulputate facilisis in ut mauris.
        %br/
        =link_to "Nullam vitae", "http://www.google.com"

.billboard_medium.last
  .boxgrid-large.captionfull
    = image_tag("/images/_temp/billboard_babycard.jpg")
    .cover.boxcaption-large
      %h4 Sed Lorem Lacus
      %p
        Etiam ut metus orci. In vulputate placerat mi et blandit. Nullam vitae cursus orci. In rutrum elit ac magna ultricies viverra.
        %br/
        =link_to "Pellentesque consectetur malesuada sagittis", "http://www.google.com"
#carousels
  %h2.bestsellers
    %span What's Hot!
  .item_carousel.ui-widget.ui-corner-all{ :class => "ui-widget-#{ is_sizzix? ? 'header' : 'content'}"}
    %div{:id => "asset_carousel_12341234"}
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #1", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #2", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #3", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #5", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #6", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
    .controls
      = link_to "prev", "#", :class => "prev_button", :id => "prev_button_12341234"
      |
      = link_to "next", "#", :class => "next_button", :id => "next_button_12341234"
  :javascript
    $(function() {
      $("#asset_carousel_12341234").jCarouselLite({
        btnPrev: "#prev_button_12341234",
        btnNext: "#next_button_12341234",
        visible: 5
      });
    });
  %h2.newarrivals
    %span Just Arrived!
  .item_carousel.ui-widget.ui-corner-all{ :class => "ui-widget-#{ is_sizzix? ? 'header' : 'content'}"}
    %div{:id => "asset_carousel_56785678"}
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #1", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #2", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #3", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #5", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #6", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
      %ul
        %li.item_element
          %p= link_to image_tag("/images/products/medium/114531.jpg"), "/product/4cf89b2be1b8326863000e96"
          %p= link_to "Sizzix Texturz Texture Plates - Kit #4", "/product/4cf89b2be1b8326863000e96"
          %p
            %span.msrp $11.06
            %span.special-price
            %span.sale-price
    .controls
      = link_to "prev", "#", :class => "prev_button", :id => "prev_button_56785678"
      |
      = link_to "next", "#", :class => "next_button", :id => "next_button_56785678"
  :javascript
    $(function() {
      $("#asset_carousel_56785678").jCarouselLite({
        btnPrev: "#prev_button_56785678",
        btnNext: "#next_button_56785678",
        visible: 5
      });
    });
        
- unless is_er? || is_ee?
  #blog-posts
    %h2.decorative
      %span News from our Blog  
    %ul#blog_feeds.plain= spinner
    .poll
      %h4 Take This Month's Poll!
      %p
        Which Sizzix Machines do you currently own? 
        = link_to "launch poll", "#"

  #social-media
    %h2.decorative
      %span Sizzix Tweets
    %ul.tweets#sizzix_tweets= spinner
    %ul#connect-with-sizzix
      %li= link_to "Follow Us on Twitter", "http://www.twitter.com/sizzix_us", :target => "blank"
      %li= link_to "Join Us on Facebook", "http://www.facebook.com/Sizzix", :target => "blank"
      %li= link_to "Watch Us on YouTube", "http://www.youtube.com/sizzix", :target => "blank"
      %li= link_to "Sign Up for our Newsletter", "#", :target => "blank"
      %li= link_to "Email Us", "/contact"
  :javascript
    $(document).ready(function(){
      $('#sizzix_tweets').load('/index/twitter_feed#{"_uk" if is_uk?}');
      $('#blog_feeds').load('/index/blog_feed#{"_uk" if is_uk?}');
    });