#frame_gallery
  = image_tag("/images/ui-objects/frame_gallery.png", :id => "frame_gallery")
  #gallery

#customer-outreach
  #email-signup
    %p
      Be the first to know about sales, new products & more!
      \&nbsp;
      = text_field(:newsletter, :signup, :size => 22, :value => "Sign up for the Sizzix Scoop", :onfocus => 'this.value=""')
      %button.jqui_button Email Signup
  #store-locator
    %p
      Find Sizzix products in stores! 
      \&nbsp;
      %button.jqui_button Find a Store
      
.billboard_small
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_happythoughts.jpg")
    .cover.boxcaption
      %h4 Mattis eu scelerisque turpis
      %p
        Morbi et metus et mauris imperdiet dictum.
        %br/
        =link_to "Diam sagittis nisi", "http://www.google.com"

.billboard_small
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_tinbox.jpg")
    .cover.boxcaption
      %h4 Donec eu massa
      %p
        Pellentesque tellus tortor, scelerisque non libero. 
        %br/
        =link_to "pulvinar non elementum quis", "http://www.google.com"

.billboard_small
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_timholtz-ideaology.jpg")
    .cover.boxcaption
      %h4 fermentum mauris
      %p
        Suspendisse neque elit, dictum sit amet turpis.
        %br/
        =link_to "Elementum quis", "http://www.google.com"

.billboard_small
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_boy-volcanos.jpg")
    .cover.boxcaption
      %h4 Duis Pretium
      %p
        Etiam eget purus semper justo vulputate facilisis in ut mauris.
        %br/
        =link_to "Nullam vitae", "http://www.google.com"

.billboard_medium.last
  .boxgrid-large.captionfull
    = image_tag("/images/_temp/billboard_babycard.jpg")
    .cover.boxcaption-large
      %h4 Sed Lorem Lacus
      %p
        Etiam ut metus orci. In vulputate placerat mi et blandit. Nullam vitae cursus orci. In rutrum elit ac magna ultricies viverra.
        %br/
        =link_to "Pellentesque consectetur malesuada sagittis", "http://www.google.com"
        
.product-carousel
  %h3 What's Hot!
  .frame_carousel
    #bestsellers
      %ul
        %li
          %p.caption
            = image_tag("/images/_temp/bs_1.jpg", :class => "thumbnail")
            Sizzix Textured Impressions Embossing Folders 2PK - Birds, Flowers & Branches Set (Item #656503)
            %br/
            $10.99
        %li
          %p.caption
            = image_tag("/images/_temp/bs_2.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Poinsettia (Item #655251)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/bs_3.jpg", :class => "thumbnail")
            Sizzix Accessory - Bigz Storage Rack (Item #655809)
            %br/
            %span.old-price== $24.99
            %span.sale-price== $12.49
        %li
          %p.caption
            = image_tag("/images/_temp/bs_4.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die Set 3PK - Flowers, Branches & Leaves Set (Item #656064)
            %br/
            $19.99
        %li
          %p.caption
            = image_tag("/images/_temp/bs_5.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Butterfly #12 (Item #656512)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/bs_6.jpg", :class => "thumbnail")
            Sizzix Bigz Die - Bow, Create-a-Bow (Item #656544)
            %br/
            %span.old-price== $19.99
            %span.sale-price== $10.00
        %li
          %p.caption
            = image_tag("/images/_temp/bs_7.jpg", :class => "thumbnail")
            Sizzix Textured Impressions Embossing Folders 2PK - Birds, Flowers & Branches Set (Item #656503)
            %br/
            $10.99
        %li
          %p.caption
            = image_tag("/images/_temp/bs_8.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Poinsettia (Item #655251)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/bs_9.jpg", :class => "thumbnail")
            Sizzix Accessory - Bigz Storage Rack (Item #655809)
            %br/
            %span.old-price== $24.99
            %span.sale-price== $12.49
        %li
          %p.caption
            = image_tag("/images/_temp/bs_10.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die Set 3PK - Flowers, Branches & Leaves Set (Item #656064)
            %br/
            $19.99
        %li
          %p.caption
            = image_tag("/images/_temp/bs_11.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Butterfly #12 (Item #656512)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/bs_12.jpg", :class => "thumbnail")
            Sizzix Bigz Die - Bow, Create-a-Bow (Item #656544)
            %br/
            %span.old-price== $19.99
            %span.sale-price== $10.00
  =link_to "Down", "#", :alt => "Down", :title => "Down", :class => "down_bestsellers"
  =link_to "Up", "#", :alt => "Up", :title => "Up", :class => "up_bestsellers"

.product-carousel.last
  %h3 Just Arrived!
  .frame_carousel
    #newarrivals
      %ul
        %li
          %p.caption
            = image_tag("/images/_temp/na_1.jpg", :class => "thumbnail")
            Sizzix Textured Impressions Embossing Folders 2PK - Birds, Flowers & Branches Set (Item #656503)
            %br/
            $10.99
        %li
          %p.caption
            = image_tag("/images/_temp/na_2.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Poinsettia (Item #655251)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/na_3.jpg", :class => "thumbnail")
            Sizzix Accessory - Bigz Storage Rack (Item #655809)
            %br/
            %span.old-price== $24.99
            %span.sale-price== $12.49
        %li
          %p.caption
            = image_tag("/images/_temp/na_4.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die Set 3PK - Flowers, Branches & Leaves Set (Item #656064)
            %br/
            $19.99
        %li
          %p.caption
            = image_tag("/images/_temp/na_5.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Butterfly #12 (Item #656512)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/na_6.jpg", :class => "thumbnail")
            Sizzix Bigz Die - Bow, Create-a-Bow (Item #656544)
            %br/
            %span.old-price== $19.99
            %span.sale-price== $10.00
        %li
          %p.caption
            = image_tag("/images/_temp/na_7.jpg", :class => "thumbnail")
            Sizzix Textured Impressions Embossing Folders 2PK - Birds, Flowers & Branches Set (Item #656503)
            %br/
            $10.99
        %li
          %p.caption
            = image_tag("/images/_temp/na_8.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Poinsettia (Item #655251)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/na_9.jpg", :class => "thumbnail")
            Sizzix Accessory - Bigz Storage Rack (Item #655809)
            %br/
            %span.old-price== $24.99
            %span.sale-price== $12.49
        %li
          %p.caption
            = image_tag("/images/_temp/na_10.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die Set 3PK - Flowers, Branches & Leaves Set (Item #656064)
            %br/
            $19.99
        %li
          %p.caption
            = image_tag("/images/_temp/na_11.jpg", :class => "thumbnail")
            Sizzix Sizzlits Die - Butterfly #12 (Item #656512)
            %br/
            %span.old-price== $4.99
            %span.sale-price== $2.49
        %li
          %p.caption
            = image_tag("/images/_temp/na_12.jpg", :class => "thumbnail")
            Sizzix Bigz Die - Bow, Create-a-Bow (Item #656544)
            %br/
            %span.old-price== $19.99
            %span.sale-price== $10.00
  =link_to "Down", "#", :alt => "Down", :title => "Down", :class => "down_newarrivals"
  =link_to "Up", "#", :alt => "Up", :title => "Up", :class => "up_newarrivals"

-#
  #staffpicks
    %h3 Halloween Favorites from Our Staff
    %ul
      %li Sizzix Sizzlits Die Set 4PK - Snowflakes Set 
      %li Sizzix Sizzlits Decorative Strip Die - Grass 
      %li Sizzix Sizzlits Die - Phrase, 'Tis the Season 
      %li Sizzix On the Edge Die - Plaque & Postage 

#blog-posts
  %h3 News from our Blog  
  %p
    %strong Halloween Banner
    %br/
    I have been having a lot of fun lately with all the new Halloween dies and Texture Fades. I mean, after all, Halloween is almost around the corner..
  %p 
    %strong Frames and Phrases Dies
    %br/
    Beth is always coming up with amazing die designs. She had a BIG hit with the 3-D Flower, which has been so popular it's been out of stock over and over again..
  %p
    %strong Eclips Pen Tool
    %br/
    The pen tool is a great new feature on our eclips machine. I used it to create my own patterned paper for this birthday card I made..
  .poll
    %h3 Take This Month's Poll!
    %h4 Which Sizzix Machines do you currently own?
    %p launch poll

#social-media
  %h3
    Sizzix Tweets
    =image_tag("/images/ui-icons/twitter-bird.png")
  %ul.tweets
    %li
      Rare savings from 20%-87% off our most essential items!
      =link_to "www.sizzix.com/catalog/campaign/essentially%20yours/?utm_source=twitter", "www.sizzix.com/catalog/campaign/essentially%20yours/?utm_source=twitter"
      %br/
      %span.timestamp
        11:36 AM Sep 17th via web
    %li
      Sizzix.com Coupon Code: SC820 Valid thru 8-15
      =link_to "http://bit.ly/atccYn","http://bit.ly/atccYn"
      %br/
      %span.timestamp
        7:57 AM Aug 10th  via web
    %li
      Tuesday Teasers
      =link_to "http://www.sizzix.com/catalog/campaign/tuesday%20teasers?utm_source=Twitter&utm_medium=social&utm_campaign=tuesday+teasers", "http://www.sizzix.com/catalog/campaign/tuesday%20teasers?utm_source=Twitter&utm_medium=social&utm_campaign=tuesday+teasers"
      %br/
      %span.timestamp
        7:55 AM Aug 10th via web
    %li
      New Tim Holtz products available this Fall.
      =link_to "http://www.sizzix.com/catalog/campaign/Tim%20Holtz%20Coming%20Soon", "http://www.sizzix.com/catalog/campaign/Tim%20Holtz%20Coming%20Soon"
      %br/
      %span.timestamp
        1:59 PM Jul 27th via web
    %li
      Want to see the newest Sizzix releases being previewed right now at CHA Summer 2010? See what’s headed your way!
      =link_to "www.sizzix.com/news", "www.sizzix.com/news"
      %br/
      %span.timestamp
        11:56 AM Jul 27th via web
  %ul#connect-with-sizzix
    %li= link_to "Follow Us on Twitter", "http://www.twitter.com/sizzix_us", :target => "blank"
    %li= link_to "Join Us on Facebook", "http://www.facebook.com/Sizzix", :target => "blank"
    %li= link_to "Watch Us on YouTube", "http://www.youtube.com/sizzix", :target => "blank"
    %li= link_to "Sign Up for our Newsletter", "#", :target => "blank"
    %li= link_to "Email Us", "/contact"