- if @home_content.present?
  #carousels= render @home_content.visual_assets.current
  .clear     
.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_happythoughts.jpg")
    .cover.boxcaption
      %h4 Mattis eu scelerisque turpis
      %p
        Morbi et metus et mauris imperdiet dictum.
        %br/
        =link_to "Diam sagittis nisi", "http://www.google.com"

.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_tinbox.jpg")
    .cover.boxcaption
      %h4 Donec eu massa
      %p
        Pellentesque tellus tortor, scelerisque non libero. 
        %br/
        =link_to "pulvinar non elementum quis", "http://www.google.com"

.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_timholtz-ideaology.jpg")
    .cover.boxcaption
      %h4 fermentum mauris
      %p
        Suspendisse neque elit, dictum sit amet turpis.
        %br/
        =link_to "Elementum quis", "http://www.google.com"

.billboard_XS
  .boxgrid.captionfull
    = image_tag("/images/_temp/billboard_boy-volcanos.jpg")
    .cover.boxcaption
      %h4 Duis Pretium
      %p
        Etiam eget purus semper justo vulputate facilisis in ut mauris.
        %br/
        =link_to "Nullam vitae", "http://www.google.com"

.billboard_medium.last
  .boxgrid-large.captionfull
    = image_tag("/images/_temp/billboard_babycard.jpg")
    .cover.boxcaption-large
      %h4 Sed Lorem Lacus
      %p
        Etiam ut metus orci. In vulputate placerat mi et blandit. Nullam vitae cursus orci. In rutrum elit ac magna ultricies viverra.
        %br/
        =link_to "Pellentesque consectetur malesuada sagittis", "http://www.google.com"

- unless is_er? || is_ee?
  #blog-posts
    %h2.decorative
      %span News from our Blog  
    %ul#blog_feeds.plain= spinner
    .poll
      %h4 Take This Month's Poll!
      %p
        Which Sizzix Machines do you currently own? 
        = link_to "launch poll", "#"

  #social-media
    %h2.decorative
      %span Sizzix Tweets
    %ul.tweets#sizzix_tweets= spinner
    %ul#connect-with-sizzix
      %li= link_to "Follow Us on Twitter", "http://www.twitter.com/sizzix_us", :target => "blank"
      %li= link_to "Join Us on Facebook", "http://www.facebook.com/Sizzix", :target => "blank"
      %li= link_to "Watch Us on YouTube", "http://www.youtube.com/sizzix", :target => "blank"
      %li= link_to "Sign Up for our Newsletter", "#", :target => "blank"
      %li= link_to "Email Us", "/contact"
  :javascript
    $(document).ready(function(){
      $('#sizzix_tweets').load('/index/twitter_feed#{"_uk" if is_uk?}');
      $('#blog_feeds').load('/index/blog_feed#{"_uk" if is_uk?}');
    });