- if false # machines_owned.blank?
  #machines_owned.floating_survey
    .right= link_to_function "close", "$('#machines_owned').remove()", :class => "minibtn-cancel", :onclick => "$('.tooltip_drag').RemoveBubblePopup();"
    %div
      %h2.tooltip_drag
        Help us serve you better...
        %br
        Which machines do you currently own?
      /= render :partial => 'users/machines_poll'
  :javascript
    $(function() {
      $( "#machines_owned" ).draggable();
    });
    $('.tooltip_drag').CreateBubblePopup({
      position: 'top',
      align: 'center',
      distance: '50px',
      tail: {
        align: 'middle',
        hidden: false
      },
      selectable: true,
      innerHtml: '<div class="tip_drag">click to drag & move</div>',
      innerHtmlStyle: {
        color: '#333333',
        'text-align': 'center'
      },
      themeName: 'azure',
      themePath: '/images/ui-plugins/bubblepopup'
    });
    

- if @home_content.present?
  #current_visual_assets= render @home_content.visual_assets.current
  .clear

- if is_sizzix_us?
  #blog-posts
    %h2.decorative
      %span News from our Blog  
    %ul#blog_feeds= spinner

- if is_ee_us?
  %h2 News from our Teachers' Blog
  %div{:class=>"item_carousel_wide ui-widget-content ui-widget ui-corner-all fbox"}
    .b_frame_s1
      %img{:height => "232", :src => "/images/ui-backgrounds/t_lounge_bkg.png", :style => "margin-top:22px;", :width => "348"}/
      .b_text_1
        %p
          %span{:class => "b_text_2"} Welcome to the Teachers’ Lounge.
          %br
          Join us as we explore creative curriculum ideas and share our favorite tips and clearance information with you. And you won’t want to miss the weekly contests...yes, there are prizes! We are delighted you could join us.
          %br/
          %br/
          %a{:href => "http://blog.ellisoneducation.com", :target => "blank"} Enter the Ellison Teachers' Lounge
    .b_frame_s2
      %ul#blog_feeds_ee= spinner

    
- if is_sizzix_us?
  #social-media
    %h2.decorative
      %span Sizzix Tweets With Twitter
    .twitter_block= render partial: "index/twitter"
  
    %ul#connect-with-sizzix
      %li= link_to "Follow Us on Pinterest", "http://pinterest.com/sizzix", :target => "blank", :class => "link_pinterest"
      %li= link_to "Follow Us on Twitter", "http://www.twitter.com/sizzix_#{ is_us? ? "us" : "uk" }", :target => "blank", :class => "link_twitter"
      %li= link_to "Join Us on Facebook", "http://www.facebook.com/Sizzix", :target => "blank", :class => "link_facebook"
      - if is_sizzix_us?
        %li= link_to "Read Our Blog", "http://sizzixblog.blogspot.com/", :target => "blank", :class => "link_blogspot"
      %li= link_to "Watch Us on YouTube", "http://www.youtube.com/sizzix", :target => "blank", :class => "link_youtube"
      %li= link_to "Sign Up for our Newsletter", "/index/newsletter", :target => "_blank", :class => "link_newsletter"
      %li= link_to "Email Us", "/contact", :class => "link_contact"
:javascript
  $(document).ready(function(){
    $('#blog_feeds').load('/index/blog_feed#{"_uk" if is_uk?}');
    $('#blog_feeds_ee').load('/index/blog_feed_ee');
  });
