- if @home_content.present?
  #carousels= render @home_content.visual_assets.current
  .clear
  - @home_content.visual_assets.billboards.each do |billboard|
    %div{:class => "billboard_#{billboard.wide ? 'medium' : 'XS'} #{'last' if @home_content.visual_assets.billboards.last == billboard}"}
      .captionfull{:class => "boxgrid#{billboard.wide ? '-large' : nil}"}
        = image_tag(billboard.image_url) if billboard.image?
        .cover{:class => "boxcaption#{billboard.wide ? '-large' : nil}"}
          %h4= billboard.name
          %div
            = billboard.content.html_safe
            - if billboard.link.present?
              %br/
              = link_to "more", billboard.link

- unless is_er? || is_ee?
  #blog-posts
    %h2.decorative
      %span News from our Blog  
    %ul#blog_feeds.plain= spinner
    .poll
      %h4 Take This Month's Poll!
      %p
        Which Sizzix Machines do you currently own? 
        = link_to "launch poll", "#"

  #social-media
    %h2.decorative
      %span Sizzix Tweets
    %ul.tweets#sizzix_tweets= spinner
    %ul#connect-with-sizzix
      %li= link_to "Follow Us on Twitter", "http://www.twitter.com/sizzix_us", :target => "blank"
      %li= link_to "Join Us on Facebook", "http://www.facebook.com/Sizzix", :target => "blank"
      %li= link_to "Watch Us on YouTube", "http://www.youtube.com/sizzix", :target => "blank"
      %li= link_to "Sign Up for our Newsletter", "#", :target => "blank"
      %li= link_to "Email Us", "/contact"
  :javascript
    $(document).ready(function(){
      $('#sizzix_tweets').load('/index/twitter_feed#{"_uk" if is_uk?}');
      $('#blog_feeds').load('/index/blog_feed#{"_uk" if is_uk?}');
    });