- if false # machines_owned.blank?
  #machines_owned.floating_survey
    .right= link_to_function "close", "$('#machines_owned').remove()", :class => "minibtn-cancel", :onclick => "$('.tooltip_drag').RemoveBubblePopup();"
    %div
      %h2.tooltip_drag
        Help us serve you better...
        %br
        Which machines do you currently own?
      /= render :partial => 'users/machines_poll'
  :javascript
    $(function() {
      $( "#machines_owned" ).draggable();
    });
    $('.tooltip_drag').CreateBubblePopup({
      position: 'top',
      align: 'center',
      distance: '50px',
      tail: {
        align: 'middle',
        hidden: false
      },
      selectable: true,
      innerHtml: '<div class="tip_drag">click to drag & move</div>',
      innerHtmlStyle: {
        color: '#333333',
        'text-align': 'center'
      },
      themeName: 'azure',
      themePath: '/images/ui-plugins/bubblepopup'
    });
    

- if @home_content.present?
  #current_visual_assets= render @home_content.visual_assets.current
  .clear

- if is_sizzix_us?
  #blog-posts
    %h2.decorative
      %span News from our Blog  
    %ul#blog_feeds= spinner

- if is_sizzix_us?
  #social-media
    %h2.decorative
      %span Sizzix Tweets with Twitter
    = javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js'
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#243250',
            color: '#ffffff'
          },
          tweets: {
            background: '#040f28',
            color: '#ffffff',
            links: '#03D2F7'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('sizzix_#{ is_us? ? "us" : "uk" }').start();
  
    %ul#connect-with-sizzix
      %li= link_to "Follow Us on Twitter", "http://www.twitter.com/sizzix_#{ is_us? ? "us" : "uk" }", :target => "blank", :class => "link_twitter"
      %li= link_to "Join Us on Facebook", "http://www.facebook.com/Sizzix", :target => "blank", :class => "link_facebook"
      - if is_sizzix_us?
        %li= link_to "Read Our Blog", "http://sizzixblog.blogspot.com/", :target => "blank", :class => "link_blogspot"
      %li= link_to "Watch Us on YouTube", "http://www.youtube.com/sizzix", :target => "blank", :class => "link_youtube"
      %li= link_to "Sign Up for our Newsletter", "/index/newsletter", :target => "_blank", :class => "link_newsletter"
      %li= link_to "Email Us", "/contact", :class => "link_contact"
  :javascript
    $(document).ready(function(){
      $('#sizzix_tweets').load('/index/twitter_feed#{"_uk" if is_uk?}');
      $('#blog_feeds').load('/index/blog_feed#{"_uk" if is_uk?}');
    });