.breadcrumbs.dontprint
  = link_to 'back', session[:continue_shopping], :class => "link_back" if session[:continue_shopping].present?
  - if admin_signed_in?
    .right= link_to 'edit', edit_admin_idea_path(@idea), :class => "link_edit-record"
- cache_unless is_admin?, [@idea, current_system, current_locale, Product.retailer_discount_level, ecommerce_allowed?], :expires_in => 3.hours do
  .item_images
    #large_image= link_to image_tag(@idea.large_image), @idea.zoom_image.present? ? @idea.zoom_image : "/images/ideas/large/noimage.jpg", :class => "imagezoom", :rel => "gallery_#{@idea.item_num}"
    .clear
    .thumbnail_carousel.dontprint
      = link_to "prev", "#", :class => "prev_button carousel_control disabled", :id => "prev_button", :onclick => "return false;"
      #thumbnail_list
        %ul{:style => "padding:0;margin:0;"}
          %li.left= link_to image_tag(@idea.small_image), 'javascript:void(0);', :class => "thumbnail zoomThumbActive", :rel => "{gallery: 'gallery_#{@idea.item_num}', smallimage: '#{@idea.large_image}', largeimage: '#{@idea.zoom_image.present? ? @idea.zoom_image : "/images/ideas/large/noimage.jpg"}'}"
          - unless @idea.video.blank?
            %li.left= video_thumbnail(@idea.video)
          - @idea.images.each do |image|
            - next unless image.image?
            %li.left= link_to image_tag(image.image_url(:small)), 'javascript:void(0);', :class => "thumbnail", :rel => "{gallery: 'gallery_#{@idea.item_num}', smallimage: '#{image.image_url(:large)}', largeimage: '#{image.image_url}'}"
      = link_to "next", "#", :class => "next_button carousel_control", :id => "next_button", :onclick => "return false;"
    :javascript
      $(function() {
        $('.item-images').shadowOff();
        setTimeout("shadow_on()", 300);
        $("#thumbnail_list").jCarouselLite({
          btnPrev: "#prev_button",
          btnNext: "#next_button",
          scroll: 1,
          speed: 900,
          visible: 4,
          circular: false
        });
    
        if ($("#thumbnail_list").find("ul li").length > 4) {
          $(".thumbnail_carousel .carousel_control").show();
        } else {
          $(".thumbnail_carousel").css({width: "auto"});
        }
      });    
  %h3.item_title
    = @idea.name
    - unless @idea.public_life_cycle.blank?
      %span.life-cycle= @idea.public_life_cycle
    %br
    %span.idea-number== #{idea_name} ##{@idea.idea_num}
  .item_description
    - if @idea.description.present?
      %h4== #{is_er? || is_ee? ? 'Concept' : nil}#{is_er? || is_sizzix? ? "#{is_er? ? '/' : nil}Short Description" : nil}: 
      = @idea.description.try :html_safe
    - if @idea.objective.present? && !is_sizzix?
      %h4 Objective:
      = @idea.objective.try :html_safe  
    - if (is_ee_us? || is_er?) && @idea.grade_levels.count > 0
      %p
        %strong== Recommended Grade Level#{'s' if @idea.grade_levels.count > 1}: 
        = raw @idea.grade_levels.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}#{'&brand='+ @idea.item_group if @idea.item_group.present? && is_er?}&page=1&ideas=1"))} * ', '
    - if (is_ee? || is_er?) && @idea.curriculums.count > 0
      %p
        %strong== Curriculum#{'s' if @idea.curriculums.count > 1}: 
        = raw @idea.curriculums.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}#{'&brand='+ @idea.item_group if @idea.item_group.present? && is_er?}&page=1&ideas=1"))} * ', '
    - if (is_sizzix? || is_er?) && @idea.artists.count > 0
      %p
        %strong== Artist#{'s' if @idea.artists.count > 1}: 
        = raw @idea.artists.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}#{'&brand='+ @idea.item_group if @idea.item_group.present? && is_er?}&page=1&ideas=1"))} * ', '
    - if (is_sizzix? || is_er?) && @idea.themes.count > 0
      %p
        %strong== Theme#{'s' if @idea.themes.count > 1}: 
        = raw @idea.themes.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}#{'&brand='+ @idea.item_group if @idea.item_group.present? && is_er?}&page=1&ideas=1"))} * ', '
  .item_sociallinks.dontprint= facebook_like

  %div{ :class => "item_detail#{'-tabbed' if @idea.use_tabs}"}
    = render :partial => "index/#{'non_' unless @idea.use_tabs}tab_block", :locals => {:object => @idea}
  - unless @idea.use_tabs
    .item_cross-sell.dontprint
      - if @idea.products.displayable.count > 0
        .rounded
          %h4 Products Used:
          .related_products= render :partial => 'products/related_product', :collection => @idea.products.displayable, :as => :product
      - if @idea.four_related_criteria.count > 0
        .rounded
          %h4
            == Related #{idea_name.pluralize}
            %br
            = link_to "View All", catalog_path(:anchor => "facets=#{@idea.related_tag.facet_param}#{'&brand='+ @idea.item_group if @idea.item_group.present? && is_er?}&ideas=1&page=1"), :class => "minilink" if @idea.four_related_criteria.count > 4
          .related_ideas= render :partial => 'ideas/related_idea', :collection => @idea.four_related_ideas, :as => :idea