.breadcrumbs.dontprint
  = link_to_function 'back', "window.history.back()", :class => "link_back"
.item_images
  #large_image= image_tag(@idea.large_image)
  .dontprint
    .thumbnail.selected= link_to image_tag(@idea.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@idea.large_image)}'); return false;"
    - @idea.images.each do |image|
      - next unless image.image?
      .thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}'); return false;"
    - unless @idea.video.blank?
      = video_thumbnail(@idea.video)
    .clear  
%h3.item_title
  = @idea.name
  %span.idea-number== #{idea_name} ##{@idea.idea_num}
  - unless @idea.public_life_cycle.blank?
    %span.life-cycle= @idea.public_life_cycle
.item_description
  - if is_ee?
    %h4 Concept:
  = @idea.description.try :html_safe
  - unless @idea.objective.blank? || !is_ee? 
    %h4 Objective:
    = @idea.objective.try :html_safe  
  - if (is_ee_us? || is_er?) && @idea.grade_levels.count > 0
    %h4== Recommended Grade Level#{'s' if @idea.grade_levels.count > 1}:
    = @idea.grade_levels.map {|e| e.name} * ', '
  - if (is_ee_us? || is_er?) && @idea.curriculums.count > 0
    %h4== Curriculum#{'s' if @idea.curriculums.count > 1}:
    = @idea.curriculums.map {|e| e.name} * ', '
  - if (is_sizzix? || is_er?) && @idea.artists.count > 0
    %h4== Artist#{'s' if @idea.artists.count > 1}:
    = @idea.artists.map {|e| e.name} * ', '
  - if (is_sizzix? || is_er?) && @idea.themes.count > 0
    %h4== Theme#{'s' if @idea.themes.count > 1}:
    = @idea.themes.map {|e| e.name} * ', '
.item_sociallinks.dontprint= facebook_like

%div{ :class => "item_detail#{'-tabbed' if @idea.use_tabs}"}
  = render :partial => "#{'non_' unless @idea.use_tabs}tab_block", :locals => {:object => @idea}
- unless @idea.use_tabs
  .item_cross-sell
    - if @idea.products.send(current_system).count > 0
      .rounded
        %h4 Products Used:
        .related_products= render :partial => 'products/related_product', :collection => @idea.products.send(current_system), :as => :product
    - if @idea.four_related_criteria.count > 0
      .rounded
        %h4
          == Related #{idea_name.pluralize}
          = link_to "View All", catalog_path(:anchor => "facets=#{@idea.related_tag.facet_param}&ideas=1&page=1"), :class => "minilink" if @idea.four_related_criteria.count > 4
        .related_ideas= render :partial => 'ideas/related_idea', :collection => @idea.four_related_ideas, :as => :idea