.breadcrumbs.dontprint
  = link_to_function 'back', "window.history.back()", :class => "link_back"
.item_images
  #large_image= image_tag(@idea.large_image)
  .dontprint
    .thumbnail.selected= link_to image_tag(@idea.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@idea.large_image)}'); return false;"
    - @idea.images.each do |image|
      - next unless image.image?
      .thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}'); return false;"
    .clear  
%h3.item_title
  = @idea.name
  %span.idea-number== #{idea_name} ##{@idea.idea_num}
  %span.life-cycle= @idea.public_life_cycle
.item_description
  = @idea.description.try :html_safe
.item_sociallinks.dontprint= facebook_like

%div{ :class => "item_detail#{'-tabbed' if @idea.use_tabs}"}
  = render :partial => "#{'non_' unless @idea.use_tabs}tab_block", :locals => {:object => @idea}
- unless @idea.use_tabs
  .item_cross-sell
    - unless @idea.products.blank?
      .rounded
        %h4 Related Products:
        .related_products= render :partial => 'products/related_product', :collection => @idea.products, :as => :product
    - unless @idea.four_related_ideas.blank?
      .rounded
        %h4
          == Related #{idea_name.pluralize}
          = link_to "View All", catalog_path(:anchor => "facets=#{@idea.related_tag.facet_param}&ideas=1&page=1"), :class => "minilink"
        .related_ideas= render :partial => 'ideas/related_idea', :collection => @idea.four_related_ideas, :as => :idea