%h2
  = get_domain.capitalize
  Newsletter Signup
%img{ :src => "#{ is_sizzix? ? '/images/ui-backgrounds/newsletter_comp_sz.png' : '/images/ui-backgrounds/newsletter_comp_ee.png'  }",:style => "float:left; margin:0 10px 0 2px;", :width => "183", :height => "259"}
.ui-corner-all{ :class => "#{ is_sizzix? ? 'newsletter_topframe_sz' : 'newsletter_topframe_ee' }" }
  .newsletter_content_a
    %h2{:style=>"border-bottom:1px dotted #D4D1BF; margin-bottom:8px;"} Interested in keeping up to date with us?
    %p
      Stay in the know with
      == #{get_domain.capitalize}!
      By signing up to register with us, you get full access to our free consumer newsletters! Get the latest info on new items, clearance items, and items on sale! You will also keep notified of how you can recieve additional deals as well as keep notifed on the latest news at
      == #{get_domain.capitalize}!
    %br/
    All it requires is for you to fill out our short form below and you can immediately begin to recieve the latest updates!

.ui-corner-all{:class=>"newsletter_midframe"}
  .newsletter_content_b
    %h2{:style=>"margin-bottom:8px;", :class=>"signup_header"} 
      Thank you for your interest in receiving emails from
      = get_domain.capitalize
    To start receiving special offers, latest information of newest products, projects and other promotions please provide the below information and confirm your Newseletter signup to
    =get_domain.capitalize
    by confirming the link sent to your email address.
  .news_border
    = form_for @subscription, :url => url_for(:action => :create_subscription) do |f|
      %br
      %div{:style=>"position:relative; float:left;"}
        .news_frame_left{:class=>"ui-widget-header ui-widget ui-corner-all"}
          = f.error_messages
          .field
            = required_label f, :email, { :label_size => "50px" }
            = f.text_field :email
          .field
            = f.label :name, nil, :style => "width: 50px"
            = f.text_field :name
          .actions{:class=>"news_submit"}
            = f.submit :class => 'jqui_save'
        %br
      Yes, I'd like to subscribe to
      %strong= @list[1]
      = render :partial => 'segments'            
.newsletter_content_c
  %h2{:class=>"signup_header"} FAQs
  %p
    %div{:style=>"font-weight:bold;"}
      How can I subscribe to your email newsletter?
    Subscribing to the 
    %strong= @list[1]
    is easy! Simply sign up now at
    =get_domain.capitalize
    or just enter your email address in the bottom right corner of any page.
    %br
    %br
    %div{:style=>"font-weight:bold;"}
      How do I unsubscribe to your email newsletter?
    To remove your subscription to the
    %strong== #{@list[1]},
    please follow the unsubscribe link in your newsletter email. Or, please log in at
    =get_domain.capitalize
    and go to My Account page and uncheck the Subscription box.
    %br
    %br
    %div{:style=>"font-weight:bold;"}
      After subscribing, how can I ensure that I will continue to receive my newsletter?
    To ensure that your
    %strong= @list[1]
    newsletter is delivered to your inbox, not as spam, please ensure that our email address
    - if is_sizzix_us?
      %strong sizzixscoop@lyris.sizzix.com
    - if is_sizzix_uk?
      %strong sizzix_uk_consumers@lyris.sizzix.co.uk
    - if is_ee_us?
      %strong connection@lyris.ellison.com
    - if is_ee_uk?
      %strong ellison_education_uk@lyris.ellison.com
    is specified in your address book as soon as possible. This will prevent any deliveries to your Bulk or Junk mail folders.
    %br
    %br
    %div{:style=>"font-weight:bold;"}How can I prevent this from happening?
    Some email providers deliver
    %strong= @list[1]
    emails to your Bulk or Junk mail folders. Please flag these emails appropriately so that these emails are delivered to your inbox on time.
 
