= form_for @subscription, :url => url_for(:action => :create_subscription) do |f|
  = f.error_messages
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :name
    = f.text_field :name
  Yes, I'd like to subscribe to
  %strong= @list[1]
  - if @segments.present?
    and the following additional newsletter segments:
    %ul
      - @segments.each do |segment|
        %li
          = check_box_tag "subscription[segments][]", segment[0], @subscription.segments.include?(segment[0].to_s)
          = segment[1]
  .actions
    = f.submit :class => 'jqui_save'
        
 