%h2
  Newsletter Sign Up
- if is_sizzix_us?
  %img{ :src => "/images/ui-backgrounds/newsletter_comp_sz.png", :style => "float:left; margin:0 10px 0 2px;", :width => "183", :height => "259"}
- if is_sizzix_uk?
  %img{ :src => "/images/ui-backgrounds/newsletter_comp_sz_uk.png", :style => "float:left; margin:0 10px 0 2px;", :width => "183", :height => "259"}
- if is_ee_us? 
  %img{ :src => "/images/ui-backgrounds/newsletter_comp_ee.png", :style => "float:left; margin:0 10px 0 2px;", :width => "183", :height => "259"}
- if is_ee_uk? 
  %img{ :src => "/images/ui-backgrounds/newsletter_comp_eeuk.jpg", :style => "float:left; margin:0 10px 0 2px;", :width => "183", :height => "259"}
- if is_er_us? 
  %img{ :src => "/images/ui-backgrounds/newsletter_comp_er.png", :style => "float:left; margin:0 10px 0 2px;", :width => "183", :height => "259"}
.ui-corner-all{ :class => "#{ is_sizzix? ? 'newsletter_topframe_sz' : 'newsletter_topframe_ee' }" }
  .newsletter_content_a
    - if is_uk?
      %h2{:class=>"news_line"} 
        ==Stay In The Know with #{get_domain.capitalize}! 
    - else
      %h2{:class=>"news_line"} Interested in keeping up to date with us?
    %p
    - if is_uk?
      By signing up to our newsletter, you get full access to all our promotions, the latest news and much more. Keep up to date with exclusive projects from our designers and follow us on our blog and social media sites.
      %br
      %br
      To join all you need to do is fill out the form below. You will then be sent an email to the address you give, asking you to confirm these details. Simply click on the link in the email to confirm your registration and start receiving our newsletter.
    - else
      Stay in the know with
      == #{get_domain.capitalize}!
      By signing up to register with us, you get full access to our free consumer newsletters! Get the latest info on new items, clearance items, and items on sale! You will also keep notified of how you can recieve additional deals as well as keep notifed on the latest news at
      == #{get_domain.capitalize}!
      %br/
      %br/    
      All it requires is for you to fill out our short form below and you can immediately begin to recieve the latest updates!

.ui-corner-all{ :class=>"newsletter_midframe", :style => "#{ is_ee_us? ? "background:url('/images/static/discount_panel.jpg') bottom center no-repeat;" : "background:none;" }" }
  .newsletter_content_b
    - if is_uk?
      %h2{:style=>"margin-bottom:0;"}
        Join Up Now, You’re Almost There!
    - else
      %h2{:style=>"margin-bottom:8px;", :class=>"signup_header"}
        Subscribe Now!
        
  .news_border
    = form_for @subscription, :url => url_for(:action => :create_subscription) do |f|
      %br
      %div{:style=>"position:relative; float:left;"}
        .news_frame_left{:class=>"ui-widget-header ui-widget ui-corner-all"}
          = f.error_messages
          .field
            = required_label f, :email, { :label_size => "50px" }
            = f.text_field :email
          .field
            = f.label :name, nil, :style => "width: 50px"
            = f.text_field :name
          .actions{:class=>"news_submit"}
            = f.submit "Submit", :class => 'jqui_save'
        %br
      == Yes, please subscribe me to <strong>#{@list[1]}</strong>. 
      = render :partial => 'segments'


  .clear
  - if @subscribed.present?
    .error{ :style => "margin: 0 16px 12px 16px" }== The email address <strong>#{@subscribed.email}</strong> has already been subscribed to receive <strong>#{@list[1]}</strong>, but is still awaiting confirmation. Please follow the instructions in the confirmation email to confirm your subscription. You can request to send the confirmation email again by clicking on the Re-send confirmation email button below.
    %div{ :style => "margin: 0 0 12px 16px" }
      = form_tag({:action => 'resend_subscription_confirmation'}, :remote => true) do
        = hidden_field_tag :email, @subscription.email
        = raw recaptcha_tag(:ajax, :ssl => request.ssl?, :display => {:theme => 'white'})
        = submit_tag "Re-send confirmation email", :class => 'jqui_save', :style => "margin-top: 12px"
.newsletter_content_c
  %h2{:class=>"signup_header"} Hints
  %p
    %div{:style=>"font-weight:bold;"}
      == Ensure that you continue to receive <strong>#{@list[1]}</strong> after subscribing
    == To ensure that <strong>#{@list[1]} </strong> is delivered to your inbox, and not as treated as spam, please add the email address <strong>#{lyris_email}</strong> to your address book as soon as possible. This will prevent any deliveries to your "Bulk" or "Junk" mail folders.
    %br
    %br
    %div{:style=>"font-weight:bold;"}
      == Unsubscribe from <strong>#{@list[1]}</strong> 
    To cancel your subscription to 
    %strong== #{@list[1]},
    please follow the unsubscribe link in your newsletter email. Alternatively, you may Sign In at
    =get_domain.capitalize
    and go to your My Account profile (Newsletter Subscriptions tab) to uncheck subscription box and update your subscription preferences.
:javascript
  $(document).ready(function() {
    var validator = $("#new_subscription").validate({
      errorClass: "invalid",
      rules: {
        "subscription[email]": {
          required: true,
          email: true
        }
      },
      messages: {
        "subscription[email]": {
          required: "Please provide your email address.",
          email: "Please provide a valid email address."
        }
      }
    });
  });