= form_for @subscription, :url => url_for(:action => :create_subscription) do |f|
  = f.error_messages
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :name
    = f.text_field :name
  Yes, I'd like to subscribe to
  %strong= @list[1]
  = render :partial => 'segments'
  .actions
    = f.submit :class => 'jqui_save'
        
 