%img{:width => "183", :height => "259", :src => "/images/ui-backgrounds/newsletter_comp.png", :style => "float:left; margin:0 10px 0 2px;"}/
.ui-corner-all{:class=>"newsletter_topframe"}
  .newsletter_content_a
    %h2{:style=>"border-bottom:1px dotted #D4D1BF; margin-bottom:8px;"} Interested in keeping up to date with us?
    %p
      Stay in the know with
      == #{get_domain.capitalize}!
      By signing up to register with us, you get full access to our free consumer newsletters! Get the latest info on new items, clearance items, and items on sale! You will also keep notified of how you can recieve additional deals as well as keep notifed on the latest news at
      == #{get_domain.capitalize}!
    %br/
    All it requires is for you to fill out our short form below and you can immediately begin to recieve the latest updates!

.ui-corner-all{:class=>"newsletter_midframe"}
  .newsletter_content_b
    %h2{:style=>"margin-bottom:8px;", :class=>"signup_header"} Please Sign in Or Sign up to save your subscription preferences
    Sign up or Sign in to get full benefits of a
    =get_domain.capitalize
    online user account! Then once you have access to your personal
    =get_domain.capitalize
    MyAccount page you can select or edit any of your select interests, preferences, and features available on our website and we will save them for future use!
  .news_border
    = form_for @subscription, :url => url_for(:action => :create_subscription) do |f|
      .news_frame_right
        %img{:width => "194", :height => "32", :src => "/images/ui-backgrounds/newsletter_interest_select.png", :style => "float:left; margin: 4px 125px 8px;"}/
        %br
        Yes, I'd like to subscribe to
        %strong= @list[1]
        = render :partial => 'segments'
      .news_frame_center
        %img{:width => "208", :height => "32", :src => "/images/ui-backgrounds/newsletter_signup.png", :style => "float:left; margin: 4px 0 8px 112px;"}/
        %br
        .news_frame_left{:class => "ui-widget-#{ is_sizzix_us? ? 'header' : 'content'} ui-widget ui-corner-all"}
          = f.error_messages
          .field
            = required_label f, :email, { :label_size => "50px" }
            = f.text_field :email
          .field
            = f.label :name, nil, :style => "width: 50px"
            = f.text_field :name
          .actions{:class=>"news_submit"}
            = f.submit :class => 'jqui_save'
            
.newsletter_content_c
  %h2{:class=>"signup_header"} Instructions
  %p
    %div{:style=>"font-weight:bold;"}
      How can I subscribe to the 
      %strong= @list[1]
      email newsletter?
    Subscribing to the 
    %strong= @list[1]
    is easy! Simply sign up now at
    =get_domain.capitalize
    or just enter your email address in the bottom right corner of any page.
    %br
    %br
    %div{:style=>"font-weight:bold;"}
      How do I unsubscribe to the 
      %strong= @list[1]
      email newsletter?
    To remove your subscription to the
    %strong== #{@list[1]},
    please follow the unsubscribe link in your newsletter email. Or, please log in at
    =get_domain.capitalize
    and go to My Account page and uncheck the Subscription box.
    %br
    %br
    %div{:style=>"font-weight:bold;"}
      After subscribing, how can I ensure that I will continue to receive my
      %strong= @list[1]
      newsletter?
    To ensure that your
    %strong= @list[1]
    newsletter is delivered to your inbox, not as spam, please add the most recent newsletter to your email address book as soon as possible. This will prevent any deliveries to your Bulk or Junk mail folders.
    %br
    %br
    %div{:style=>"font-weight:bold;"}How can I prevent this from happening?
    Some email providers deliver
    %strong= @list[1]
    emails to your Bulk or Junk mail folders. Please flag these emails appropriately so that these emails are delivered to your inbox on time.
 
