.signup_frame1
  %h2
    New User Sign Up
  .ui-corner-all
    .newsletter_content_a
      %h2.news_line
      = form_tag newsletter_signup_path, id: 'newsletter-form-full' do
        .field
          = label_tag :email, "Email *"
          = text_field_tag :email, params[:email], required: true, email: :email, :onfocus => "if (this.value == 'Enter your email address'){this.value='';}", :onblur => "if (this.value == ''){this.value='Enter your email address';}", :size => 36, :style =>"color:#666;"
        - if is_sizzix_uk?
          .field
            = label_tag :confirm_email, "Confirm Email *"
            = text_field_tag :confirm_email, params[:confirm_email], required: true, email: :email
        = render partial: 'newsletter_form'
  
        = hidden_field_tag 'extras[trigger]', 'yes'
        - if is_sizzix_us?
          = hidden_field_tag 'demographics[37658]', params[:source] || 'Newsletter Signup Page'
        - elsif is_sizzix_uk?
          = hidden_field_tag 'demographics[37789]', params[:source] || 'Newsletter Signup Page'
        - elsif is_ee_us?
          = hidden_field_tag 'demographics[37783]', params[:source] || 'Newsletter Signup Page'
        - elsif is_er?
          = hidden_field_tag 'demographics[37801]', params[:source] || 'Newsletter Signup Page'
  
        .actions{:style=>"float:left;"}
          = submit_tag :submit, value: 'Sign up for the Newsletter Now', class: 'lyris_btn_css'

  .clear
  
  .signup_div
  %h2
    Existing User Sign In
  - if flash[:existing_alert]
    %p.dontprint.error= flash[:existing_alert]
  .ui-corner-all
    .newsletter_content_a
      %h2.news_line
      = form_tag newsletter_signup_path, id: 'newsletter-form-existing' do
        .field
          = label_tag :email, "Email *"
          = text_field_tag :email, params[:email], required: true, email: :email, :onfocus => "if (this.value == 'Enter your email address'){this.value='';}", :onblur => "if (this.value == ''){this.value='Enter your email address';}", :size => 36, :style =>"color:#666;"
          = hidden_field_tag 'existing', true
  
        .actions{:style=>"float:left;"}
          = submit_tag :submit, value: 'Update your Newsletter Preferences Now', class: 'lyris_btn_css'
          
.nletter_img
.signup_copy1
  %h2
    Ensure that you continue to receive your newsletter after subscribing
  To ensure that your newsletter is delivered to your email and "inbox", and not as treated as spam, please add the email address, <strong>#{new_lyris_email}</strong> to your address book as soon as possible. This will prevent any deliveries to your "Bulk" or "Junk" mail folders.


:coffeescript
  $('#newsletter-form-full').validate()
  $('#newsletter-form-existing').validate()

- if is_sizzix_uk?
  :coffeescript
    $('#confirm_email').rules('add',{equalTo: "#email"})
