%h2
  New User Sign Up
.ui-corner-all
  .newsletter_content_a
    %h2.news_line
    = form_tag newsletter_signup_path, id: 'newsletter-form-full' do
      .field
        = label_tag :email, "Email *"
        = text_field_tag :email, nil, required: true, email: :email
      .field
        = label_tag 'demographics[1]', "First Name *"
        = text_field_tag 'demographics[1]', nil, required: true
      - if is_sizzix_us?
        .field
          = label_tag 'demographics[2]', "Last Name *"
          = text_field_tag 'demographics[2]', nil, required: true
        .field
          = label_tag 'demographics[11]', "Gender *"
          Male
          = radio_button_tag 'demographics[11]', 'Male', false, required: true
          Female
          = radio_button_tag 'demographics[11]', 'Female', false, required: true
        .field
          = label_tag 'demographics[36031]', "Country *"
          = select_tag 'demographics[36031]', options_for_select(['United States', 'Canada']), prompt: "--- select ---", required: true
        .field
          = label_tag 'demographics[37850]', "State/Province *"
          = select_tag 'demographics[37850]', grouped_options_for_select({USA: states, Canada: provinces}, nil, "--- select ---"), required: true
        .field
          = label_tag 'demographics[37655]', "DOB *"
          = select_tag 'demographics[37655]', options_for_select(Date::MONTHNAMES), required: true
          = select_tag 'demographics[37656]', options_for_select((1..31).to_a.unshift(["dd", nil])), required: true
          = select_tag 'demographics[37802]', options_for_select((1910..2012).to_a.unshift(["yyyy", nil])), required: true
        .field
          = label_tag 'demographics[37654][]', "Which Sizzix Die-cutting Machines do you own?"
          Big Shot™
          = check_box_tag 'demographics[37654][]', 'Big Shot', false
          Big Shot™ Pro
          = check_box_tag 'demographics[37654][]', 'Big Shot Pro', false
          BIGKick™
          = check_box_tag 'demographics[37654][]', 'BIGKick', false
          eClips™
          = check_box_tag 'demographics[37654][]', 'eClips', false
          Sidekick™
          = check_box_tag 'demographics[37654][]', 'Sidekick', false
          Texture Boutique™
          = check_box_tag 'demographics[37654][]', 'Texture Boutique', false
          Vagabond™
          = check_box_tag 'demographics[37654][]', 'Vagabond', false
          Vintaj BIGKick™
          = check_box_tag 'demographics[37654][]', 'Vintaj BIGKick', false
          Other
          = check_box_tag 'demographics[37654][]', 'Other', false
        .field
          = label_tag 'demographics[35424][]', "Areas of interest"
          Cardmaking
          = check_box_tag 'demographics[35424][]', 'Cardmaking', false
          Electronic Cutting
          = check_box_tag 'demographics[35424][]', 'Electronic Cutting', false
          Fashion
          = check_box_tag 'demographics[35424][]', 'Fashion', false
          Home Decor
          = check_box_tag 'demographics[35424][]', 'Home Decor', false
          Jewelry
          = check_box_tag 'demographics[35424][]', 'Jewelry', false
          Papercrafting
          = check_box_tag 'demographics[35424][]', 'Papercrafting', false
          Quilting & Appliqué
          = check_box_tag 'demographics[35424][]', 'Quilting & Appliqué', false
          Scrapbooking
          = check_box_tag 'demographics[35424][]', 'Scrapbooking', false
        = hidden_field_tag 'demographics[37658]', 'Newsletter Signup Page'
        = hidden_field_tag 'extras[doubleoptin]', 'yes'

      - elsif is_sizzix_uk?
        .field
          = label_tag 'demographics[37852]', "Country *"
          = select_tag 'demographics[37852]', options_for_select(Country.order_by([:name, :asc]).map(&:name)), prompt: "--- select ---", required: true
        .field
          = label_tag 'demographics[37788]', "DOB *"
          = select_tag 'demographics[37788]', options_for_select((1..31).to_a.unshift(["dd", nil])), required: true
          = select_tag 'demographics[37689]', options_for_select(Date::MONTHNAMES), required: true
          = select_tag 'demographics[37791]', options_for_select((1910..2012).to_a.unshift(["yyyy", nil])), required: true
        .field
          = label_tag 'demographics[37653][]', "Which Sizzix Die-cutting Machines do you own?"
          Big Shot™
          = check_box_tag 'demographics[37653][]', 'Big Shot', false
          Big Shot™ Pro
          = check_box_tag 'demographics[37653][]', 'Big Shot Pro', false
          eClips™
          = check_box_tag 'demographics[37653][]', 'eClips', false
          Texture Boutique™
          = check_box_tag 'demographics[37653][]', 'Texture Boutique', false
          Vagabond™
          = check_box_tag 'demographics[37653][]', 'Vagabond', false
          Vintaj BIGKick™
          = check_box_tag 'demographics[37653][]', 'Vintaj BIGKick', false
          I don't own any Sizzix® machines
          = check_box_tag 'demographics[37653][]', "I don't own any Sizzix machines", false
        .field
          = label_tag 'demographics[35658][]', "Areas of interest"
          Appliqué
          = check_box_tag 'demographics[35658][]', 'Appliqué', false
          Cardmaking
          = check_box_tag 'demographics[35658][]', 'Cardmaking', false
          Papercrafting
          = check_box_tag 'demographics[35658][]', 'Papercrafting', false
          Quilting
          = check_box_tag 'demographics[35658][]', 'Quilting', false
          Scrapbooking
          = check_box_tag 'demographics[35658][]', 'Scrapbooking', false
          Home Décor
          = check_box_tag 'demographics[35658][]', 'Home Décor', false
          Classroom Activites
          = check_box_tag 'demographics[35658][]', 'Classroom Activites', false
        .field
          = label_tag 'demographics[37690]', "Crafting interest"
          = text_field_tag 'demographics[37690]', nil
        = hidden_field_tag 'demographics[37789]', 'Newsletter Signup Page'


      - elsif is_ee_us?
        .field
          = label_tag 'demographics[37782]', "Country"
          = select_tag 'demographics[37782]', options_for_select(['United States', 'Canada']), prompt: "--- select ---"
        .field
          = label_tag 'demographics[37851]', "State/Province"
          = select_tag 'demographics[37851]', grouped_options_for_select({USA: states.map {|e| e[0]}, Canada: provinces.map {|e| e[0]}}, nil, "--- select ---")
        .field
          = label_tag 'demographics[37784]', "Where do you teach? *"
          = select_tag 'demographics[37784]', options_for_select([['-- select --', nil],"Childcare Afterschool, Year-Round & Seasonal Programs", "Home School", "Preschool/Daycare", "Elementary School", "Middle School", "High School", "College/ University", "Technical/Trade School", "Sunday School", "Other"]), required: true
        .field
          = label_tag 'demographics[37786]', "School/Organization"
          = select_tag 'demographics[37786]', options_for_select([['-- select --', nil],"Business (Resellers, Distributors, Independents)", "Career Center", "School District Office", "Faith Based School", "Government (Federal, State & Local Agencies)", "Non-Profit - Head Start/Even Start, Museums", "Hospital/Media Center", "Library/Media Center", "Senior Center", "Place of Worship", "Private School", "Public School", "PTO/PTA", "Teacher Resource Center", "Other"]), required: true
        .field
          = label_tag 'demographics[37787][]', "Which Machine(s) do you use?"
          Electronic Cutting Machine
          = check_box_tag 'demographics[37787][]', 'Electronic Cutting Machine', false
          Press Machine
          = check_box_tag 'demographics[37787][]', 'Press Machine', false
          Roller Machine
          = check_box_tag 'demographics[37787][]', 'Roller Machine', false
          Other
          = check_box_tag 'demographics[37787][]', 'Other', false
        .field
          = label_tag 'demographics[37785][]', "Areas of interest"
          Arts & Crafts
          = check_box_tag 'demographics[37785][]', 'Arts & Crafts', false
          English Language Arts
          = check_box_tag 'demographics[37785][]', 'English Language Arts', false
          Math
          = check_box_tag 'demographics[37785][]', 'Math', false
          Science
          = check_box_tag 'demographics[37785][]', 'Science', false
          Social Studies
          = check_box_tag 'demographics[37785][]', 'Social Studies', false
          Fundraising
          = check_box_tag 'demographics[37785][]', 'Fundraising', false
          Collaborative Summer Library Program (CSLP)
          = check_box_tag 'demographics[37785][]', 'Collaborative Summer Library Program (CSLP)', false
          Science Technology Engineering Math (STEM)
          = check_box_tag 'demographics[37785][]', 'Science Technology Engineering Math (STEM)', false
          Special Education
          = check_box_tag 'demographics[37785][]', 'Special Education', false
          Vacation Bible Study (VBS)
          = check_box_tag 'demographics[37785][]', 'Vacation Bible Study (VBS)', false
          Other
          = check_box_tag 'demographics[37785][]', 'Vacation Bible Study (VBS)', false
        = hidden_field_tag 'demographics[37789]', 'Other'
        = hidden_field_tag 'extras[doubleoptin]', 'yes'


      = hidden_field_tag 'extras[trigger]', 'yes'

      .actions
        = submit_tag :submit

:coffeescript
  $('#newsletter-form-full').validate()
