.breadcrumbs
  breadcrumbs will go here... for now, here's a link
  = link_to 'back', products_path
.product_main
  .product_images
    #large_image= image_tag(@product.large_image)
    .thumbnail.selected= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}');return false;"
    - @product.images.each do |image|
      .thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}');return false;"
    .clear  
  .product_detail
    %h3
      = @product.name
      %span.life-cycle= @product.public_life_cycle
    %p= @product.description.try :html_safe
    = facebook_like
  .product_tabs
    .tab-block
      %ul
        - @product.tabs.current.each do |tab|
          %li= link_to tab.name, "#tabs-#{tab.id}"
      - @product.tabs.each do |tab|
        %div{:id => "tabs-#{tab.id}"}= render tab
    :javascript
      $(function() {
        $(".tab-block").tabs();
      });
  
.product_sidebar
  .buybox.rounded
    %h4
      Item #
      = @product.item_num
    %p= display_product_price(@product)
    = add_to_cart_button(@product)
  %h4 You May Also Like
  %h4 Recently Viewed Items
  %h4 On Sale Now!
  