.breadcrumbs.dontprint
  = link_to_function 'back', "window.history.back()", :class => "link_back"
.item_images
  #large_image= image_tag(@product.large_image)
  .dontprint
    .thumbnail.selected= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}'); return false;"
    - @product.images.each do |image|
      - next unless image.image?
      .thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}'); return false;"
    .clear  
%h3.item_title
  = @product.name.html_safe
  %span.life-cycle= @product.public_life_cycle
.item_description
  = @product.description.try :html_safe
.item_sociallinks.dontprint= facebook_like
.buybox.rounded
  %h4.itemnumber== Item ##{@product.item_num}
  %h4= display_product_price(@product)
  .dontprint
    = add_to_cart_button(@product, 'add_to_cart detail')
- if @product.product_line.present? && @product.product_line.compatibilities.length > 0
  -# TODO: cache + move to a helper
  .item_compatibility
    %h4 Compatibility
    %p This [TODO: @product.item_type] is compatible with these product lines:
    %ul
      - @product.product_line.compatibilities.each do |compatibility|
        - next unless compatibility.compatible_tag.present?
        %li
          %div{:style => "display:none"}
            %div{:id => "compatible_tag_#{compatibility.id}", :class => "compatibility_detail"}
              - if compatibility.products.length > 0
                %h4
                  == #{@product.name.html_safe} requires
                  %strong==#{pluralize compatibility.products.length, "additional accessory"}
                  for full compatibility
                = render :partial => 'products/compatibility_product', :collection => Product.available.where(:item_num.in => compatibility.products).cache, :spacer_template => 'tabs/separator', :as => :product
              - else
                %h4
                  == #{compatibility.compatible_tag.name.html_safe} is
                  %strong fully compatible
                  == with #{@product.name.html_safe}
              .clear
              .search_related.ui-corner-all{:class => "ui-widget-#{ is_sizzix? ? 'header' : 'content'}"}
                %ul
                  %li
                    == Search for more #{link_to compatibility.compatible_tag.name.html_safe, catalog_path(:anchor => "facets=#{compatibility.compatible_tag.facet_param}&page=1")} in our catalog
                    %span.right= link_to image_tag(compatibility.compatible_tag.list_page_img), catalog_path(:anchor => "facets=#{compatibility.compatible_tag.facet_param}&page=1")

          = link_to "#compatible_tag_#{compatibility.id}", :id => "compatibility_thumbnail_#{compatibility.id}", :class => "lightbox #{compatibility.products.present? ? 'link_compatibility' : nil} tooltip_#{compatibility.products.length}-items" do
            = compatibility.compatible_tag.name.html_safe
            :javascript
              $('.tooltip_#{compatibility.products.length}-items').CreateBubblePopup({
                position: 'top',
                align: 'center',
                tail: {
                  align: 'middle',
                  hidden: false
                },
                selectable: true,
                innerHtml: '<div style="width:175px;"><strong>#{pluralize compatibility.products.length, "additional accessory"}</strong> required</div>',
                innerHtmlStyle: {
                  color: '#333333',
                  'text-align': 'center'
                },
                themeName: 'azure',
                themePath: '/images/ui-plugins/bubblepopup'
              });

    .clear
    %p.icon-info
      == Items denoted by the #{image_tag("/images/ui-icons/set_fugue/16x16/drop-shadow/plus.png", :alt => "Compatibility Info", :title => "Compatibility Info")} icon require additional accessories for complete compatibility.
      %br
      Click on each for full details    

%div{ :class => "item_detail#{'-tabbed' if @product.use_tabs}"}
  = render :partial => "#{'non_' unless @product.use_tabs}tab_block", :locals => {:object => @product}
- unless @product.use_tabs
  .item_cross-sell.rounded
    - unless @product.ideas.blank?
      %h4 Related Ideas:
      .related_ideas= render :partial => 'ideas/related_idea', :collection => @product.ideas, :as => :idea
    - unless @product.four_related_products.blank?
      %h4
        Related Products
        = link_to "View All", catalog_path(:anchor => "facets=#{@product.related_tag.facet_param}&page=1#{'&outlet=1' if @product.outlet}"), :class => "minilink"
      .related_products= render :partial => 'products/related_product', :collection => @product.four_related_products, :as => :product