.product_min{:style => "width:780px"}
  %h3.item_title
    = @product.name
    %span.life-cycle= @product.public_life_cycle
  .item_images
    #large_image= image_tag(@product.large_image)
    .thumbnail.selected= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}'); return false;"
    - @product.images.each do |image|
      - next unless image.image?
      .thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}'); return false;"
  .buybox.rounded
    %h4.itemnumber
      Item #
      = @product.item_num
    %h4= display_product_price(@product)
    = add_to_cart_button(@product, 'add_to_cart detail')
  %p= @product.description.try :html_safe
  .clear
  - unless @product.four_related_products.blank?
    %h4 Related Products:
    = link_to "View All", catalog_path(:anchor => "facets=#{@product.related_tag.facet_param}&page=1#{'&outlet=1' if @product.outlet}"), :onclick => "$.fancybox.close()"
    .related_products= render :partial => 'products/related_product', :collection => @product.four_related_products, :as => :product
  #tab_accordion
    - @product.tabs.current.each do |tab|
      %h3= link_to tab.name, "#"
      %div{:id => "tabs-#{tab.id}"}= render 'tabs/tab', :tab => tab
:javascript
  $(function() {
    $("#tab_accordion").accordion();
    initialize_buttons();
  });