.breadcrumbs.dontprint
  = link_to_function 'back', "window.history.back()", :class => "link_back"
.item_images
  #large_image= image_tag(@product.large_image)
  .dontprint
    .thumbnail.selected= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}'); return false;"
    - @product.images.each do |image|
      - next unless image.image?
      .thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}'); return false;"
    .clear  
%h3.item_title
  = @product.name.html_safe
  %span.life-cycle= @product.public_life_cycle
.item_description
  = @product.description.try :html_safe
.item_sociallinks.dontprint= facebook_like
.buybox.rounded
  %h4.itemnumber== Item ##{@product.item_num}
  %h4= display_product_price(@product)
  .dontprint
    = add_to_cart_button(@product, 'add_to_cart detail')
- if @product.product_line.present? && @product.product_line.compatibilities.length > 0
  .item_compatibility
    %h4 Compatibility
    %p This [TODO: @product.item_type] is compatible with the following items:
    %ul.plain
      - @product.product_line.compatibilities.each do |compatibility|
        - next unless compatibility.compatible_tag.present?
        %li
          %div{:id => "compatible_tag_#{compatibility.id}", :style => "display:none"}
            .item-block_related.product
              %p.item_image= link_to image_tag(compatibility.compatible_tag.list_page_img), catalog_path(:anchor => "facets=#{compatibility.compatible_tag.facet_param}&page=1")
              %p.item_name= link_to compatibility.compatible_tag.name.html_safe, catalog_path(:anchor => "facets=#{compatibility.compatible_tag.facet_param}&page=1")
            - if compatibility.products.length > 0
              .plus_sign.ui-icon.ui-icon-plusthick
              = render :partial => 'products/compatibility_product', :collection => Product.available.where(:item_num.in => compatibility.products).cache, :spacer_template => 'tabs/separator', :as => :product
          = link_to "#", :id => "compatibility_thumbnail_#{compatibility.id}" do
            %span{:class => compatibility.products.present? ? 'compatibility-plus' : nil}
            = image_tag(compatibility.compatible_tag.try(:list_page_img), :class => "thumbnail", :size => "65x65")    
          :javascript
            $('#compatibility_thumbnail_#{compatibility.id}').CreateBubblePopup({
              position: 'top',
              align: 'center',
              tail: {
                align: 'middle',
                hidden: false
              },
              selectable: true,
              innerHtml: $('#compatible_tag_#{compatibility.id}').html(),
              innerHtmlStyle: {
                color: '#333333',
                'text-align': 'left'
              },
              themeName: 'azure',
              themePath: '/images/ui-plugins/bubblepopup'
            });

    .clear
    %p== What does #{image_tag("/images/ui-icons/set_fugue/16x16/drop-shadow/plus-octagon-frame.png", :alt => "Compatibility Plus", :title => "Compatibility Plus", :class => "tooltip_plusinfo")} mean?
    :javascript
      $('.tooltip_plusinfo').CreateBubblePopup({
        position: 'top',
        align: 'center',
        tail: {
          align: 'middle',
          hidden: false
        },
        selectable: true,
        innerHtml: '<div style="width:175px;">Machines with this symbol require a few additional accessories before they can be used with this die.</div>',
        innerHtmlStyle: {
          color: '#333333',
          'text-align': 'center'
        },
        themeName: 'azure',
        themePath: '/images/ui-plugins/bubblepopup'
      });

%div{ :class => "item_detail#{'-tabbed' if @product.use_tabs}"}
  = render :partial => "#{'non_' unless @product.use_tabs}tab_block", :locals => {:object => @product}
- unless @product.use_tabs
  .item_cross-sell.rounded
    - unless @product.ideas.blank?
      %h4 Related Ideas:
      .related_ideas= render :partial => 'ideas/related_idea', :collection => @product.ideas, :as => :idea
    - unless @product.four_related_products.blank?
      %h4
        Related Products
        = link_to "View All", catalog_path(:anchor => "facets=#{@product.related_tag.facet_param}&page=1#{'&outlet=1' if @product.outlet}"), :class => "minilink"
      .related_products= render :partial => 'products/related_product', :collection => @product.four_related_products, :as => :product