= link_to 'back', products_path
#product_detail.rounded
  .info
    .item_num
      = @product.item_num
      %span.life_cycle= @product.life_cycle
    .title= @product.name
    .price= display_product_price(@product)
    .desc= @product.description.try :html_safe
    = add_to_cart_button(@product)
  .images
    #large_image= image_tag(@product.large_image)
    .left.thumbnail.selected= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}');return false;"
    - @product.images.each do |image|
      .left.thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}');return false;"
    .clear  
#product_tabs.rounded
  %ul.tabs
    - @product.tabs.each do |tab|
      %li.rounded_top= link_to tab.name, "#tabs-#{tab.id}"
  .clear
  - @product.tabs.each do |tab|
    %div{:id => "tabs-#{tab.id}"}= render tab
:javascript
  $(function() {
  	$("#product_tabs").tabs();
  });
