#product_detail.rounded
  .info
    %div= @product.item_num
    .title= @product.name
    .price= display_product_price(@product)
    .desc= @product.description.try :html_safe
  .images
    #large_image= image_tag(@product.large_image)
    .left.thumbnail.selected= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}');return false;"
    - @product.images.each do |image|
      .left.thumbnail= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}');return false;"
    .clear  
  = link_to 'back', products_path