.breadcrumbs.dontprint
  = link_to_function 'back', "window.history.back()", :class => "link_back"
.item_images
  - if @product.outlet
    .clearance_flag= image_tag("/images/ui-objects/pricetag_outlet_detail.png", :alt => "On Sale!", :title => "On Sale!")
  #large_image= image_tag(@product.large_image)
  #item_thumbnails.dontprint
    %ul{:style => "padding:0;margin:0;"}
      %li.left= link_to image_tag(@product.small_image), '#', :onmouseover => "$('#large_image').html('#{image_tag(@product.large_image)}'); return false;", :class => "thumbnail"
      - unless @product.video.blank?
        %li.left= video_thumbnail(@product.video)
      - @product.images.each do |image|
        - next unless image.image?
        %li.left= link_to image_tag(image.image_url(:small)), '#', :onmouseover => "$('#large_image').html('#{image_tag(image.image_url(:large))}'); return false;", :class => "thumbnail"
    .controls{ :style => "display: none"}
      = link_to "prev", "#", :class => "prev_button", :id => "prev_item_thumb", :onclick => "return false;"
      |
      = link_to "next", "#", :class => "next_button", :id => "next_item_thumb", :onclick => "return false;"
    :javascript
      $(function() {
        $("#item_thumbnails").jCarouselLite({
          btnPrev: "#prev_item_thumb",
          btnNext: "#next_item_thumb",
          scroll: 1,
          speed: 900,
          visible: 6,
          circular: false
        });
      
        if ($("#item_thumbnails").find("ul li").length > 6) {
          $("#item_thumbnails .controls").slideDown();
        }
      });    
%h3.item_title
  = @product.name.html_safe
  %span.life-cycle= @product.public_life_cycle
.item_sociallinks.dontprint= facebook_like
.buybox
  .left.dontprint
    %h4== Item ##{@product.item_num}
    %h4= display_product_price(@product)
  .right.dontprint
    = add_to_cart_button(@product, 'add_to_cart detail')
.item_description
  = @product.description.try :html_safe
  %p= link_to "Download Instructions", @product.instructions, :target => '_blank', :title => "Download Instructions", :class => "link_instructions" if @product.instructions.present?
.item_categories{ :style => "#{@product.designers.length > 0 ? nil : 'width: 470px; margin-right: 0'}"}
  - if @product.categories.count > 0
    %p
      %strong= @product.categories.count > 1 ? 'Categories:' : 'Category:'
      = raw @product.categories.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}&page=1#{'&outlet=1' if @product.outlet}"))} * ', '
  - else
    &nbsp;
  - if !is_ee? && @product.themes.count > 0
    %p
      %strong== Theme#{'s' if @product.themes.count > 1}: 
      = raw @product.themes.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}&page=1#{'&outlet=1' if @product.outlet}"))} * ', '
  - if is_ee? && @product.curriculums.count > 0
    %p
      %strong== Curriculum#{'s' if @product.curriculums.count > 1}: 
      = raw @product.curriculums.map {|e| link_to(e.name, catalog_path(:anchor => "facets=#{e.facet_param}&page=1#{'&outlet=1' if @product.outlet}"))} * ', '
- if @product.designers.count > 0
  .item_designers
    %p.right
      %strong Designed by
    #item_designers_thumbnails
      %ul
        - @product.designers.each do |designer|
          - next if designer.list_page_img.blank?
          %li= link_to image_tag(designer.list_page_img, :width => 125, :height => 125), catalog_path(:anchor => "facets=#{designer.facet_param}&page=1#{'&outlet=1' if @product.outlet}"), :title => designer.name
      - if @product.designers.count > 1
        :javascript
          $(function() {
            $("#item_designers_thumbnails").jCarouselLite({
              scroll: 1,
              visible: 1,
              circular: true,
              auto: 8000,
              circular: true,
              beforeStart: function(a) {
                $(a).parent().fadeTo(1000, 0);
                var bg = $(a).find('img').attr('src');
                $('#item_designers_thumbnails').css({backgroundImage: "url("+bg+")"}, 1000);
              },
              afterEnd: function(a) {
                $(a).parent().fadeTo(1000, 1);
              }
            });
          });
      - else
        :javascript
          $(function() {
            $("#item_designers_thumbnails").css({visibility: "visible"});
          });
          
- if @product.product_line.present? && @product.product_line.compatibilities.length > 0
  -# TODO: cache + move to a helper
  .item_compatibility
    %p
      %strong Machine Compatibility: 
      == This #{@product.item_type} is compatible with these product lines
    #item_compatibility_thumbnails
      %ul
        - @product.product_line.compatibilities.each do |compatibility|
          - next unless compatibility.compatible_tag.present?
          %li
            %div{:style => "display:none"}
              %div{:id => "compatible_tag_#{compatibility.id}", :class => "compatibility_detail"}
                %h4
                  %strong== #{compatibility.compatible_tag.name.html_safe}
                  - if compatibility.products.length > 0
                    requires
                    %strong==#{pluralize compatibility.products.length, "additional accessory"}
                    == for full compatibility
                  - else
                    %strong is fully compatible
                  == with #{@product.name.html_safe}
                .compatible_tag.ui-corner-all{:class => "ui-widget-#{ is_sizzix? ? 'header' : 'content'}"}
                  = link_to image_tag(compatibility.compatible_tag.list_page_img), catalog_path(:anchor => "facets=#{compatibility.compatible_tag.facet_param}&page=1")
                .plus_sign.ui-icon.ui-icon-plusthick
                - if compatibility.get_products.count > 0
                  = render :partial => 'products/compatibility_product', :collection => compatibility.get_products, :spacer_template => 'tabs/separator', :as => :product
                .clear
                %p== Search for more #{link_to compatibility.compatible_tag.name.html_safe, catalog_path(:anchor => "facets=#{compatibility.compatible_tag.facet_param}&page=1")} in our catalog

            = link_to image_tag(compatibility.compatible_tag.list_page_img, :width => "65", :height => "65"), "#compatible_tag_#{compatibility.id}", :id => "compatibility_thumbnail_#{compatibility.id}", :class => "lightbox thumbnail", :alt => "#{compatibility.compatible_tag.name.html_safe}", :title => "#{compatibility.compatible_tag.name.html_safe}"
      .controls{ :style => "display: none"}
        = link_to "prev", "#", :class => "prev_button", :id => "prev_compat_thumb", :onclick => "return false;"
        |
        = link_to "next", "#", :class => "next_button", :id => "next_compat_thumb", :onclick => "return false;"
      :javascript
        $(function() {
          $("#item_compatibility_thumbnails").jCarouselLite({
            btnPrev: "#prev_compat_thumb",
            btnNext: "#next_compat_thumb",
            scroll: 1,
            speed: 900,
            visible: 6,
            circular: false
          });
      
          if ($("#item_compatibility_thumbnails").find("ul li").length > 6) {
            $("#item_compatibility_thumbnails .controls").slideDown();
          }
        });
%div{ :class => "item_detail#{'-tabbed' if @product.use_tabs}"}
  = render :partial => "#{'non_' unless @product.use_tabs}tab_block", :locals => {:object => @product}
- unless @product.use_tabs
  .item_cross-sell
    - if @product.ideas.available.count > 0
      .rounded
        %h4== Related #{idea_name.pluralize}:
        .related_ideas= render :partial => 'ideas/related_idea', :collection => @product.ideas.available, :as => :idea
    - if @product.four_related_criteria.count > 0
      .rounded
        %h4
          Related Products
          %br
          = link_to "View All", catalog_path(:anchor => "facets=#{@product.related_tag.facet_param}&page=1#{'&outlet=1' if @product.outlet}"), :class => "minilink" if @product.four_related_criteria.count > 4
        .related_products= render :partial => 'products/related_product', :collection => @product.four_related_products, :as => :product