%h2 Feedback History
- if @feedback.expires_at > Time.zone.now
  %strong== Feedback Number: #{@feedback.number}
  %br
  %strong== Subject: #{@feedback.subject}
  %br
  %strong== Customer Email Address: #{@feedback.email}
  %ul#feedback_history= render @feedback.comments
  = form_for(@feedback.comments.build, :url => {:controller => :index, :action => 'add_comment', :id => @feedback, :secure => true}, :remote => true, :html => {:id => "contact_form", :method => :post}) do |f|
    .field
      = required_label f, :message, {:label => "Your Comments", :label_size => "auto"}
      %br
      = f.text_area :message
    = raw recaptcha_tag(:ajax, :ssl => request.ssl?, :display => {:theme => 'white'})  
    .actions
      = f.submit "Submit", :class => 'jqui_save'
      = link_to 'Cancel', contact_path, :class => 'jqui_cancel'
- else
  %p== Your Inquiry reference link expired. Please create a #{link_to "new one", contact_path}.