- cache_unless params[:q].present?, [params.to_params.gsub("%", ":"), current_system, current_locale, ecommerce_allowed?, Product.retailer_discount_level], :expires_in => idea? ? 3.hours : 15.minutes do
  == $('#products_filter').html('#{escape_javascript(render(:partial => "index/catalog_filter"))}');
  == $('#product_catalog').html('#{escape_javascript(render(:partial => "index/product_results"))}');
  == $('#catalog_breadcrumbs').html('#{escape_javascript(catalog_breadcrumbs)}');
  - if @breadcrumb_tags.blank? && params[:price].blank? && params[:q].blank?
    == document.title = document.title.replace(/^#{outlet? ? 'Outlet' : 'Catalog'}[^|]+|/, '#{outlet? ? 'Outlet' : 'Catalog'} ')
  - else
    == document.title = document.title.replace(/^#{outlet? ? 'Outlet' : 'Catalog'}[^|]+|/, '#{outlet? ? 'Outlet' : 'Catalog'} - #{escape_javascript(@breadcrumb_tags.map {|t| t.name}.concat([price_label, keyword_label]).compact.join(" > ").html_safe)} ')
  == _gaq.push(['_setAccount', '#{ga_tracker_id}']);
  == _gaq.push(['_trackPageview', location.pathname + '?#{request.env["QUERY_STRING"].html_safe}']);
  shadow_on();
  initialize_buttons();
  initialize_facets(#{'true' if is_ee_uk?});
  highlight_keyword();
  initialize_lightboxes();
  er_number_only();
  $(document).ready(function(){
  $('#{(@facets_hash.map {|e| e[/\w+/]} | ["category", "theme"]).map {|e| "#facet_#{e}"} * ', '}').trigger('click');
  $('#facet_item_group').trigger('click');
  });
  - if is_er? && ecommerce_allowed?
    $('.add_to_cart_multi').show();
  
