#products_filter
  - if @landing_page.quick_search
    %h3== Quick #{@landing_page ? @landing_page.name : 'Products'} Search
    #quick_search.ui-widget.ui-widget-content.ui-corner-all= render :partial => 'quick_search'
  = render :partial => "index/catalog_filter"
.mainbar.last
  %h1= @landing_page.name
  - unless @landing_page.short_desc.blank?
    %h3= @landing_page.short_desc
  = render @landing_page.visual_assets.current