%h1= @landing_page.name
%h3= @landing_page.short_desc
%br
#products_filter= render :partial => "index/catalog_filter"
#landing_middle
  %div= @landing_page.content.html_safe
  %h2 New Arrivals
  = link_to "prev", "#", :class => "prev_button", :id => "prev_button_new_arrivals_xsell"
  = link_to "next", "#", :class => "next_button", :id => "next_button_new_arrivals_xsell"
  .product_carousel#new_arrivals_xsell
    %ul
      - @products.each do |product|
        %li.product_element
          = image_tag(product.medium_image)
          = link_to product.name, product_url(:id => product)
          %p= display_product_price(product)
  .clear
  %h2 Recommended
  = link_to "prev", "#", :class => "prev_button", :id => "prev_button_recommended_xsell"
  = link_to "next", "#", :class => "next_button", :id => "next_button_recommended_xsell"
  .product_carousel#recommended_xsell
    %ul
      - Product.available.where(:item_num.in => @landing_page.products).cache.each do |product|
        %li.product_element
          = image_tag(product.medium_image)
          = link_to product.name, product_url(:id => product)
          %p= display_product_price(product)
  .clear
#landing_right
  .buybox.rounded
    #quick_search.rounded= render :partial => 'quick_search'
:javascript
  $(function() {
    $("#new_arrivals_xsell").jCarouselLite({
      btnPrev: "#prev_button_new_arrivals_xsell",
      btnNext: "#next_button_new_arrivals_xsell",
    });
  });
  $(function() {
    $("#recommended_xsell").jCarouselLite({
      btnPrev: "#prev_button_recommended_xsell",
      btnNext: "#next_button_recommended_xsell",
    });
  });