- content_for :gmap_header do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.3&sensor=false'
  = javascript_include_tag '/javascripts/vendor/markermanager.js'
  = javascript_include_tag '/javascripts/vendor/StyledMarker.js'
  / = javascript_include_tag '/javascripts/vendor/jquery.metadata.js'
  = javascript_include_tag 'jquery.jmapping.js'
#store_info
  = link_to "update map", "#"
  #map-side-bar
#map
:javascript
  $(document).ready(function(){
    $.getScript('/javascripts/vendor/jquery.metadata.js', function() {
      $('#map').jMapping({default_point: {lat: 40.513799, lng:-98.876953}, default_zoom_level: 3});
    });
    $('#store_info a').click( function() {
      $.ajax({url:'/index/update_map', success: function(html){
        $('#map-side-bar').html(html);
        $('#map').jMapping('update');
      }});
      return false;
    });
  }).bind('afterMapping.jMapping', function(e,m) {
    setTimeout("$('#map').data('jMapping').map.setZoom(4)", 1200);
  });

