- content_for :gmap_header do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.3&sensor=false'
  = javascript_include_tag '/javascripts/vendor/markermanager.js'
  = javascript_include_tag '/javascripts/vendor/StyledMarker.js'
  / = javascript_include_tag '/javascripts/vendor/jquery.metadata.js'
  = javascript_include_tag 'jquery.jmapping.js'
.tab-block
  %h2{:style=>"margin-left: 10px; font-weight: bold;"}
    = system_name 
    = is_er? ? "Distributor Locator" : is_us? ? "Store Locator" : is_uk? ? "Stockist List" : "Store Locator"
  %ul
    %li.rounded_top= link_to "Stores", "#stores"
    %li.rounded_top= link_to "Online Resellers", "#online_resellers"
    %li.rounded_top= link_to "Distributors", "#distributors"
  #stores
    %p{:class=>"storedescription"} Most of the products that you love are available through our website or at your local craft store. Although we don't sell selected items online, we'll put you in touch with a retailer who might. Be sure to call ahead for product availability. Can't find a retailer near you? We're always adding new retail locations, so check back soon!
    #store_info
      = form_tag '#', :onsubmit => 'return false' do
        .field 
          %h3 Search by Country:
          = select_tag :country, options_for_select(@countries, params[:country]), :onchange => "toggle_store_fields()"
        .field.us_only
          %h3 Search by Zip Code:
          = text_field_tag :zip_code, params[:zip_code], :onchange => "$('#map_search_submit').trigger('click');"
        .field.us_only
          %h3 Search by Radius:
          = select_tag :radius, options_for_select([5,10,20,30,50], params[:radius] || 5), :onchange => "$('#map_search_submit').trigger('click');"
          miles
        .field
          %h3 Search by Brands:
          = check_box_tag 'brands[]', "sizzix", params[:brands].present? && params[:brands].include?('sizzix'), :id => "brands_sizzix", :class => 'brands', :onchange => "$('#map_search_submit').trigger('click');"
          Sizzix
          = check_box_tag 'brands[]', "ellison", params[:brands].present? && params[:brands].include?('ellison'), :id => "brands_ellison", :class => 'brands', :onchange => "$('#map_search_submit').trigger('click');"
          Ellison
        .field
          = link_to 'Search', '#', :id => 'map_search_submit', :class => 'jqui_button'
      .store_list
        #map-side-bar
    .storeframe
      #map
    .clear
  #online_retailers
    %h2 Online Retailers
    - @online_stores.each do |store|
      .online_store= render store
    .clear
  #distributors 
    %h2 Distributors
    - @distributors.each do |store|
      .online_store= render store
    .clear
- if @store_locator_content.present?
  #current_visual_assets= render @store_locator_content.visual_assets.current
:javascript
  $(document).ready(function(){
    $(".tab-block").tabs();
    toggle_store_fields();
    $.getScript('/javascripts/vendor/jquery.metadata.js', function() {
      $('#map').jMapping({default_point: {lat: 40.513799, lng:-98.876953}, default_zoom_level: 3, link_selector: '.map-link'});
    });
    $('#map_search_submit').click( function() {
      if ($('#country').val() == 'United States' && $('#zip_code').val().length < 5) {
        alert('invalid zip code');
        return false;
      }
      if ($('.brands:checked').length < 1){
        alert('please select at least one brand');
        return false;
      }
      $.ajax({url:'/index/update_map?'+$(this).parents('form').serialize(), success: function(html){
        $('#map-side-bar').html(html);
        $('#map').jMapping('update');
        $('.info-box').show();
        $('.info-box h3').css('cursor', 'pointer');
        if ($('#map').data('jMapping').map.zoom > 15) $('#map').data('jMapping').map.setZoom(15);
      }});
      return false;
    });
    if ($('#country').val() != 'United States') $('#map_search_submit').trigger('click');
  }).bind('afterMapping.jMapping', function(e,m) {
    setTimeout("$('#map').data('jMapping').map.setZoom(4)", 1200);
  });
  function toggle_store_fields(){
    if ($('#country').val() == 'United States'){
      $('.us_only').show();
    } else {
      $('.us_only').hide();
    }
  }
  

