%h2== #{system_name.titleize} Videos
#featured_video
  %h3 Featured Video
  - @videos.each do |playlist|
    - if playlist.title == "Featured"
      %ul.videolist
        %li
          .video-thumbnail
            .play-button.tooltip_playvideo= link_to "play", playlist.videos.first.embed_url + "&autoplay=1&fs=1", :class => "fancyvideo", :id => playlist.videos.first.embed_url[/v\/([^&]+)/, 1]
            %img{ :src => "#{playlist.videos.first.thumbnails.first.try :url}", :width => "390", :height => "291" }
          %p.video-title
            %span== Today's Featured #{system_name.titleize} Video: 
            = link_to playlist.videos.first.title, playlist.videos.first.embed_url + "&autoplay=1&fs=1", :class => "fancyvideo", :id => playlist.videos.first.embed_url[/v\/([^&]+)/, 1]
          %p.video-detail
            == #{l playlist.videos.first.published_at || playlist.videos.first.updated_at, :format => :date_short}
            |
            == #{playlist.videos.first.duration/60} min #{playlist.videos.first.duration%60} seconds 
            |
            == #{playlist.videos.first.view_count} views
          - unless playlist.videos.first.description.blank?
            %p.video-description= truncate(playlist.videos.first.description, :length => 200, :separator => ' ')
      
#recent_videos
  %h3 Our Most Recent Uploads
  - if @recent_uploads.present?
    %ul.videolist= render :partial => 'video', :collection => @recent_uploads
  - else
    %p.msg No videos have been uploaded within the past month.
  
  #search_videos
    %h3== Search #{system_name.capitalize} Videos
    = text_field_tag :video_keyword, nil, :autocomplete => "off", :value => "enter keywords", :onfocus => "if (this.value == 'enter keywords'){this.value='';}", :onblur => "if (this.value == ''){this.value='enter keywords';}", :size => 50
    :javascript
      $("#video_keyword").addClass("idlefield");
      $("#video_keyword").focus(function(){
        $(this).addClass("activefield").removeClass("idlefield");
      }).blur(function(){
        $(this).removeClass("activefield").addClass("idlefield");
      });

    %span.jqui_search Search

.contentwrap_XXXL.last
  .tab-block
    %ul
      - if @recent_uploads.present?
        %li= link_to "Recent Uploads", "#recent_uploads"
      - @videos.each do |playlist|
        - unless playlist.title == "Featured"
          %li= link_to playlist.title, "##{playlist.title.parameterize}"
      %li= link_to "Search Results", "#search_results"
    - if @recent_uploads.present?
      #recent_uploads
        %h3 Recent Uploads
        %ul.videolist= render :partial => 'video', :collection => @recent_uploads
    = render :partial => 'playlist', :collection => @videos
    #search_results
      %h3 Search Results
      .highlightable
        %ul.videolist#video_search      
  :javascript
    $('.pagination.ajax a').live('click', function() {this.innerHTML='#{escape_javascript spinner}';$(this).closest('.video_content').load(this.href);return false;})
    $('#video_keyword').change(function() {
      if (this.value.length < 3) {
        return false;
      } else {
        $('.tab-block').tabs("select", $('.tab-block').tabs("length") - 1);
        location.hash = $.param.fragment( location.hash, {q: this.value}, 0 );
        $.ajax({url:'/index/search_videos?q='+this.value, success: function(data){
          $('#video_search').html(data);
          highlight_keyword();
          $('#video_keyword').val('');
          youtube_video_links();
        }});
      }
    });
  - if params[:v].present?
    :javascript
      $(document).ready(function(){$('##{params[:v]}').trigger('click')});