%h2 Videos
.tab-block
  %ul
    - @videos.each do |playlist|
      %li= link_to playlist.title, "##{playlist.title.parameterize}"
  - @videos.each do |playlist|
    %div{:id => playlist.title.parameterize}
      %h3= playlist.title
      %ul.videolist
        - playlist.videos.each do |video|
          %li
            %p.thumbnail= link_to image_tag(video.thumbnails.first.try :url), video.embed_url, :class => "fancyvideo" 
            %p.videoinfo
              %strong= video.title
              %br
              == #{l video.published_at || video.updated_at, :format => :custom}  | #{video.view_count} views
              %br
              = video.description 

:javascript
  $(".fancyvideo").click(function() {
  	$.fancybox({
  			'padding'		: 0,
  			'autoScale'		: false,
  			'transitionIn'	: 'none',
  			'transitionOut'	: 'none',
  			'title'			: this.title,
  			'width'		: 680,
  			'height'		: 495,
  			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
  			'type'			: 'swf',
  			'swf'			: {
  			   	 'wmode'		: 'transparent',
  				'allowfullscreen'	: 'true'
  			}
  		});

  	return false;
  });