%h2 Videos
.tab-block
  %ul
    - if @recent_uploads.present?
      %li= link_to "Recent Uploads", "#recent_uploads"
    - @videos.each do |playlist|
      %li= link_to playlist.title, "##{playlist.title.parameterize}"
    %li= link_to "Search Videos", "#search_videos"
  - if @recent_uploads.present?
    #recent_uploads
      %h3 Recent Uploads
      %ul.videolist= render :partial => 'video', :collection => @recent_uploads
  - @videos.each do |playlist|
    %div{:id => playlist.title.parameterize}
      %h3= playlist.title
      %ul.videolist= render :partial => 'video', :collection => playlist.videos
  #search_videos
    %h3 Search Videos
    = text_field_tag :video_keyword, nil, :autocomplete => "off", :placeholder => 'enter keyword', :size => 50
    %span.jqui_search Search
    .highlightable
      %ul.videolist#video_search
:javascript
  $('#video_keyword').change(function() {
    if (this.value.length < 3) {
      return false;
    } else {
      location.hash = $.param.fragment( location.hash, {q: this.value, page: 1}, 0 );
      $.ajax({url:'/index/search_videos?q='+this.value, success: function(data){
        $('#video_search').html(data);
        highlight_keyword();
        $('#video_keyword').val('');
      }});
    }
  });
  $(".fancyvideo").click(function() {
  	$.fancybox({
  			'padding'		: 0,
  			'autoScale'		: false,
  			'transitionIn'	: 'none',
  			'transitionOut'	: 'none',
  			'title'			: this.title,
  			'width'		: 680,
  			'height'		: 495,
  			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
  			'type'			: 'swf',
  			'swf'			: {
  			   	 'wmode'		: 'transparent',
  				'allowfullscreen'	: 'true'
  			}
  		});

  	return false;
  });
- if params[:v].present?
  :javascript
    $(document).ready(function(){$('##{params[:v]}').trigger('click')});
    