%h2 Videos
.tab-block
  %ul
    %li= link_to "eclips", "#tabs-eclips"
    %li= link_to "Machines", "#tabs-machines"
  #tabs-eclips
    %h3 eclips Videos
    %ul.videolist
      %li
        %p.thumbnail= link_to image_tag("http://i4.ytimg.com/vi/ClzZrjtVygg/default.jpg"), "http://www.youtube.com/watch?v=ClzZrjtVygg", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Ball
          %br
          June 29, 2010  | 176 views
          %br
          Don't be thrown. Learn how to have a ball from the designer herself. 
      %li
        %p.thumbnail= link_to image_tag("http://i3.ytimg.com/vi/VinCQOeyEfc/default.jpg"), "http://www.youtube.com/watch?v=VinCQOeyEfc", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Up House
          %br
          June 30, 2010  | 181 views
          %br
          No contractors required! Build a house of your own -- complete with doors, windows and roof.     
      %li
        %p.thumbnail= link_to image_tag("http://i1.ytimg.com/vi/8VKCj2KRNS8/default.jpg"), "http://www.youtube.com/watch?v=8VKCj2KRNS8", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix Texture Boutique Embossing Machine
          %br
          June 29, 2010  | 5,841 views
          %br
          Check out our deepest, boldest and most elegant embossing experience yet! 
      %li
        %p.thumbnail= link_to image_tag("http://i4.ytimg.com/vi/ClzZrjtVygg/default.jpg"), "http://www.youtube.com/watch?v=ClzZrjtVygg", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Ball
          %br
          June 29, 2010  | 176 views
          %br
          Don't be thrown. Learn how to have a ball from the designer herself. 
      %li
        %p.thumbnail= link_to image_tag("http://i3.ytimg.com/vi/VinCQOeyEfc/default.jpg"), "http://www.youtube.com/watch?v=VinCQOeyEfc", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Up House
          %br
          June 30, 2010  | 181 views
          %br
          No contractors required! Build a house of your own -- complete with doors, windows and roof.     
      %li
        %p.thumbnail= link_to image_tag("http://i1.ytimg.com/vi/8VKCj2KRNS8/default.jpg"), "http://www.youtube.com/watch?v=8VKCj2KRNS8", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix Texture Boutique Embossing Machine
          %br
          June 29, 2010  | 5,841 views
          %br
          Check out our deepest, boldest and most elegant embossing experience yet! 
      %li
        %p.thumbnail= link_to image_tag("http://i4.ytimg.com/vi/ClzZrjtVygg/default.jpg"), "http://www.youtube.com/watch?v=ClzZrjtVygg", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Ball
          %br
          June 29, 2010  | 176 views
          %br
          Don't be thrown. Learn how to have a ball from the designer herself. 
      %li
        %p.thumbnail= link_to image_tag("http://i3.ytimg.com/vi/VinCQOeyEfc/default.jpg"), "http://www.youtube.com/watch?v=VinCQOeyEfc", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Up House
          %br
          June 30, 2010  | 181 views
          %br
          No contractors required! Build a house of your own -- complete with doors, windows and roof.     
      %li
        %p.thumbnail= link_to image_tag("http://i1.ytimg.com/vi/8VKCj2KRNS8/default.jpg"), "http://www.youtube.com/watch?v=8VKCj2KRNS8", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix Texture Boutique Embossing Machine
          %br
          June 29, 2010  | 5,841 views
          %br
          Check out our deepest, boldest and most elegant embossing experience yet! 
      %li
        %p.thumbnail= link_to image_tag("http://i4.ytimg.com/vi/ClzZrjtVygg/default.jpg"), "http://www.youtube.com/watch?v=ClzZrjtVygg", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Ball
          %br
          June 29, 2010  | 176 views
          %br
          Don't be thrown. Learn how to have a ball from the designer herself. 
      %li
        %p.thumbnail= link_to image_tag("http://i3.ytimg.com/vi/VinCQOeyEfc/default.jpg"), "http://www.youtube.com/watch?v=VinCQOeyEfc", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Up House
          %br
          June 30, 2010  | 181 views
          %br
          No contractors required! Build a house of your own -- complete with doors, windows and roof.     
      %li
        %p.thumbnail= link_to image_tag("http://i1.ytimg.com/vi/8VKCj2KRNS8/default.jpg"), "http://www.youtube.com/watch?v=8VKCj2KRNS8", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix Texture Boutique Embossing Machine
          %br
          June 29, 2010  | 5,841 views
          %br
          Check out our deepest, boldest and most elegant embossing experience yet! 
          
  #tabs-machines
    %h3 Machine Videos
    %ul.videolist
      %li
        %p.thumbnail= link_to image_tag("http://i1.ytimg.com/vi/8VKCj2KRNS8/default.jpg"), "http://www.youtube.com/watch?v=8VKCj2KRNS8", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix Texture Boutique Embossing Machine
          June 29, 2010  | 5,841 views
          Check out our deepest, boldest and most elegant embossing experience yet! 
      %li
        %p.thumbnail= link_to image_tag("http://i4.ytimg.com/vi/ClzZrjtVygg/default.jpg"), "http://www.youtube.com/watch?v=ClzZrjtVygg", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Ball
          June 29, 2010  | 176 views
          Don't be thrown. Learn how to have a ball from the designer herself. 
      %li
        %p.thumbnail= link_to image_tag("http://i3.ytimg.com/vi/VinCQOeyEfc/default.jpg"), "http://www.youtube.com/watch?v=VinCQOeyEfc", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Up House
          June 30, 2010  | 181 views
          No contractors required! Build a house of your own -- complete with doors, windows and roof. 
      %li
        %p.thumbnail= link_to image_tag("http://i4.ytimg.com/vi/ClzZrjtVygg/default.jpg"), "http://www.youtube.com/watch?v=ClzZrjtVygg", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Ball
          %br
          June 29, 2010  | 176 views
          %br
          Don't be thrown. Learn how to have a ball from the designer herself. 
      %li
        %p.thumbnail= link_to image_tag("http://i3.ytimg.com/vi/VinCQOeyEfc/default.jpg"), "http://www.youtube.com/watch?v=VinCQOeyEfc", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix 3-D Pop-Up House
          %br
          June 30, 2010  | 181 views
          %br
          No contractors required! Build a house of your own -- complete with doors, windows and roof.     
      %li
        %p.thumbnail= link_to image_tag("http://i1.ytimg.com/vi/8VKCj2KRNS8/default.jpg"), "http://www.youtube.com/watch?v=8VKCj2KRNS8", :class => "fancyvideo"
        %p.videoinfo
          %strong
            Sizzix Texture Boutique Embossing Machine
          %br
          June 29, 2010  | 5,841 views
          %br
          Check out our deepest, boldest and most elegant embossing experience yet! 

:javascript
  $(".fancyvideo").click(function() {
  	$.fancybox({
  			'padding'		: 0,
  			'autoScale'		: false,
  			'transitionIn'	: 'none',
  			'transitionOut'	: 'none',
  			'title'			: this.title,
  			'width'		: 680,
  			'height'		: 495,
  			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
  			'type'			: 'swf',
  			'swf'			: {
  			   	 'wmode'		: 'transparent',
  				'allowfullscreen'	: 'true'
  			}
  		});

  	return false;
  });