%h2
  Listing messages
  - if params[:user_id].present?
    \- for user
    = params[:user_id]
= link_to 'New message', new_admin_message_path(:user_id => params[:user_id]), :class => 'jqui_new' if has_write_permissions?
%br
%h3 Filters
- unless params[:q].blank?
  = link_to 'all', admin_messages_path, :class => 'jqui_button'
= form_tag(admin_messages_path, :method => :get) do
  - if params[:user_id].present?
    = hidden_field_tag :user_id, params[:user_id]
  = select_tag :discount_level, grouped_options_for_select(retailer_discount_levels.grouped_hash, params[:discount_level], "- discount_level -") unless params[:user_id].present?
  = text_field_tag :q, nil, :placeholder => "subject"
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        %th Subject
        %th Group
        %th Active
        = sortable 'created_at'
        %th &nbsp;
        - if has_write_permissions?
          %th &nbsp;
          %th &nbsp;
    %tbody
      - for message in @messages
        %tr{ :class => cycle(:odd, :even) }
          %td= message.subject
          %td= retailer_discount_levels.find_all(message.discount_levels).map {|e| "#{e.name} (#{e.group})"} * ', ' rescue ''
          %td= message.active
          %td= l message.created_at, :format => :custom 
          %td= link_to 'Show', admin_message_path(message), :class => 'jqui_show_min'
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_message_path(message), :class => 'jqui_edit_min'
            %td= link_to 'Destroy', admin_message_path(message), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= paginate @messages
%br
= link_to 'New message', new_admin_message_path(:user_id => params[:user_id]), :class => 'jqui_new' if has_write_permissions?
