- obj = @product ? 'product' : 'idea'
== Search for #{obj} whose tab needs to be cloned: 
= text_field_tag "reusable_tab_helper"
%br
= form_tag({:action => 'clone_existing_tab'}, :remote => true) do
  = hidden_field_tag :"original_#{obj}_id", instance_variable_get("@#{obj}").id
  = hidden_field_tag :"reusable_tab_#{obj}_id"
  = hidden_field_tag :reusable_tab_id
  == Selected #{obj}:
  %span.bordered{ :id => "reusable_#{obj}_name"}
  Tab:
  %span.bordered{ :id => "reusable_#{obj}_tab"}
  = submit_tag "Clone", :class => 'jqui_save'
#tab_to_clone
:javascript
  initialize_buttons();
  $("#reusable_tab_helper").autocomplete({
  	source: function(request, response) {
  	  $.ajax({
      	url: "/#{obj}s_autocomplete",
      	dataType: 'text json',
      	data: {term: request.term},
      	success: function( data ) {response(data)}
      });
  	},
  	search: function() {
  		if (this.value.length < 2) {
  			return false;
  		}
  	},
  	focus: function( event, ui ) {
    				$( "#reusable_tab_helper" ).val( ui.item.label );
    				return false;
    			},
  	select: function(event, ui) {
  	  this.value = '';
  	  $('#reusable_tab_#{obj}_id').val(ui.item.id);
  	  $("#reusable_#{obj}_name").html(ui.item.label);
  	  $("#tab_to_clone").load("/admin/#{obj}s/show_tabs?id="+ui.item.id, function() {
        initialize_buttons();
        initialize_lightboxes();
        $("#reusable_#{obj}_tab").html($(".tab-block li").first().text());
        $("#reusable_tab_id").val($(".tab-block li").first().find("a").attr('href').replace("#tabs-",""));
        $(".tab-block").tabs({select: function(event, ui) {$('#reusable_tab_id').val($(ui.tab).attr('href').replace("#tabs-",""));$("#reusable_#{obj}_tab").html($(ui.tab).text())}});
      });
  		return false;
  	}});