- form_for @tab, :url => {:action => @tab.new_record? ? 'create_tab' : 'update_tab'}, :html => {:multipart => true, :id => 'tab_form'}, :remote => true do |f| 
  .field
    = hidden_field_tag :id, @tab.id
    = f.label :name
    = f.text_field :name
    = hidden_field_tag :product_id, @tab.product.id
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = f.label :systems_enabled
    = system_enabled('tab')
  .field
    = f.label :reusable
    %br
    = f.check_box :reusable
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :text
    = f.text_area :text
  = products_helper_tag('tab[product_item_nums]', @tab.product_item_nums)
  %h3 images
  = link_to_add_fields "Add Image", f, :images
  - f.fields_for :images do |image_fields|
    = render 'admin/images/image', :f => image_fields
  %br
  %br
  %h3 Compatibility
  %ul
    = render :partial => 'admin/tabs/compatibility', :collection => @tab.compatibility
    = link_to_add_tab_collection "compatibility"
  %br
  %br
  %h3 Columns (Key-value pairs)
  %ul
    = render :partial => 'admin/tabs/data_column', :collection => @tab.data_column
    = link_to_add_tab_collection "data_column"
  .actions
    = f.submit :class => 'wymupdate jqui_save'
    = link_to 'cancel', '#', :onclick => "$('#edit_tab').html(''); return false;", :class => 'jqui_cancel'
:javascript
  $("#tab_text").wymeditor();
  initialize_buttons();