.field-stacked.left
  = (f.label :first_name)
  = f.text_field :first_name, :style => "margin-right: 6px", :class => "address"
.field-stacked.left
  = (f.label :last_name)
  = f.text_field :last_name, :class => "address"
.clear 
.field-stacked.left
  = f.label(:company, "Company/School/Organization", :class => "autosize address")
  = f.text_field :company, :size => 50, :class => "address"
.clear
.field-stacked
  = required_label f, :address1
  = f.text_field :address1, :class => "address"
.field-stacked
  = f.label :address2
  = f.text_field :address2, :class => "address"
.clear
.field-stacked.left
  = required_label f, :city
  = f.text_field :city, :style => "margin-right: 6px", :class => "address"
.field-stacked.left
  = f.label :state
  = f.select :state, states, {:prompt => "--- select state ---"}, :style => "margin: 4px 6px 0 0 !important", :class => "address"
.field-stacked.left
  = required_label f, :zip_code, { :label_size => "Zip/Postal code"}
  = f.text_field :zip_code, :size => 10, :class => "address"
.clear
.field-stacked.left
  = required_label f, :country
  = f.select :country, Country.all.cache.order_by(:display_order.asc, :name.asc).map {|e| e.name}, {}, :class => "address"
.clear
.field-stacked.left
  = f.label :email, "Email Address"
  = f.text_field :email
.clear