.field.credit_card
  .left
    = required_field(f.label :card_name)
    %br
    = f.select :card_name, Payment.cards, {:prompt => "--- card type ---"}, :class => "cc"
  .left
    = required_field(f.label :full_card_number, "Credit Card Number")
    %br
    = f.text_field :full_card_number, :class => "cc"
  .left
    = required_field(f.label :card_security_code)
    %br
    = f.text_field :card_security_code, :size => 4, :class => "cc"
  .clear_left
  .field
    = required_field(f.label :card_expiration_month, "Expires")
    %br
    = f.select :card_expiration_month, Payment.months, { :prompt => "month" }, :class => "cc"
    = f.select :card_expiration_year, Payment.years, { :prompt => "year" }, :class => "cc"
  .field.credit_card
    = f.label :card_issue_month, "Card Start Date"
    = f.select :card_issue_month, Payment.months, { :include_blank => true }, :class => "cc"
    \/
    = f.select :card_issue_year, Payment.issue_years, { :include_blank => true }, :class => "cc"
  .field.credit_card
    = f.label :card_issue_number
    = f.text_field :card_issue_number, :size => 2, :maxlength => 2, :class => "cc"