.field
  = required_label f, :subtotal_amount, { :label => "Subtotal Amount", :label_size => "135px" }
  = f.text_field :subtotal_amount, :size => 10
.field
  = required_label f, :shipping_amount, { :label => "Shipping Amount", :label_size => "135px" }
  = f.text_field :shipping_amount, :size => 10
.field
  = f.label :handling_amount, "Handling Amount", :style => "width: 135px"
  = f.text_field :handling_amount, :size => 10