.field
  = f.label :subtotal_amount
  %br
  = f.text_field :subtotal_amount
.field
  = f.label :shipping_amount
  %br
  = f.text_field :shipping_amount
.field
  = f.label :handling_amount
  %br
  = f.text_field :handling_amount



              