%p
  = address.first_name 
  = address.last_name
  - unless address.company.blank?
    %br
    = address.company
  %br
  = address.address1
  - unless address.address2.blank?
    %br
    = address.address2
  %br
  == #{address.city}, 
  = address.state
  &nbsp;
  = address.zip_code
  %br
  = address.country
  %br
  = address.phone
  - unless address.fax.blank?
    %br
    = address.fax
    (Fax)
  %br
  = address.email