%div{:id => "#{address_type}_info"}
  - if instance_eval "@#{address_type}_address_notice"
    %p.dontprint.notice= instance_eval "@#{address_type}_address_notice"
  - if instance_eval "@#{address_type}_address_error"
    %p.dontprint.error= instance_eval "@#{address_type}_address_error"
  - if get_user.reload.send("#{address_type}_address")
    %p{:id => "edit_#{address_type}_address"}= link_to "Edit #{address_type.capitalize} Address", {:controller => 'users', :action => "edit_address", :address_type => address_type, :checkout => @checkout || params[:checkout]}, :remote => true, :class => "minilink"
    - address = get_user.send("#{address_type}_address")
    = render :partial => 'users/address_details', :locals => {:address => address}
  - else
    = link_to "Add #{address_type} address", {:controller => 'users', :action => "edit_address", :address_type => address_type}, :remote => true
  :javascript
    $(function(){
      $("#edit_shipping_address a").click(function(){
        $("#edit_billing_address").slideUp();
        $("#checkout_shipping").removeClass().addClass("contentwrap_large");
        $("#checkout_billing").removeClass().addClass("contentwrap_XS last");
      });
      $("#edit_billing_address a").click(function(){
        $("#edit_shipping_address").slideUp();
        $("#checkout_shipping").removeClass().addClass("contentwrap_XS");
        $("#checkout_billing").removeClass().addClass("contentwrap_large last");
      });
    });