%b First Name:
= address.first_name
%br
%b Last Name:
= address.last_name
%br
%b Company/School/Organization:
= address.company
%br
%b Address1:
= address.address1
%br
%b Address2:
= address.address2
%br
%b City:
= address.city
%br
%b State:
= address.state
%br
%b Zip/Postal code:
= address.zip_code
%br
%b Country:
= address.country
%br
%b Phone:
= address.phone
%br
%b Fax:
= address.fax
%br
%b Email:
= address.email