%h3 Collect Carrier Account Information
= form_tag url_for(:controller => 'carts', :action => 'save_cod'), :remote => true, :id => 'cod_account_form' do
  .field
    -#= label_tag :cod_account_type, "Collect Carrier", :style => "font-weight: normal;"
    = select_tag :cod_account_type, options_for_select([['--- select ---', nil]] + cod_list.map {|e| [e.label, e.id]}, get_user.cod_account_type)
  .field
    = label_tag :cod_account, "Collect Account #", :style => "font-weight: normal;"
    = text_field_tag :cod_account, get_user.cod_account, :size => 17
    = submit_tag :save, :class => 'jqui_save'
:javascript
  $(".jqui_save").button({icons: {primary: 'ui-icon-disk'}});
  $(document).ready(function() { 
      var validator = $("#cod_account_form").validate({ 
          errorClass: "invalid",
          rules: { 
              "cod_account_type": { 
                  required: true
              }, 
              "cod_account": { 
                  required: true
              }, 
          }, 
          submitHandler: function(form) {
            $(form).ajaxSubmit();
          },
      }); 
  });