%h3== Edit #{@address.address_type.humanize} Address
= form_for(@address, :as => "#{@address.address_type}_address", :url => {:action => "update_address", :address_type => @address.address_type, :checkout => params[:checkout]}, :remote => true, :html => {:id => "edit_#{@address.address_type}_address", :method => :post}) do |f|
  = render :partial => 'users/address_form', :locals => {:f => f}
  .actions
    = f.submit "Save", :class => 'jqui_save'
    = link_to_function 'Cancel', "$('##{@address.address_type}_info').replaceWith('#{escape_javascript(render(:partial => "users/address_info", :locals => {:address_type => @address.address_type, :params => params}))}');", :class => 'jqui_cancel'

- unless is_er?
  - if @address.address_type == "shipping"
    %p.notice.formhelp
      - if is_uk? && is_eur?
        == All items are subject to availability. We offer delivery services to most countries within the European Union, Switzerland and Norway. Unfortunately we do not offer a standard delivery charge to Malta, Cyprus or Turkey. For delivery to these and other countries not stated, please send an email to #{"<a href='mailto:customerservices@ellisondesign.co.uk'>customerservices@ellisondesign.co.uk</a>".html_safe}. We will be happy to help provide delivery options or recommend a local wholesaler for you. Charges that cover delivery are subject to change without notice. Standard destinations will incur the shipping costs detailed in the tables below. V.A.T. on the shipping cost will be charged at 20% and will be included in the shipping cost on your order.
      - if is_uk? && is_gbp?
        All items are subject to availability. Charges that cover delivery are subject to change without notice. Standard destinations will incur the shipping costs detailed in the tables below. V.A.T. on the shipping cost will be charged at 20% and will be included in the shipping cost on your order.
      - if is_us?
        Please note: We only ship orders to the 50 United States and APO/FPO addresses with a U.S. form of payment.
        %br
        ==#{get_domain.capitalize} primarily ships via FedEx Ground. FedEx cannot deliver to a post office box; a physical address must be provided during online checkout.

  - if @address.address_type == "billing"
    %p.notice.formhelp
      - if is_uk?
        The billing address should match the address on your credit card statement. If your billing address country is not listed above, please review the currency selection from the shopping basket.
      - if is_us?
        Note: The billing address should match the address on your credit card statement.