%h3== Edit #{@address.address_type.humanize} Address
= form_for(@address, :as => "#{@address.address_type}_address", :url => {:action => "update_address", :address_type => @address.address_type, :checkout => params[:checkout]}, :remote => true, :html => {:id => "edit_#{@address.address_type}_address", :method => :post}) do |f|
  - if @address.address_type == "billing"
    %p= link_to "same as shipping address", {:controller => "carts", :action => "copy_shipping_address"}, :remote => true, :class => "minilink"
  = render :partial => 'users/address_form', :locals => {:f => f}
  .actions
    = f.submit "Save", :class => 'jqui_save'
    = link_to_function 'Cancel', "$('##{@address.address_type}_info').replaceWith('#{escape_javascript(render(:partial => "users/address_info", :locals => {:address_type => @address.address_type, :params => params}))}');", :class => 'jqui_cancel'

- unless is_er?
  - if @address.address_type == "shipping"
    %p.notice.formhelp
      - if is_uk?
        == All items are subject to availability. We offer delivery services to most countries within European Union, Switzerland and Norway. Unfortunately we do not offer a standard delivery charge to Malta, Cyprus or Turkey, for delivery to these and other countries not stated, please send an email to <a href='mailto:customerservices@ellisondesign.co.uk'>customerservices@ellisondesign.co.uk</a>. We will be happy to help provide delivery options or recommend a local wholesaler for you. Charges that cover delivery are subject to change without notice. Standard destinations will incur the shipping costs detailed in the tables below. V.A.T. on the shipping cost will be charged at #{vat}% and will be included in the shipping cost on your order.
      - if is_sizzix_us?
        Please note: Orders can only be shipped to the 50 United States, Canada Provinces and APO/FPO addresses with a U.S. form of payment. At this time, gift cards can only be shipped to 50 United States.
        %br
        ==#{get_domain.capitalize} primarily ships via FedEx Ground for United States shipments and FedEx International Ground for Canada shipments. FedEx cannot deliver to a post office box. A physical address must be provided during online checkout.
      - if is_ee_us?
        Please note: We only ship orders to the 50 United States and APO/FPO addresses with a U.S. form of payment.
        %br
        ==#{get_domain.capitalize} primarily ships via FedEx Ground. FedEx cannot deliver to a post office box; a physical address must be provided during online checkout.
  - if @address.address_type == "billing"
    %p.notice.formhelp
      - if is_uk?
        The billing address should match the address on your credit card statement. If your billing address country is not listed above, please review the currency selection from the shopping basket.
      - if is_us?
        Note: The billing address should match the address on your credit card statement.