- if is_ee?
  .field
    = f.label :institution
    %br/
    = f.select :institution, institutions
- if is_er? || is_ee?
  .field
    = f.label :company, "#{is_sizzix_us? ? 'Attention:' : is_ee? ? 'School/Institution Name' : is_er? ? 'Company Name' : 'Company/School/Organization'}", :class => "autosize"
    %br/
    = f.text_field :company
.field
  = f.label :name, is_sizzix? ? "Name" : "Contact Person"
  %br/
  = f.text_field :name
.field
  = f.label :email
  %br/
  = f.text_field :email, :class => 'email'
.field
  = f.label :password
  %br/
  = f.password_field :password, :class => 'password', :onkeyup => "$(this).valid() "
  .password-meter
    .password-meter-message
    .password-meter-bg
      .password-meter-bar
.field
  = f.label :password_confirmation, :class => "autosize"
  %br/
  = f.password_field :password_confirmation, :class => 'password_confirm'
.action= f.submit "Sign up", :class => 'jqui_save'
:javascript
  $(document).ready(function() { 
    // validate signup form on keyup and submit 
    var validator = $("#user_new").validate({
      errorClass: "invalid",
      rules: { 
        "user[password]": {
          required: true,
          password: "#user_email",
          minlength: 5
        },
        "user[password_confirmation]": {
          required: true,
          minlength: 5,
          equalTo: "#user_password"
        },
        "user[email]": {
          required: true,
          email: true
        },
        "user[company]": {
          required: #{is_er? ? 'true' : 'false'}
        }
      },
      messages: {
        "user[password]": {
          required: "Provide a password",
          rangelength: jQuery.format("Enter at least {0} characters")
        },
        "user[password_confirmation]": {
          required: "Repeat your password",
          minlength: jQuery.format("Enter at least {0} characters"),
          equalTo: "Enter the same password as above"
        },
        "user[email]": {
          required: "Please enter a valid email address",
          minlength: "Please enter a valid email address",
          remote: jQuery.format("{0} is already in use")
        }
      },

      // set this class to error-labels to indicate valid fields 
      success: function(label) {
        // set as text for IE
        label.html(" ").addClass("checked");
      }
    });
  });