- if is_er? || is_ee?
  .field
    = f.label :company, "<span class='required'>#{is_sizzix_us? ? 'Attention:' : is_ee? ? 'School/Institution Name' : is_er? ? 'Company Name' : 'Company/School/Organization'}</span>".html_safe, :class => "autosize"
    %br/
    = f.text_field :company, :size => 28
.field
  = f.label :name, is_sizzix? ? "Name" : "Contact Person"
  %br/
  = f.text_field :name, :size => 28
- if is_ee?
  .field
    = f.label :institution, "Institution Description", :class => "autosize"
    %br/
    = f.select :institution, institutions
.field
  = required_label f, :email
  %br/
  = f.text_field :email, :class => 'email'
.field-stacked{:style => "height: 75px; margin-bottom: 0"}
  .left{ :style => "margin-right: 24px"}
    = required_label f, :password, {:label_size => "auto"}
    = f.password_field :password, :class => 'password', :onkeyup => "$(this).valid()", :maxlength => 15
    .password-meter
      .password-meter-bg
        .password-meter-bar
      .password-meter-message
  .left
    = required_label f, :password_confirmation, { :label => "Password Confirmation", :label_size => "auto" }
    = f.password_field :password_confirmation, :class => 'password_confirm', :maxlength => 15
.clear
%p.formhelp
  == (must be between <strong>8-15 characters</strong> with
  %br
  == at least <strong>one letter</strong> and <strong>one number</strong> chosen)
.action= f.submit "Sign up", :class => 'jqui_save'

:javascript
  $(document).ready(function() { 
    // validate signup form on keyup and submit 
    var validator = $("#user_new").validate({
      errorClass: "invalid",
      rules: { 
        "user[password]": {
          required: true,
          minlength: 8,
          password: "#user_email"
        },
        "user[password_confirmation]": {
          required: true,
          minlength: 8,
          equalTo: "#user_password"
        },
        "user[email]": {
          required: true,
          email: true
        },
        "user[company]": {
          required: #{is_er? || is_ee? ? 'true' : 'false'}
        }
      },
      messages: {
        "user[password]": {
          required: "Please provide a password",
          rangelength: jQuery.format("Enter at least {0} characters")
        },
        "user[password_confirmation]": {
          required: "Please confirm your password",
          minlength: jQuery.format("Enter at least {0} characters"),
          equalTo: "Passwords do not match"
        },
        "user[email]": {
          required: "Please enter a valid email address",
          minlength: "Please enter a valid email address",
          remote: jQuery.format("{0} is already in use")
        },
        "user[company]": {
          required: "Please enter #{is_er? ? 'company' : is_ee? ? 'school/institution' : 'company/school/organization'} name"
        }
      },

      // set this class to error-labels to indicate valid fields 
      success: function(label) {
        // set as text for IE
        label.html(" ").addClass("checked");
      }
    });
  });