%h3 Ellison offers several different publications to help address your curriculum needs:
= form_for @material_order, :url => {:action => 'order_material'}, :remote => true, :html => {:id => "edit_#{@material_order.address.address_type}_address", :method => :post} do |f|
  - Material.active.cache.each do |material|
    .material{:id => "material_#{material.id}"}
      %p.material_name= material.name
      %p.material_image= image_tag(material.image_url(:medium)) if material.image?
      %p.material_name= link_to('download', material.document_url) if material.document? 
      %p.material_select= check_box_tag('material_order[material_ids][]', material.id, false, :id => nil, :class => 'material_ids') unless material.download_only
  .clear
  :javascript
    $('.material_ids').click(function(){
      $('.material_ids:checked').length > 0 ? $('#material_address').show() : $('#material_address').hide()
    })
  %p Please check the box(es) of the publications you wish to receive via mail.
  #material_address{:style => 'display:none'}
    = f.fields_for @material_order.address do |address_fields|
      = render :partial => 'users/address_form', :locals => {:f => address_fields}
    .actions
      = f.submit "Request Material", :class => 'jqui_save'
  #material_orders
    material orders: TODO
