#lists
  Click on View This List to manage or share the list.
  %table
    %thead
      %tr
        %th List Name
        %th List Comments
        %th{ :width => 65} # of Items
        %th{ :width => 70} Default List
        %th{ :style => "text-align: right", :width => 110}
        %th{ :style => "text-align: right", :width => 120}
    %tbody= render :partial => 'list_row', :collection => @lists, :as => :list
  %hr
  = link_to_function "Create New List", "$('#new_list').show()", :class => 'jqui_new'
  %br
  %br
  = form_for(List.new, :url => {:action => 'create_list'}, :remote => true) do |f|
    .field
      = f.label :name, :class => "autosize"
      = f.text_field :name
    .field
      = f.label :comments
      %br
      = f.text_area :comments, :cols => 80, :rows => 2
    .field
      = f.label :default_list, "Make this your default list?", :class => "autosize"
      yes
      = f.radio_button(:default_list, true)
      no
      = f.radio_button(:default_list, false)


    .actions
      = f.submit :class => 'jqui_save'
      = link_to_function "cancel", "$('#new_list').hide()", :class => "jqui_cancel"
:javascript
  $('#new_list').hide();
  initialize_buttons();
  initialize_tables();
  make_lists_editable();
  disable_default_list_delete();
  function disable_default_list_delete(){
    $('#lists .jqui_trash').show();
    $('#lists :checked').parent('td').next().children('.jqui_trash').hide();
  }
  function make_lists_editable(){
    $(".editable").editInPlace({
      url: "/update_list",
      field_type: "textarea",
      textarea_rows: "10",
      textarea_cols: "35",
      show_buttons: true,
      saving_animation_color: "#ECF2F8"
    });
  }
