.clear
#lists
  Click on View This List to manage or share the list.
  %table{ :cellpadding => 0, :cellspacing => 0 }
    %thead
      %tr
        %th List Name
        %th List Comments
        %th{ :style => "white-space: nowrap" } # of Items
        %th{ :style => "white-space: nowrap" } Default List
        %th{ :style => "text-align: right" }
        %th{ :style => "text-align: right" }
    %tbody= render :partial => 'list_row', :collection => @lists, :as => :list
  %hr
  = link_to_function "Create New List", "$('#new_list').show()", :class => 'jqui_new'
  %br
  %br
  = form_for(List.new, :url => {:action => 'create_list'}, :remote => true) do |f|
    .field
      = required_label f, :name, {:label_size => "auto"}
      = f.text_field :name, :maxlength => 30
      %p.formhelp{:style => "margin-left: 62px"} (e.g.- My Birthday List)
    .field
      = f.label :comments
      %br
      = f.text_area :comments, :cols => 80, :rows => 2
      %p.formhelp#chars_left You have 100 characters left.
    .field
      = f.label :default_list, "Make this your default list?", :class => "autosize"
      yes
      = f.radio_button(:default_list, true)
      no
      = f.radio_button(:default_list, false)


    .actions
      = f.submit :class => 'jqui_save'
      = link_to_function "cancel", "$('#new_list').hide()", :class => "jqui_cancel"
:javascript
  $('#new_list').hide();
  initialize_buttons();
  initialize_tables();
  make_lists_editable();
  disable_default_list_delete();
  function disable_default_list_delete(){
    $('#lists .jqui_trash').show();
    $('#lists :checked').parent('td').next().next().children('.jqui_trash').hide();
  }
  function make_lists_editable(){
    $(".list_name").editInPlace({
      url: "/update_list",
      field_type: "text",
      show_buttons: true,
      save_button: "<br /><input type='image' src='/images/ui-icons/set_fugue/16x16/drop-shadow/disk.png' alt='save changes' class ='inplace_save' />",
      cancel_button: "<input type='image' src='/images/ui-icons/set_fugue/16x16/drop-shadow/cross-button.png' alt='cancel changes' class ='inplace_cancel' />",
      value_required: true,
      saving_animation_color: "#ECF2F8"
    });
    $(".list_comment").editInPlace({
      url: "/update_list",
      field_type: "textarea",
      textarea_rows: "3",
      textarea_cols: "36",
      show_buttons: true,
      save_button: "<br /><input type='image' src='/images/ui-icons/set_fugue/16x16/drop-shadow/disk.png' alt='save changes' />",
      cancel_button: "<input type='image' src='/images/ui-icons/set_fugue/16x16/drop-shadow/cross-button.png' alt='cancel changes' />",
      saving_animation_color: "#ECF2F8"
    });
  }
  $('#list_comments').keyup(function () {
    #{limit_textarea(100)}
    $('#chars_left').text('You have ' + chars_left + ' characters left.');
  });

  $('.list_name input.inplace_field').live('keyup', function() {
    #{limit_textarea(30)}
  });

  $('.list_comment textarea.inplace_field').live('keyup', function() {
    #{limit_textarea(100)}
  });

  $(document).ready(function() {
    var validator = $("#new_list").validate({ 
      errorClass: "invalid",
      rules: { 
        "list[name]": { 
          required: true
        }
      }, 
      messages: { 
        "list[name]": { 
          required: "Please provide a name for your list."
        }
      }
    });
  });