.clear
#orders
  - if @orders.blank?
    You have no orders yet
  - else
    %table
      %thead
        %tr
          %th Order Date
          %th Order Number
          %th Amount
          %th Status
      %tbody
        - @orders.each do |order|
          - I18n.locale = order.locale
          %tr{:class => cycle('odd', 'even')}
            %td= l order.created_at, :format => :custom
            %td= link_to order.public_order_number, order_path(order, :page => params[:page])
            %td= number_to_currency order.total_amount
            %td= order.public_status
    :javascript
      initialize_tables();
  - I18n.locale = @current_locale
  = will_paginate @orders, :class => 'pagination ajax'
:javascript
  $(document).ready(function(){
    $("#orders").css({ opacity: 1.0 });
    $('.pagination.ajax a').click(function() {$("#orders").css({ opacity: 0.3 });this.innerHTML='#{escape_javascript spinner}';$('#orders').load(this.href);return false;})
  });
