.clear
#quotes
  - if @quotes.blank?
    == You have no #{quote_name.pluralize.downcase} yet.
  - else
    %table
      %thead
        %tr
          %th== #{quote_name} Date
          %th== #{quote_name} Number
          %th Name
          %th Amount
          %th Expires
          -# disabling 'available to order?' column
            - if is_ee_us? || admin_signed_in? && current_admin.can_act_as_customer
              %th Available to Order?
      %tbody
        - @quotes.each do |quote|
          - I18n.locale = quote.locale
          %tr{:class => cycle('odd', 'even')}
            %td= l quote.created_at, :format => :custom
            %td= link_to (quote.quote_number.blank? ? quote.id : quote.quote_number), myquote_path(quote, :page => params[:page])
            %td.quote_name{:id => quote.id}= quote.name
            %td= number_to_currency quote.total_amount
            %td= l quote.expires_at, :format => :custom
            -# disabling 'available to order?' column
              - if is_ee_us? || admin_signed_in? && current_admin.can_act_as_customer
                %td= quote.can_be_converted? ? "YES" : "--"
    :javascript
      initialize_tables();
  - I18n.locale = current_locale
  = paginate @quotes, :class => 'pagination ajax'
:javascript
  $(document).ready(function(){
    $("#quotes").css({ opacity: 1.0 });
    $('.pagination.ajax a').click(function() {$("#quotes").css({ opacity: 0.3 });this.innerHTML='#{escape_javascript spinner}';$('#quotes').load(this.href);return false;})
  });
  $(".quote_name").editInPlace({
    url: "/users/change_quote_name",
    show_buttons: true,
    saving_animation_color: "#ECF2F8"
  });
