.clear
- if @subscription.new_record?
  %p== You're currently NOT subscribed to <strong>#{@list[1]}</strong>
  = form_for @subscription, :url => url_for(:controller => :index, :action => :create_subscription) do |f|
    = f.error_messages
    .field
      = required_label f, :email, {:label_size => "50px"}
      = f.text_field :email, :readonly => true
    .field
      = f.label :name, :style => "width: 50px"
      = f.text_field :name
    == Yes, please subscribe me to <strong>#{@list[1]}</strong>.
    %br
    - if @segments.present?
      Select additional areas of interest to receive special editions for even more inspiration.
    = render :partial => 'index/segments'
    .actions
      = f.submit :class => 'jqui_save'
- elsif !@subscription.confirmed
  .error You are not subscribed because your email has not yet been verified. Please check your inbox for a confirmation email, then follow its instructions to confirm your subscription.
  = form_tag({:action => 'resend_subscription_confirmation'}, :remote => true, :id => 'resend_subscription_confirmation') do
    = submit_tag "Re-send confirmation email", :class => 'jqui_save'
- else
  = render :partial => 'index/edit_subscriptions'
:javascript
  initialize_buttons();