- if @subscription.new_record?
  %p== You're currently NOT subscribed to <strong>#{@list[1]}</strong>
  = form_for @subscription, :url => url_for(:controller => :index, :action => :create_subscription) do |f|
    = f.error_messages
    .field
      = required_label f, :email, {:label_size => "50px"}
      = f.text_field :email, :readonly => true
    .field
      = f.label :name, :style => "width: 50px"
      = f.text_field :name
    Yes, I'd like to subscribe to
    %strong= @list[1]
    = render :partial => 'index/segments'
    .actions
      = f.submit :class => 'jqui_save'
- elsif !@subscription.confirmed
  .error Your email has not been verified. Please follow the instructions in that email to verify your subscription.
- else
  = render :partial => 'index/edit_subscriptions'
:javascript
  initialize_buttons();