%h3== #{@list.name}
.contentwrap_XL.dontprint
  - unless @list.comments.blank?
    %p= @list.comments
  %p== What would you like to do next?&nbsp;&nbsp;#{link_to "Browse products", "/lp/categories", :class => "jqui_button"} #{link_to "Go to Cart", cart_path, :class => "jqui_button"}
.contentwrap_medium.last.dontprint
  - if @users_list
    %strong Jump to List:
    = select_tag :jump_to_list, options_for_select(@lists, params[:id]), :style => "max-width:200px", :onchange => "window.location='/list/'+this.value"
    %ul.plain{:style => "margin-bottom: 10px;"}
      %li= link_to "Manage My Lists", myaccount_path('mylists')
      %li= link_to 'Share this list with friends and family', "#email_list", :class => "lightbox"
- if @users_list
  %div{:style => "display: none"}
    #email_list
      %h3 Share this list with friends and family
      %p Complete the information below to email your friends and family a link to this list: 
      %hr
      %h3= @list.name
      = form_tag({:controller => 'users', :action => 'email_list', :id => @list.id}, :remote => true, :id => 'email_list_form') do
        .field
          %strong Permalink:
          = link_to list_url(@list)
        .field
          %strong From:
          = get_user.email
        .field
          = label_tag(:list_your_name, "<span class='required'>Your Name:</span>".html_safe, :class => "autosize")
          %br
          = text_field_tag :list_your_name, get_user.name, :size => 40
        .field
          = label_tag(:list_to, "<span class='required'>To:</span>".html_safe, :class => "autosize")
          %br
          = text_area_tag :list_to, nil, :cols => 55, :rows => 2
          %p.formhelp Separate email addresses with a comma.
        .field{:style => "height: 180px"}
          = label_tag(:list_note, "Note:")
          %br
          = text_area_tag :list_note, nil, :cols => 55, :rows => 5
          %p.formhelp
            %span#chars_left You have 250 characters left.
            %br
            %br
            The email addresses you provide in this form will only be used to send this one-time email message.
        .actions
          = submit_tag "Send Email", :class => 'jqui_save', :id => "send_email"
          = link_to_function 'Cancel', "$.fancybox.close();", :class => "jqui_cancel"
      :javascript
        var email_list_validator = $("#email_list_form").validate({ 
            errorClass: "invalid",
            rules: { 
                "list_your_name": { 
                    required: true
                }, 
                "list_to": { 
                    required: true
                }
            },
            success: function(label) { 
                label.html(" ").addClass("checked"); 
            },
            submitHandler: function(form) {
              $("#send_email").button({disabled: true, label: 'please wait...'});
              $('#email_list_form').ajaxSubmit();
            }
        });
        $('#list_note').keyup(function () {
          #{limit_textarea(250)}
          $('#chars_left').text('You have ' + chars_left + ' characters left.');
        });

.clear
- unless @products.blank?
  .toggleview.dontprint{ :style => "margin: 0 14px 10px 0"}= link_to "switch to list view", "#", :class => "toggle_view"
%hr.dontprint
.products_grid.mylist
  .highlightable
    - if @products.blank? 
      == There are no items to display in the list you selected. #{link_to "Browse products", catalog_path} to add items to a list.
    - else
      = render @products
      .clear
      = will_paginate @products 
:javascript
  $(document).ready(function(){
    setTimeout("shadow_on()", 3000);
    $("a.toggle_view").click(function(){$('.item-block').shadowOff();setTimeout("shadow_on()", 3000);});
    $("a.toggle_view").toggleView({initial_state: $.deparam.fragment()['view']});
    $('div.highlightable div.item-block:nth-child(16n)').after("<div class='page-break'> </div>");
  })
.clear