%h3 My Account
.tab-block
  %ul
    %li.rounded_top= link_to "Profile", "#profile"
    - @tabs.each do |tab|
      %li.rounded_top= link_to "<span>&nbsp;</span>#{tab[1]}".html_safe, {:action => tab[0]}, :name => tab[0]
  #profile= render :partial => 'profile'
:javascript
  $(function() {
  	var $tabs = $(".tab-block").tabs({cache: true, spinner: '#{spinner}', ajaxOptions: { cache: false }, select: function(event, ui) {document.title = document.title.replace(/(Profile|#{@tabs.map {|t| t[1]}.join("|")})/, $(ui.tab).text().replace(/^\s+/, ""));}});
  	#{"$tabs.tabs('select', #{@tabs.map {|t| t[0]}.index(params[:tab].to_sym) + 1 rescue 0})" if params[:tab]}
  });