- I18n.locale = @order.locale
%div= link_to 'Back to Orders', myaccount_path('orders', :page => params[:page]), :class => 'jqui_back dontprint'
#billing_address
  %h3 Billing Address
  %p
    - if @order.payment.present?
      - unless @order.payment.company.blank?
        = @order.payment.company
        %br
      == #{@order.payment.first_name} #{@order.payment.last_name}
      %br
      = @order.payment.address1
      %br
      - unless @order.payment.address2.blank?
        = @order.payment.address2
        %br
      == #{@order.payment.city}, #{@order.payment.state} #{@order.payment.zip_code}
      %br
      = @order.payment.country
      %br
      = @order.payment.phone

#shipping_address
  %h3 Shipping Address
  %p
    - unless @order.address.company.blank?
      = @order.address.company
      %br
    == #{@order.address.first_name} #{@order.address.last_name}
    %br
    = @order.address.address1
    %br
    - unless @order.address.address2.blank?
      = @order.address.address2
      %br
    == #{@order.address.city}, #{@order.address.state} #{@order.address.zip_code}
    %br
    = @order.address.country
    %br
    = @order.address.phone
    
#order_details
  %h3 Order Details
  %strong Order Number:
  = @order.public_order_number
  %br
  - if @order.quote
    %strong== #{quote_name} Reference Number:
    = (@order.quote.quote_number.blank? ? @order.quote.id : @order.quote.quote_number)
    %br
  %strong Customer Account:
  = @order.system == 'szus' ? 'SIZZIX.COM' : @order.user.erp
  %br
  %strong Web Customer:
  = @order.user.email
  %br
  %strong Order Date:
  = l @order.created_at, :format => :custom
  %br
  %strong Status:
  = @order.public_status
  = link_to "What is This?", "/ostatus?no_layout=1", :class => "link_help lightbox dontprint"
  %br
  - if @order.tracking_number.present?
    %strong Tracking #:
    = link_to @order.tracking_number, @order.tracking_url, :target => '_blank'
.clear
%table#order_details_items
  %thead
    %tr
      %th Item #
      %th Item Name
      %th{ :style => "text-align: center;" } Quantity
      %th{ :style => "text-align: right;" } Item Price
      %th{ :style => "text-align: right;" } Item Total
  %tbody
    - @order.order_items.each do |item|
      %tr{:class => cycle('odd', 'even')}
        %td= item.item_num
        %td= item.name.html_safe
        %td{ :style => "text-align: center;" }= item.quantity
        %td{ :style => "text-align: right;" }= number_to_currency item.gross_price
        %td{ :style => "text-align: right;" }= number_to_currency item.item_total
.contentwrap_XL
  - if @order.payment.present?
    %p
      %strong
        - if @order.payment.try(:purchase_order)
          Purchase Order
          = @order.payment.purchase_order_number
          = link_to "download", @order.payment.attachment_url, :class => "link_download dontprint", :target => "_blank" if @order.payment.attachment?
        - else
          This order was charged to: 
          == #{@order.payment.card_name}, 
          == #{@order.payment.card_expiration_month}/#{@order.payment.card_expiration_year}
          - if @order.payment.reference_purchase_order_number.present?
            %br
            == Reference Purchase Order Number: #{@order.payment.reference_purchase_order_number}
      - if @order.payment.deferred
        %br
        %table#deferred_details
          %tr
            %th
              Payment 1
              = l @order.payment.paid_at, :format => :date
            - 1.upto(Payment::NUMBER_OF_PAYMENTS) do |i|
              %th
                Payment 
                = i+1 
                = l @order.payment.paid_at.since(i.month), :format => :date
          %tr
            %td
              = number_to_currency @order.payment.paid_amount
            - 1.upto(Payment::NUMBER_OF_PAYMENTS) do |i|
              %td= number_to_currency(@order.payment.deferred_payment_amount)
    %ol
      - unless @order.payment.try(:purchase_order)
        %li== Your credit card statement will reflect a charge from Sizzix/Ellison#{is_us? ? ' Lake Forest, CA' : nil}.
      %li Shipping errors and claims must be made within 30 days of receipt of goods.
      - if @order.gift_card?
        %li Gift Cards CANNOT be returned.
      - else
        %li Merchandise CANNOT be returned without prior approval.
      - unless is_uk?
        %li Returns or exchanges subject to restocking fee.
      - if is_uk?
        %li Please allow a maximum ten working days for your order to be processed during busier periods.
    - unless @order.comments.blank?
      %p== <strong>Comments:</strong> #{@order.comments}
    %p= link_to "Print a copy of this order receipt.", "javascript:window.print()", :class => "link_print dontprint"
  - else
    &nbsp;
%ul.plain.cart_summary.contentwrap_medium.last{ :style => "margin-bottom: 10px" }
  %li
    %span.left Subtotal:
    %span.right= number_to_currency @order.gross_subtotal_amount
    .clear
  %li 
    %span.left== Shipping & Handling (#{@order.shipping_service.try :humanize}):
    %span.right= number_to_currency @order.gross_shipping_amount
    .clear
  - if @order.cod?
    %li
      %span.left COD account:
      %span.right
        = @order.cod_account_type
        = @order.cod_account
      .clear
  %li{:style => "display:#{@order.handling_amount > 0.0 ? 'block' : 'none'}"}
    %span.left Shipping & Handling Surcharge:
    %span.right= number_to_currency @order.handling_amount
    .clear
  %li 
    %span.left== #{is_us? ? 'Sales Tax' : is_uk? ? 'VAT (already included in Subtotal)' : 'Estimated Tax'}
    %span.right= number_to_currency @order.tax_amount
    .clear
  %li#cart_total
    %span.left Total:
    %span#total_amount.amount.right= number_to_currency @order.total_amount
    .clear
  - if @order.total_discount.present? && @order.total_discount > 0.0
    %li
      %span.left Total Savings:
      %span.amount.right= number_to_currency @order.total_discount
      .clear
- I18n.locale = @current_locale