- I18n.locale = @quote.locale
%div= link_to "Back to #{quote_name.pluralize}", myaccount_path('quotes', :page => params[:page]), :class => 'jqui_back dontprint'
#shipping_address
  %h3 Shipping Address
  %p
    - unless @quote.address.company.blank?
      = @quote.address.company
      %br
    == #{@quote.address.first_name} #{@quote.address.last_name}
    %br
    = @quote.address.address1
    %br
    - unless @quote.address.address2.blank?
      = @quote.address.address2
      %br
    == #{@quote.address.city}, #{@quote.address.state} #{@quote.address.zip_code}
    %br
    = @quote.address.country
    %br
    = @quote.address.phone
#checkout_billing
  %h3 Billing Info
  - if @quote.can_be_converted?
    - if get_user.token && get_user.token.current?
      #tokenized_billing_info= render :partial => 'carts/tokenized_billing_info'
    - elsif @billing_address
      #new_billing.notice{:style => "display:none"}
        = form_for(@billing_address, :as => "#{@billing_address.address_type}_address", :url => {:controller => 'carts', :action => "create_billing", :quote => @quote.id}, :remote => true, :html => {:id => "edit_#{@billing_address.address_type}_address", :method => :post}) do |f|
          = link_to "same as shipping address", {:controller => 'carts', :action => "copy_shipping_address"}, :remote => true, :class => "minilink"
          = render :partial => 'users/address_form', :locals => {:f => f}
          .actions
            = f.submit "Continue", :class => 'jqui_save'
    - elsif get_user.billing_address
      = render :partial => 'users/address_info', :locals => {:address_type => "billing"}
  - else
    %p== Billing has not yet been establisted for this #{quote_name}.
    %p== Please contact Customer Service to convert this #{quote_name} to an Order.
%div{ :id => "#{quote_name.downcase}_details"}
  %h3== #{quote_name} Details
  %p
    %strong== #{quote_name} Name:
    %span.quote_name{:id => @quote.id}= @quote.name
    %br
    %strong== #{quote_name} Number:
    = @quote.id
    %br
    %strong Customer Account:
    = @quote.system == 'szus' ? 'SIZZIX.COM' : @quote.user.erp
    %br
    %strong Web Customer:
    = @quote.user.email
    %br
    %strong== #{quote_name} Date:
    = l @quote.created_at, :format => :custom
    %br
    %strong Expires at:
    = l @quote.expires_at, :format => :custom
    %br
.clear
%table{ :id => "#{quote_name.downcase}_details_items"}
  %tr
    %th Item No.
    %th Item Name
    %th Quantity
    %th Item Price
    %th Item Subtotal
  - @quote.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td{:class => item.product.quantity < item.quantity ? 'pre_order' : nil}= item.item_num
      %td= item.name
      %td{:class => item.product.quantity < item.quantity ? 'pre_order' : nil}= item.quantity
      %td= number_to_currency item.sale_price
      %td= number_to_currency item.item_total
.contentwrap_XL{ :style => "margin-right: 10px !important"}
  - unless @quote.comments.blank?
    %p== <strong>Comments:</strong> #{@order.comments}
  %p= link_to "Print a copy of this invoice.", "javascript:window.print()", :class => "link_print dontprint"

%ul.plain.cart_summary.contentwrap_medium.last
  %li
    Subtotal:
    %span.right= number_to_currency @quote.subtotal_amount
  %li 
    == Shipping & Handling (#{@quote.shipping_service.try :humanize}):
    %span.right= number_to_currency @quote.shipping_amount
  - if @quote.cod?
    %li
      COD account:
      %span.right
        = @quote.cod_account_type
        = @quote.cod_account
  %li{:style => "display:#{@quote.handling_amount > 0.0 ? 'block' : 'none'}"}
    Shipping & Handling Surcharge:
    %span.right= number_to_currency @quote.handling_amount
  %li 
    == #{is_us? ? 'Sales' : 'Estimated'} Tax:
    %span.right= number_to_currency @quote.tax_amount
  %li#cart_total
    Estimated Total:
    %span#total_amount.amount.right= number_to_currency @quote.total_amount
  - if @quote.total_discount.present? && @quote.total_discount > 0.0
    %li
      Total Savings:
      %span.amount.right= number_to_currency @quote.total_discount
.clear
- if @quote.can_be_converted? && (is_ee_us? || admin_signed_in? && current_admin.can_act_as_customer)
  %hr.dontprint
  %ol
    %li== Your Quote will be saved for #{is_ee? ? '90' : is_er? ? '180' : '90'} days. Any changes to product availability or any other factors beyond our control will void the Quote.
    %li Products placed for Quote are final. Quotes cannot be altered after being submitted.
  #checkout_payment
    #payment_errors.error{:style => "display:none"}
    #checkout_cc{:style => "display:none"}
      %h3 Payment
      = render :partial => 'carts/payment' if get_user.billing_address && @billing_address.blank?
  #convert_quote_to_order.dontprint Convert to order
  :javascript
    $("#convert_quote_to_order").button({icons: {primary: 'ui-icon-check'}}).click(function() {
      #{@billing_address.blank? ? "$('#checkout_cc').slideDown('slow');$('#payment_submit').button({disabled: false, label: button_label});" : "$('#new_billing').slideDown('slow');$('#billing_address_first_name').focus()"};
      $(this).remove();
    })
  - if @quote.order_items.any? {|e| e.product.quantity < e.quantity}
    .clear
    .error== Some of the items in your quote are temporarily out of stock.  However, you can still convert your #{quote_name} to an Order. A Customer Service Representative will contact you soon with more information regarding these items.
- elsif !(is_er? || is_ee_uk?)
  .error== Some of the items in your quote are either out of stock or unavailable at this time. Please Contact Customer Service to convert this #{quote_name} to an Order.
- else
  .notice.dontprint{:style => "text-align: center; margin-top: 36px"}== Please Contact Customer Service to convert this #{quote_name} to an Order.
%br
%br
%br
:javascript
  $(".quote_name").editInPlace({
    url: "/users/change_quote_name",
    show_buttons: true,
    saving_animation_color: "#ECF2F8"
  });
- I18n.locale = @current_locale