%h2 Want to be an Authorized Ellison Retailer?
%p You're almost there! Just fill out this form, and we'll evaluate your request. While you're here, take a tour of the website, but remember, your special pricing can only be accessed once your application has been approved. Thanks for your patience, and we look forward to serving you.
%hr

= form_for(@user, :url => {:action => :create_retailer_application}, :html => {:multipart => true, :method => :post}) do |f|
  = f.error_messages

  .contentwrap_large
    .field
      %h3= required_label f, :company, { :label_size => "auto" }
      = f.text_field :company
    = f.fields_for :retailer_application, @user.retailer_application do |retailer_application_fields|
      = retailer_application_fields.error_messages
      .field
        = required_label retailer_application_fields, :signing_up_for, { :label_size => "147px" }
        = retailer_application_fields.select :signing_up_for, RetailerApplication::SIGN_UP_FOR
      
      %hr
      %h3 Company Details
      .field
        = required_label retailer_application_fields, :website, { :label_size => "147px" }
        = retailer_application_fields.text_field :website, :type => :url, :required => true
        %p.formhelp{ :style => "margin: 0 0 6px 159px"} sample URL: http://www.yourwebsite.com
        = retailer_application_fields.check_box :no_website, :style => "margin-left: 159px", :onclick => "if (this.checked) { $('label[for=user_retailer_application_attributes_website] span').removeClass('required') } else { $('label[for=user_retailer_application_attributes_website] span').addClass('required') }"
        = retailer_application_fields.label :no_website, "I do not have a website", :class => "autosize"
      .field
        = required_label retailer_application_fields, :tax_identifier, { :label_size => "147px" }
        = retailer_application_fields.text_field :tax_identifier, :required => true
      .field
        = required_label retailer_application_fields, :years_in_business, { :label_size => "147px" }
        = retailer_application_fields.text_field :years_in_business, :required => true, :type => "number", :min => 0, :size => 7
      .field
        = required_label retailer_application_fields, :number_of_employees, { :label_size => "147px" }
        = retailer_application_fields.text_field :number_of_employees, :required => true, :type => "number", :min => 1, :size => 7
      .field
        = required_label retailer_application_fields, :annual_sales, { :label_size => "147px" }
        = retailer_application_fields.text_field :annual_sales, :required => true
      .field
        = required_label retailer_application_fields, :resale_number, { :label_size => "147px" }
        = retailer_application_fields.text_field :resale_number, :required => true
        %p.formhelp{ :style => "margin-left: 159px"} International customers, enter Business Registration ID
      .field
        = required_label retailer_application_fields, :brands_to_resell, { :label_size => "134px" }
        - RetailerApplication::AVAILABLE_BRANDS.each do |brand|
          = check_box_tag 'user[retailer_application_attributes][brands_to_resell][]', brand, @user.retailer_application.brands_to_resell.include?(brand)
          %strong= brand
      .field
        = required_label retailer_application_fields, :authorized_buyers, { :label_size => "auto"}
        %br
        = retailer_application_fields.text_area :authorized_buyers, :required => true, :rows => 10, :cols => 55
      .field
        = required_label retailer_application_fields, :business_type, { :label_size => "175px"}
        = retailer_application_fields.select :business_type, RetailerApplication::BUSINESS_TYPES
      .field
        = required_label retailer_application_fields, :store_department, { :label_size => "175px"}
        = retailer_application_fields.select :store_department, RetailerApplication::STORE_DEPARTMENTS
      .field
        = required_label retailer_application_fields, :store_location, { :label_size => "175px"}
        = retailer_application_fields.select :store_location, RetailerApplication::STORE_LOCATIONS
      .field
        = required_label retailer_application_fields, :how_did_you_learn_about_us, { :label_size => "175px"}
        = retailer_application_fields.select :how_did_you_learn_about_us, RetailerApplication::LEARNED_FROMS
      .field
        = required_label retailer_application_fields, :store_square_footage, { :label_size => "175px"}
        = retailer_application_fields.select :store_square_footage, RetailerApplication::SQUARE_FOOTAGES
      
      %hr
      %h3 Preferred Payment Method
      .field
        = required_label retailer_application_fields, :payment_method, { :label_size => "auto"}
        - RetailerApplication::PAYMENT_METHODS.each do |payment_method|
          %strong= payment_method
          = retailer_application_fields.radio_button :payment_method, payment_method
      
      %hr
      %h3 Requirements For Wholesale Consideration
      %p.formhelp Please upload only files with extensions of *.jpg, *.doc, and *.pdf.
      .field
        = required_label retailer_application_fields, :resale_tax_certificate, { :label_size => "175px"}
        = retailer_application_fields.file_field :resale_tax_certificate
        = retailer_application_fields.hidden_field :resale_tax_certificate_cache
        = link_to "download", @user.retailer_application.resale_tax_certificate_url, :class => "link_download", :target => "_blank" if @user.retailer_application.try(:resale_tax_certificate?)
      .field
        = required_label retailer_application_fields, :business_license, { :label_size => "175px"}
        = retailer_application_fields.file_field :business_license
        = retailer_application_fields.hidden_field :business_license_cache
        = link_to "download", @user.retailer_application.business_license_url, :class => "link_download", :target => "_blank" if @user.retailer_application.try(:business_license?)
      .field
        = required_label retailer_application_fields, :store_photo, { :label_size => "175px"}
        = retailer_application_fields.file_field :store_photo
        = retailer_application_fields.hidden_field :store_photo_cache
        = link_to "download", @user.retailer_application.store_photo_url, :class => "link_download", :target => "_blank" if @user.retailer_application.try(:store_photo?)
      .field
        = retailer_application_fields.check_box :will_fax_documents, :style => "margin-left: 186px"
        = retailer_application_fields.label :will_fax_documents, "I will fax these documents", :class => "autosize"
      %p.formhelp Note: The Wholesale/Distributor application will not be considered until we receive the documents. You can upload right away or fax us at 949-598-8838, Attn: Sales. 
    
  .contentwrap_large.last
    %h3 Owner/President's Home Address
    = f.fields_for :addresses, @user.home_address do |home_address_fields|
      = render :partial => 'users/address_form', :locals => {:f => home_address_fields}
    %hr
    %h3 Shipping Address
    = link_to_function "copy home address", "copy_address_data(0, 1)", :class => "minilink"
    = f.fields_for :addresses, @user.shipping_address do |shipping_address_fields|
      = render :partial => 'users/address_form', :locals => {:f => shipping_address_fields}

    %hr
    %h3 Billing Address
    = link_to_function "copy shipping address", "copy_address_data(1, 2)", :class => "minilink"
    = f.fields_for :addresses, @user.billing_address do |billing_address_fields|
      = render :partial => 'users/address_form', :locals => {:f => billing_address_fields}

    %hr
    = f.fields_for :retailer_application, @user.retailer_application do |retailer_application_fields|
      .field
        = retailer_application_fields.check_box :agreed_to_policy, :style => "margin-left: 0"
        = required_label retailer_application_fields, :agreed_to_policy, { :label => "I have read and agree to the #{link_to 'Reseller Application Policy', '/reseller_app', :target => '_new'}.", :label_size => "auto" }
      .field
        = retailer_application_fields.check_box :agreed_to_terms, :style => "margin-left: 0"
        = required_label retailer_application_fields, :agreed_to_terms, { :label => "I have read and agree to the #{link_to 'Reseller Terms and Conditions of Trading', '/reseller_terms', :target => '_new'}.", :label_size => "auto" }
  .clear

  .actions
    = f.submit "Save", :class => 'jqui_save'
:javascript
  function copy_address_data(from_index, to_index){
    $(':visible:input[name*="user[addresses_attributes]['+from_index+']"]').each(function(index){
      $($(':visible:input[name*="user[addresses_attributes]['+to_index+']"]')[index]).val(this.value);
    });
  }
