$.fancybox.close();
- if @address.valid? && @address.save
  - eval "@#{@address.address_type}_address_notice = 'Your #{@address.address_type} address has been saved.'"
  - eval "@#{@address.address_type}_address_error = 'Address Verification result: #{@address.avs_result.humanize}. Please correct your address'" unless @address.avs_result.blank? || @address.avs_result == "NO_CHANGES" || @address.avs_result == "BYPASSED"
  == $('##{@address.address_type}_info').replaceWith('#{escape_javascript(render(:partial => "address_info", :locals => {:address_type => @address.address_type}))}')
  - if (params[:checkout] || @checkout) 
    - if @address.address_type == 'shipping'
      == $('#shipping_options').html('#{escape_javascript(render(:partial => "carts/shipping_options"))}');
      == $('#cart_shipping').html('#{escape_javascript(render(:partial => "carts/shipping_amount"))}');
      == $('#cart_tax').html('#{escape_javascript(render(:partial => "carts/tax_amount"))}');
      == $('#cart_total').html('#{escape_javascript(render(:partial => "carts/total_amount"))}');
      - if get_cart.allow_deferred?
        == $('#deferred_single_total_amount').html('#{escape_javascript(render(:partial => "carts/deferred_single_total_amount"))}');
        == $('#deferred_first_payment').html('#{escape_javascript(render(:partial => "carts/deferred_first_payment"))}');
      - if is_uk?
        == $('#shoppingcart_info').html('#{escape_javascript(render(:partial => "carts/shopping_cart"))}');
        == $('#cart_sub_total').html('#{escape_javascript(number_to_currency gross_price(get_cart.sub_total))}');
        == $('#cart_contents').html('#{escape_javascript(render(:partial => "carts/cart"))}');
    - elsif @address.address_type == 'billing' && !currency_correct?
      alert('Currency will be adjusted based on your billing address country');
      == window.location='#{checkout_path}';
- else
  - if @address.enable_avs_bypass
    $('#bypass_avs').show();
  == alert('#{escape_javascript @address.errors.full_messages.join("\n")}');