%h2 Feedback History
%p
  %strong== ID: #{@feedback.number}
  %br
  %strong== Subject: #{@feedback.subject}
  %br
  %strong== Email: #{@feedback.email}
%hr
%ul#feedback_history= render :partial => 'comments/comment', :collection => @feedback.comments
= form_for(@feedback.comments.build(:email => current_admin.email), :url => {:action => 'add_comment', :id => @feedback}, :html => {:id => "contact_form", :method => :post}) do |f|
  .field
    = f.label :email
    %br
    = f.text_field :email, :readonly => true
  .field
    = f.label :message, "Your Reply"
    %br
    = f.text_area :message
  .actions
    = f.submit :class => 'jqui_save'
    = link_to 'Cancel', admin_feedbacks_path, :class => 'jqui_cancel'
:javascript
  $(document).ready(function() {
    var validator = $("#contact_form").validate({
      errorClass: "invalid",
      rules: {
        "comment[message]": {
          required: true
        }
      },
      messages: {
        "comment[message]": {
          required: "Comments/Reply can't be blank."
        }
      }
    });
  });