= form_for([:admin, @tag], :html => {:multipart => true}) do |f|
  = f.error_messages

  %hr
  %h3.contentwrap_XXXL.last System Visibility
  .contentwrap_large
    .field
      = f.label :active, "This tag is", :class => "autosize"
      active
      = f.radio_button(:active, true)
      disabled
      = f.radio_button(:active, false)
    .field
      = required_label f, :systems_enabled, { :label => "Enabled for", :label_size => "auto" }
      = system_enabled('tag')
  .contentwrap_large.last
    .field
      = f.label "start_date_#{current_system}", "<span class='required'><span class='icon_datefield'>Start Date #{current_system.upcase}</span></span>".html_safe, :class => 'overrideable ui-corner-all', :style => 'width: 130px'
      = f.text_field "start_date_#{current_system}", :class => 'datetimepicker'
    .field
      = f.label "end_date_#{current_system}", "<span class='required'><span class='icon_datefield'>End Date #{current_system.upcase}</span></span>".html_safe, :class => 'overrideable ui-corner-all', :style => 'width: 130px'
      = f.text_field "end_date_#{current_system}", :class => 'datetimepicker'

  %hr
  %h3.contentwrap_XXXL Basic Information
  .contentwrap_large
    .field.left
      = required_label f,  :name, { :label => "Tag Name" }
      = f.text_field :name  
    .field.left 
      = f.label :tag_type, "Tag Type"
      = f.select :tag_type, Tag.all_types.map {|t| [t.humanize, t]}, {}, :onchange => "toggle_tag_type_fields()"  
  .contentwrap_large.last
    .field
      .left{ :style => "margin-right: 10px"}= image_tag(@tag.image_url(:small)) if @tag.image?
      .left
        %span.icon_imagefield= f.label :image, "List Page Image"
        = f.file_field :image
        = f.hidden_field :image_cache
        - unless f.object.new_record?
          %br
          %br
          = f.check_box :remove_image, :style => "margin-left: 0"
          = f.label :remove_image, :class => "autosize"
  
  #new_campaign{:style => "display:#{@tag.campaign? ? 'block' : 'none'}"}
    %hr
    %h3.contentwrap_XXXL.last Special/Campaign Details
    - unless f.object.new_record?
      .contentwrap_medium
        .field 
          = f.label :embed_campaign, "Apply discounts to associated products?", :class => "autosize"
          %br
          = f.radio_button(:embed_campaign, true, :style => "margin: 0 3px 0 10px")
          Yes, batch apply discount to associated products.
          %br
          = f.radio_button(:embed_campaign, false, :style => "margin: 0 3px 0 10px")
          No. Leave current product pricing as-is.

    = f.fields_for :campaign, @tag.campaign do |campaign_fields|
      .contentwrap_medium
        .field
          = campaign_fields.label :individual, "How should discounts be configured & applied?", :class => "autosize"
          %br
          = campaign_fields.radio_button(:individual, false, :style => "margin: 0 3px 0 10px", :onclick => "update_campaign();")
          == #{"as <em>one</em> discount for <strong>a group</strong> of products".html_safe}
          %br
          = campaign_fields.radio_button(:individual, true, :style => "margin: 0 3px 0 10px", :onclick => "update_campaign();")          
          == #{"as a <em>unique</em> discount for <strong>individual</strong> products".html_safe}
      .contentwrap_XL.last
        %p.border-left.formhelp== #{"<em>Add specific directions for special campaign scenarios here</em>".html_safe}

      .contentwrap_XXXL.last
        .field.individual
          %ul#individual
            = campaign_fields.fields_for :individual_discounts do |individual_discount_fields|
              = render :partial => 'admin/individual_discounts/individual_discount', :locals => {:f => individual_discount_fields}
            = link_to_add_fields "Add Product", campaign_fields, :individual_discounts
            :javascript
              function add_individual_discount(){
                #{add_fields_function('individual', campaign_fields, :individual_discounts)}
              };
        .field.discount
          = campaign_fields.label :discount_type, :style => "width: 120px"
          = campaign_fields.select :discount_type, Campaign::DISCOUNT_TYPES
        .field.discount
          = required_label campaign_fields, :discount, { :label => "Discount Amount", :label_size => "120px"}
          = campaign_fields.text_field :discount, :size => 6

  - unless @tag.new_record?
    %hr
    %h3.contentwrap_XXXL.last Related Products
    %ul.contentwrap_XXXL.last#tag_products= render :partial => 'product', :collection => @tag.products, :locals => {:tag_id => @tag.id}
    = text_field_tag "tag_products_helper", nil, :style => "margin-bottom: 10px"
    %hr
    %h3.contentwrap_XXXL.last Related Ideas
    %ul.contentwrap_XXXL.last#tag_ideas= render :partial => 'idea', :collection => @tag.ideas, :locals => {:tag_id => @tag.id}
    = text_field_tag "tag_ideas_helper", nil, :style => "margin-bottom: 10px"
  
  %hr
  .contentwrap_large
    .field
      = f.label "calendar_start_date_#{current_system}", "<span class='icon_datefield'>Calendar Start Date #{current_system.upcase}</span>".html_safe, :class => 'overrideable ui-corner-all', :style => 'width: 175px'
      = f.text_field "calendar_start_date_#{current_system}", :class => 'datetimepicker'
    .field
      = f.label "calendar_end_date_#{current_system}", "<span class='icon_datefield'>Calendar End Date #{current_system.upcase}</span>".html_safe, :class => 'overrideable ui-corner-all', :style => 'width: 175px'
      = f.text_field "calendar_end_date_#{current_system}", :class => 'datetimepicker'
    -# disabling 'All Day' checkbox
      .field
        = f.label :all_day
        = f.check_box :all_day
    .field
      = f.label :color, :class => "autosize"
      = f.select :color, %w(#336699 #339933 #ff9900 #ff0000 #ff00cc #3399cc #33cc33 #993333), :include_blank => true
  
  .contentwrap_large.last
    .field
      = f.label :description, "Description <span class='formhelp'><em>for internal admin use only</em></span>".html_safe, :class => "autosize"
      %br
      = f.text_area :description, :cols => 57, :rows => 5

  %hr
  #visual_assets.contentwrap_XXXL.last
    - unless @tag.visual_assets.blank?
      %h3.left Visual Assets
      %p.right.link_collapse.minilink= link_to "collapse all", "#", :onclick => "$('.visual_asset, .child_visual_asset').css({height:'25px',overflow:'hidden'}); return false;"
    .clear
    = f.fields_for :visual_assets, @tag.visual_assets.ordered do |visual_asset_fields|
      = render 'admin/visual_assets/visual_asset', :f => visual_asset_fields
    = link_to_add_fields "Add Visual Asset", f, :visual_assets
  %br
  .clear
  .actions
    = f.submit :class => 'wymupdate jqui_save'
:javascript
  function update_campaign(){
    if ($('#tag_campaign_individual_true').attr('checked')) { $('.discount').hide();$('.individual').show(); } else { $('.discount').show();$('.individual').hide();}
  };
  $('#visual_assets').sortable({tolerance: 'pointer', start: function(event, ui) {$('.visual_asset').css({height:"22px",overflow:"hidden"})}, stop: function(event, ui) {$('.visual_asset').css({height:"auto"})}, update: function(event, ui) {
    $.ajax({url:"/admin/tags/reorder_visual_assets?id=#{@tag.id}&"+$("#visual_assets").sortable('serialize')});
  }})
  $("#tag_products_helper").autocomplete({
  	source: function(request, response) {
  	  $.ajax({
      	url: "/products_autocomplete",
      	dataType: 'text json',
      	data: {term: request.term},
      	success: function( data ) {response(data)}
      });
  	},
  	search: function() {
  		if (this.value.length < 2) {
  			return false;
  		}
  	},
  	focus: function( event, ui ) {
    				$( "#tag_products_helper" ).val( ui.item.label );
    				return false;
    			},
  	select: function(event, ui) {
  	  this.value = '';
  		$.ajax({
  		  url:'/admin/tags/add_product?product_id='+ui.item.id+'&id=#{@tag.id}',
  		  success: function(html) {
  		    $('#tag_products').append(html);
  		    $('#tag_products').find('.spinner').remove();
  		  },
  		  beforeSend: function(){
  		    $('#tag_products').append('#{escape_javascript loader_bar}');
  		  }  		  
  		});
  		return false;
  	}});
  $("#tag_ideas_helper").autocomplete({
  	source: function(request, response) {
  	  $.ajax({
      	url: "/ideas_autocomplete",
      	dataType: 'text json',
      	data: {term: request.term},
      	success: function( data ) {response(data)}
      });
  	},
  	search: function() {
  		if (this.value.length < 2) {
  			return false;
  		}
  	},
  	focus: function( event, ui ) {
    				$( "#tag_ideas_helper" ).val( ui.item.label );
    				return false;
    			},
  	select: function(event, ui) {
  	  this.value = '';
  	  $.ajax({
  	    url:'/admin/tags/add_idea?idea_id='+ui.item.id+'&id=#{@tag.id}',
  	    success: function(html){
  	      $('#tag_ideas').append(html);
  	      $('#tag_ideas').find('.spinner').remove();
  	    },
  		  beforeSend: function(){
  		    $('#tag_ideas').append('#{escape_javascript loader_bar}');
  		  }
  	  });
  		return false;
  	}});
  
  update_campaign();
  toggle_tag_type_fields();
  
  function toggle_tag_type_fields(){
    if ($('#tag_tag_type').val() == 'special') {$('#new_campaign').show();$('#tag_embed_campaign_true').attr('checked', true)} else {$('#new_campaign').hide()}
  }