%li.ui-menu-item{:id => "product_#{product.id}"}
  = link_to_function "x", "$('#product_#{product.id}').css('color', 'gray');$.ajax({url:'/admin/tags/remove_product?product_id=#{product.id}&id=#{tag_id}'})"
  = product.item_num
  = product.name
  =# hidden_field_tag "tag[my_product_ids][]", product.id