%h1 Listing tags
= link_to 'New tag', new_admin_tag_path, :class => 'jqui_new' if has_write_permissions?
%br
%h3 Filters
- unless params[:q].blank?
  = link_to 'all', admin_tags_path, :class => 'jqui_button'
= form_tag(admin_tags_path, :method => :get) do
  = admin_systems_checkboxes
  = select_tag :tag_type, options_for_select([["- type -", nil]] + Tag.all_types.map {|t| [t.humanize, t]}, params[:tag_type])
  = text_field_tag :q, nil, :placeholder => "name"
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "tag_type"
        = sortable "name"
        = sortable "permalink"
        = sortable "start_date_#{current_system}", "Start Date"
        = sortable "end_date_#{current_system}", "End Date"
        %th Systems
        %th &nbsp;
        %th &nbsp;
        %th &nbsp;
    %tbody
      - for tag in @tags
        %tr{ :class => cycle(:odd, :even) }
          %td= tag.tag_type.humanize rescue ''
          %td= tag.name #if tag.name.valid_encoding?
          %td= tag.permalink
          %td= l tag.send("start_date_#{current_system}"), :format => :custom rescue ''
          %td= l tag.send("end_date_#{current_system}"), :format => :custom rescue ''
          %td= tag.systems_enabled.join(", ") rescue ''
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_tag_path(tag)
            %td= link_to 'Destroy', admin_tag_path(tag), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @tags
%br
= link_to 'New tag', new_admin_tag_path, :class => 'jqui_new' if has_write_permissions?