.right= link_to 'edit', edit_admin_tag_path(@tag), :class => "link_edit-record"
%h2{:style => "color:#{@tag.displayable?(current_system, @time) ? 'green' : 'red'}"}== Tag Preview: #{@tag.id}
%p
  = text_field_tag :time, @time, :class => 'datetimepicker'
  = link_to_function 'GO', "window.location='#{admin_tag_path(@tag)}?time='+$('#time').val()"
- if @tag.visual_assets.current(@time).present?
  #tag_visual_assets{:style => "width:750px;"}= render :partial => 'visual_assets/visual_asset', :collection => @tag.visual_assets.current(@time)
.clear
- if @tag.campaign? || @tag.tag_type == 'exclusive'
  %table
    %tr
      %th Item num
      %th Name
      %th Orderable
      %th Price
    - @products.each do |product|
      %tr
        %td= link_to product.item_num, edit_admin_product_path(product)
        %td= link_to product.name, admin_product_path(product)
        %td= product.send("orderable_#{current_system}")
        %td= display_product_price product, :date => @time
  = will_paginate @products, :params => {:time => params[:time]}
%p= @tag.systems_enabled.join(", ")      
- @tag.attributes.keys.reject {|k| %w(versions campaigns).include? k}.each do |attribute|
  %p
    %b== #{attribute.humanize}:
    = @tag.send attribute