- if admin_signed_in? && current_admin.can_act_as_customer || is_er? && ecommerce_allowed?
  #import_items{:style=>"margin:0 0 8px; font-weight:bold;"}
    - if is_er?
      = "To upload items from an Excel-CSV file, "
      = link_to "click here.", :action => :cart_upload
    - unless @cart.cart_items.blank?
      = link_to "REMOVE ITEMS IN CART", '#', :style=>"float:right; text-align:right; padding-top:0; background:none; border:0; margin-right:4px;", :id => 'empty_cart'
      :javascript
        $("#empty_cart").button({icons: {primary: 'ui-icon-trash'}})
          .click( function() {
            $.ajax({url:"/carts/empty_cart"});
            _gaq.push(['_trackEvent', 'Cart', 'Empty Cart']);
            $(this).button({ disabled: true });
            return false;
          });
  #add_to_cart_by_item_num
    = form_tag add_to_cart_by_item_num_path, :id => "add_to_cart_by_item_num_form", :remote => true, :onsubmit => "return false;" do
      .field{ :style => "margin-bottom: 0" }
        = label_tag :item_num, "Please enter item num here:", :style => "width: 185px;"
        = text_field_tag :item_num, nil, :placeholder => "item num"
        %button.jqui_ok#add_to_cart_by_item_num_button Add to Cart
    :javascript
      $(function() {
        $("#add_to_cart_by_item_num_button").button({icons: {primary: 'ui-icon-check'}}).click( function() {
          if ($("#item_num").attr('value').length > 2) {
            $('.error').hide();
            $('#add_to_cart_by_item_num_form').submit(); 
            $(this).button({disabled: true});
          }
          return false;
        });
      });