- if @cart.cart_items.blank?
  %h2== Your Shopping #{cart_name} is empty.
  .clear
  = link_to "Continue Shopping", session[:continue_shopping] || '/lp/categories', :class => "link_continue-shopping"
  - if user_signed_in? && get_user.save_for_later_list.products.count > 0
    %p
      You saved the item(s) below to buy later.
      %br
      If you'd like to buy one or more now, just click the Move to Cart button next to the item(s) you're ready to buy.
  - unless @cart_locked
    = render :partial => 'carts/add_to_cart_by_item_num'

- else
  .right
    - unless @cart_locked
      - if chekout_allowed?
        %button{:id => "checkout_button_top", :class => "right dontprint"} Checkout
        .clear
      = link_to "Continue Shopping", session[:continue_shopping] || '/lp/categories', :class => "link_continue-shopping"
  %h2
    You have
    %span#cart_items_qty_header= pluralize get_cart.total_quantity, "item"
    == in your shopping #{cart_name}
  .clear
  %table{:cellpadding => 10}
    %thead
      %tr
        %th{:width => 60} Item #
        %th{:width => 70} Item Name
        %th{:width => 400}
        - if admin_signed_in? && current_admin.can_change_prices
          %th.dontprint Upsell
        %th{:style => "text-align: right; white-space: nowrap;"}== #{is_er? ? 'Wholesale' : 'Regular'} Price
        %th{:style => "text-align: right; white-space: nowrap;", :width => 75} Your Price
        %th{:style => "text-align: right", :width => 70} Quantity
        %th{:style => "text-align: right", :width => 75} Total Price
        %th.dontprint{:style => "text-align: right;" }
    %tbody
      = render :partial => 'carts/cart_item', :collection => @cart.cart_items
      %tr
        %td
        %td
        %td
        - if admin_signed_in? && current_admin.can_change_prices
          %td.dontprint
        %td#total_savings{ :colspan => 2}= render :partial => 'carts/total_savings'
        %td{:style => "text-align: right", :class => "cart_extended_price"} Subtotal:
        %td#cart_subtotal{:style => "text-align: right", :class => "cart_extended_price"}= number_to_currency gross_price(@cart.sub_total)
        %td.dontprint{:style => "text-align: right;" }
    - unless @cart_locked
      :javascript
        $('input.number_only').keydown(number_only)
        .keyup(function(){
          if ($(this).val().length < 1) {
            var original_value = $(this).attr('defaultValue');
            $(this).val(original_value);
          }
          var item_num = this.id.replace('cart_quantity_', '')
          $.ajax({url:"/carts/change_quantity?item_num="+item_num+"&qty="+$(this).val()});
          ga('send', 'event', 'Cart', 'Change Quantity', item_num+':'+$(this).val());
        })
    - if admin_signed_in? && current_admin.can_change_prices && !@cart_locked
      :javascript
        $(".cart_item_price").editInPlace({
          url: "/carts/custom_price",
          value_required: true,
          show_buttons: true,
          saving_animation_color: "#ECF2F8"
        });
  :javascript 
    initialize_tables();
      
  .dontprint
    - unless @cart_locked
      = render :partial => 'carts/add_to_cart_by_item_num'
      %div{:style=>"width:540px;"}
      - if get_cart.pre_order?
        %p.error{:style=>"margin-top:10px;"} There are items in the cart that are available for pre-order only. If you would like to place a pre-order please click "Pre-Order". For immediate shipping please remove these items.
      - elsif can_place_quote_on_backordered? && get_cart.out_of_stock? && !is_ee_uk?
        - if chekout_allowed?
          %p.error{:style=>"margin-top:10px;"} Due to high demand, some items in your cart are currently at a low stock level. If your order cannot be processed within normal ordering time, we will contact you as soon as possible.
        - else
          %p.error{:style=>"margin-top:10px;"} Some items placed in your shopping cart are currently out of stock and available to “Save As Quote” at this time.  You also have the option to “Save” item(s) for later or add to “My List”. To continue to “Check Out”, please remove the out of stock items to complete your order.
      #cart_coupon= render :partial => "carts/coupon"
      - if quote_allowed?
        %button{:class => "save_as_quote right"} Save as Quote
      - if (chekout_allowed? || get_cart.pre_order?) && quote_allowed?
        .right{ :style => "margin: 7px 10px 0 10px; font-weight: bold; text-transform: uppercase" } or
      - if chekout_allowed?
        %button{:id => "checkout_button_bottom", :class => "right"} Checkout
      - elsif get_cart.pre_order?
        %button{:class => "save_as_quote right"} Pre-Order
      .clear
      :javascript
        $(document).ready(function(){
          if ($("#fancybox-wrap:visible").length > 0) $('.save_for_later').hide();
        });
        $(function() {
          $("#checkout_button_top, #checkout_button_bottom").button()
            .click( function() {
              $.ajax({url:"#{checkout_requested_path}"});
              $("#checkout_button_top, #checkout_button_bottom").button({disabled: true, label: 'please wait...'});
        		});
        	$(".remove_from_cart").click( function() {
        			$.ajax({url:"/carts/remove_from_cart?item_num="+this.id.replace('remove_from_cart_', '')});
              ga('send', 'event', 'Cart', 'Change Quantity', this.id.replace('remove_from_cart_', ''));
        			$(this).html('#{escape_javascript loader_bar}')
        		}); 
        		$(".save_for_later").click( function() {
        				$.ajax({url:"/users/save_for_later?item_num="+$(this).attr('rel')});
                ga('send', 'event', 'Cart', 'Save for Later', $(this).attr('rel'));
        				#{ user_signed_in? ? "$(this).html('#{escape_javascript loader_bar}')" : nil }
        			});
        		$(".save_as_quote")
          	  .button()
          		.click( function() {
                $.ajax({url:"#{quote_requested_path}"});
                $(this).button({disabled: true, label: 'please wait...'});
          		});
        });
      .cart_disclaimer
        - if is_sizzix_us?
          %p Updates to stock status on Sizzix.com are done routinely. Product availability shown on the website is not guaranteed (especially on clearance and promotional items) until your order is processed by Ellison and your credit card is charged. Orders are processed on a first-come, first-served basis with every attempt made by Sizzix Consumer Service to fulfill your order to your satisfaction. Email updates will be sent as we process your items.
          %p== Sizzix.com cannot accept online orders from customers requiring delivery outside of the United States (except APO/FPOs). #{link_to "International Support", "/intl"}.
        - if is_sizzix_uk?
          %p Updates to stock status on Sizzix.co.uk are done routinely. Product availability shown on the website is not guaranteed (especially on clearance and promotional items) until your order is processed by Ellison and your credit card is charged. Orders are processed on a first-come, first-served basis with every attempt made by Sizzix.co.uk Consumer Service to fulfill your order to your satisfaction. Email updates will be sent as we process your items.
          %p== For all deliveries outside of Europe, please #{link_to "contact us", "/contact"}.
        - if is_ee_us?
          %p Updates to stock status on ellisoneducation.com are done routinely. Product availability shown on the website is not guaranteed (especially on clearance and promotional items) until your order is processed by Ellison and your credit card is charged. Orders are processed on a first-come, first-served basis with every attempt made by Ellison Customer Service to fulfill your order to your satisfaction. Email updates will be sent as we process your items.
          %p== Ellisoneducation.com cannot accept online orders from customers requiring delivery outside of the United States (except APO/FPOs). #{link_to "International Support", "/intl"}.
        - if is_ee_uk?
          %p Updates to stock status on ellisoneducation.co.uk are done routinely. Product availability shown on the website is not guaranteed (especially on clearance and promotional items) until your order is processed by Ellison and your credit card is charged. Orders are processed on a first-come, first-served basis with every attempt made by ellisoneducation.co.uk Consumer Service to fulfill your order to your satisfaction. Email updates will be sent as we process your items.
          %p== For all deliveries outside of Europe, please #{link_to "contact us", "/contact"}.
        - if is_er?
          %p Updates to stock status on ellison.com are done routinely. Product availability shown on the website is not guaranteed (especially on clearance and promotional items) until your order is processed by Ellison and your credit card is charged. Orders are processed on a first-come, first-served basis with every attempt made by Ellison Consumer Service to fulfill your order to your satisfaction. Email updates will be sent as we process your items.
    - else
      .right.minilink= link_to "Edit #{cart_name}", cart_path       
.clear
