%tr{:id => "cart_item_#{cart_item.id}", :class => cycle('odd', 'even')}
  - item_class = cart_item.pre_order ? 'pre_order ' : ''
  - item_class << 'item_changed' if get_cart.is_cart_item_changed?(cart_item.id, "out_of_stock")
  %td{:class => item_class.present? && item_class}
    = cart_item.item_num
    - if cart_item.pre_order
      %br
      Pre-order
    - elsif cart_item.out_of_stock && !is_ee_uk?
      %br
      Low stock level
  %td
    .thumbnail
      = link_to(image_tag(cart_item.small_image), product_url(:item_num => cart_item.item_num.gsub(".", "point"), :name => cart_item.name.parameterize)) unless cart_item.small_image.blank?
      - if cart_item.product.outlet && is_sizzix_us?
        .clearance_flag= link_to(image_tag("/images/ui-objects/pricetag_outlet.png", :alt => "On Sale!", :title => "On Sale!"), product_url(:item_num => cart_item.item_num.gsub(".", "point"), :name => cart_item.name.parameterize)) unless cart_item.small_image.blank?
  %td= cart_item.product_id.blank? ? cart_item.name : link_to(cart_item.name, product_url(:item_num => cart_item.item_num.gsub(".", "point"), :name => cart_item.name.parameterize))
  - if admin_signed_in? && current_admin.can_change_prices
    %td.dontprint{:style => "text-align: right"}= check_box_tag :upsell, cart_item.id, cart_item.upsell, :disabled => @cart_locked, :onchange => "$.ajax({url: '/carts/set_upsell?id=#{cart_item.id}&state='+this.checked})"
  %td{:style => "text-align: right"}= number_to_currency gross_price(cart_item.msrp)
  %td{:style => "text-align: right", :id => "cart_item_price_#{cart_item.id}", :class => get_cart.is_cart_item_changed?(cart_item.id, "price") ? 'cart_item_price item_changed' : 'cart_item_price'}= display_product_price_cart cart_item
  %td{:style => "text-align: right", :class => get_cart.is_cart_item_changed?(cart_item.id, "quantity") ? 'item_changed' : nil}= text_field_tag :quantity, cart_item.quantity, :id => "cart_quantity_#{cart_item.item_num}", :maxlength => 3, :size => 3, :class => "number_only", :disabled => @cart_locked, :autocomplete => 'off', :onchange => is_er? ? "if ($(this).val() < #{cart_item.minimum_quantity}) {$(this).val(#{cart_item.minimum_quantity});alert('Minimum Quantity Required for this product is: #{cart_item.minimum_quantity}')}" : nil
  %td{:style => "text-align: right", :id => "cart_item_total_#{cart_item.id}", :class => "cart_extended_price"}= number_to_currency gross_price(cart_item.total)
  - unless @cart_locked
    %td.dontprint{:style => "text-align: right"}
      %p.buttonset{:id => "wishlist_buttons_#{cart_item.id}"}
        %button.save_for_later{:id => "add_to_list_#{cart_item.id}", :rel => "#{cart_item.item_num}"} Save for Later  
  %td.dontprint
    - unless @cart_locked || cart_item.coupon? 
      .remove_from_cart{:id => "remove_from_cart_#{cart_item.item_num}"} Remove