- if @cart.cart_items.blank?
  = t :empty_cart
- else
  %h2== You have #{pluralize get_cart.total_quantity, "item"} in your shopping #{(t :cart)}
  %table{:cellpadding => 10}
    %thead
      %tr
        %th{:width => 60} Item No.
        %th{:width => 70} Item Name
        %th{:width => 400}
        - if !request.xhr?
          %th{:width => 200} Move
          %th{:style => "text-align: right", :width => 75} Retail Price
        %th{:style => "text-align: right", :width => 75} You Pay
        %th{:style => "text-align: right", :width => 70} Quantity
        %th{:style => "text-align: right", :width => 75} Total Price
        %th
    %tbody
      = render :partial => 'carts/cart_item', :collection => @cart.cart_items
      %tr
        %td
        %td
        %td
        - if !request.xhr?
          %td
          %td
        %td
        %td{:style => "text-align: right", :class => "cart_extended_price"} Subtotal:
        %td#cart_subtotal{:style => "text-align: right", :class => "cart_extended_price"}= number_to_currency gross_price(@cart.sub_total)
        %td        
    - unless @cart_locked
      :javascript
        $('input.number_only').keydown(number_only)
        .focusout(function(){
          if ($(this).val().length < 1) {
            var original_value = $(this).attr('defaultValue');
            $(this).val(original_value);
          }
          var item_num = this.id.replace('cart_quantity_', '')
          $.ajax({url:"/carts/change_quantity?item_num="+item_num+"&qty="+$(this).val()});
          _gaq.push(['_trackEvent', 'Cart', 'Change Quantity', item_num+':'+$(this).val()]);
        })
    - if admin_signed_in? && current_admin.can_change_prices && !@cart_locked
      :javascript
        $(".cart_item_price").editInPlace({
          url: "/carts/custom_price",
          success: function(){
            $.get('/cart', function(data){
              $('#cart_container').replaceWith(data);
            });
            $.fancybox.resize();
          },
          value_required: true,
          show_buttons: true,
          saving_animation_color: "#ECF2F8"
        });
  :javascript 
    $("table").each(function() {
      $(this).addClass("ui-widget ui-widget-content ui-corner-all");
    });
    $("table thead").each(function() {
      $(this).addClass("ui-state-hover");
    });

  - unless @cart_locked
    #cart_coupon= render :partial => "carts/coupon"
    %br
    - if get_cart.pre_order?
      %p.error There are items in the cart that are available for pre-order only. If you would like to place a pre-order please click "Pre-Order". For immediate shipping please remove these items.
    - if quote_allowed?
      .save_as_quote.right Save as Quote
    - if chekout_allowed?
      #checkout_button.right= "Checkout"
    - elsif get_cart.pre_order?
      .save_as_quote Pre-Order
    #empty_cart.right Empty Cart
    :javascript
      $(function() {
        $("#checkout_button").button({icons: {primary: 'ui-icon-check'}})
          .click( function() {
            $.ajax({url:"#{checkout_requested_path}", complete: function(){$.fancybox.resize()}});
      		});
        $("#empty_cart").button({icons: {primary: 'ui-icon-trash'}})
          .click( function() {
            $.ajax({url:"/carts/empty_cart", complete: function(){$.fancybox.resize()}});
            _gaq.push(['_trackEvent', 'Cart', 'Empty Cart']);
      			$(this).button({ disabled: true });
      		});
      	$(".remove_from_cart")
      	  .button({icons: {primary: 'ui-icon-close'}, text: false})
      		.click( function() {
      			$.ajax({url:"/carts/remove_from_cart?item_num="+this.id.replace('remove_from_cart_', '')});
      			_gaq.push(['_trackEvent', 'Cart', 'Remove From Cart', this.id.replace('remove_from_cart_', '')]);
      			$(this).button({ disabled: true });
      		}); 
      		$(".save_as_quote")
        	  .button({icons: {primary: 'ui-icon-clipboard'}})
        		.click( function() {
              $.ajax({url:"#{quote_requested_path}", complete: function(){$.fancybox.resize()}});
        		});
      });
  - else
    .right= link_to 'Edit Cart', cart_path