- if @cart.cart_items.blank?
  = t :empty_cart
- else
  %table{:cellpadding => 10}
    %thead
      %tr
        %th{:width => 60} Item No.
        %th{:width => 70} Item Name
        %th{:width => 400}
        %th{:width => 66} Quantity 
        %th Item Price
        %th Total Price
        %th
    %tbody= render :partial => 'cart_item', :collection => @cart.cart_items
    - if admin_signed_in? && current_admin.can_change_prices && !@cart_locked
      :javascript
        $(".cart_item_price").editInPlace({
          url: "/carts/custom_price",
          success: function(){
            $.get('/cart', function(data){
              $('#cart_container').replaceWith(data);
            });
            $.fancybox.resize();
          },
          value_required: true,
          show_buttons: true,
          saving_animation_color: "#ECF2F8"
        });
  %ul.right.cart_ul
    %li.ui-menu-item.subtotal
      .cart_label Subtotal: 
      %span.amount= number_to_currency gross_price(@cart.sub_total)
  - unless @cart_locked
    #empty_cart Empty Cart
    #checkout_button= "Checkout"
    :javascript
      $(function() {
        $("#checkout_button").button({icons: {primary: 'ui-icon-check'}})
          .click( function() {
            $.ajax({url:"#{checkout_requested_path}", complete: function(){$.fancybox.resize()}});
      		});
        $("#empty_cart").button({icons: {primary: 'ui-icon-trash'}})
          .click( function() {
            $.ajax({url:"/carts/empty_cart", complete: function(){$.fancybox.resize()}});
            _gaq.push(['_trackEvent', 'Cart', 'Empty Cart']);
      			$(this).button({ disabled: true });
      		});
      	$(".remove_from_cart")
      	  .button({icons: {primary: 'ui-icon-minusthick'}})
      		.click( function() {
      			$.ajax({url:"/carts/remove_from_cart?item_num="+this.id.replace('remove_from_cart_', '')});
      			_gaq.push(['_trackEvent', 'Cart', 'Remove From Cart', this.id.replace('remove_from_cart_', '')]);
      			$(this).button({ disabled: true });
      		})
      });