- unless get_cart.coupon.blank?
  %p
    == Coupon Code <strong>#{get_cart.coupon_code}</strong> has been applied.
    = link_to "remove", remove_coupon_path, :remote => true, :class => "link_remove"
    - unless get_cart.coupon.description.blank?
      %br
    = raw get_cart.coupon.description
    - if get_cart.coupon.long_description.present?
      = link_to 'more details', '#coupon_long_description', :class => 'lightbox link_help'
      #coupon_long_description_container{:style => "display:none"}
        #coupon_long_description= get_cart.coupon.long_description.html_safe
      :javascript
        initialize_lightboxes();
- else
  = form_tag activate_coupon_path, :id => "coupon_form", :remote => true do
    = label_tag :coupon_code, "Please enter coupon code here:"
    = text_field_tag :coupon_code
    %button.jqui_ok#activate_coupon Activate coupon
    %p.formhelp
      Only one coupon code allowed per order.
      - if is_ee_us?
        %br
        Please make certain your coupon is eligible for online redemption.
  :javascript
    $(function() {
      $("#activate_coupon").button({icons: {primary: 'ui-icon-check'}}).click( function() {
        if ($("#coupon_code").attr('value').length > 2) {
          $('#coupon_form').submit(); 
          $(this).button({disabled: true});
        }
      });
    });
  