- unless get_cart.coupon.blank?
  %p
    == Coupon Code #{"<strong>#{get_cart.coupon_code}</strong>".html_safe} has been accepted.
    - unless get_cart.coupon.description.blank?
      %br
    = get_cart.coupon.description.html_safe
    = link_to "remove", remove_coupon_path, :remote => true, :class => "link_remove"
- else
  = form_tag activate_coupon_path, :id => "coupon_form", :remote => true do
    = label_tag :coupon_code, "Please enter Coupon code here:"
    = text_field_tag :coupon_code
    .jqui_ok#activate_coupon Activate coupon
    %p.formhelp
      Only one coupon code allowed per order.
      - if is_ee_us?
        Please make certain you coupon is eligible for online redemption.
  :javascript
    $(function() {
      $("#activate_coupon").button({icons: {primary: 'ui-icon-check'}}).click( function() {
        if ($("#coupon_code").attr('value').length > 2) {
          $('#coupon_form').submit(); 
          $(this).button({disabled: true});
        }
      });
    });
  