= number_to_currency @cart.gift_card_applied_amount
has been Applied to your Sizzix/Ellison Gift card ending #{@cart.gift_card_number.split("=").first[-4,4]}.
- if @cart.balance_due > 0.0
  The balance due is #{number_to_currency @cart.balance_due}. Please enter your credit card information below.')
= link_to "Remove", '#', class: "jqui_save", id: "remove_gift_card"
:coffeescript
  $ ->
    $('#gift_card_form').hide()
    $('#cart_gift_card_applied_amount').remove()
    $('#cart_balance_due').remove()
    $('ul.cart_summary').append('#{escape_javascript render(partial: 'carts/balance_due')}')
    $('#remove_gift_card').click ->
      $.ajax
        url: 'carts/remove_gift_card'
      false
