%h2{:style=>"font-family:georgia!important;"}== The following item has been successfully added to your shopping #{cart_name}
%table{:cellpadding => 10}
  %thead
    %tr{:style => "#{ is_sizzix_us? ? 'background:#333; color:white;' : ''}"}
      %th{:width => 60} Item #
      %th{:width => 70} Item Name
      %th{:width => 400}
      %th{:style => "text-align: right; white-space: nowrap", :width => 80}== #{is_er? ? 'Wholesale' : 'Regular'} Price
      %th{:style => "text-align: right", :width => 75} Your Price
  %tbody
    %tr{:id => "cart_item_#{@product.id}"}
      %td{:class => @product.pre_order? ? 'pre_order' : nil}
        = @product.item_num
        - if @product.pre_order?
          %br
          Pre-order
        - elsif @product.out_of_stock? && !is_ee_uk?
          %br
          = is_ee_us? ? 'Out of stock' : 'Low stock level'
      %td
        .thumbnail{ :style => "position: relative" }
          = link_to(image_tag(@product.small_image), product_path(:item_num => @product.url_safe_item_num, :name => @product.name.parameterize)) unless @product.small_image.blank?
          - if @product.outlet?
            .clearance_flag= link_to(image_tag("/images/ui-objects/pricetag_outlet.png", :alt => "On Sale!", :title => "On Sale!"), product_path(:item_num => @product.url_safe_item_num, :name => @product.name.parameterize)) unless @product.small_image.blank?
      %td= link_to(@product.name.html_safe, product_path(:item_num => @product.url_safe_item_num, :name => @product.name.parameterize))
      %td{:style => "text-align: right"}= number_to_currency gross_price(@product.msrp_or_wholesale_price)
      %td{:style => "text-align: right", :id => "cart_item_price_#{@product.id}", :class => 'cart_item_price'}= display_product_price_cart @product
    %tr
      %td
      %td
      %td
      %td{:style => "text-align: right", :class => "cart_extended_price"} Subtotal:
      %td#cart_subtotal{:style => "text-align: right", :class => "cart_extended_price"}= number_to_currency gross_price(get_cart.sub_total)
%p.cart_shipmsg
  \&nbsp;
  %button{:id => 'checkout_now', :class => "right"} Check Out Now
:javascript
  $("#checkout_now").button()
    .click(function(){
      window.location = "#{cart_path}";
      $(this).button({disabled: true, label: 'please wait...'});
    });
    
  initialize_tables();
