= form_for(@payment, :url => {:action => "proceed_checkout"}, :remote => true, :html => {:id => "proceed_checkout", :method => :post}) do |f|
  = f.error_messages
  .left.field
    = required_field(f.label :first_name)
    %br
    = f.text_field :first_name
  .left.field
    = required_field(f.label :last_name)
    %br
    = f.text_field :last_name
  .clear
  .field
    .left
      = required_field(f.label :card_name)
      %br
      = select :payment, :card_name, Payment.cards, {:prompt => "--- card type ---"}
    .left
      = required_field(f.label :full_card_number, "Credit Card Number")
      %br
      = text_field :payment, :full_card_number
    .left
      = required_field(f.label :card_security_code)
      %br
      = text_field :payment, :card_security_code, :size => 4
    .clear
    .field
      = required_field(f.label :card_expiration_month, "Expires")
      %br
      = select :payment, :card_expiration_month, Payment.months, { :prompt => "month" }
      = select :payment, :card_expiration_year, Payment.years, { :prompt => "year" }
  .clear
  %br
  = f.submit "Place Order", :class => 'save', :onsubmit => "this.disable();"
  %br
  %br
  :javascript
    initialize_buttons();
    $(document).ready(function() { 
        var validator = $("#proceed_checkout").validate({ 
            errorClass: "invalid",
            rules: { 
                "payment[first_name]": { 
                    required: true
                }, 
                "payment[last_name]": { 
                    required: true
                }, 
                "payment[card_name]": { 
                    required: true,
                },
                "payment[full_card_number]": { 
                    required: true,
                    creditcard: true
                },
                "payment[card_security_code]": { 
                    required: true,
                    cvv: true
                },
                "payment[card_expiration_month]": { 
                    required: true
                },
                "payment[card_expiration_year]": { 
                    required: true
                },
            }, 
            success: function(label) { 
                label.html(" ").addClass("checked"); 
            },
            messages: {
                "payment[first_name]": {
                    required: " ",
                },
                "payment[last_name]": {
                    required: " ",
                },
                "payment[card_name]": { 
                    required: " ",
                },
                "payment[full_card_number]": {
                    required: " ",
                    creditcard: "invalid"
                },
                "payment[card_security_code]": { 
                    required: " ",
                },
                "payment[card_expiration_month]": { 
                    required: " ",
                },
                "payment[card_expiration_year]": { 
                    required: " ",
                },
            },
        }); 
    });
    
    
