= form_for(@payment, :url => {:controller => :carts, :action => @quote ? "quote_2_order" : "proceed_checkout", :id => @quote, :secure => true}, :remote => true, :html => {:id => "proceed_checkout", :method => :post}) do |f|
  = f.error_messages
  - if get_user.token && get_user.token.current?
    %strong Credit Card on file:
    .field
      = get_user.token.card_name
      = get_user.token.card_number
      = link_to "forget/use another one", forget_credit_card_path(:quote => @quote), :remote => true
      = f.hidden_field :use_saved_credit_card
  - else
    .left.field
      = required_field(f.label :first_name)
      %br
      = f.text_field :first_name
    .left.field
      = required_field(f.label :last_name)
      %br
      = f.text_field :last_name
    .clear_left
    .field
      .left
        = required_field(f.label :card_name)
        %br
        = select :payment, :card_name, Payment.cards, {:prompt => "--- card type ---"}
      .left
        = required_field(f.label :full_card_number, "Credit Card Number")
        %br
        = text_field :payment, :full_card_number
      .left
        = required_field(f.label :card_security_code)
        %br
        = text_field :payment, :card_security_code, :size => 4
      .clear_left
      .field
        = required_field(f.label :card_expiration_month, "Expires")
        %br
        = select :payment, :card_expiration_month, Payment.months, { :prompt => "month" }
        = select :payment, :card_expiration_year, Payment.years, { :prompt => "year" }
      .field
        = f.check_box :save_credit_card
        = f.label :save_credit_card
    .clear_left
  .ui-accordion.ui-widget.ui-helper-reset.ui-accordion-icons
    %h4.ui-accordion-header.ui-helper-reset#order_comment
      %span.ui-icon.ui-icon-triangle-1-e
      = link_to 'Comments', "#"
    %div= text_area_tag :comments, nil, :style => "width:500px;height:100px;" 
  = f.submit "Place Order", :class => 'jqui_save'
  %br
  %br
  :javascript
    var button_label = "Place Order";
    $(document).ready(function() { 
        initialize_buttons();
        order_comment();
        var payment_validator = $("#proceed_checkout").validate({ 
            errorClass: "invalid",
            rules: { 
                "payment[first_name]": { 
                    required: true
                }, 
                "payment[last_name]": { 
                    required: true
                }, 
                "payment[card_name]": { 
                    required: true,
                },
                "payment[full_card_number]": { 
                    required: true,
                    creditcard: true
                },
                "payment[card_security_code]": { 
                    required: true,
                    cvv: true
                },
                "payment[card_expiration_month]": { 
                    required: true
                },
                "payment[card_expiration_year]": { 
                    required: true
                },
            }, 
            success: function(label) { 
                label.html(" ").addClass("checked"); 
            },
            submitHandler: function(form) {
              $('#proceed_checkout').ajaxSubmit();
              _gaq.push(['_trackEvent', 'Cart', 'Place Order']);
              fancyloader('your order is being processed. please wait...');
            },
            
            messages: {
                "payment[first_name]": {
                    required: " ",
                },
                "payment[last_name]": {
                    required: " ",
                },
                "payment[card_name]": { 
                    required: " ",
                },
                "payment[full_card_number]": {
                    required: " ",
                    creditcard: "invalid"
                },
                "payment[card_security_code]": { 
                    required: " ",
                },
                "payment[card_expiration_month]": { 
                    required: " ",
                },
                "payment[card_expiration_year]": { 
                    required: " ",
                },
            },
        }); 
    });