%tr{:id => "saved_item_#{product.id}", :class => cycle('odd', 'even')}
  %td{:class => product.pre_order? ? 'pre_order' : nil}
    = product.item_num
    - if product.pre_order?
      %br
      Pre-order
    - elsif product.suspended?
      Retired
    - elsif product.out_of_stock?
      %br
      = product.listable? ? "Low stock level" : 'Out of Stock'
  %td
    .thumbnail
      = link_to image_tag(product.small_image), product_url(:item_num => product.url_safe_item_num, :name => product.name.parameterize)
      - if product.outlet? && is_sizzix_us?
        .clearance_flag= link_to(image_tag("/images/ui-objects/pricetag_outlet.png", :alt => "On Sale!", :title => "On Sale!"), product_url(:item_num => product.item_num.gsub(".", "point"), :name => product.name.parameterize)) unless product.small_image.blank?
  %td= link_to product.name, product_url(:item_num => product.url_safe_item_num, :name => product.name.parameterize)
  %td{ :style => "text-align: right"}= number_to_currency gross_price(product.msrp_or_wholesale_price)
  %td.cart_item_price{ :style => "text-align: right"}= display_product_price_cart product
  %td.dontprint{:style => "text-align: right; width: #{cart_name == 'quote' ? '180' : '155'}px"}
    - if product.can_be_added_to_cart?
      .move_to_cart{:id => "move_to_cart_#{product.id}", :rel => "#{product.item_num}"}= link_to "Move Back to Cart", "#", :class => "link_cart_move-back-to-cart", :onclick => "return false;"
    .delete_from_saved_list{:id => "delete_from_saved_list_#{product.id}", :rel => "#{product.item_num}"}= link_to "Remove from #{cart_name.capitalize}", "#", :class => "link_cart_remove-from-cart", :onclick => "return false;"