- if get_user.save_for_later_list.products.count > 0
  %hr.dontprint
  %h2== You have #{pluralize get_user.save_for_later_list.products.count, 'saved item'} to buy later
  %table#saved_list_table{:cellpadding => 10}
    %thead
      %tr
        %th{:width => 60} Item No.
        %th{:width => 70} Item Name
        %th
        %th{:style => "text-align: right", :width => 75}== #{is_er? ? 'Wholesale' : 'Retail'} Price
        %th{:style => "text-align: right", :width => 75} You Pay
        %th.dontprint{:style => "text-align: right; width: #{cart_name == 'quote' ? '180' : '155'}px"}
    %tbody= render :partial => 'carts/saved_item', :collection => get_user.save_for_later_list.products, :as => :product
  %p.legalese.right Prices and availability are subject to change.
  :javascript
    $(".move_to_cart").click( function() {
        $.ajax({url:"/carts/move_to_cart?id="+this.id.replace('move_to_cart_', '')});
        $(this).html('#{escape_javascript loader_bar}')
        _gaq.push(['_trackEvent', 'Cart', 'Move To Cart', $(this).attr('rel')]);
      })
    $(".delete_from_saved_list").click( function() {
        $.ajax({url:"/carts/delete_from_saved_list?id="+this.id.replace('delete_from_saved_list_', '')});
        $(this).html('#{escape_javascript loader_bar}')
        _gaq.push(['_trackEvent', 'Cart', 'Delete from saved for later list', $(this).attr('rel')]);
      });
  :javascript 
    $("table").each(function() {
      $(this).addClass("ui-widget ui-widget-content ui-corner-all");
    });
    $("table thead").each(function() {
      $(this).addClass("ui-state-hover");
    });