- if is_er_us? || is_sizzix_us?
  - if get_cart.total_weight < get_cart.total_actual_weight
    == Billable Weight: #{get_cart.total_weight} lbs
    %br
  == Actual Weight: #{get_cart.total_actual_weight} lbs
- unless get_cart.shipping_rates.blank?
  %ul.plain
    - get_cart.shipping_rates.sort {|x,y| x["rate"] <=> y["rate"]}.each do |rate|
      %li
        %span.left
          = radio_button_tag :shipping_service, rate["type"], rate["type"] == get_cart.shipping_service, :onclick => "$.ajax({beforeSend: function() {$('#payment_submit').button({disabled: true, label: 'please wait...'});$('#deferred_single_total_amount').html('#{escape_javascript loader_bar}');$('#deferred_first_payment').html('#{escape_javascript loader_bar}');$('#total_amount').html('#{escape_javascript loader_bar}');$('#shipping_amount').html('#{escape_javascript loader_bar}');if (!$('#payment_purchase_order_true').attr('checked')) remove_gift_card();$('#tax_amount').html('#{escape_javascript loader_bar}');}, url:'/carts/change_shipping_method?method='+this.value});"
          == #{rate["name"]}:
        %span.right= number_to_currency gross_price(rate["rate"])
        - unless rate["delivered_by"].blank?
          .clear
          %span.minilink.left{:style => "padding-left: 24px;"}== Estimated delivery: #{l rate["delivered_by"], :format => :date}
        .clear
- else
  = loader_bar
