%h5 Billing Address on file:
%b First Name:
= get_user.token.first_name
%br
%b Last Name:
= get_user.token.last_name
%br
%b Address1:
= get_user.token.address1
%br
%b City:
= get_user.token.city
%br
%b State:
= get_user.token.state
%br
%b Zip/Postal code:
= get_user.token.zip_code
%br
%b Country:
= get_user.token.country
%br
%b Email:
= get_user.token.email