%h2 Checkout
#checkout_shipping
  %h3 Shipping Info
  - if get_user.reload.shipping_address
    = render :partial => 'users/address_info', :locals => {:address_type => "shipping"}      
  - else
    #new_shipping
      = form_for(@shipping_address, :as => "#{@shipping_address.address_type}_address", :url => {:action => "create_shipping", :checkout => true}, :remote => true, :html => {:id => "edit_#{@shipping_address.address_type}_address", :method => :post}) do |f|
        = render :partial => 'users/address_form', :locals => {:f => f}
        .actions.right
          = f.submit "Continue", :class => 'jqui_save button_green'
#checkout_billing
  %h3 Billing Info
  - if get_user.token && get_user.token.current?
    #tokenized_billing_info= render :partial => 'tokenized_billing_info'
  - elsif get_user.billing_address && get_user.shipping_address
    = render :partial => 'users/address_info', :locals => {:address_type => "billing"}
  - else
    #new_billing{:style => "display:#{get_user.shipping_address ? 'block' : 'none'}"}
      = form_for(@billing_address, :as => "#{@billing_address.address_type}_address", :url => {:action => "create_billing"}, :remote => true, :html => {:id => "edit_#{@billing_address.address_type}_address", :method => :post}) do |f|
        %p= link_to "same as shipping address", {:action => "copy_shipping_address"}, :remote => true, :class => "minilink"
        = render :partial => 'users/address_form', :locals => {:f => f}
        .actions.right
          = f.submit "Continue", :class => 'jqui_save button_green'
#checkout_summary
  %h3 Order Summary
  %p
    You have
    %strong
      %em
        = pluralize get_cart.total_quantity, "item"
    == in your shopping #{(t :cart)} 
    = link_to "review #{(t :cart)}", "#", :class => "review_cart minilink", :id => 'review_bag'
  #cart_coupon= render :partial => "carts/coupon"
  %br
  :javascript
    $('.review_cart').click(function(){
      $('html, body').animate({ scrollTop: $("#checkout_cart").offset().top }, 500);
    	return false;
    })
    
  %ul.plain.cart_summary
    %li
      Subtotal:
      %span.amount.right#cart_sub_total= number_to_currency gross_price(@cart.sub_total)
    %li#cart_shipping= render :partial => 'shipping_amount' if get_user.shipping_address
    %li#cart_handling{:style => "display:#{calculate_handling > 0.0 ? 'block' : 'none'}"}= render :partial => 'handling_amount'
    %li#cart_tax= render :partial => 'tax_amount' if get_user.shipping_address
    %li#cart_total= render :partial => 'total_amount' if get_user.shipping_address
  
%hr
#checkout_payment
  #payment_errors.error{:style => "display:none"}
  #checkout_shipping_options
    #cod_info{:style => "display:#{get_user.shipping_address ? 'block' : 'none'}"}= render :partial => 'users/cod_form' if cod_allowed?
    %h3 Shipping Options
    == weight: #{get_cart.total_weight} lbs
    #shipping_options= render :partial => "shipping_options" if get_user.shipping_address
  %h3 Payment
  #checkout_cc{:style => "display:#{get_user.billing_address && get_user.shipping_address ? 'block' : 'none'}"}= render :partial => 'payment' if get_user.billing_address && get_user.shipping_address
.clear
%hr
#checkout_cart
  = link_to_function "top", "$('html, body').animate({ scrollTop: 0 }, 500);", :class => "minilink"
  #cart_contents= render :partial => 'cart'
%iframe{:style =>"height:0px;width:0px;visibility:hidden", :src=>"about:blank"} this frame prevents back forward cache 