= remote_multipart_response do
  ga('ecommerce:addTransaction', {
  id: '#{@order.public_order_number}',           // order ID - required
  affiliation: '#{get_domain}', // affiliation or store name
  revenue: '#{@order.total_amount}',          // total - required
  shipping: '#{@order.shipping_amount + @order.handling_amount}',          // shipping
  tax: '#{@order.tax_amount + @order.shipping_vat}',           // tax
  currency: '#{current_currency.upcase}'
  });
  - if is_sizzix_us?
    $('body').append('<img src="https://shareasale.com/sale.cfm?amount=#{convert_2_gbp @order.subtotal_amount}&tracking=#{@order.public_order_number}&transtype=sale&merchantID=51987" width="1" height="1">');
  - if  is_ee_us?
    $('body').append('<img src="https://shareasale.com/sale.cfm?amount=#{convert_2_gbp @order.subtotal_amount}&tracking=#{@order.public_order_number}&transtype=sale&merchantID=55564" width="1" height="1">');
  - @order.order_items.each do |item|
    ga('ecommerce:addItem', {
    id: '#{@order.public_order_number}',           // order ID - necessary to associate item with transaction
    name: '#{escape_javascript item.name}',        // product name
    sku: '#{item.item_num}',           // SKU/code - required
    - if is_er?
      category: '',
    - else
      category: '#{escape_javascript(item.product.product_lines.map(&:name) * ', ')}',   // category or variation
    price: '#{item.sale_price}',          // unit price - required
    quantity: '#{item.quantity}'               // quantity - required
    currency: '#{current_currency.upcase}'
    });
  ga('ecommerce:send');
  == setTimeout('redirect_to_order("#{order_path(@order)}")',3500);
