= remote_multipart_response do
  window.CT_C_OrderTotal='#{convert_2_gbp @order.subtotal_amount}';
  CT_RecordView('checkout_complete', 'GET');
  _gaq.push(['_addTrans',
  '#{@order.public_order_number}',           // order ID - required
  '#{get_domain}', // affiliation or store name
  '#{convert_2_gbp @order.total_amount}',          // total - required
  '#{convert_2_gbp(@order.tax_amount + @order.shipping_vat)}',           // tax
  '#{convert_2_gbp(@order.shipping_amount + @order.handling_amount)}',          // shipping
  '#{@order.address.city}',       // city
  '#{@order.address.state}',     // state or province
  '#{@order.address.country}'             // country
  ]);
  - @order.order_items.each do |item|
    _gaq.push(['_addItem',
    '#{@order.public_order_number}',           // order ID - necessary to associate item with transaction
    '#{item.item_num}',           // SKU/code - required
    '#{escape_javascript item.name}',        // product name
    - if is_er?
      '',
    - else
      '#{escape_javascript(item.product.product_lines.map(&:name) * ', ')}',   // category or variation
    '#{convert_2_gbp item.sale_price}',          // unit price - required
    '#{item.quantity}'               // quantity - required
    ]);
  _gaq.push(['_trackTrans']);
  == setTimeout('redirect_to_order("#{order_path(@order)}")',3500);
