== $('#billing_address_first_name').attr('value', '#{@billing_address.first_name}');
== $('#billing_address_last_name').attr('value', '#{@billing_address.last_name}');
== $('#billing_address_company').attr('value', '#{@billing_address.company}');
== $('#billing_address_address1').attr('value', '#{@billing_address.address1}');
== $('#billing_address_address2').attr('value', '#{@billing_address.address2}');
== $('#billing_address_city').attr('value', '#{@billing_address.city}');
== $('#billing_address_state').attr('value', '#{@billing_address.state}');
== $('#billing_address_zip_code').attr('value', '#{@billing_address.zip_code}');
== $('#billing_address_phone').attr('value', '#{@billing_address.phone}');
== $('#billing_address_fax').attr('value', '#{@billing_address.fax}');
