$.fancybox.close();
- if @shipping_address.valid? && @shipping_address.save
  - eval "@#{@shipping_address.address_type}_address_notice = 'Your #{@shipping_address.address_type} address has been saved.'"
  - eval "@#{@shipping_address.address_type}_address_error = 'Address Verification result: #{@shipping_address.avs_result.humanize}.'" unless @shipping_address.avs_result.blank? || @shipping_address.avs_result == "NO_CHANGES" || @shipping_address.avs_result == "BYPASSED"
  == $('#new_shipping').replaceWith('#{escape_javascript(render(:partial => "users/address_info", :locals => {:address_type => @shipping_address.address_type}))}');
  == $('#cart_shipping').html('#{escape_javascript(render(:partial => "shipping_amount"))}');
  == $('#cart_tax').html('#{escape_javascript(render(:partial => "tax_amount"))}');
  == $('#cart_total').html('#{escape_javascript(render(:partial => "total_amount"))}');
  - if is_uk?
    == $('#shoppingcart_info').html('#{escape_javascript(render(:partial => "carts/shopping_cart"))}');
    == $('#cart_sub_total').html('#{escape_javascript(number_to_currency gross_price(get_cart.sub_total))}');
  - if get_cart.allow_deferred?
    == $('#deferred_single_total_amount').html('#{escape_javascript(render(:partial => "carts/deferred_single_total_amount"))}');
    == $('#deferred_first_payment').html('#{escape_javascript(render(:partial => "carts/deferred_first_payment"))}');
  $('#new_billing').slideDown('slow');
  - if cod_allowed?
    $('#cod_info').show();
- else
  - if @shipping_address.enable_avs_bypass
    $('#bypass_avs').show();
  == alert('#{escape_javascript @shipping_address.errors.full_messages.join("\n")}');