== $("#cart_item_#{@cart_item_id}").remove();
== $('#cart_subtotal').html('#{number_to_currency gross_price(get_cart.sub_total)}');
== $('#total_savings').html('#{escape_javascript(render(:partial => "carts/total_savings"))}');
== $('#shoppingcart_info').html('#{escape_javascript(render(:partial => "carts/shopping_cart"))}');
== $('#cart_container').html('#{escape_javascript(render(:partial => "carts/cart"))}');
$('.error').hide()
