%h2== Navigation for #{current_system.upcase}
.tab-block
  %ul
    - @top_navigations.each do |top_nav|
      %li.rounded_top= link_to top_nav.label, "#top_nav_#{@top_navigations.index(top_nav)}"
  - @top_navigations.each do |top_nav|
    %div{:id => "top_nav_#{@top_navigations.index(top_nav)}"}
      %table
        %tr
          - (1..6).each do |col|
            %th== Column #{col}
        %tr
          - (1..6).each do |col|
            %td{:id => "td_nav_#{@top_navigations.index(top_nav)}_#{col}"}= render :partial => 'navigation', :object => Navigation.find_or_initialize_by(:system => current_system, :top_nav => @top_navigations.index(top_nav), :column => col)
:javascript
  $('.navigation_type').trigger('change');