- if tab.text
  = tab.text.html_safe
- if tab.products
  - Product.available.where(:item_num.in => tab.products).each do |product|
    .related_product_box
      .info
        .item_num= product.item_num
        .title= link_to product.name, product_url(:id => product)
        .price= display_product_price(product)
      .info= add_to_cart_button(@product)
      = image_tag(product.medium_image)
  .clear
- if tab.images
  - tab.images.each do |image|
    .tab_row
      .image_details= image.details
      .tab_image
        = link_to image_tag(image.image_url(:medium)), image.image_url, :class => 'lightbox', :title => image.caption
        .caption= image.caption
      .clear
- if tab.data_column
  - tab.data_column.each do |key, value|
    .data_key= key
    .data_value= value
  .clear
- if tab.compatibility
  - tab.compatibility.each do |compatibility|
    .compatibility_row= compatibility_products Product.available.where(:item_num.in => compatibility)
  .clear
  
        
        
  
