- if tab.text
  = tab.text
- if tab.products
  - Product.available.where(:item_num.in => tab.products).each do |product|
    .related_product_box
      .info
        .item_num= product.item_num
        .title= link_to product.name, product_url(:id => product)
        .price= display_product_price(product)
      .info= add_to_cart_button(@product)
      = image_tag(product.medium_image)
  .clear
- tab.images.each do |image|
  .tab_row
    .image_details= image.details
    .tab_image
      = link_to image_tag(image.image_url(:medium)), image.image_url, :class => 'lightbox', :title => image.caption
      .caption= image.caption
    .clear
  
