- if tab.no_image_details?
  - tab.images.each do |image|
    .floating_image
      = link_to image_tag(image.image_url(:medium)), image.image_url, :class => 'lightbox'
      .caption= image.caption
  .clear
- if tab.text
  = youtube_video tab.text.html_safe
- if tab.products
  = render :partial => 'products/product', :collection => Product.send(current_system).available.where(:item_num.in => tab.products).cache
  .clear
- if tab.ideas
  = render :partial => 'ideas/idea', :collection => Idea.send(current_system).available.where(:idea_num.in => tab.ideas).cache
  .clear
- if tab.images && !tab.no_image_details?
  - tab.images.each do |image|
    .tab_row
      .image_details= image.details
      .tab_image
        = link_to image_tag(image.image_url(:medium)), image.image_url, :class => 'lightbox', :title => image.caption
        .caption= image.caption
      .clear
- if tab.data_column
  - tab.data_column.each do |key, value|
    .data_key= key
    .data_value= value
  .clear
- if tab.compatibility
  - tab.compatibility.each do |compatibility|
    .compatibility_row= render :partial => 'products/product', :collection => Product.send(current_system).available.where(:item_num.in => compatibility).cache, :spacer_template => 'tabs/separator'
  .clear
  :javascript
    shadow_on();
- if tab.shared_content.present?
  = render tab.shared_content.visual_assets.current
  .clear
  
        
        
  
