%h2== <span style='text-transform: none'>eclips</span> Firmware
%h3 Text
= form_tag({:action => 'update_text'}, :remote => true) do
  .field
    = label_tag :text
    = text_area_tag :text, @text, :class => 'wymeditor'
  .actions
    = submit_tag 'save', :class => 'wymupdate jqui_save'
%h3 Files
%table#firmware_files
  %tr
    %th Name
    %th File
    %th Deactivate
  = render :partial => 'file', :collection => @files
= form_for(@firmware, :url => {:action => 'upload_file'}, :html => {:multipart => true, :id => 'upload_fw_file_form'}, :remote => true) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :file
    = f.file_field :file 
    (upload only files with extension .dmg, .exe, zip) 
  .actions
    = f.submit :class => 'jqui_save'
%h3 Firmware Serial Number Ranges:
= form_for(@firmware_range, :url => {:action => 'create_range'}, :html => {:id => 'firmware_range_form'}, :remote => true) do |f|
  .field
    = f.label :prefix
    = f.text_field :prefix
  .field
    = f.label :start_from
    = f.text_field :start_from  
  .field
    = f.label :end_to
    = f.text_field :end_to
  .actions
    = f.submit :class => 'jqui_save'
%table#firmware_ranges
  %tr
    %th Created at
    %th Created by
    %th Prefix
    %th Start from
    %th End to
  = render :partial => 'firmware_range', :collection => @firmware_ranges
    