%h2 Reports
%br
%hr
%h3 Order Analysis Report
= form_tag url_for(:action => 'order_analysis'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :order_analysis_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :order_analysis_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Order Summary Report
%p This report gives the summary of orders within the selected dates. It also gives an overview of order status within the selected dates.
= form_tag url_for(:action => 'order_summary'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :order_system
    = select_tag :order_system, options_for_select(ELLISON_SYSTEMS, current_system), :id => :order_summary_system
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :order_summary_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :order_summary_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#order_summary
%br
%hr
%h3 My List Summary Report - By system, one site at a time
    

