%h2 Reports
%br
%hr
%h3 Order Analysis Report
%p This report gives you overview of all orders with customer tracking cookie and utm_source info.  This report lists orders which are NOT cancelled.
= form_tag url_for(:action => 'order_analysis'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :order_analysis_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :order_analysis_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Order Summary Report
%p This report gives the summary of orders within the selected dates. It also gives an overview of order status within the selected dates.
= form_tag url_for(:action => 'order_summary'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :order_system, "System"
    = select_tag :order_system, options_for_select(ELLISON_SYSTEMS, current_system), :id => :order_summary_system
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :order_summary_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :order_summary_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#order_summary
%br
%hr
%h3 My List Summary Report
%p This report gives the summary of wishlists within the selected dates.
= form_tag url_for(:action => 'wishlists_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :order_system, "System"
    = select_tag :order_system, options_for_select(ELLISON_SYSTEMS, current_system), :id => :wishlists_report_system
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :wishlists_report_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :wishlists_report_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#wishlists_report
%br
%hr
%h3 Products Campaign Usage Report
%p This report gives an overview of how the products under the selected campaign performed between the campaign start and end dates. All coupon codes of  #{current_system}, which have orders are listed in the drop down.
= form_tag url_for(:action => 'campaign_usage_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :campaign
    = select_tag :campaign, options_for_select([["--- select campaign ---", nil]] + @campaigns)
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :campaign_usage_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :campaign_usage_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Products Performance Report
%p This report gives us an overview of how the products under the tag performed during the selected period. Select the date range, and select the desired category and submit button.  This report looks for product performance of all products under a specified tag.
= form_tag url_for(:action => 'product_performance_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :tag
    = select_tag :tag, grouped_options_for_select(@tags)
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :product_performance_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :product_performance_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Products Coupon Usage Report
%p This report gives an overview of how the products under the selected coupon code performed. All coupon codes of #{current_system}, which have orders are listed in the dropdown.
= form_tag url_for(:action => 'coupon_usage_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :coupon
    = select_tag :coupon, options_for_select([["--- select coupon ---", nil]] + @coupons)

  .actions
    = submit_tag "Submit", :class => 'jqui_save'
= form_tag url_for(:action => 'shipping_coupon_usage_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :coupon, "Shipping coupons"
    = select_tag :coupon, options_for_select([["--- select coupon ---", nil]] + @shipping_coupons)

  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Customer Information Report by tag
%p This report gives an overview of customers who bought products of the selected tag within the specified time.
= form_tag url_for(:action => 'customer_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :tag
    = select_tag :tag, grouped_options_for_select(@tags)
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :customer_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :customer_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Coupon Summary Report
%p This report gives a summary overview of how many orders were placed with the selected coupon. All coupon codes of  #{current_system}, which have orders are listed in the drop down.
= form_tag url_for(:action => 'coupon_summary_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :coupon
    = select_tag :coupon, options_for_select([["--- select coupon ---", nil]] + @all_coupons.map {|e| [e.codes * ', ', e.id]})

  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#coupon_summary_report
%br
%hr
%h3 Customer Summary Report
%p This report tells how many new user sign ups for the site within the selected date ranges
= form_tag url_for(:action => 'customer_summary_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :customer_summary_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :customer_summary_end_date

  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#customer_summary_report
  %br
%hr
%h3 Active Quotes/Pre-Order Report
%p This report generates all Active Quotes/Pre-orders line items to CSV file within the selected date ranges along with Release Date information of the product if the product is tagged for release date filter.  The generation of report is very database intensive and takes long time to generate report.  If there are more quotes/pre-orders on selected date range - the report will time out.  Select the date range based on no. of quotes you have in the selected date range.  
= form_tag url_for(:action => 'active_quotes_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :active_quotes_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :active_quotes_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
