%h2 Reports
%br
%hr
%h3 Order Analysis Report
= form_tag url_for(:action => 'order_analysis'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :order_analysis_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :order_analysis_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Order Summary Report
%p This report gives the summary of orders within the selected dates. It also gives an overview of order status within the selected dates.
= form_tag url_for(:action => 'order_summary'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :order_system, "System"
    = select_tag :order_system, options_for_select(ELLISON_SYSTEMS, current_system), :id => :order_summary_system
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :order_summary_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :order_summary_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#order_summary
%br
%hr
%h3 My List Summary Report
%p This report gives the summary of wishlists within the selected dates.
= form_tag url_for(:action => 'wishlists_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :order_system, "System"
    = select_tag :order_system, options_for_select(ELLISON_SYSTEMS, current_system), :id => :wishlists_report_system
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :wishlists_report_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :wishlists_report_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
#wishlists_report
%br
%hr
%h3 Products Campaign Usage Report
%p This report gives an overview of how the products under the selected campaign performed between the campaign start and end dates. All the active and inactive campaign names of #{current_system}, which have orders are listed in the dropdown.
= form_tag url_for(:action => 'campaign_usage_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :campaign
    = select_tag :campaign, options_for_select([["--- select campaign ---", nil]] + @campaigns)
    = label_tag :start_date
    = text_field_tag :start_date, @start_date, :class => 'datetimepicker', :id => :campaign_usage_start_date
    = label_tag :end_date
    = text_field_tag :end_date, @end_date, :class => 'datetimepicker', :id => :campaign_usage_end_date
  .actions
    = submit_tag "Submit", :class => 'jqui_save'
%br
%hr
%h3 Products Coupon Usage Report
%p This report gives an overview of how the products under the selected coupon code performed. All coupon codes of #{current_system} are listed in the dropdown.
= form_tag url_for(:action => 'coupon_usage_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :coupon
    = select_tag :coupon, options_for_select([["--- select coupon ---", nil]] + @coupons)

  .actions
    = submit_tag "Submit", :class => 'jqui_save'
= form_tag url_for(:action => 'shipping_coupon_usage_report'), :remote => true, :class => 'report_form' do
  .field
    = label_tag :coupon, "Shipping coupons"
    = select_tag :coupon, options_for_select([["--- select coupon ---", nil]] + @shipping_coupons)

  .actions
    = submit_tag "Submit", :class => 'jqui_save'
