- form_for @campaign, :url => {:action => @campaign.new_record? ? 'create_campaign' : 'update_campaign', :id => @campaign.id}, :remote => true do |f| 
  .field
    = f.label :name
    = f.text_field :name
    = hidden_field_tag :product_id, @campaign.product.id
  .field
    = f.label :discount_type
    = f.select :discount_type, Campaign::DISCOUNT_TYPES
  .field
    = f.label :discount
    = f.text_field :discount
  .field
    = f.label :start_date
    = f.text_field :start_date, :class => 'datetimepicker'
  .field
    = f.label :end_date
    = f.text_field :end_date, :class => 'datetimepicker'
  .field
    = f.label :systems_enabled
    = system_enabled('campaign')
  .actions
    = f.submit :class => 'jqui_save'
    .cancel= link_to 'cancel', '#', :onclick => @campaign.new_record? ? "$('#new_campaign').html(''); return false;" : %Q($("#campaign_#{@campaign.id}").css('background', 'white');$("#campaign_#{@campaign.id}").replaceWith("#{escape_javascript render('campaign', :campaign => @campaign)}"); return false;)
:javascript
  $(function (){  
      $('.datetimepicker').datetimepicker({
  					changeMonth: true,
  					changeYear: true
  				});  
  });
  initialize_buttons();
  