%li{:id => "campaign_#{campaign.id}", :style => campaign == @product.get_best_campaign ? "background:#00ee00" : nil, :class => "campaign #{'not_expired' if campaign.not_expired?} #{campaign.systems_enabled.map {|e| "campaign_#{e}"} * ' '}"}
  %strong Name:
  = campaign.name
  %strong Starts/Ends:
  = l campaign.start_date, :format => :custom
  \- 
  = l campaign.end_date, :format => :custom
  %strong Discount:
  = campaign.discount_name
  = campaign.discount
  %strong Systems:
  = campaign.systems_enabled.join(", ")
  .right
    = link_to 'edit', {:action => 'edit_campaign', :id => campaign, :product_id => @product.id}, :remote => true, :onclick => %Q($("#campaign_#{campaign.id}").css('background', '#FDFFB0');), :class => "jqui_edit_min"
    = link_to 'delete', {:action => 'delete_campaign', :id => campaign, :product_id => @product.id}, :remote => true, :confirm => "are you sure?", :method => :delete, :class => "jqui_destroy_min"
  
  