- form_for([:admin, @product], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :systems_enabled
    = system_enabled('product')
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = f.label "orderable_#{current_system}", "Orderable/Salable on #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.check_box "orderable_#{current_system}"
  .field
    = f.label :item_num
    %br
    = f.text_field :item_num
  .field
    = f.label :upc
    %br
    = f.text_field :upc
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :tax_exempt
    %br
    = f.check_box :tax_exempt
  .field
    = f.label :weight
    %br
    = f.text_field :weight
  - currencies.each  do |currency|
    .field
      = f.label "handling_price_#{currency}", :class => 'overrideable'
      %br
      = f.text_field "handling_price_#{currency}"
  .field
    = f.label :quantity
    %br
    = f.text_field :quantity
  - currencies.each  do |currency|
    .field
      = f.label "msrp_#{currency}", "MSRP #{currency.upcase}"
      %br
      = f.text_field "msrp_#{currency}", :onkeyup => gross_prices?(currency) ? "update_gross($(this), '#{currency}', #{vat})" : nil
      - if gross_prices? currency
        %br
        = label_tag "msrp_#{currency}_gross", "MSRP #{currency.upcase} (incl. VAT)"
        %br
        = text_field_tag "msrp_#{currency}_gross", nil, :onKeyUp => "update_net($(this), '#{currency}', #{vat})"
        :javascript
          $(document).ready(function(){update_gross($('#product_msrp_#{currency}'), '#{currency}', #{vat})});
  / .field
  /   = f.label :price
  /   %br
  /   = f.text_field :price
  .field
    = f.label "start_date_#{current_system}", "Start Date #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "start_date_#{current_system}", :class => 'datetimepicker'
  .field
    = f.label "end_date_#{current_system}", "End Date #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "end_date_#{current_system}", :class => 'datetimepicker'
  .field
    = f.label "availability_message_#{current_system}", "Availability Message #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "availability_message_#{current_system}", :class => 'overrideable', :size => 100
  .field
    = f.label :life_cycle
    %br
    = f.select :life_cycle, Product::LIFE_CYCLES
  .field
    = f.label :description, :class => 'overrideable'
    %br
    = f.text_area :description, :class => 'wymeditor'
  .field
    = image_tag(@product.image_url(:small)) if @product.image? 
    = f.file_field :image
    = f.hidden_field :image_cache
    %br
    = f.label :remove_image
    = f.check_box :remove_image
  .actions
    = f.submit :class => 'wymupdate jqui_save'
  :javascript
    $(function() {
      var avail_messages = [{value: '<a href="/contact">Call now to place your order</a>', label: "Call now to place your order"}, {value: '<a href="/stores">Check Your Local Craft Store</a>', label: 'Check Your Local Craft Store'}, {label: 'Available at your Local Retailer', value: '<a href="/stores">Available at your Local Retailer</a>'}, {value: '<a href="http://www.stampinup.com/ECWeb/CategoryPage.aspx?categoryID=180" target="_blank">Stampin\' Up! Exclusive Product</a>', label: 'Stampin\' Up! Exclusive Product'}];
      $('#product_availability_message_#{current_system}').autocomplete({source: avail_messages});
    });