%li.ui-menu-item{:id => "idea_#{idea.id}"}
  = link_to_function "x", "$('#idea_#{idea.id}').css('color', 'gray');$.ajax({url:'/admin/products/remove_idea?idea_id=#{idea.id}&id=#{product_id}'})", :class => "remove_idea"
  = link_to 'Show Idea', admin_idea_path(idea.id), :class => "show_idea", :alt => "show idea", :title => "show idea"
  == ##{idea.idea_num} #{idea.name}