%h1 Edit product

= render 'form'
%br
%br
.field
  = label_tag "Campaigns"
  %p= link_to 'new campaign', {:action => 'new_campaign', :id => @product.id}, :remote => true
  #new_campaign
  %ul#campaigns= render :partial => 'campaign', :collection => @product.campaigns
.field
  = label_tag "Additional Images"
  %p= link_to 'upload new image', {:action => 'new_image', :id => @product.id}, :remote => true
  #new_image
  #images= render :partial => 'image', :collection => @product.images
  .clear
= link_to 'Back', admin_products_path