%h2 Listing products
= link_to 'New product', new_admin_product_path, :class => 'jqui_new' if has_write_permissions?
%br
%h3 Filters
- unless params[:q].blank?
  = link_to 'all', admin_products_path, :class => 'jqui_button'
= form_tag(admin_products_path, :method => :get) do
  = admin_systems_checkboxes
  = select_tag :life_cycle, options_for_select([["- life cycle -", nil]] + Product::LIFE_CYCLES, params[:life_cycle])
  = select_tag :item_group, options_for_select([["- brand -", nil]] + Product::ITEM_GROUPS, params[:item_group])
  = text_field_tag :q, nil, :placeholder => "item num, name, desc"
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = check_box_tag :outlet, "1", params[:outlet] == "1"
  outlet only
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable 'item_num'
        = sortable 'name'
        %th Active
        %th Price
        = sortable "start_date_#{current_system}", "Start Date"
        = sortable "end_date_#{current_system}", "End Date"
        = sortable "life_cycle"
        %th Orderable
        - WAREHOUSES.each do |warehouse|
          = sortable "quantity_#{warehouse}", "Qty. #{warehouse.upcase}"
        - if is_sizzix_us?
          %th Outlet
        %th Systems
        %th &nbsp;
        - if has_write_permissions?
          %th &nbsp;
          -#%th &nbsp;
    %tbody
      - for product in @products
        %tr{ :class => cycle(:odd, :even) }
          %td= product.item_num
          %td= product.name
          %td= product.active
          %td= number_to_currency product.price rescue 'N/A'
          %td= l product.send("start_date_#{current_system}"), :format => :custom rescue "N/A for #{current_system}"
          %td= l product.send("end_date_#{current_system}"), :format => :custom rescue "N/A for #{current_system}"
          %td= product.life_cycle
          %td= product.send "orderable_#{current_system}"
          - WAREHOUSES.each do |warehouse|
            %td= product.send "quantity_#{warehouse}"
          - if is_sizzix_us?
            %td= product.outlet
          %td= product.systems_enabled.join(", ") rescue ''
          %td= link_to 'Show', admin_product_path(product), :class => 'jqui_show_min'
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_product_path(product), :class => 'jqui_edit_min'
            -#%td= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= will_paginate @products
%br
= link_to 'New product', new_admin_product_path, :class => 'jqui_new' if has_write_permissions?