%h1 Listing products
= link_to 'New product', new_admin_product_path, :class => 'jqui_new'
%br
- unless params[:q].blank?
  = link_to 'all', admin_products_path, :class => 'jqui_button'
- form_tag(admin_products_path, :method => :get) do
  = text_field_tag :q
  = submit_tag "search", :class => 'jqui_search'
%table
  %thead
    %tr
      %th Item num
      %th Name
      %th Price
      %th Start Date
      %th End Date  
      %th Active
      %th Avail.
      %th Qty.
      %th Systems
      %th &nbsp;
      %th &nbsp;
      %th &nbsp;
  %tbody
    - for product in @products
      %tr{ :class => cycle(:odd, :even) }
        %td= product.item_num
        %td= product.name
        %td= number_to_currency product.price
        %td= l product.start_date, :format => :custom
        %td= l product.end_date, :format => :custom
        %td= product.active
        %td= product.availability
        %td= product.quantity
        %td= product.systems_enabled.join(", ") rescue ''
        %td= link_to 'Show', admin_product_path(product), :class => 'jqui_show_min'
        %td= link_to 'Edit', edit_admin_product_path(product), :class => 'jqui_edit_min'
        %td= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete, :class => 'jqui_destroy_min'
%br
= will_paginate @products
%br
= link_to 'New product', new_admin_product_path, :class => 'jqui_new'