%h2{:style => "color:#{@product.displayable?(current_system, @time) ? 'green' : 'red'}"}== Product Preview: #{@product.id}
%p= text_field_tag :time, @time, :class => 'datetimepicker', :onchange => "window.location='#{admin_product_path(@product)}?time='+this.value"
= render :file => '/index/product'
.clear
%p
  %b Systems:
  = @product.systems_enabled.join(", ") 
%p
  %b MSRP:
  = number_to_currency @product.msrp
%p
  %b Price:
  = number_to_currency @product.price(:time => @time)
- if @product.get_best_campaign(:time => @time)
  %p
    %b Current Best Campaign:
    = @product.get_best_campaign(:time => @time).inspect
%p
  %b All Current active Campaigns (for current system):
  %br
  - @product.campaigns.current(:time => @time).each do |campaign|
    = campaign.inspect
    %br
%p
  %b All Campaigns:
  %br
  - @product.campaigns.each do |campaign|
    = campaign.inspect
    %br
      
- @product.attributes.keys.reject {|k| %w(versions campaigns).include? k}.each do |attribute|
  %p
    %b== #{attribute.humanize}:
    = @product.send attribute