%h2 Change your password
%p{:class=>"forgotpassword"} Enter your new password in the fields below and click "Change my Password."
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_messages
  = f.hidden_field :reset_password_token
  %p
    = required_label f, :password
    %br/
    = f.password_field :password
    %br
    %span.formhelp
      == Password must be between <strong>8-15 characters</strong>
      %br
      == with at least <strong>one letter</strong> and <strong>one number</strong> chosen
  %p
    = required_label f, :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.submit "Change my password", :class => "jqui_button"
    = link_to "Cancel", signin_signup_path, :class => "jqui_button"
  
= render :partial => "users/shared/links"
