= form_for([:admin, @static_page], :html => {:multipart => true}) do |f|
  = f.error_messages

  %hr
  %h3.contentwrap_XXXL.last System Visibility
  .contentwrap_large
    .field
      = f.label :active, "This static page is", :class => "autosize"
      active
      = f.radio_button(:active, true)
      disabled
      = f.radio_button(:active, false)  
  .contentwrap_large.last
    .field
      = f.label :system_enabled, "Enabled for", :class => "autosize"
      = f.select :system_enabled, ELLISON_SYSTEMS
      
  %hr
  %h3.contentwrap_XXXL.last Basic Information
  .contentwrap_large
    .field
      = required_label f, :name, { :label => "Page Title", :label_size => "105px" }
      = f.text_field :name    
    .field
      = required_label f, :permalink, { :label => "Permalink URL", :label_size => "105px" }
      = f.text_field :permalink
      %p.formhelp{:style => "margin-left: 112px"}
        - if @static_page.new_record?
          This will be the URL of the static page.
          %br
          ==(e.g.- http://#{request.host_with_port}/<strong>st-patrick-day-sale</strong>)
        - else
          The current URL to this static page is:
          %br
          = link_to "http://#{request.host_with_port}/<strong>#{@static_page.permalink}</strong>".html_safe, "http://#{request.host_with_port}/#{@static_page.permalink}"

  .contentwrap_large.last
    .field
      = f.label :short_desc, "Short Description <span class='formhelp'><em>for internal admin use only</em></span>".html_safe, :class => "autosize"
      %br
      = f.text_area :short_desc, :cols => 57, :rows => 5

  %hr
  .contentwrap_XXXL.last
    .field{:style => "width:850px"}
      = f.label :content
      %br
      = f.text_area :content, :class => 'wymeditor'
    .field
      = f.label :haml_content, "HAML Code"
      %br
      = f.text_area :haml_content, :cols => 106, :rows => 25
  %br
  .clear
  .actions
    = f.submit :class => 'wymupdate jqui_save'
