= form_for([:admin, @user], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :systems_enabled
    = system_enabled('user')
  - if is_er? || @user.systems_enabled && @user.systems_enabled.include?("er")
    .field
      = f.label :status, "Status (has affect only on Retailer users)"
      %br
      = f.select :status, User::STATUSES
    .field
      = f.label :discount_level
      %br
      = select_tag 'user[discount_level]', grouped_options_for_select(retailer_discount_levels.grouped_hash, @user.discount_level)
  .field
    = f.label :erp, "AX ID"
    %br
    = f.text_field :erp
  .field
    = f.label :invoice_account
    %br
    = f.text_field :invoice_account
  .field
    = f.label :purchase_order
    %br
    = f.check_box :purchase_order
  .field
    = f.label :tax_exempt
    %br
    = f.check_box :tax_exempt
  .field
    = f.label :tax_exempt_certificate
    %br
    = f.text_field :tax_exempt_certificate
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  .actions
    = f.submit :class => 'jqui_save'