= form_for([:admin, @user], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = f.label :systems_enabled
    = system_enabled('user')
  - if is_er? || @user.systems_enabled && @user.systems_enabled.include?("erus")
    .field
      = f.label :status, "Status (has affect only on Retailer users)"
      %br
      = f.select :status, User::STATUSES
    .field
      = f.label :discount_level
      %br
      = select_tag 'user[discount_level]', grouped_options_for_select(retailer_discount_levels.grouped_hash, @user.discount_level)
    .field
      = f.label :first_order_minimum
      %br
      = f.text_field :first_order_minimum
    .field
      = f.label :order_minimum
      %br
      = f.text_field :order_minimum
    .field
      = f.label :cod_account_type
      %br
      = f.select :cod_account_type, cod_list.map {|e| [e.label, e.id]}, :prompt => '--- COD account ---'
    .field
      = f.label :cod_account
      %br
      = f.text_field :cod_account
  .field
    = f.label :admin_id, "Sales Rep"
    %br
    = f.select :admin_id, Admin.sales_reps.asc(:name).map {|e| ["#{e.name} - #{e.email} (#{e.employee_number})", e.id]}, :prompt => '--- select sales rep ---'
  .field
    = f.label :erp, "AX ID"
    %br
    = f.text_field :erp
  .field
    = f.label :invoice_account
    %br
    = f.text_field :invoice_account
  .field
    = f.label :purchase_order
    %br
    = f.check_box :purchase_order
  .field
    = f.label :tax_exempt
    %br
    = f.check_box :tax_exempt
  .field
    = f.label :tax_exempt_certificate
    %br
    = f.text_field :tax_exempt_certificate
  - if is_ee?
    .field
      = f.label :institution
      %br/
      = f.select :institution, institutions
  .field
    = f.label :company, 'Company/School/Organization'
    %br/
    = f.text_field :company
  .field
    = f.label :name, "Name/Contact Person"
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  .actions
    = f.submit :class => 'jqui_save'