%h2 Listing users
= link_to 'New user', new_admin_user_path, :class => 'jqui_new' if has_write_permissions?
%br
- unless params[:q].blank?
  = link_to 'all', admin_users_path, :class => 'jqui_button'
= form_tag(admin_users_path, :method => :get) do
  = admin_systems_checkboxes
  - if is_er?
    = select_tag :status, options_for_select([["--- status ---", nil]]+User::STATUSES, params[:status])
  = text_field_tag :q
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        %th ERP ID
        = sortable "email"
        = sortable "company"
        = sortable "sign_in_count"
        = sortable "created_at"
        %th Systems
        - if is_er?
          %th Token?
          = sortable "status"
          %th Application
          %th Messages
        %th Orders
        %th Quotes
        %th{:style => "text-align: right; white-space: nowrap;"}
        - if has_write_permissions?
          %th{:style => "text-align: right; white-space: nowrap;"} &nbsp;
    %tbody
      - for user in @users
        %tr{ :class => cycle(:odd, :even) }
          %td= user.erp
          %td= user.email
          %td= user.company
          %td= user.sign_in_count
          %td= l user.created_at, :format => :custom rescue ''
          %td= user.systems_enabled.join(", ") rescue ''
          - if is_er?
            %td= link_to "#{user.token.present?}", :action => 'edit_token', :id => user.id
            %td= user.status
            %td= link_to 'view', :action => 'view_retailer_application', :id => user if user.application_complete?
            %td= link_to 'messages', admin_messages_path(:user_id => user.id), :class => 'jqui_messages_min'
          %td= link_to 'orders', admin_orders_path(:user_id => user.id)
          %td= link_to 'quotes', admin_quotes_path(:user_id => user.id)
          %td{:style => "text-align: right; white-space: nowrap;"}= link_to 'Show', admin_user_path(user), :class => 'jqui_show_min'
          - if has_write_permissions?
            %td{:style => "text-align: right; white-space: nowrap;"}= link_to 'Edit', edit_admin_user_path(user), :class => 'jqui_edit_min'
%br
= will_paginate @users
%br
= link_to 'New user', new_admin_user_path, :class => 'jqui_new' if has_write_permissions?