%h2== Retailer Application for user #{@user.email}
= link_to 'back', admin_users_path
|
= link_to 'edit user', edit_admin_user_path(@user)
- if has_write_permissions?
  |
  = link_to 'edit Retailer Application', :action => 'edit_retailer_application', :id => @user

= render :partial => 'users/view_retailer_application'