%h3
  = @file["original_name"]
  has been uploaded
%h4 Processing subscriptions...
%span#import_percentage 0
\%
#redirect_message
:javascript
  var percent = 0;
  $.ajax({
    tryCount : 0,
    retryLimit : 400,
    url:'/admin/subscriptions/get_subscription_import_status/#{@importer.id}', 
    success: function(data) {
      percent = data;
      $('#import_percentage').text(percent);
      this.tryCount++;
      if (percent == "100") {
        $('#redirect_message').text('Please wait, you are being redirected...');
        #{"alert('Emails #{@importer.import_errors * ", "} were not imported');" if @importer.import_errors.present?}
        window.location.href='/admin/subscriptions?importer_id=#{@importer.id}';
      } else if (this.tryCount <= this.retryLimit) {
        $(this).doTimeout( 'retrying', 4000, function(){
          $.ajax(this[0]);
        });
      } else {
        alert('expired');
      }
    }
  })
