%h2 Listing Subscriptions
= link_to 'New Subscription', new_admin_subscription_path, :class => 'jqui_new' if has_write_permissions?
- if has_write_permissions?
  %p
    To upload CSV file
    click 
    = link_to 'here', :action => :upload
%br
%h3 Filters
- unless params[:q].blank?
  = link_to 'all', admin_subscriptions_path, :class => 'jqui_button'
= form_tag(admin_subscriptions_path, :method => :get) do
  = text_field_tag :q, nil, :placeholder => "email"
  Incl. inactive
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "list"
        = sortable "email"
        %th Segments
        %th Name
        %th Confirmed
        - if has_write_permissions?
          %th &nbsp;
          %th &nbsp;
    %tbody
      - for subscription in @subscriptions
        %tr{ :class => cycle(:odd, :even) }
          %td= subscription.list
          %td= subscription.email
          %td= subscription.segments * ', '
          %td= subscription.name
          %td= subscription.confirmed
          - if has_write_permissions?
            %td= link_to 'Edit', edit_admin_subscription_path(subscription), :class => "jqui_edit_min"
            %td= link_to 'Destroy', admin_subscription_path(subscription), :confirm => 'Are you sure?', :method => :delete, :class => "jqui_destroy_min"
%br
= will_paginate @subscriptions
%br
= link_to 'New Subscription', new_admin_subscription_path, :class => 'jqui_new' if has_write_permissions?
