= form_for([:admin, @shared_content], :html => {:multipart => true}) do |f|
  = f.error_messages
  
  %hr
  %h3.contentwrap_XXXL.last System Visibility
  .contentwrap_large
    .field
      = f.label :active, "This shared content is", :class => "autosize"
      active
      = f.radio_button(:active, true)
      disabled
      = f.radio_button(:active, false)  
  .contentwrap_large.last
    .field
      = required_label f, :systems_enabled, { :label => "Enabled for", :label_size => "auto" }
      = system_enabled('shared_content')
  
  %hr
  %h3.contentwrap_XXXL.last Basic Information
  .contentwrap_large
    .field
      = required_label f, :name
      = f.text_field :name
    .field
      = f.label :placement, "Placement"
      = f.select :placement, SharedContent::PLACEMENTS, :include_blank => true
      %p.formhelp{ :style => "margin-left: 112px" }
        Only one is allowed for each/system.
        %br
        Select blank placement option if creating shared content for tabs.
    .field
      = f.label :display_order
      = f.number_field :display_order, :min => 0, :max => 100, :size => 3
  .contentwrap_large.last
    .field
      = f.label :short_desc, "Short Description", :class => "autosize"
      %br
      = f.text_area :short_desc, :cols => 57, :rows => 5

  %hr
  #visual_assets.contentwrap_XXXL.last
    - unless @shared_content.visual_assets.blank?
      %h3.left Visual Assets
      %p.right= link_to "collapse all", "#", :onclick => "$('.visual_asset, .child_visual_asset').css({height:'25px',overflow:'hidden'}).find('.va_collapse').removeClass('va_close').addClass('va_open'); return false;", :class => "link_collapse minilink"
    .clear
    = f.fields_for :visual_assets, @shared_content.visual_assets.ordered do |visual_asset_fields|
      = render 'admin/visual_assets/visual_asset', :f => visual_asset_fields
    = link_to_add_fields "Add Visual Asset", f, :visual_assets
  %br
  .clear
  .actions
    = f.submit :class => 'wymupdate jqui_save'
:javascript
  $('#visual_assets').sortable({handle: 'h2', tolerance: 'pointer', start: function(event, ui) {$('.visual_asset').css({height:"25px",overflow:"hidden"})}, stop: function(event, ui) {$('.visual_asset').css({height:"auto"})}, update: function(event, ui) {
    $.ajax({url:"/admin/shared_contents/reorder_visual_assets?id=#{@shared_content.id}&"+$("#visual_assets").sortable('serialize')});
  }})
