%h1 Edit Shared Content

= render 'form'

%h3== Shared in #{pluralize @shared_content.products.count, 'product tab'}:
%ul
  - @shared_content.products.each do |product|
    %li= link_to "#{product.name} (#{product.item_num})", edit_admin_product_path(product)
%br
%br
%h3== Shared in #{pluralize @shared_content.ideas.count, 'idea tab'}:
%ul
  - @shared_content.ideas.each do |idea|
    %li= link_to "#{idea.name} (#{idea.idea_num})", edit_admin_idea_path(idea)
%br
%br
= link_to 'Back', admin_shared_contents_path, :class => 'jqui_back'