%h2 Listing Shared Contents
= link_to 'New shared content', new_admin_shared_content_path, :class => 'jqui_new' if has_write_permissions?
%br
%h3 Filters
- unless params[:q].blank?
  = link_to 'all', admin_shared_contents_path, :class => 'jqui_button'
= form_tag(admin_shared_contents_path, :method => :get) do
  = admin_systems_checkboxes
  = text_field_tag :q, nil, :placeholder => "name, short_desc"
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = select_tag :placement, options_for_select([["- all -", nil], ["- none -", 'none']] + SharedContent::PLACEMENTS, params[:placement])
  = submit_tag "search", :class => 'jqui_search'
.highlightable
  %table
    %thead
      %tr
        = sortable "name"
        %th Short desc
        %th Systems
        %th Placement
        %th Active
        %th{ :width => 30, :style => "text-align: right;" } &nbsp;
        - if has_write_permissions?
          %th{ :width => 30, :style => "text-align: right;" } &nbsp;
          -#
            %th{ :width => 30, :style => "text-align: right;" } &nbsp;
    %tbody
      - for shared_content in @shared_contents
        %tr{ :class => cycle(:odd, :even) }
          %td= shared_content.name
          %td= shared_content.short_desc
          %td= shared_content.systems_enabled.join(", ") rescue ''
          %td= shared_content.placement
          %td= shared_content.active
          %td{ :width => 30, :style => "text-align: right;" }= link_to 'Show', admin_shared_content_path(shared_content), :class => "jqui_show_min"
          - if has_write_permissions?
            %td{ :width => 30, :style => "text-align: right;" }= link_to 'Edit', edit_admin_shared_content_path(shared_content), :class => "jqui_edit_min"
            -#
              %td{ :width => 30, :style => "text-align: right;" }= link_to 'Destroy', admin_shared_content_path(shared_content), :confirm => 'Are you sure?', :method => :delete, :class => "jqui_destroy_min"
%br
= paginate @shared_contents
%br
= link_to 'New shared_content', new_admin_shared_content_path, :class => 'jqui_new' if has_write_permissions?
