= link_to "Pin It", "http://pinterest.com/pin/create/button/?url=#{product_url(:item_num => @product.url_safe_item_num, :name => @product.name.parameterize)}&media=http://#{get_domain}#{@product.medium_image}&description=#{@product.name} #{number_to_currency gross_price(@product.price)}", class: "pin-it-button", 'count-layout' => "horizontal"
%script{:type => "text/javascript", :src  => "http://assets.pinterest.com/js/pinit.js"}
