.product-block{:style => !ecommerce_allowed? ? "height:210px" : nil, :class => "product_#{product.id}"}
  - if is_er? && ecommerce_allowed? && (product.in_stock? || product.pre_order?)
    .right.add_to_cart_multi{:style => "display:none"}= check_box_tag "cb_product_#{product.id}", product.id, false, :class => "add_to_cart_checkbox", :onclick => "toggle_add_checked_to_cart()"
  - if @users_list
    .list_actions
      = link_to_function "Move to Another List", "$(this).siblings('.move_to_another_list').toggle()", :class => 'jqui_move_min'
      = link_to "Delete from List", {:controller => 'users', :action => 'remove_from_list', :id => product, :list => @list.id}, :remote => true, :method => :delete, :confirm => "Are you sure yo want to remove this item from this List?", :class => 'jqui_destroy_min'
      .move_to_another_list{:style => "display:none"}
        %h4 Move to Another List
        = link_to_function 'cancel', "$(this).parents('.move_to_another_list').hide()", :class => "minibtn-cancel"
        = form_tag({:controller => 'users', :action => 'move_to_list', :id => product, :list => @list.id}, :remote => true) do
          = select_tag :move_to, options_for_select(@lists), :style => "max-width:150px"
          = image_submit_tag("/images/ui-icons/set_fugue/16x16/drop-shadow/notebook--arrow.png", :alt => "Move Item to Another List", :title => "Move Item to Another List")
  %h3.item_number= product.item_num
  - if outlet?
    .life-cycle
      %span== Save #{product.saving}%
  - elsif !product.public_life_cycle.blank?
    .life-cycle
      %span= product.public_life_cycle
  %p.item_image= link_to image_tag(product.medium_image), product_url(:id => product), :class => outlet? ? 'lightbox' : nil
  %p.item_name= link_to product.name, product_url(:id => product), :class => outlet? ? 'lightbox' : nil
  %p.item_price= display_product_price(product)
  .item_description= product.description.try :html_safe
  .cart-buttons= add_to_cart_button(product)
  - if ecommerce_allowed? && product.pre_order?
    .release_available= product.release_dates.map {|e| e.name} * ", "