.product-block
  %h3= product.item_num
  %p= link_to image_tag(product.medium_image), product_url(:id => product)
  %p#item_name= link_to product.name, product_url(:id => product)
  %p= display_product_price(product)
  .cart-buttons= add_to_cart_button(product)