= form_for([:admin, @coupon], :html => {:multipart => true}) do |f|
  = f.error_messages
  .field
    = required_field f.label(:systems_enabled)
    = system_enabled('coupon')
  .field
    = f.label :active
    %br
    = f.check_box :active
  .field
    = required_field f.label(:name)
    %br
    = f.text_field :name
  .field
    = required_field f.label(:codes, "Coupon code(s) (separate codes with commas to create aliases)")
    %br
    = f.text_field :codes, :value => @coupon.codes.try(:join, ", ")
  .field
    = f.label "start_date_#{current_system}", "Start Date #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "start_date_#{current_system}", :class => 'datetimepicker'
  .field
    = f.label "end_date_#{current_system}", "End Date #{current_system.upcase}", :class => 'overrideable'
    %br
    = f.text_field "end_date_#{current_system}", :class => 'datetimepicker'
  .field
    = required_field f.label(:level, "Level (discount applies to:)")
    %br
    = f.select :level, Coupon::LEVELS.map {|e| [e.humanize, e]}, {}, :onchange => "update_coupon_level()"
  .field
    = required_field f.label(:discount_type)
    %br
    = f.select :discount_type, Coupon::DISCOUNT_TYPES.map {|e| [e.humanize, e]}
  .field
    = required_field f.label(:discount_value)
    %br
    = f.text_field :discount_value
  .field.product_level.order_level.highest_priced_product_level.level_specific
    = f.label :free_shipping, "Free Shipping (check if you want to combine this offer with free shipping)"
    %br
    = f.check_box :free_shipping, :onchange => "toggle_shpping_conditions();"
  .field.product_level.level_specific
    = required_field f.label(:product_item_nums, "Products to discount (item nums):")
    Enter item numbers seperated by commas  
    %br
    = f.text_field :product_item_nums, :size => 150
    %br
  .field.shipping_level.level_specific
    .right
      = f.label(:shipping_states, "Shipping States (if US)")
      = check_box_tag :check_all_shipping_states, "1", false, :onchange => "$('.coupon_shipping_states').attr('checked', this.checked)"
      All
      .admin_checkboxes
        - states.each do |state|
          = check_box_tag "coupon[shipping_states][]", state[1], @coupon.shipping_states && @coupon.shipping_states.include?(state[1]), :class => "coupon_shipping_states"
          = state[0]
          %br
    = required_field f.label(:shipping_countries)
    = check_box_tag :check_all_shipping_countries, "1", false, :onchange => "$('.coupon_shipping_countries').attr('checked', this.checked)"
    All
    .admin_checkboxes
      - Country.all.cache.each do |country|
        = check_box_tag "coupon[shipping_countries][]", country.name, @coupon.shipping_countries && @coupon.shipping_countries.include?(country.name), :class => "coupon_shipping_countries"
        = country.name
        %br
    %br
  %h3 Conditions
  .field
    = f.label :cart_must_have
    = link_to_function "add", "$('#cart_must_have_list').append('#{escape_javascript render :partial => 'cart_must_have', :locals => {:condition => {:any => []}}}')"
    %ul#cart_must_have_list= render :partial => 'cart_must_have', :collection => @coupon.cart_must_have, :as => :condition
  .field
    = f.label :order_has_to_be
    %ul#order_has_to_be_list
      %li.ui-menu-item
        %strong Total weight:
        Over
        = text_field_tag "coupon[order_has_to_be][total_weight][over]", @coupon.order_has_to_be.try(:[], "total_weight").try(:[], "over")
        Under
        = text_field_tag "coupon[order_has_to_be][total_weight][under]", @coupon.order_has_to_be.try(:[], "total_weight").try(:[], "under")
      %li.ui-menu-item
        %strong Sub Total:
        Over
        = text_field_tag "coupon[order_has_to_be][sub_total][over]", @coupon.order_has_to_be.try(:[], "sub_total").try(:[], "over")
        Under
        = text_field_tag "coupon[order_has_to_be][sub_total][under]", @coupon.order_has_to_be.try(:[], "sub_total").try(:[], "under")
  .field
    = f.label :product_excluded_item_nums, "Products excluded from 'Order has to be' calculations above. (Also, these products will be excluded from order level and highest priced product discounts)"
    %br
    = f.text_field :product_excluded_item_nums, :size => 150
  .field
    = f.label :description, :class => 'overrideable'
    %br
    = f.text_area :description, :class => 'wymeditor'
  .actions
    = f.submit :class => 'wymupdate jqui_save'
  :javascript
    function update_coupon_level(){
      $('.level_specific').hide();
      $('.'+$('#coupon_level').attr('value')+'_level').show();
      switch ($('#coupon_level').attr('value')) {
        case 'order':
          $('#coupon_discount_type').val('percent');
          break;
        case 'shipping':
          $('#coupon_discount_type').val('fixed');
          break;
      }
    }
    function toggle_shpping_conditions(){
      if ($('#coupon_free_shipping').attr('checked')) {
        $('.shipping_level').show();
      } else {
        $('.shipping_level').hide();
      }
    }
    $(function() {
      update_coupon_level();
      toggle_shpping_conditions();
      $("#coupon_product_item_nums").autocomplete(auto_complete_options);
      $("#coupon_product_excluded_item_nums").autocomplete(auto_complete_options);
    });
    initialize_buttons();