%h2.left== Coupon Preview - #{@coupon.id}
.breadcrumbs.right.dontprint
  = link_to 'list all coupons', admin_coupons_path, :class => "link_list-all-records"
  = link_to 'edit', edit_admin_coupon_path(@coupon), :class => "link_edit-record"
.clear
%p= text_field_tag :time, @time, :class => 'datetimepicker', :onchange => "window.location='#{admin_coupon_path(@coupon)}?time='+this.value"
- if @coupon.product?
  %table
    %tr
      %th Item num
      %th Name
      %th Price
      %th Coupon Price
    - @products.each do |product|
      %tr
        %td= link_to product.item_num, edit_admin_product_path(product)
        %td= link_to product.name, admin_product_path(product)
        %td= display_product_price product, :date => @time rescue 'ERROR'
        %td= number_to_currency product.calculate_coupon_discount(@coupon) rescue 'ERROR'
- @coupon.group? && @coupon.children.each do |child|
  = link_to "#{child.name} (#{child.codes * ', '})", admin_coupon_path(child)
  %br
%br
- @coupon.attributes.keys.reject {|k| %w(versions campaigns).include? k}.each do |attribute|
  %p
    %b== #{attribute.humanize}:
    = @coupon.send attribute