%h1 Listing quotes
%br
- unless params[:q].blank?
  = link_to 'all', admin_quotes_path, :class => 'jqui_button'
= form_tag(admin_quotes_path, :method => :get) do
  = admin_systems_checkboxes
  = text_field_tag :q, nil, :placeholder => "shipping name, address"
  = check_box_tag :extended, "1"
  Extended search (case insensitive, partial match)
  = check_box_tag :inactive, "1", params[:inactive] == "1"
  Incl. inactive
  = submit_tag "search", :class => 'jqui_search'
=# link_to "download pre orders report", :action => 'pre_orders_report'
.highlightable
  %table
    %thead
      %tr
        = sortable "id"
        %th Name
        = sortable "created_at"
        = sortable "address.company", "Company"
        = sortable "subtotal_amount"
        %th System
        = sortable "active"
        = sortable "expires_at"
        %th Order?
        - if has_write_permissions?
          %th &nbsp;
    %tbody
      - for quote in @quotes
        - I18n.locale = quote.locale
        %tr{ :class => cycle(:odd, :even) }
          %td= link_to quote.id, admin_quote_path(quote)
          %td= quote.name
          %td= l quote.created_at, :format => :custom rescue ''
          %td== #{quote.address.company} (#{quote.address.first_name} #{quote.address.last_name})
          %td= number_to_currency quote.gross_subtotal_amount
          %td= quote.system
          %td= quote.active
          %td= l quote.expires_at, :format => :custom
          %td= quote.can_be_converted? ? link_to_if(current_admin.can_act_as_customer, "YES", :action => 'login_as_and_goto_quote', :id => quote) : "--"
          - if has_write_permissions?
            %td= link_to 'View', admin_quote_path(quote)
- I18n.locale = @current_locale
%br
= will_paginate @quotes
%br