%h2== Quote - #{@quote.id}
.back= link_to "Back to Quotes", admin_quotes_path
- I18n.locale = @quote.locale
.left
  %h3 Shipping Address
  %ul
    %li= @quote.address.company
    %li== #{@quote.address.first_name} #{@quote.address.last_name}
    %li= @quote.address.address1
    %li= @quote.address.address2
    %li= @quote.address.city
    %li= @quote.address.state
    %li= @quote.address.zip_code
    %li= @quote.address.country
    %li= @quote.address.phone
.left
  %h3 Details
  %strong System:
  = @quote.system
  %br
  %strong Quote Number:
  = @quote.id
  %br
  - if @quote.order
    %strong== Order Reference Number:
    = link_to @quote.order.id, admin_order_path(@quote.order)
    %br
  %strong Web Customer Number:
  = @quote.user.id
  %br
  %strong Quote Date:
  = l @quote.created_at, :format => :custom
  %br
  %strong Customer Rep:
  = @quote.customer_rep
  %br
  %strong Active:
  - if has_write_permissions?
    .field
      = check_box_tag :quote_active, "1", @quote.active, :onchange => "$.ajax({url: '/admin/quotes/update_active_status?id=#{@quote.id}&active='+this.checked})"
      :javascript
        $('#quote_active').iphoneStyle({ background: '#F9F3E8',checkedLabel: 'YES', uncheckedLabel: 'NO' })
  - else
    = @quote.active
.clear
%table
  %tr
    %th Item No.
    %th Item Name
    %th Quantity
    %th Item Price
    %th Item Subtotal
    %th Custom
    %th Coupon
  - @quote.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td= item.item_num
      %td= item.name
      %td= item.quantity
      %td= number_to_currency item.gross_price
      %td= number_to_currency item.item_total
      %td= item.custom_price
      %td= item.coupon_price
Subtotal:
= number_to_currency @quote.gross_subtotal_amount
%br
== Shipping & Handling (#{@quote.shipping_service.try :humanize}):
= number_to_currency @quote.gross_shipping_amount
%br
Shipping & Handling Surcharge:
= number_to_currency @quote.handling_amount
%br
== #{t :estimated_tax}:
= number_to_currency @quote.tax_amount
%br
ESTIMATED TOTAL:
= number_to_currency @quote.total_amount
%br
%br
%br
- if @quote.coupon
  .field
    %strong Coupon:
    = link_to @quote.coupon.codes.join(", "), admin_coupon_path(@quote.coupon)
    = @quote.coupon.name
.field
  %strong Tax Transaction ID:
  = @quote.tax_transaction
.field
  %strong Tax Calculated at:
  = l @quote.tax_calculated_at, :format => :custom rescue ''
.field
  %strong Quote Comments:
  = @quote.comments
.field
  %strong Internal Comments:
  #internal_comment= @quote.internal_comments
- I18n.locale = @current_locale
- if has_write_permissions?
  :javascript
    $("#internal_comment").editInPlace({
      url: "/admin/quotes/update_internal_comment",
      params: "id=#{@quote.id}",
      field_type: "textarea",
      textarea_rows: "15",
      textarea_cols: "35",
      show_buttons: true,
      saving_animation_color: "#ECF2F8"
    });