%h2== Quote - #{@quote.id}
.back= link_to "Back to Quotes", admin_quotes_path
- I18n.locale = @quote.locale
.contentwrap_medium
  %h3 Shipping Address
  %p
    - unless @quote.address.company.blank?
      = @quote.address.company
      %br
    == #{@quote.address.first_name} #{@quote.address.last_name}
    %br
    = @quote.address.address1
    %br
    - unless @quote.address.address2.blank?
      = @quote.address.address2
      %br
    == #{@quote.address.city}, #{@quote.address.state} #{@quote.address.zip_code}
    %br
    = @quote.address.country
    %br
    = @quote.address.phone
.contentwrap_medium
  %h3 Details
  %strong System:
  = @quote.system
  %br
  %strong Quote Number:
  = @quote.id
  %br
  - if @quote.order
    %strong== Order Reference Number:
    = link_to @quote.order.id, admin_order_path(@quote.order)
    %br
  %strong Web Customer:
  = @quote.user.email rescue "User NOT found"
  %br
  %strong Quote Date:
  = l @quote.created_at, :format => :custom
  %br
  %strong Expires:
  = l @quote.expires_at, :format => :custom
  = alert_wrapper "Expired!" if @quote.expires_at < Time.zone.now
  %br
  %strong Customer Rep:
  = @quote.customer_rep  
.contentwrap_medium.last
  - if @quote.user
    %div{:class => @quote.user.erp.blank? || @quote.user.invoice_account.blank? ? 'error' : nil}
      %strong ERP ID:
      = @quote.user.erp
      = link_to 'edit', edit_admin_user_path(@quote.user)
      %br
      %strong Invoice Account:
      = @quote.user.invoice_account
      = link_to 'edit', edit_admin_user_path(@quote.user)
      %br
  %strong Active:
  - if has_write_permissions?
    .field
      = check_box_tag :quote_active, "1", @quote.active, :onchange => "$.ajax({url: '/admin/quotes/update_active_status?id=#{@quote.id}&active='+this.checked})"
      :javascript
        $('#quote_active').iphoneStyle({ background: '#F9F3E8',checkedLabel: 'YES', uncheckedLabel: 'NO' })
    .success
      = link_to "Cancel and Recreate", {:action => 'recreate', :id => @quote}, :class => 'jqui_button'
  - else
    = @quote.active
.clear
%table
  %tr
    %th Item No.
    %th Item Name
    %th Quantity
    %th Item Price
    %th Item Subtotal
    %th Custom
    %th Coupon
  - @quote.order_items.each do |item|
    %tr{:class => cycle('odd', 'even')}
      %td= item.item_num
      %td= item.name
      %td= item.quantity
      %td= number_to_currency item.gross_price
      %td= number_to_currency item.item_total
      %td= item.custom_price
      %td= item.coupon_price
.contentwrap_XL &nbsp;
%ul.plain.cart_summary.contentwrap_medium.last
  %li
    Subtotal:
    %span.right= number_to_currency @quote.gross_subtotal_amount
  %li
    == Shipping & Handling (#{@quote.shipping_service.try :humanize}):
    %span.right= number_to_currency @quote.gross_shipping_amount
  - if @quote.cod?
    %li.error
      COD account:
      %span.right
        = @quote.cod_account_type
        = @quote.cod_account
  %li
    Shipping & Handling Surcharge:
    %span.right= number_to_currency @quote.handling_amount
  %li
    == #{t :estimated_tax}:
    %span.right= number_to_currency @quote.tax_amount
  %li#cart_total
    ESTIMATED TOTAL:
    %span.right= number_to_currency @quote.total_amount
  - if @quote.total_discount.present? && @quote.total_discount > 0.0
    %li
      Total Savings:
      %span.amount.right= number_to_currency @quote.total_discount
%br
%br
- if @quote.coupon
  .field
    %strong Coupon:
    = link_to @quote.coupon.codes.join(", "), admin_coupon_path(@quote.coupon)
    = @quote.coupon.name
.field
  %strong Tax Transaction ID:
  = @quote.tax_transaction
.field
  %strong Tax Calculated at:
  = l @quote.tax_calculated_at, :format => :custom rescue ''
.field
  %strong Quote Comments:
  = @quote.comments
.field
  %strong Internal Comments:
  #internal_comment= @quote.internal_comments
- I18n.locale = @current_locale
- if has_write_permissions?
  :javascript
    $("#internal_comment").editInPlace({
      url: "/admin/quotes/update_internal_comment",
      params: "id=#{@quote.id}",
      field_type: "textarea",
      textarea_rows: "15",
      textarea_cols: "35",
      show_buttons: true,
      saving_animation_color: "#ECF2F8"
    });