%h2== Quote - #{@quote.id}
.back= link_to "Back to Quotes", admin_quotes_path
- I18n.locale = @quote.locale
.contentwrap_medium
  %h3 Shipping Address
  %p
    - unless @quote.address.company.blank?
      = @quote.address.company
      %br
    == #{@quote.address.first_name} #{@quote.address.last_name}
    %br
    = @quote.address.address1
    %br
    - unless @quote.address.address2.blank?
      = @quote.address.address2
      %br
    == #{@quote.address.city}, #{@quote.address.state} #{@quote.address.zip_code}
    %br
    = @quote.address.country
    %br
    = @quote.address.phone
.contentwrap_medium
  %h3 Details
  %strong System:
  = @quote.system
  %br
  %strong Quote Name:
  %span.quote_name{:id => @quote.id}= @quote.name
  %br
  %strong Quote Number:
  = (@quote.quote_number.blank? ? @quote.id : @quote.quote_number)
  %br
  - if @quote.order
    %strong== Order Reference Number:
    = link_to @quote.order.id, admin_order_path(@quote.order)
    %br
  %strong Web Customer:
  = @quote.user.email rescue "User NOT found"
  %br
  %strong Quote Date:
  %span#quote_date= @quote.created_at
  %br
  %strong Expires:
  = l @quote.expires_at, :format => :custom
  = alert_wrapper "Expired!" if @quote.expires_at < Time.zone.now
  %br
  %strong Customer Rep:
  = @quote.customer_rep  
.contentwrap_medium.last
  - if @quote.user
    %div{:class => @quote.user.erp.blank? || @quote.user.invoice_account.blank? ? 'error' : nil}
      %strong ERP ID:
      = @quote.user.erp
      = link_to 'edit', edit_admin_user_path(@quote.user)
      %br
      %strong Invoice Account:
      = @quote.user.invoice_account
      = link_to 'edit', edit_admin_user_path(@quote.user)
      %br
  %strong Active:
  - if has_write_permissions?
    .field
      = check_box_tag :quote_active, "1", @quote.active, :disabled => @quote.order.present?,  :onchange => @quote.order.present? ? "this.checked = false;alert('This quote has been converted to an order and cannot be reactivated')" : "$.ajax({url: '/admin/quotes/update_active_status?id=#{@quote.id}&active='+this.checked})"
      :javascript
        $('#quote_active').iphoneStyle({ background: '#F9F3E8',checkedLabel: 'YES', uncheckedLabel: 'NO' })
    .success
      = link_to "Cancel and Recreate", {:action => 'recreate', :id => @quote}, :class => 'jqui_button'
      - if @quote.active_quote? && calculate_tax?(@quote.address.state)
        %span#calculate_tax_button= "Run CCH Sales Tax Calculate"
  - else
    = @quote.active
  - if @quote.can_be_converted? && current_admin.can_act_as_customer 
    = link_to("Convert To Order", {:action => 'login_as_and_goto_quote', :id => @quote}, :class => 'jqui_button')
.clear
%table
  %thead
    %tr
      - if @quote.active_quote?
        %th
      %th Item #
      %th Item Name
      %th Quantity
      %th Item Price
      %th Item Subtotal
      %th Custom
      %th Coupon
  %tbody
    - @quote.order_items.each do |item|
      %tr{:class => cycle('odd', 'even')}
        - if @quote.active_quote?
          %td
            - if item.product.pre_order?(@quote.system)
              Pre-order
            - if !item.product.available?(@quote.system)
              Unavailable
            - elsif item.product.suspended?
              Retired
            - elsif item.product.out_of_stock?(@quote.system)
              Out of stock
        %td= item.item_num
        %td= item.name
        %td= item.quantity
        %td= number_to_currency item.gross_price
        %td= number_to_currency item.item_total
        %td= item.custom_price
        %td= item.coupon_price
.contentwrap_XL &nbsp;
%ul.plain.cart_summary.contentwrap_medium.last{ :style => "margin-bottom: 10px" }
  %li
    %span.left Subtotal:
    %span.right= number_to_currency @quote.gross_subtotal_amount
    .clear
  %li
    %span.left== Shipping & Handling (#{@quote.shipping_service.try :humanize}):
    %span#shipping_amount.right= number_to_currency @quote.gross_shipping_amount
    .clear
  - if @quote.cod?
    %li.error
      %span.left COD account:
      %span.right
        = @quote.cod_account_type
        = @quote.cod_account
      .clear
  %li
    %span.left Shipping & Handling Surcharge:
    %span.right= number_to_currency @quote.handling_amount
    .clear
  %li
    %span.left== #{is_us? ? 'Sales Tax' : is_sizzix_uk? ? 'VAT (already included in Subtotal)' : 'Estimated Tax'}:
    %span.right#tax_amount= number_to_currency @quote.tax_amount
    .clear
  %li#cart_total
    %span.left ESTIMATED TOTAL:
    %span.right#total_amount= number_to_currency @quote.total_amount
    .clear
  - if @quote.total_discount.present? && @quote.total_discount > 0.0
    %li
      %span.left Total Savings:
      %span.amount.right= number_to_currency @quote.total_discount
      .clear
%hr
- if @quote.coupon
  .field
    %strong Coupon:
    = link_to @quote.coupon.codes.join(", "), admin_coupon_path(@quote.coupon)
    = @quote.coupon.name
.field
  %strong Tax Transaction ID:
  %span#tax_transaction= @quote.tax_transaction
.field
  %strong Tax Calculated at:
  %span#tax_calculated_at= l @quote.tax_calculated_at, :format => :custom rescue ''
.field
  %strong Quote Comments:
  = @quote.comments
.field
  %strong Internal Comments:
  #internal_comment= @quote.internal_comments
- I18n.locale = @current_locale
- if has_write_permissions?
  :javascript
    $("#internal_comment").editInPlace({
      url: "/admin/quotes/update_internal_comment",
      params: "id=#{@quote.id}",
      field_type: "textarea",
      textarea_rows: "15",
      textarea_cols: "35",
      show_buttons: true,
      saving_animation_color: "#ECF2F8"
    });
    $(".quote_name").editInPlace({
      url: "/admin/quotes/change_quote_name",
      show_buttons: true,
      saving_animation_color: "#ECF2F8"
    });
    $('#shipping_amount').editInPlace({
      url: "/admin/quotes/change_shipping",
      params: "id=#{@quote.id}",
      show_buttons: true,
      value_required: true,
      success: function(data){
        eval(data);
      },
      saving_animation_color: "#ECF2F8"
    });
    $('#quote_date').editInPlace({
      url: "/admin/quotes/change_quote_date",
      params: "id=#{@quote.id}",
      show_buttons: true,
      value_required: true,
      saving_animation_color: "#ECF2F8"
    });
    $("#calculate_tax_button").button().click(function(){
      $(this).button({'disabled': true});
      $.ajax({url:"#{url_for({:action => "recalculate_tax", :id => @quote})}"});
      return false;
    });
:javascript
  initialize_tables();