#header{:style => "margin-right:auto;margin-left:auto;width:970px;"}
  .cardpanelshadow{:style => "width:970px;"}
    .container
      = render 'layouts/masthead'
      = render 'layouts/nav_utility'
      = render 'layouts/nav_catalog'
#content{:style => "margin-right:auto;margin-left:auto;width:970px;"}
  .cardpanelshadow{:style => "width:970px;"}
    .container
      = render 'layouts/content'
#footer{:style => "margin-right:auto;margin-left:auto;width:970px;"}
  .cardpanelshadow{:style => "width:970px;"}
    .container
      = render 'layouts/footer'