#header
  .container
    = render 'layouts/masthead'
    = render 'layouts/nav_utility'
    = render 'layouts/nav_catalog'
#content
  .container
    = render 'layouts/content'
#footer
  .container
    = render 'layouts/footer'