#root
  .container
    #header
      = render 'layouts/masthead'
      = render 'layouts/nav_utility'
      = render 'layouts/nav_catalog'
    #content
      = render 'layouts/content'
  #root_footer
#footer
  .container
    = render 'layouts/footer'