#header
  .cardpanelshadow
    .container
      = render 'layouts/masthead'
      = render 'layouts/nav_utility'
      = render 'layouts/nav_catalog'
#content
  .cardpanelshadow
    .container
      = render 'layouts/content'
#footer
  .cardpanelshadow
    .container
      = render 'layouts/footer'