-# MASTER META INCLUDE for the ELLISON3 WEB APPLICATION PLATFORM

- if @keywords.present?
  %meta{ :name => "keywords", :content => "#{@keywords}" }
- if @description.present?
  %meta{ :name => "description", :content => "#{strip_tags @description}" }
- if current_system == 'szus' && 'eeus'
  = stylesheet_link_tag 'jqui-ellison3/jquery-ui-1.8.4.custom.css', :media => 'all'
- else
  = stylesheet_link_tag 'jqui-er/jquery-ui-1.8.6.custom.css', :media => 'all'
= stylesheet_link_tag :all
= stylesheet_link_tag "compiled/screen_#{current_system}.css", :media => 'screen, projection'
= stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/print.css', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
= stylesheet_link_tag 'jquery.jqzoom.css', :media => 'screen, projection'
= stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.4.css', :media => 'screen, projection'
= stylesheet_link_tag 'jquery.validate.password', :media => 'screen, projection'
= stylesheet_link_tag 'iphone-style-checkboxes', :media => 'screen, projection'
= stylesheet_link_tag 'jquery.tooltip.css', :media => 'screen, projection'
= stylesheet_link_tag 'bubblepopup/jquery.bubblepopup.v2.3.1.css', :media => 'screen, projection'
= stylesheet_link_tag 'event_calendar'
= stylesheet_link_tag '/javascripts/cl_style.css'
/ Google Web Fonts
- if is_sizzix_us?
  = stylesheet_link_tag "http#{'s' if request.ssl?}://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=latin"
- if is_ee_uk?
  = stylesheet_link_tag "http#{'s' if request.ssl?}://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic&subset=latin"
= javascript_include_tag "http#{'s' if request.ssl?}://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.2.min.js"
= javascript_include_tag 'jquery-ui.js', 'jquery-ui-timepicker-addon.min.js', 'wymeditor/jquery.wymeditor.min.js'
= javascript_include_tag 'jquery.jqzoom-core-pack.js', 'jquery.form.js', 'fancybox/jquery.fancybox-1.3.4.pack.js', 'fancybox/jquery.easing-1.3.pack.js', 'jquery.validate.min.js', 'jquery.validate.password', 'jquery.ba-bbq.min.js'
= javascript_include_tag 'jquery.editinplace', 'iphone-style-checkboxes', 'jquery.tooltip.min.js', 'bubblepopup/jquery.bubblepopup.v2.3.1.min.js', 'date'
= javascript_include_tag 'application', 'view_toggle' 
= javascript_include_tag 'shadowOn/jquery.dotimeout.js', 'shadowOn/jquery.guid.js', 'shadowOn/jquery.shadowon.min.js'
= javascript_include_tag 'sudoSlider/jquery.sudoSlider.min.js'
= javascript_include_tag 'fancybox/jquery.mousewheel-3.0.4.pack.js', 'jcarousellite/jcarousellite_1.0.1.min.js'
= javascript_include_tag 'fonteffect/jquery-fonteffect-1.0.0.min.js'
= javascript_include_tag 'countdown_timer.js'
= javascript_include_tag 'jumpmenu.js'
= javascript_include_tag 'uk_survey.js'
= javascript_include_tag 'hoverintent/jquery.hoverIntent.minified.js', 'event_calendar', "jquery.rails.js", 'jquery.remotipart.js', 'rails_remote', 'jquery.uploadProgress.js'
= javascript_include_tag '/javascripts/js_loader.js'
= csrf_meta_tag

- if RAILS_ENV == 'development'
  /[if IE]
    = javascript_include_tag "https://getfirebug.com/firebug-lite.js"

/ System Favicons
- if is_sizzix_us?
  %link{ :href => "/images/favicons/s_favicon.ico", :rel => "icon", :type => "image/x-icon" }
  %link{ :href => "/images/favicons/s_favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
- elsif is_sizzix_uk?
  %link{ :href => "/images/favicons/s_uk_favicon.ico", :rel => "icon", :type => "image/x-icon" }
  %link{ :href => "/images/favicons/s_uk_favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
- else
  %link{:href => "/images/favicons/e_favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/images/favicons/e_favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

= render :partial => 'layouts/ga' if @trackable
:javascript
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
/ Sizzix UK Cookie Notify
- if is_uk?
  :javascript
    $LAB.script("/javascripts/cookie_uk.js").wait().script("/javascripts/cookielaw_uk.js").wait(function() {
    var cookie_notify = "<div id=\'cookieNotification\'><div class=\'bg\'></div><div>This website uses cookies to give you the best experience on #{get_domain.capitalize}. Some of these may have been set already. If you use this site we will assume that you accept this. If you require more information on cookies and how to manage them, please see our <a rel=\'nofollow\' href=\'/cookie-policy\'>cookie policy.</a></div><button style=\"cursor:pointer\" type=\"submit\" onclick=\'c_close();\'>Close this popup</button></div>";
    tm.mirrorCookies.initCookies(cookie_notify);});
  :javascript
    function c_close() {
    var ele = document.getElementById("cookieNotification");
    ele.style.display = "none";
    }
    