-# MASTER META INCLUDE for the ELLISON3 WEB APPLICATION PLATFORM

- if @keywords.present?
  %meta{ :name => "keywords", :content => "#{@keywords}" }
- if @description.present?
  %meta{ :name => "description", :content => "#{strip_tags @description}" }
- if current_system == 'szus'
  = stylesheet_link_tag 'jqui-ellison3/jquery-ui-1.8.4.custom.css', :media => 'all'
- else
  = stylesheet_link_tag 'jqui-er/jquery-ui-1.8.6.custom.css', :media => 'all'
= stylesheet_link_tag :all
= stylesheet_link_tag "compiled/screen_#{current_system}.css", :media => 'screen, projection'
= stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/print.css', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
= stylesheet_link_tag 'jqzoom.css', :media => 'screen, projection'
= stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox-1.3.1.css', :media => 'screen, projection'
= stylesheet_link_tag 'jquery.validate.password', :media => 'screen, projection'
= stylesheet_link_tag 'iphone-style-checkboxes', :media => 'screen, projection'
= stylesheet_link_tag 'jquery.tooltip.css', :media => 'screen, projection'
= stylesheet_link_tag 'bubblepopup/jquery.bubblepopup.v2.3.1.css', :media => 'screen, projection'
= stylesheet_link_tag 'event_calendar'
/ Google Web Fonts
- if is_sizzix_us?
  = stylesheet_link_tag "http#{'s' if request.ssl?}://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=latin"
- if is_ee_uk?
  = stylesheet_link_tag "http#{'s' if request.ssl?}://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic&subset=latin"
=# javascript_include_tag :defaults
= javascript_include_tag "http#{'s' if request.ssl?}://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.min.js"
= javascript_include_tag "jquery.rails.js", 'jquery-ui.js', 'jquery-ui-timepicker-addon-0.5', 'wymeditor/jquery.wymeditor.min.js'
-# javascript_include_tag 'curvycorners.js'
= javascript_include_tag 'jqzoom.pack.1.0.1.js', 'jquery.form.js', 'jquery.remotipart.js', 'fancybox/jquery.fancybox-1.3.1.pack.js', 'fancybox/jquery.easing-1.3.pack.js', 'jquery.validate.min.js', 'jquery.validate.password', 'jquery.ba-bbq.min.js'
= javascript_include_tag 'jquery.editinplace', 'iphone-style-checkboxes', 'jquery.tooltip.min.js', 'bubblepopup/jquery.bubblepopup.v2.3.1.min.js'
= javascript_include_tag 'application', 'view_toggle' 
= javascript_include_tag 'shadowOn/jquery.dotimeout.js', 'shadowOn/jquery.guid.js', 'shadowOn/jquery.shadowon.min.js'
= javascript_include_tag 'sudoSlider/jquery.sudoSlider.min.js'
= javascript_include_tag 'jcarousellite/jcarousellite_1.0.1.min.js'
= javascript_include_tag 'fonteffect/jquery-fonteffect-1.0.0.min.js'
= javascript_include_tag 'hoverintent/jquery.hoverIntent.minified.js', 'event_calendar', 'rails_remote'
= csrf_meta_tag

/ System Favicons
- if is_sizzix?
  %link{ :href => "/images/favicons/s_favicon.ico", :rel => "icon", :type => "image/x-icon" }
  %link{ :href => "/images/favicons/s_favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
- else
  %link{:href => "/images/favicons/e_favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/images/favicons/e_favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

= render :partial => 'layouts/ga' if @trackable
:javascript
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();