.column_left
  %h2
    Customer Care
  %p
    Call or e-mail our Customer Care Center for help with any issues or concerns.
  
  %h3
    Sizzix Customer Care Hours
  
  %p
    6:30 a.m. to 4:00 p.m., Pacific Time,
    %br/
    Monday through Friday
    %br/
    (877) 355-4766 (Toll Free in the USA)
    %br/
    (949) 598-8821 (Outside of the USA)

.column_middle 
  %h2
    Learn More
  
  %p
    Take a peek to find out what Creative Designers are creating with our products.
  
  %h3
    eclips:

  %p
    = link_to "Embossing", "#"
    %br/
    = link_to "Clothing/Fashion", "#"
    %br/
    = link_to "Art", "#"
    %br/
    = link_to "Crafts", "#"
    %br/
    = link_to "Digital Art", "#"

.column_right
  %h2
    Subscribe to the Sizzix Scoop
  
  %h2
    Follow Along With Us

  %p
    Connect with us in social media or join our Sizzix Scoop newsletter list to receive special offers, promotions, exclusive products information and news.
  
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/twitter.png"), "http://www.twitter.com/sizzix#{ is_us? ? "us" : "uk" }", :target => "blank"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/facebook.png"), "http://www.facebook.com/Sizzix", :target => "blank"
    - if is_sizzix_us?
      %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png"), "http://sizzixblog.blogspot.com/", :target => "blank"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png"), "http://www.youtube.com/sizzix", :target => "blank"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png"), "/contact"