.column
  %h2 Customer Care
  %p Contact us for help with any issues or concerns
  %p= link_to "Contact us online 24x7", "/contact"
  %h3 Call Center Hours
  %p
    8:30 to 17:00 GMT
    %br/
    Monday through Friday
  %h3 By Phone
  %ul
    %li 0844 499 8181 (Within UK)
    %li + 44 (0) 845 345 2277 (Outside of the UK)
  %h3 By Email
  %p= link_to "customersupport@ellisoneurope.com", "customersupport@ellisoneurope.com"
  %h3 By Fax
  %p Fax: +44 (0) 845 345 0011

.column
  %h2 Learn More
  %p More useful resources
  %ul
    %li= link_to "Custom Dies", "#"
    %li= link_to "About Us", "#"
    %li= link_to "Terms of Use", "#"
    %li= link_to "Privacy Policy", "#"
    %li= link_to "Legal Notices", "#"
    %li= link_to "Request a Catalog", "#"

.column_right
  %h2 Subscribe to Ellison Newsletter
  %p Get informed with regular email updates
  %h2 Follow Along With Us
  %p Connect with us in social media or join our Sizzix Scoop newsletter list to receive special offers, promotions, exclusive products information and news.
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/twitter.png"), "http://www.twitter.com/sizzix#{ is_us? ? "us" : "uk" }", :target => "blank", :title => "Follow us on Twitter", :alt => "Follow us on Twitter"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/facebook.png"), "http://www.facebook.com/Sizzix", :target => "blank", :title => "Join us on Facebook", :alt => "Join us on Facebook"
    - if is_sizzix_us?
      %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png"), "http://sizzixblog.blogspot.com/", :target => "blank", :title => "Read our blog", :alt => "Read our blog"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png"), "http://www.youtube.com/sizzix", :target => "blank", :title => "Watch us on YouTube", :alt => "Watch us on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png"), "/contact", :title => "Send us an email", :alt => "Send us an email"