.column{:class=>"panel_height"}
  %h2 Customer Service
  %p Contact us for help with any issues or concerns
  %p= link_to "Contact us online 24/7", "/contact"
  %h3 Customer Service Hours
  %p
    8:30 a.m. to 5:00 p.m. GMT,
    %br/
    Monday to Friday
  %h3 By Phone
  %ul
    %li 0844 499 8181 (Within UK)
    %li + 44 (0) 845 345 2277 (Outside of the UK)
  %h3 By Email
  %p= link_to "europecustomerservices@ellison.com", "mailto:europecustomerservices@ellison.com"
  %h3 By Fax
  %p Fax: +44 (0) 845 345 0011
  
  %h3 By Mail
  %ul
    %li Ellison Europe Ltd.
    %li Unit 3 Whitegate Industrial Estate
    %li Whitegate, Wrexham LL13 8UG
    %li United Kingdom 
  
.column{:class=>"panel_height"}
  %h2 Learn More
  %p More useful resources
  %ul
    %li= link_to "Custom Dies", "/customdies"
    %li= link_to "About Us", "/aboutus"
    %li= link_to "Privacy Policy", "/privacy"
    %li= link_to "Cookie Policy", "/cookie-policy", :rel => "nofollow"
    %li= link_to "Legal Notices", "/legal"
    
.column_right{:class=>"panel_height"}
  %h2 Subscribe to Us
  = render "layouts/newsletter_signup_form"
  
  %h2 To Connect With Us
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png", :size => "32x32"), "http://youtube.com/ellison", :target => "blank", :title => "Watch us on YouTube", :alt => "Watch us on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png", :size => "32x32"), "/contact", :title => "Send us an email", :alt => "Send us an email"