.column{:class=>"panel_height"}
  %h2== Customer Care
  %p 
    Contact us for help with any issues or concerns
    %br
    %span{:style=>"font-weight:bold"}=link_to "You may contact us online 24x7", "/contact"

  %h3 Call Center Hours
  %p
    6:30 a.m. to 4:00 p.m., Pacific Time,
    %br/
    Monday through Friday

  %h3 By Phone
  %ul
    %li (800) 253-2238 (Toll Free in the USA)
    %li (949) 598-8822 (Outside of the USA)

  %h3 By Fax
  %ul
    %li (800) 253-2240 (Toll free in the USA)
    %li (949) 598-8840 (Outside of the USA) 

  %h3 By Mail:
  %p
    %strong Ellison Education Customer Service
    %br/
    25862 Commercentre Drive
    %br/
    Lake Forest, California 92630-8804 USA

.column{:class=>"panel_height"}
  %h2 Learn More
  %p Other useful resources:
  %ul
    %li= link_to "Custom Dies", "/customdies"
    %li= link_to "Request a Catalog", "/myaccount/materials"
    %li= link_to "Where to Buy", "/stores"
    %li= link_to "Events & Conferences", "/events"
    %li= link_to "Workshops & Webinars", "/workshop"
    %li= link_to "Fundraising", "/fundraising"
    %li= link_to "Online Ordering Support", "/onlinesupport"
    %li= link_to "Privacy Policy", "/privacy"
    %li= link_to "Legal Notices", "/legal"

.column_right{:class=>"panel_height"}
  %h2 Subscribe to Connection
  = render "layouts/newsletter_signup_form"
  
  %h2 Follow Along With Us
  %p To Connect with us in social media
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/twitter.png"), "http://www.twitter.com/Ellison_#{ is_us? ? "us" : "uk" }", :target => "blank", :title => "Follow us on Twitter", :alt => "Follow us on Twitter"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/facebook.png"), "http://www.facebook.com/EllisonEducation", :target => "blank", :title => "Join us on Facebook", :alt => "Join us on Facebook"
    - if is_sizzix_us?
      %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png"), "http://sizzixblog.blogspot.com/", :target => "blank", :title => "Read our blog", :alt => "Read our blog"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png"), "http://youtube.com/ellison", :target => "blank", :title => "Watch us on YouTube", :alt => "Watch us on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png"), "/contact", :title => "Send us an email", :alt => "Send us an email"