.column_left.column
  %h3
    Customer Care
  %p
    Call or e-mail our Customer Care Center for help with any issues or concerns.
  
  %h4
    Sizzix Customer Care Hours
  
  %p
    6:30 a.m. to 4:00 p.m., Pacific Time,
    %br/
    Monday through Friday
    %br/
    (877) 355-4766 (Toll Free in the USA)
    %br/
    (949) 598-8821 (Outside of the USA)

.column_middle.column  
  %h3
    Learn More
  
  %p
    Take a peek to find out what Creative Designers are creating with our products.
  
  %h4
    eclips:

  %p
    = link_to "Embossing", "#"
    %br/
    = link_to "Clothing/Fashion", "#"
    %br/
    = link_to "Art", "#"
    %br/
    = link_to "Crafts", "#"
    %br/
    = link_to "Digital Art", "#"

.column_right.column
  %h3
    Subscribe to the Sizzix Scoop
  
  %h3
    Follow Along With Us

  %p
    Connect with us in social media or join our Sizzix Scoop newsletter list to receive special offers, promotions, exclusive products information and news.