.column
  %h2== Customer Care
  %p Call or e-mail our Customer Care Center for help with any issues or concerns.
  %p= link_to "Contact us online 24x7", "/contact"
  %h3 Call Center Hours
  %p
    6:30 a.m. to 4:00 p.m., Pacific Time,
    %br/
    Monday through Friday
  %h3 By Phone
  %ul
    %li (877) 355-4766 (Toll Free in the USA)
    %li (949) 598-8821 (Outside of the USA)

.column
  %h2 Learn More
  %p More useful resources
  %ul
    %li= link_to "Store Locator", "#"
    %li= link_to "Sizzix Official Blog", "#"
    %li= link_to "FAQs", "#"
    %li= link_to "Privacy Policy", "#"
    %li= link_to "Legal Notices", "#"

.column_right
  %h2 Subscribe to the Sizzix Scoop
  %p Get informed with regular email updates
  %h2 Follow Along With Us
  %p Connect with us in social media or join our Sizzix Scoop newsletter list to receive special offers, promotions, exclusive products information and news.
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/twitter.png"), "http://www.twitter.com/sizzix#{ is_us? ? "us" : "uk" }", :target => "blank", :title => "Follow us on Twitter", :alt => "Follow us on Twitter"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/facebook.png"), "http://www.facebook.com/Sizzix", :target => "blank", :title => "Join us on Facebook", :alt => "Join us on Facebook"
    - if is_sizzix_us?
      %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png"), "http://sizzixblog.blogspot.com/", :target => "blank", :title => "Read our blog", :alt => "Read our blog"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png"), "http://www.youtube.com/sizzix", :target => "blank", :title => "Watch us on YouTube", :alt => "Watch us on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png"), "/contact", :title => "Send us an email", :alt => "Send us an email"