.column{:style=>"min-height:580px;"}
  %h2 Customer Care - North America
  %h3 By Phone
  %ul
    %li (800) 253-2238 (Toll Free in the USA)
    %li (949) 598-8822 (Outside of the USA)
  %h3 By Fax
  %ul
    %li (800) 253-2240 (Toll free in the USA)
    %li (949) 598-8840 (Outside of the USA)
  %h3 By Mail
  %p
    %strong Ellison Retail Sales
    %br/
    25862 Commercentre Drive
    %br/
    Lake Forest, California 92630-8804
    %br
    United States
  %h3 By Email
  %p= link_to "customerservice@ellison.com", "mailto:customerservice@ellison.com"
    
.column{:style=>"min-height:580px;"}
  %h2 Customer Care - Europe
  %h3 By Phone
  %ul
    %li (0) 844 499 8181 (Within the UK)
    %li +44 (0) 845 345 2277 (Outside UK)
  %h3 By Fax
  %p +44 (0) 845 345 0011
  %h3 By Post
  %p
    %strong Ellison Europe Ltd.
    %br/
    Unit 3 Whitegate Industrial Estate
    %br/
    Whitegate, Wrexham LL13 8UG
    %br
    United Kingdom
  %h3 By Email
  %p= link_to "europecustomerservices@ellison.com", "europecustomerservices@ellison.com"

  %h2 Customer Care - Latin America
  %h3 By Email
  %ul
    %li ventas@ellisonlatinamerica.com 

.column_right{:style=>"min-height:580px;"}
  %h2 Follow Along With Us
  %p To Connect with us in social media
  %ul
    %li= link_to "Press Releases", "/pressreleases"
    %li= link_to "Distributor Locator", "/stores"
    %li= link_to "Legal Notices", "/legal"
    %li= link_to "News", "/news"
    %li= link_to "Events", "/events"
    %li= link_to "Awards", "/awards"
    %li= link_to "Announcements", "/announcements"
    %li= link_to "Shopping Support", "/shoppingsupport"
    %li= link_to "FAQs", "/websitefaq"
  %h3 Contact Us Online 24 x7
  %p= link_to "Online Contact us form", "/contact"
  
  
c)	Missing “Customer Care – Latin America” details – display below “Customer Care – Europe”
By Email:
ventas@ellisonlatinamerica.com 



