.column{:class=>"panel_height"}
  %h2== Customer Service
  %p 
    Contact us for help with any issues or concerns
    %br
    %span{:style=>"font-weight:bold"}=link_to "You may contact us online 24/7", "/contact"    
    
  .bold Customer Service Hours
  %p
    6:30 a.m. to 4:00 p.m., Pacific Time,
    %br/
    Monday through Friday
  
  .bold By Phone
  %ul
    %li 877.355.4766 (Toll Free in the USA)
    %li 949.598.8821 (Outside of the USA)

  .bold By Fax
  %ul
    %li 888.270.1200 (Toll free in the USA)
    %li 949.598.8842 (Outside of the USA)

  .bold By Mail
  %ul
    %li Sizzix Customer Service
    %li 25862 Commercentre Drive
    %li Lake Forest, CA
    %li 92630-8804 USA    

.column{:class=>"panel_height"}
  %h2 Learn More
  %p Other useful resources:
  %ul
    %li= link_to "Purchase Gift Cards", "/catalog#facets=category~gift-cards"
    %li= link_to "Check Gift Card Balance", "/giftcard_balance"
    %li= link_to "Store Locator", "/stores"
    %li= link_to "Sizzix Official Blog", "http://blog.sizzix.com"
    %li= link_to "Sizzix Events", "/events"
    %li= link_to "Sizzix News", "/news"
    %li= link_to "Online Ordering FAQ", "/orderfaq"
    %li= link_to "Privacy Policy", "/privacy"
    %li= link_to "Legal Notices", "/legal"

  %div{:style => "width:225px; height:54px; float:left; padding:0 6px;"}
    %div{:style => "width:100px; height:54px; float:left;", :title => "Click to Verify - This site chose VeriSign SSL for secure e-commerce and confidential communications."}
      %script{:src => "https://seal.verisign.com/getseal?host_name=www.sizzix.com&size=S&use_flash=NO&use_transparent=NO&lang=en", :type => "text/javascript"}
    %div{:style => "width:8px; height:54px; float:left;"}
    %div{:style => "width:105px; height:54px; float:left; padding-top:9px;"}
      %script{:src => "https://sealserver.trustwave.com/seal.js?style=invert&code=7182ceb80ca511e0b34b005056b201e5", :type => "text/javascript"}

.column_right{:class=>"panel_height"}
  %h2 Subscribe to Us
  = render "layouts/newsletter_signup_form"

  %h2 To Connect With Us
  %ul.social-icons
    %li{:class=>"pinterest"}= link_to "Pinterest", "http://pinterest.com/sizzix/", :target => "blank", :alt => "Join us on Pinterest"
    %li{:class=>"facebook"}= link_to "Facebook", "http://www.facebook.com/Sizzix", :target => "blank", :alt => "Join us on Facebook"
    %li{:class=>"twitter"}= link_to "Twitter", "http://twitter.com/sizzix_us", :target => "blank", :alt => "Follow us on Twitter"
    %li{:class=>"wordpress"}= link_to "blog", "http://blog.sizzix.com/", :target => "blank", :alt => "Read our blog"
    %li{:class=>"youtube"}= link_to "YouTube", "http://youtube.com/sizzix", :target => "blank", :alt => "Watch us on YouTube"
    %li{:class=>"instagram"}= link_to "Instagram", "http://instagram.com/sizzix", :target => "blank", :alt => "Join us on Instagram"
    %li{:class=>"email"}= link_to  "email", "/contact", :alt => "Send us an email"

%a{href: "http://clicky.com/100738556", title: "Google Analytics Alternative"}
  %img{alt: "Google Analytics Alternative", src: "https://www.sizzix.com/images/static/spacer.gif"}
%noscript
  %p
    %img{alt: "Clicky", height: "1", src: "//in.getclicky.com/100738556ns.gif", width: "1"}
