.column{:class=>"panel_height"}
  %h2== Customer Service
  %p 
    Contact us for help with any issues or concerns
    %br
    %span{:style=>"font-weight:bold"}=link_to "You may contact us online 24/7", "/contact"    
    
  .bold Customer Service Hours
  %p
    6:30 a.m. to 4:00 p.m., Pacific Time,
    %br/
    Monday through Friday
  
  .bold By Phone
  %ul
    %li 877.355.4766 (Toll Free in the USA)
    %li 949.598.8821 (Outside of the USA)

  .bold By Fax
  %ul
    %li 888.270.1200 (Toll free in the USA)
    %li 949.598.8842 (Outside of the USA)

  .bold By Mail
  %ul
    %li Sizzix Customer Service
    %li 25862 Commercentre Drive
    %li Lake Forest, CA
    %li 92630-8804 USA    

.column{:class=>"panel_height"}
  %h2 Learn More
  %p Other useful resources:
  %ul
    %li= link_to "Store Locator", "/stores"
    %li= link_to "Sizzix Official Blog", "http://sizzixblog.blogspot.com"
    %li= link_to "Sizzix Events", "/events"
    %li= link_to "Sizzix News", "/news"
    %li= link_to "Online Ordering FAQ", "/orderfaq"
    %li= link_to "Privacy Policy", "/privacy"
    %li= link_to "Legal Notices", "/legal"

.column_right{:class=>"panel_height"}
  %h2 Subscribe to the Sizzix Scoop
  = render "layouts/newsletter_signup_form"

  %h2 To Connect With Us
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/twitter.png"), "http://twitter.com/sizzix_us", :target => "blank", :title => "Follow us on Twitter", :alt => "Follow us on Twitter"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/facebook.png"), "http://www.facebook.com/Sizzix", :target => "blank", :title => "Join us on Facebook", :alt => "Join us on Facebook"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png"), "http://sizzixblog.blogspot.com/", :target => "blank", :title => "Read our blog", :alt => "Read our blog"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png"), "http://www.youtube.com/sizzix", :target => "blank", :title => "Watch us on YouTube", :alt => "Watch us on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png"), "/contact", :title => "Send us an email", :alt => "Send us an email"