.column{:style=>"min-height:580px;"}
  %h2 Customer Care
  %p Contact us for help with any issues or concerns
  %p= link_to "Contact us online 24x7", "/contact"
  %h3 Call Center Hours
  %p
    8:30 to 17:00 GMT
    %br/
    Monday through Friday
  %h3 By Phone
  %ul
    %li 0844 499 8181 (Within UK)
    %li + 44 (0) 845 345 2277 (Outside of the UK)
  %h3 By Email
  %p= link_to "customersupport@ellisoneurope.com", "customersupport@ellisoneurope.com"
  %h3 By Fax
  %p Fax: +44 (0) 845 345 0011
  
  %h3 By Mail
  %ul
    %li Ellison Europe Ltd.
    %li Unit 3 Whitegate Industrial Estate
    %li Whitegate, Wrexham LL13 8UG
    %li United Kingdom 
  
.column{:style=>"min-height:580px;"}
  %h2 Learn More
  %p More useful resources
  %ul
    %li= link_to "Custom Dies", "#"
    %li= link_to "About Us", "/about"
    %li= link_to "Terms of Use", "/termsofuse#"
    %li= link_to "Ellison Resellers", "/resellers"
    %li= link_to "Request a Catalog", "/catalogrequest"
    %li= link_to "Online Ordering FAQ", "/orderfaq"
    %li= link_to "Privacy Policy", "/privacy"
    %li= link_to "Legal Notices", "/legal"
    %li= link_to "Store Locator", "/stores"
    
.column_right{:style=>"min-height:580px;"}
  %h2 Subscribe to Ellison Newsletter
  = render "layouts/newsletter_signup_form"
  
  %h2 Follow Along With Us
  %ul.social-icons
    - if is_sizzix_us?
      %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png"), "http://sizzixblog.blogspot.com/", :target => "blank", :title => "Read our blog", :alt => "Read our blog"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube.png"), "http://www.youtube.com/ellison", :target => "blank", :title => "Watch us on YouTube", :alt => "Watch us on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png"), "/contact", :title => "Send us an email", :alt => "Send us an email"