.column{:class=>"panel_height"}
  %h2.kerned Customer Service - North America
  %h3 By Phone
  %ul
    %li 800.253.2238 (Toll Free in the USA)
    %li 949.598.8822 (Outside of the USA)
  %h3 By Fax
  %ul
    %li 800.253.2240 (Toll Free in the USA)
    %li 949.598.8840 (Outside of the USA)
  %h3 By Mail
  %p
    %strong Ellison Retail Sales
    %br/
    25862 Commercentre Drive
    %br/
    Lake Forest, CA 92630-8804
    %br
    United States
  %h3 By Email
  %p= link_to "customerservice@ellison.com", "mailto:customerservice@ellison.com"
    
.column{:class=>"panel_height"}
  %h2 Customer Service - Europe
  %h3 By Phone
  %ul
    %li 0844 499 8181 (Within the UK)
    %li +44 (0) 845 345 2277 (Outside UK)
  %h3 By Fax
  %p +44 (0) 845 345 0011
  %h3 By Post
  %p
    %strong Ellison Europe Ltd.
    %br/
    Unit 3 Whitegate Industrial Estate
    %br/
    Wrexham LL13 8UG
    %br
    United Kingdom
  %h3 By Email
  %p= link_to "europecustomerservices@ellison.com", "mailto:europecustomerservices@ellison.com"

  %h2.kerned Customer Service - Latin America
  %h3 By Email
  %ul
    %li= link_to "ventas@ellisonlatinamerica.com", "mailto:ventas@ellisonlatinamerica.com"
  
.column_right{:class=>"panel_height"}
  %h2 Learn More
  %ul
    %li= link_to "Press Releases", "/pressreleases"
    %li= link_to "Distributor Locator", "/stores"
    %li= link_to "Legal Notices", "/legal"
    %li= link_to "News", "/news"
    %li= link_to "Events", "/events"
    %li= link_to "Awards", "/awards"
    %li= link_to "Announcements", "/announcements"
    %li= link_to "Shopping Support", "/shoppingsupport"
    %li= link_to "FAQs", "/websitefaq"
  %h3 Contact Us Online 24x7
  %p= link_to "Online Contact us form", "/contact"

  -#%h2 Subscribe to Us
  -#= render "layouts/newsletter_signup_form"

  %h2 To Connect With Us
  %ul.social-icons
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/facebook.png", :size => "32x32"), "http://www.facebook.com/pages/Sizzix-Retailers/107035609378422", :target => "blank", :title => "Join us on Facebook", :alt => "Join us on Facebook"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/blogger.png", :size => "32x32"), "http://sizzixblog.blogspot.com/", :target => "blank", :title => "Read our blog", :alt => "Read our blog"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube_sizzix.png", :size => "32x32"), "http://www.youtube.com/sizzix", :target => "blank", :title => "Watch Sizzix on YouTube", :alt => "Watch Sizzix on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/youtube_ellison.png", :size => "32x32"), "http://www.youtube.com/ellison", :target => "blank", :title => "Watch Ellison on YouTube", :alt => "Watch Ellison on YouTube"
    %li= link_to image_tag("/images/ui-icons/set_social-media/32x32/email.png", :size => "32x32"), "/contact", :title => "Send us an email", :alt => "Send us an email"