.clear

- if is_sizzix_us?
  %div{:style=>"text-align:center; font-weight:bold;", :class=>"copyright"}
    Sizzix puts creativity in your hands with the craftiest die-cutting and embossing possibilities!
- if is_ee_us?
  %div{:style=>"text-align:center; font-weight:bold;", :class=>"copyright"}
    Ellison empowers education with instant learning resources for today’s creative classroom.
- if is_er_us?
  %div{:style=>"text-align:center; font-weight:bold;", :class=>"copyright"}
    Ellison delivers creative products with quality, innovation and value to craft and educational retailers.
.copyright
  - if is_ee_us? 
    == Our Privacy Policy has been updated effective March 4, 2009.
    %br
  - if is_ee_us?
    == Copyright &copy; Ellison 1996 - #{DateTime.now.year}. All rights reserved.
  - if is_sizzix_uk?
    == Copyright &copy; Ellison 1996 - #{DateTime.now.year}. All rights reserved.
  - if is_er_us?
    == Copyright &copy; Ellison 1996 - #{DateTime.now.year}. All rights reserved.
  - if is_sizzix_us?
    == Copyright &copy;
    %span= link_to image_tag("/images/ui-icons/set_social-media/ellison.png", :size => "57x20"), "#", :target => "blank", :title => "Ellison", :alt => "Ellison"
    == 1996 - #{DateTime.now.year}. All rights reserved.
  %br  
  - if is_sizzix_uk?
    == VAT No.886263386
    %br
  - unless is_er? 
    == This site is intended for visitors within #{is_us? ? 'the United States' : 'Europe'}.
    - if is_sizzix_us? 
      %li{:style=>"list-style:none"}= link_to "European visitors please visit our U.K. site", "http://www.sizzix.co.uk"
    - elsif is_sizzix_uk?
      %li{:class=>"uk_link", :style=>"list-style:none"}= link_to "U.S. visitors please visit our U.S. site", "http://www.sizzix.com"
    - else  
      %li{:style=>"list-style:none"}= link_to "#{is_uk? ? 'U.S.' : 'European'} visitors please visit our #{is_uk? ? 'U.S.' : 'U.K.'} site", "#{is_uk? ? 'http://www.ellisoneducation.com' : 'http://www.ellisoneducation.co.uk'}"
