.clear

- if is_sizzix?
  %div{:style=>"text-align:center; font-weight:bold;", :class=>"copyright"}
    Sizzix puts creativity in your hands with the craftiest die-cutting and embossing possibilities!
- if is_ee_us?
  %div{:style=>"text-align:center; font-weight:bold;", :class=>"copyright"}
    Ellison empowers education with instant learning resources for today’s creative classroom.
- if is_er_us?
  %div{:style=>"text-align:center; font-weight:bold;", :class=>"copyright"}
    Ellison delivers creative products with quality, innovation and value to craft and educational retailers.
.copyright
  - if is_ee_us? 
    == Our Privacy Policy has been updated effective March 4, 2009.
    %br
  == Copyright &copy; Ellison 1996 - #{DateTime.now.year}. All rights reserved.
  %br  
  - unless is_er? 
    == This site is intended for visitors within #{is_us? ? 'the United States' : 'Europe'}.
    - if is_sizzix? 
      %li{:style=>"list-style:none"}= link_to "#{is_uk? ? 'U.S.' : 'European'} please visit our #{is_uk? ? 'U.S.' : 'U.K.'} site", "#{is_uk? ? 'http://www.sizzix.com' : 'http://www.sizzix.co.uk'}"
    - else  
      %li{:style=>"list-style:none"}= link_to "#{is_uk? ? 'U.S.' : 'European'} please visit our #{is_uk? ? 'U.S.' : 'U.K.'} site", "#{is_uk? ? 'http://www.ellisoneducation.com' : 'http://www.ellisoneducation.co.uk'}"