-# logo masthead & branding
%h1.masthead= link_to system_name, root_path, :id => "logo_masthead", :title => system_name, :alt => system_name

-# utility navigation menu (account management, shopping cart, etc)  
%ul.nav_utility
  %li= link_to_unless params[:controller] == "carts", "<span>View #{(t :cart).capitalize}</span>".html_safe, '#', :class => "show_cart btn-masthead btn-view#{t :cart}", :title => "View #{(t :cart).capitalize}", :alt => "View #{(t :cart).capitalize}"
  - if user_signed_in?
    %li= link_to_unless_current "<span>My Account</span>".html_safe, myaccount_path(:secure => true), :class => "btn-masthead btn-myaccount", :title => "My Account", :alt => "My Account"
    %li= link_to "<span>Sign Out</span>".html_safe, destroy_session_path('user'), :class => "btn-masthead btn-signout", :title => "Sign Out", :alt => "Sign Out" 
  - else
    %li= link_to "<span>Sign In</span>".html_safe, signin_signup_path, :class => "lightbox btn-masthead btn-signin", :title => "Sign In", :alt => "Sign In"
  - if admin_signed_in?
    %li= link_to "<span>Edit Admin Profile</span>".html_safe, edit_admin_registration_path(current_admin), :class => "btn-masthead btn-myaccount", :title => "Edit Admin Profile", :alt => "Edit Admin Profile"
    %li= link_to "<span>Log Out Dashboard</span>".html_safe, destroy_session_path('admin'), :class => "btn-masthead btn-admin-logout", :title => "Log Out Dashboard", :alt => "Log Out Dashboard"
  - else
    %li= link_to "<span>Log In Dashboard</span>".html_safe, new_session_path('admin', :secure => true), :class => "btn-masthead btn-admin-login", :title => "Log In Dashboard", :alt => "Log In Dashboard"

-# Ellison3 dashboard menu for admins + catalog mega-nav menus for consumers
- if admin_signed_in?
  = link_to "Products", admin_products_path
  |
  = link_to "Tags", admin_tags_path
  |
  = link_to "Coupons", admin_coupons_path
  |
  = link_to "Orders", admin_orders_path
  |
  = link_to "Quotes", admin_quotes_path
  |
  = link_to "Users", admin_users_path
  |
  = link_to "Profiles", admin_admins_path
  |
  = link_to "Landing Pages", admin_landing_pages_path
  .right
    Switch to:
    - (ELLISON_SYSTEMS & current_admin.systems_enabled).each do |sys|
      = link_to_unless current_system == sys, sys, "?system=#{sys}"
  - if get_cart.order_reference
    #previous_order_reference
      previous order reference:
      = link_to get_cart.order_reference, admin_order_path(get_cart.order_reference)
      = link_to 'reset', remove_order_reference_path, :remote => true
  #user_as= render :partial => 'layouts/user_as'
  - if current_admin.can_act_as_customer
    = form_tag('/user_as', :remote => true) do
      = label_tag :user_as_email, "Login as customer:"
      = text_field_tag :user_as_email, nil, :placeholder => "enter customer email"
      = submit_tag 'login', :class => 'jqui_save'

-# primary navigation menu (product catalog, customer & community outreach, etc)
#nav_megamenu
  %ul.megalist
    %li.megaitem
      = link_to "Shop Sizzix", catalog_path, :class => "megalink"
      .megasubpanel
        %ul.contentwrap_medium.resize
          %li massa interdum
          %li Phasellus dapibus
          %li elementum
          %li feugiat tristique
        %ul.contentwrap_small
          %li dolor sit amet
          %li consectetur adipiscing
          %li Vestibulum auctor
          %li odio in nisl
          %li dictum
        %ul.contentwrap_small
          %li bibendum
          %li massa interdum
          %li Phasellus dapibus
        %p.contentwrap_small
          Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
        %ul.contentwrap_small.last
          %li Vestibulum auctor
          %li odio in nisl
          %li dictum
          %li bibendum
          %li massa interdum
    %li.megaitem
      = link_to "Craft Ideas", "#", :class => "megalink"
      .megasubpanel
        %ul.contentwrap_medium
          %li elementum
          %li feugiat tristique
          %li Vestibulum auctor
          %li bibendum
          %li massa interdum
        %ul.contentwrap_small.resize
          %li dolor sit amet
          %li consectetur adipiscing
          %li Phasellus dapibus
        %p.contentwrap_small
          Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
        %ul.contentwrap_medium.last
          %li Vestibulum auctor
          %li odio in nisl
          %li massa interdum
          %li Phasellus dapibus
          %li dictum
          %li bibendum
          %li massa interdum
    %li.megaitem
      = link_to "What's New?", "#", :class => "megalink"
      .megasubpanel
        %ul.contentwrap_XXXL.last.resize
          %li= link_to "eclips", shop_path("eclips")
    %li.megaitem
      = link_to "On Sale Now!", "#", :class => "megalink"
      .megasubpanel
        %p.contentwrap_XXXL.last.resize
          4 Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
    %li.megaitem
      = link_to "Community", "#", :class => "megalink"
      .megasubpanel
        %p.contentwrap_XXXL.last.resize
          5 Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
    %li.megaitem
      = link_to "Customer Care", "#", :class => "megalink"
      .megasubpanel
        %p.contentwrap_XXXL.last.resize
          The next thing was to eat the comfits: this caused some noise and  confusion, as the large birds complained that they could not taste  theirs, and the small ones choked and had to be patted on the back.  However, it was over at last, and they sat down again in a ring, and  begged the Mouse to tell them something more.
        %p.contentwrap_large.first.resize
          'It IS a long tail, certainly,' said Alice, looking down with wonder at  the Mouse's tail; 'but why do you call it sad?' And she kept on puzzling  about it while the Mouse was speaking, so that her idea of the tale was  something like this:&mdash;
        %p.contentwrap_large.last= image_tag("http://placehold.it/470x150")
        %p.contentwrap_medium.first
          'You promised to tell me your history, you know,' said Alice, 'and why  it is you hate - C and D,' she added in a whisper, half afraid that it  would be offended again.
        %p.contentwrap_medium.resize
          Alice thought the whole thing very absurd, but they all looked so grave  that she did not dare to laugh; and, as she could not think of anything  to say, she simply bowed, and took the thimble, looking as solemn as she  could.
        %p.contentwrap_medium.last
          'I beg your pardon,' said Alice very humbly: 'you had got to the fifth  bend, I think?'
    %li.megaitem
      = link_to "Shop the Outlet", "#", :class => "megalink"
      .megasubpanel
        %ul.contentwrap_small
          %li massa interdum
          %li Phasellus dapibus
          %li elementum
          %li feugiat tristique
        %ul.contentwrap_XL.resize
          %li bibendum
          %li Phasellus dapibus
        %ul.contentwrap_small.last
          %li Vestibulum auctor
          %li bibendum
          %li massa interdum