%h1
  %a#logo_masthead{:href => "/", :alt => "#{is_er? ? "Ellison Retailers" : is_ee? ? "Ellison Education" : "Sizzix"} #{is_er? ? nil: is_uk? ? "UK" : "US"}", :title => "#{is_er? ? "Ellison Retailers" : is_ee? ? "Ellison Education" : "Sizzix"} #{is_er? ? nil: is_uk? ? "UK" : "US"}"}== #{is_er? ? "Ellison Retailers" : is_ee? ? "Ellison Education" : "Sizzix"} #{is_er? ? nil: is_uk? ? "UK" : "US"}