.dontprint
  -# logo masthead & branding
  - if is_sizzix_uk?
    %a{:href => "/home"}
      %div{:style=>"height: 80px; float:left; width: 160px;"}
  - elsif is_corp_site?
    %h1.masthead
      = link_to system_name, "/corp_#{params[:region] ? params[:region] : 'northamerica'}?tp=c&nation=#{params[:nation] ? params[:nation].parameterize : 'united-states'}&region=#{params[:region] ? params[:region] : 'northamerica'}", :id => "logo_masthead_corporate-#{params[:nation] ? params[:nation].parameterize : 'united-states'}", :title => system_name, :alt => system_name
  - else
    %h1.masthead
      = link_to system_name, "/home", :id => "logo_masthead", :title => system_name, :alt => system_name
  - unless is_corp_site?
    -# utility navigation menu (customer account management, shopping cart, UK currency selector, etc)  
    #nav_utility_user
      %ul.nav_utility
        - if is_sizzix_us?
          %li= link_to "<span>Support</span>".html_safe, "/support", :class => "btn-support", :title => "Support", :alt => "Support"
        %li= link_to "<span>Contact Us</span>".html_safe, "/contact", :class => "btn-contact", :title => "Contact Us", :alt => "Contact Us"
        - if user_signed_in?
          %li= link_to "<span>#{admin_signed_in? ? 'Customer\'s' : 'My'} Account</span>".html_safe, myaccount_path(:secure => true), :class => "btn-myaccount", :title => "My Account", :alt => "My Account"
          %li= link_to "<span>Sign Out</span>".html_safe, destroy_session_path('user'), :class => "btn-signout", :title => "Sign Out", :alt => "Sign Out" 
        - else
          %li= link_to "<span>Sign In</span>".html_safe, signin_signup_path, :class => "lightbox btn-signin", :title => "Sign In", :alt => "Sign In"
          %li.plaintext= link_to "<span>or</span>".html_safe, signin_signup_path, :class => "btn-plaintext", :onclick => "return false"
          %li= link_to "<span>Sign Up</span>".html_safe, signin_signup_path, :class => "lightbox btn-signup", :title => "Sign Up", :alt => "Sign Up"
        - if is_uk? && !@cart_locked
          %li= link_to image_tag("/images/ui-buttons/currency_#{current_currency}.png", :title => "Switch to #{current_currency == 'gbp' ? 'the Euro' : 'British Pounds'}", :alt => "Switch to #{current_currency == 'gbp' ? 'the Euro' : 'British Pounds'}"), "?#{request.query_parameters.merge("locale" => "#{current_currency == 'gbp' ? 'en-EU' : 'en-UK'}").to_param}", :class => "btn-locale"
      - if free_shipping_message.present?
        #promo_message
          %span= free_shipping_message.html_safe

    -# shopping cart
    #shoppingcart_icon= link_to image_tag("/images/ui-objects/_#{current_system}_shoppingcart#{ (get_cart.total_quantity > 0 && is_ee? ) ? '-full' : nil }.png", :border =>0, :alt => "Shopping #{cart_name.capitalize}"), cart_path, :title => "View #{cart_name.capitalize}", :alt => "View #{cart_name.capitalize}"
    #shoppingcart_info
      #cartspinner= spinner
    :javascript
      $('#shoppingcart_info').load('/carts/shopping_cart');

    -# search bar
    %form#searchbar{:action => "/catalog", :method => "get", :name => "searchbar", :autocomplete => 'off' }
      %input{ :class =>"textfield noautocomplete", :name => "q", :id => "q", :type => "text", :value => "Search for #{is_sizzix? ? 'Sizzix ' : is_ee? ? 'Ellison ' : nil }Products & #{is_ee? ? 'Lessons' : 'Projects'}", :autocomplete => 'off', :onfocus => "if (this.value == 'Search for #{is_sizzix? ? 'Sizzix ' : is_ee? ? 'Ellison ' : nil }Products & #{is_ee? ? 'Lessons' : 'Projects'}'){this.value='';};$(this).attr('autocomplete', 'off');", :onblur => "if (this.value == ''){this.value='Search for #{is_sizzix? ? 'Sizzix ' : is_ee? ? 'Ellison ' : nil }Products & #{is_ee? ? 'Lessons' : 'Projects'}';}" }  
      - if is_sizzix_uk?
        %input{ :class => "submitbutton", :name => "submit", :src => "/images/ui-icons/set_fugue_custom/24x24/drop-shadow/szuk_magnifier-left.png", :type => "image", :height => "29", :width => "37"}
      - else
        %input{ :class => "submitbutton", :name => "submit", :src => "/images/ui-icons/set_fugue/24x24/drop-shadow/magnifier-left.png", :type => "image", :height => "24", :width => "24"}
    :javascript
      $("input.textfield").addClass("idlefield");
      $("input.textfield").focus(function(){
        $(this).addClass("activefield").removeClass("idlefield");
        $(this).val('');
      }).blur(function(){
        $(this).removeClass("activefield").addClass("idlefield");
      });
      $("input.textfield").click(function(){
        $(this).val('');
      });
    
      $('#q').change(function() {        
        $(this).removeClass("activefield").addClass("idlefield");
      });
      $("#q").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "/#{current_system}_solr_terms/"+request.term,
            dataType: 'text json',
            data: {},
            success: function( data ) {response($.map(data.terms[0][1],function(n,i){return n[0]}))}
          });
        },
        search: function() {
          if (this.value.length < 1) {
            return false;
          }
        },
        focus: function( event, ui ) {
                $(this).val( ui.item.label );
                return false;
              },
        select: function(event, ui) {
          this.value = ui.item.value;
          $(this.form).trigger('submit');
          return false;
        }});
      $('#searchbar').submit(function() {
        var default_value = "Search for #{is_sizzix? ? 'Sizzix ' : is_ee? ? 'Ellison ' : nil }Products & #{is_ee? ? 'Lessons' : 'Projects'}";
        var search_value = $('#q').val();
        if (search_value == default_value) {
          return false;
        } else {
          location.href = 'http://'+location.host+'/catalog#q='+$('#q').val();return false;
        }
      });
  - else
    #nation_select{:class => "flag_#{params[:nation] ? params[:nation].parameterize : 'united-states'}"}= select_tag :nation, options_for_select(["United States", "Canada", "Mexico", "United Kingdom", "Netherlands", "Germany", "Brazil", "Colombia", "Chile", "Costa Rica", "Venezuela", "Puerto Rico"] , params[:nation]), :onchange => "change_nation_content(this.value);"
    :javascript
      function change_nation_content(nation) {
        var static_page, region;
        switch(nation) {
          case 'Mexico':
          case 'Brazil':
          case 'Colombia':
          case 'Chile':
          case 'Costa Rica':
          case 'Venezuela':
          case 'Puerto Rico':
            region = "latinamerica"
            static_page = "/corp_latinamerica";
            break;
          case 'United Kingdom':
          case 'Netherlands':
          case 'Germany':
            region = "europe"
            static_page = "/corp_europe";
            break;
          case 'United States':
          case 'Canada':
            region = "northamerica"
            static_page = "/corp_northamerica";
            break;
          default:
            region = "northamerica"
            static_page = "/corp_northamerica";
        };
        location.href = 'http://'+location.host+static_page+'?tp=c&nation='+nation+'&region='+region;return false;
      }

#printmasthead.dontdisplay
  %h1== #{system_name.capitalize}.com