-# primary navigation menu (product catalog, customer & community outreach, etc)
#nav_megamenu.dontprint
  %ul.megalist
    = render :partial => 'layouts/meganav_dynamic'
    -# Ellison3 dashboard menu for admins
    - if admin_signed_in?
      %li.megaitem
        = link_to "Dashboard", "#", :class => "megalink-admin", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
        .megapanel.full-width
          .contentwrap_XL.resize
            %h3== Admin Dashboard ~ #{system_name}
            %ul#nav_utility_admin
              %li= link_to "<span>Edit Admin Profile</span>".html_safe, edit_admin_registration_path(current_admin), :class => "btn-myaccount", :title => "Edit Admin Profile", :alt => "Edit Admin Profile"
              %li= link_to "<span>Log Out Dashboard</span>".html_safe, destroy_session_path('admin'), :class => "btn-admin-logout", :title => "Log Out Dashboard", :alt => "Log Out Dashboard"
          .contentwrap_medium.last{ :style => 'text-align: right;'}
            %span{:class => 'minilink'}
              %strong Switch System:
              %span{:id => 'systemswitch'}
                - (ELLISON_SYSTEMS & current_admin.systems_enabled).each do |sys|
                  = link_to_unless current_system == sys, sys, "?#{request.query_parameters.merge('system' => sys).to_params}"
          .clear
          %ul.contentwrap_small
            %li.listtitle.first Catalog Management
            %ul
              %li= link_to "Products Catalog", admin_products_path
              %li= link_to "Projects Catalog", admin_ideas_path
              %li= link_to "Product Compatibility", admin_compatibilities_path
              %li= link_to "Tag/Campaign Management", admin_tags_path
              %li= link_to "New Products", new_admin_product_path
              %li= link_to "New Projects/Lessons", new_admin_idea_path
              %li= link_to "New Tags/Campaigns", new_admin_tag_path
              %li= link_to "Reusable tabs", "shared_contents?placement=none"
              %li= link_to "Calendar Banner Setup", "shared_contents?placement=calendar"
          %ul.contentwrap_small
            %li.listtitle.first Promotional Content
            %ul
              %li= link_to "Home Page", admin_shared_contents_path(:placement => 'home')
              %li= link_to "Dynamic Landing Pages", admin_landing_pages_path
              %li= link_to "Static Pages", admin_static_pages_path
              %li= link_to "Manage Events", admin_events_path
              %li= link_to "Campaigns Landing page setup", "shared_contents?placement=campaigns"
              %li= link_to "Coupons", admin_coupons_path
              %li= link_to "Site Navigation", "navigations"
              %li= link_to "New Campaigns", "tags/new"
              %li= link_to "Home Page Setup", "shared_contents?placement=home"
              %li= link_to "Cart Page Banners Setup", "shared_contents?placement=cart"
              %li= link_to "Maintain Videos", "http://youtube.com"
              %li= link_to "Maintain Blogs", "http://blogspot.com"
          %ul.contentwrap_small
            %li.listtitle.first Customer Related
            %ul
              %li= link_to "Customer Orders", admin_orders_path
              %li= link_to "Customer Quotes", admin_quotes_path
              %li= link_to "Material Orders", admin_material_orders_path
              %li= link_to "Customer Accounts", admin_users_path
              %li= link_to "Customer Feedback", admin_feedbacks_path
              %li= link_to "Virtual Terminal", 'virtual_terminal'
              %li= link_to "Group Messages to Retailers", 'messages'
          %ul.contentwrap_small.resize.last
            %li.listtitle.first Website Settings
            %ul
              %li= link_to "Admin Access", admin_admins_path
              %li= link_to "Site Navigation", admin_navigations_path 
              %li= link_to "Custom Reports", "reports"
              %li= link_to "Shipping Rates (by #{t 'number.currency.format.unit'})", admin_shipping_rates_path
              %li= link_to "Shipping Rates (by weight)", admin_fedex_rates_path
              %li= link_to "#{is_uk? ? 'Stockist' : 'Store'} List", admin_stores_path
              %li= link_to "Print Material Catalogs", admin_materials_path
              %li= link_to "Country Listing", admin_countries_path
              %li= link_to "Retailers Discount Matrix", :controller => 'discount_categories'
              %li= link_to "Search Phrase Redirects", admin_search_phrases_path
              %li= link_to "eclips Firmware", :controller => 'firmwares'
              %li= link_to "Contact page contextual help", "shared_contents?placement=contact"
              %li= link_to "Store Locator Setup", "shared_contents?placement=store_locator"
          %hr
          - if get_cart.order_reference
            #previous_order_reference.contentwrap_XXXL.last
              previous order reference:
              = link_to get_cart.order_reference, admin_order_path(get_cart.order_reference)
              = link_to 'reset', remove_order_reference_path, :remote => true
          - if current_admin.can_act_as_customer #&& !user_signed_in?
            = form_tag('/user_as', :remote => true, :class => 'contentwrap_XXXL last') do
              = label_tag :user_as_email, "Login as customer:"
              = text_field_tag :user_as_email, nil, :placeholder => "enter customer email"
              = submit_tag 'login', :class => 'jqui_save'
          #user_as= render :partial => 'layouts/user_as'

-# Sizzix UK mega menu link styles
- if is_sizzix_uk?
  :javascript
    $(".megalink").FontEffect({
      outline:true,
      outlineWeight: 2,
      outlineColor1: "#3359a4"
    })
    $(".megalink-admin").FontEffect({
      outline:true,
      outlineWeight: 2,
      outlineColor1: "#e3e7f8"
    })
:javascript
  $('ul.megasublist li').mouseover(function(){
    $('div.subpanel').eq($('ul.megasublist li').index(this)).fadeTo('fast',1).siblings('div.subpanel').fadeTo('fast',0).hide();
    $(this).parents('.megapanel').shadowOff();
    $(this).parents('.megapanel').shadowOn(megapanel_shadow_options); 
  })