%li.megaitem.ui-corner-top
  = link_to "Projects", catalog_path(:anchor => "ideas=1"), :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel.full-width
    %ul.contentwrap_XS
      %h3 Get Inspired!
      %li.listtitle.first By Passion
      %ul
        %li= link_to "Cardmaking", "#"
        %li= link_to "Scrapbooking", "#"
        %li= link_to "Papercrafting", "#"
        %li= link_to "Embossing", "#"
        %li= link_to "Home Décor", "#"
        %li= link_to "Fashion & Wearable Art", "#"
        %li= link_to "Quilting & Applique", "#"
    %ul.contentwrap_XS
      %h4 View All New Projects
      %li.listtitle.first By Theme
      %ul
        %li=link_to "Animals", "#"
        %li=link_to "Basic Shapes", "#"
        %li=link_to "Birthday", "#"
        %li=link_to "Flowers, Vines & Trees", "#"
        %li=link_to "Food, Drinks & Cooking", "#"
        %li=link_to "Friends & Family", "#"
        %li=link_to "Holidays", "#"
        %li=link_to "House & Home", "#"
        %li=link_to "Love", "#"
        %li=link_to "Party", "#"
        %li=link_to "People & Clothing", "#"
        %li=link_to "Quilting", "#"
        %li=link_to "Religion & Faith", "#"
        %li=link_to "School & Sports", "#"
        %li=link_to "Seasons", "#"
        %li=link_to "Travel & Vacation", "#"
    %ul.contentwrap_XS
      %h4 &nbsp;
      %li.listtitle.first By Artist
      %ul
        %li=link_to "Beth Reames", "#"
        %li=link_to "Cara Mariano", "#"
        %li=link_to "Cheryl Adam", "#"
        %li=link_to "Debi Adams", "#"
        %li=link_to "Deena Ziegler", "#"
        %li=link_to "Pete Hughes", "#"
        %li=link_to "Tim Holtz", "#"
        
%li.megaitem.ui-corner-top
  = link_to "New & Notable", catalog_path(:anchor => "ideas=1"), :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_medium
      %h3 What's New in the World of Sizzix?
      %ul
        %li= link_to "Shop New Releases", "#"
        %li= link_to "Collect Sizzix.com Exclusive Products", "#"
        %li= link_to "Learn about Electronic Shape-Cutting", "#"
        %li= link_to "Quilting with Sizzix", "#"
        %li= link_to "Meet Tim Holtz", "#"
        %li= link_to "Sizzix makes Custom Dies!", "#"
        %li= link_to "View Sizzix Videos", "#"
        %li= link_to "View What's Coming Soon", "#"

%li.megaitem.ui-corner-top
  = link_to "Machines & Accessories", "/catalog#facets=category~machines-accessories", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Machine
      %ul
        %li= link_to "BIGkick", "#"
        %li= link_to "Big Shot", "#"
        %li= link_to "Big Shot Express", "#"
        %li= link_to "Big Shot Pro", "#"
        %li= link_to "eclips", "#"
        %li= link_to "Vagabond", "#"
        %li= link_to "Sizzix Original", "#"
        %li= link_to "Texture Boutique", "#"
        %li= link_to "SideKick", "#"
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Accessories
      %ul
        %li=link_to "Cutting Pads & Accessories", "#"
        %li=link_to "Die Storage", "#"
        %li=link_to "Cartridge Storage", "#"
        %li=link_to "Machine Storage", "#"

%li.megaitem.ui-corner-top
  = link_to "All Products", catalog_path, :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %h4.paneltitle Shop Our Entire Product Catalog
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Product Line
      %ul
        %li= link_to "Sizzix Adhesive Sheets", "#"
        %li= link_to "Sizzix BIGkick", "#"
        %li= link_to "Sizzix Big Shot", "#"
        %li= link_to "Sizzix Big Shot Express", "#"
        %li= link_to "Sizzix Big Shot Pro", "#"
        %li= link_to "Sizzix Bigz", "#"
        %li= link_to "Sizzix Clear Stamps", "#"
        %li= link_to "Sizzix Clearlits", "#"
        %li= link_to "Sizzix Embosslits", "#"
        %li= link_to "Sizzix Little Sizzles", "#"
        %li= link_to "Sizzix Movers & Shapers", "#"
        %li= link_to "Sizzix On the Edge", "#"
    %ul.contentwrap_XS
      %li.listtitle.first &nbsp;
      %ul
        %li= link_to "Sizzix Original Machine", "#"
        %li= link_to "Sizzix Originals", "#"
        %li= link_to "Sizzix Rub Ons", "#"
        %li= link_to "Sizzix Score Boards", "#"
        %li= link_to "Sizzix Sidekick", "#"
        %li= link_to "Sizzix Sizzlits", "#"
        %li= link_to "Sizzix Texture Boutique", "#"
        %li= link_to "Sizzix Texture Fades", "#"
        %li= link_to "Sizzix Textured Impressions", "#"
        %li= link_to "Sizzix Texturz Texture Plates", "#"
        %li= link_to "Sizzix Vagabond", "#"
        %li= link_to "Sizzix eclips", "#"      
    %ul.contentwrap_XS
      %li.listtitle.first Shop Necessities
      %ul
        %li= link_to "Cuttin Pads & Accessories", "#"
        %li= link_to "Die Storage", "#"
        %li= link_to "Cartridge Storage", "#"
        %li= link_to "Maachine Storage", "#"
        %li= link_to "Supplies", "#"
      %li.listtitle Shop Most Popular
      %ul
        %li= link_to "Sizzix.com Exclusives", "#"
        %li= link_to "Sizzix.com Value Packs", "#"
      %li.listtitle Shop Licensed Designers
      %ul
        %li= link_to "All Licensed Designers", "#"
        %li= link_to "Tim Holtz", "#"
        %li= link_to "Stampin' Up!", "#"
        %li= link_to "Westminster Fibers", "#"

%li.megaitem.ui-corner-top
  = link_to "Electronic Cutting", "/shop/eclips", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_small
      %h4 Cutting Edge Technology by eclips
      %ul
        %li= link_to "eclips Machine", "#"
        %li= link_to "eclips Cartridges", "#"
        %li= link_to "eclips Tools & Accessories", "#"
        %li= link_to "eclips Ideas", "#"
        %li= link_to "eclips Demo Videos", "/videos#eclips"
        %li= link_to "eclips User's Guides 1.0", "#"
        %li= link_to "eclips User's Guides 2.0", "#"

%li.megaitem.ui-corner-top
  = link_to "Clearance", outlet_path, :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel.reverse
    %h4.paneltitle Shop New Clearance Arrivals
    %ul.contentwrap_XS
      %li.listtitle.first Quick Shop by Savings
      %ul
        %li= link_to "60% Off and Over", "#"
        %li= link_to "75% Off and Over", "#"
      %li.listtitle Featured Clearance
      %ul
        %li= link_to "Sizzix Simple Impressions", "#"
        %li= link_to "Love and Valentines", "#"
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Product Line
      %ul
        %li= link_to "Sizzix BIGkick", "#"
        %li= link_to "Sizzix Big Shot", "#"
        %li= link_to "Sizzix Bigz", "#"
        %li= link_to "Sizzix Clear Stamps", "#"
        %li= link_to "Sizzix Embosslits", "#"
        %li= link_to "Sizzix Little Sizzles", "#"
        %li= link_to "Sizzix Movers & Shapers", "#"
        %li= link_to "Sizzix Originals", "#"
        %li= link_to "Paddle Punch", "#"
        %li= link_to "Sizzix Rub Ons", "#"
        %li= link_to "Sizzix Sidekick", "#"
        %li= link_to "Simple Impressions", "#"
        %li= link_to "Sizzix Sizzlits", "#"
        %li= link_to "Sizzix Textured Impressions", "#"
        %li= link_to "Sizzix Texturz Texture Plates", "#"