%li.megaitem.ui-corner-top
  = link_to "Sizzix Products", catalog_path, :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel.full-width
    %ul.megasublist.contentwrap_XS
      %li= link_to "Product Catalog", "/catalog", :class => "megasublink", :onclick => "return false;"
      %li= link_to "Electronic Cutting", "/catalog#q=eclips&page=1", :class => "megasublink", :onclick => "return false;"
      %li.last= link_to "Machines & Accessories", "#", :class => "megasublink", :onclick => "return false;"
    .subpanel
      %ul.contentwrap_XS
        %li.listtitle.first Shop by Product Line
        %ul
          %li= link_to "Sizzix Adhesive Sheets", "#"
          %li= link_to "Sizzix BIGkick", "#"
          %li= link_to "Sizzix Big Shot", "#"
          %li= link_to "Sizzix Big Shot Express", "#"
          %li= link_to "Sizzix Big Shot Pro", "#"
          %li= link_to "Sizzix Bigz", "#"
          %li= link_to "Sizzix Clear Stamps", "#"
          %li= link_to "Sizzix Clearlits", "#"
          %li= link_to "Sizzix Embosslits", "#"
          %li= link_to "Sizzix Little Sizzles", "#"
          %li= link_to "Sizzix Movers & Shapers", "#"
          %li= link_to "Sizzix On the Edge", "#"
      %ul.contentwrap_XS
        %li.listtitle.first &nbsp;
        %ul
          %li= link_to "Sizzix Original Machine", "#"
          %li= link_to "Sizzix Originals", "#"
          %li= link_to "Sizzix Rub Ons", "#"
          %li= link_to "Sizzix ScoreBoards", "#"
          %li= link_to "Sizzix Sidekick", "#"
          %li= link_to "Sizzix Sizzlits", "#"
          %li= link_to "Sizzix Texture Boutique", "#"
          %li= link_to "Sizzix Texture Fades", "#"
          %li= link_to "Sizzix Textured Impressions", "#"
          %li= link_to "Sizzix Texturz Texture Plates", "#"
          %li= link_to "Sizzix Vagabond", "#"
          %li= link_to "Sizzix eclips", "#"
      %ul.contentwrap_XS
        %li.listtitle.first Shop by Category
        %ul
          %li= link_to "Machines & Accessories", "#"
          %li= link_to "Shape-Cutting Dies", "#"
          %li= link_to "Embossing Dies", "#"
          %li= link_to "Storage", "#"
          %li= link_to "Supplies", "#"
        %li.listtitle What's New?
        %li.listtitle Most Popular
        %ul
          %li= link_to "Tim Holtz", "#"
          %li= link_to "eclips Electronic Shape Cutting", "#"
          %li= link_to "Texture Boutique", "#"
      .contentwrap_medium.resize= link_to image_tag("/images/_temp/meganav_eclips.jpg", :width => 290), "/shop/eclips"
      .contentwrap_medium.resize.last
        %p Sizzix award-winning artwork is now available electronically! The eclips Electronic Shape-Cutting Machine and Handheld Remote Control creates completely customizable shapes and letters to adorn almost anything. No computer required!
        %p= link_to "View the eclips videos", "/shop/eclips"
    .subpanel{:style => "display: none;"}
      %ul.contentwrap_XS
        %li.listtitle.first Electronic Cutting
        %ul
          %li= link_to "eclips Machine", "#"
          %li= link_to "eclips Cartridges", "#"
          %li= link_to "eclips Tools & Accessories", "#"
          %li= link_to "eclips Projects", "#"
          %li= link_to "eclips Demo Videos", "/videos#eclips"
          %li= link_to "eclips User's Guides 1.0", "#"
          %li= link_to "eclips User's Guides 2.0", "#"
    .subpanel{:style => "display: none;"}
      %ul.contentwrap_XS
        %li.listtitle.first Shop by Machine
        %ul
          %li= link_to "BIGkick", "#"
          %li= link_to "Big Shot", "#"
          %li= link_to "Big Shot Express", "#"
          %li= link_to "Big Shot Pro", "#"
          %li= link_to "eclips", "#"
          %li= link_to "Vagabond", "#"
          %li= link_to "Sizzix Original", "#"
          %li= link_to "Texture Boutique", "#"
          %li= link_to "SideKick", "#"
      %ul.contentwrap_XS
        %li.listtitle.first Shop by Accessories
        %ul
          %li= link_to "Cutting Pads & Accessories", "#"
          %li= link_to "Die Storage", "#"
          %li= link_to "Cartridge Storage", "#"
          %li= link_to "Machine Storage", "#"

%li.megaitem.ui-corner-top
  = link_to "Craft Projects", "/catalog#ideas=1&page=1", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_XS
      %h3 Get Inspired!
      %li.listtitle.first By Passion
      %ul
        %li= link_to "Cardmaking", "#"
        %li= link_to "Scrapbooking", "#"
        %li= link_to "Papercrafting", "#"
        %li= link_to "Embossing", "#"
        %li= link_to "Home Décor", "#"
        %li= link_to "Fashion & Wearable Art", "#"
        %li= link_to "Quilting & Applique", "#"
    %ul.contentwrap_XS
      %h4 View All New Projects
      %li.listtitle.first By Theme
      %ul
        %li= link_to "Animals", "#"
        %li= link_to "Basic Shapes", "#"
        %li= link_to "Birthday", "#"
        %li= link_to "Flowers, Vines & Trees", "#"
        %li= link_to "Food, Drinks & Cooking", "#"
        %li= link_to "Friends & Family", "#"
        %li= link_to "Holidays", "#"
        %li= link_to "House & Home", "#"
        %li= link_to "Love", "#"
        %li= link_to "Party", "#"
        %li= link_to "People & Clothing", "#"
        %li= link_to "Quilting", "#"
        %li= link_to "Religion & Faith", "#"
        %li= link_to "School & Sports", "#"
        %li= link_to "Seasons", "#"
        %li= link_to "Travel & Vacation", "#"
    %ul.contentwrap_XS
      %h4 &nbsp;
      %li.listtitle.first By Artist
      %ul
        %li= link_to "Beth Reames", "#"
        %li= link_to "Cara Mariano", "#"
        %li= link_to "Cheryl Adam", "#"
        %li= link_to "Debi Adams", "#"
        %li= link_to "Deena Ziegler", "#"
        %li= link_to "Pete Hughes", "#"
        %li= link_to "Tim Holtz", "#"

%li.megaitem.ui-corner-top
  = link_to "Promotions", "#", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Sale
      %ul
        %li= link_to "Valentine's Special", "#"
        %li= link_to "75% off Flower Power", "#"
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Clearance
      %ul
        %li= link_to "Latest Clearance Arrivals", "#"
        %li= link_to "See All Clearance", "#"
    .contentwrap_XS
      = image_tag("/images/_temp/meganav_valentines.png", :width => 300)


%li.megaitem.ui-corner-top
  = link_to "Featured", "#", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_XS
      %li.listtitle.first What's New?
      %ul
        %li= link_to "Shop New Releases", "#"
        %li= link_to "Upcoming Products", "#"
        %li= link_to "Latest Craft Projects", "#"
    %ul.contentwrap_XS
      %li.listtitle.first Electronic Shape Cutting
      %ul
        %li= link_to "eclips Machine", "#"
        %li= link_to "eclips Cartridges", "#"
        %li= link_to "eclips Tools & Accessories", "#"
        %li= link_to "eclips Projects", "#"
        %li= link_to "eclips Demo Videos", "/videos#eclips"
        %li= link_to "eclips User's Guides 1.0", "#"
        %li= link_to "eclips User's Guides 2.0", "#"
    %ul.contentwrap_XS
      %li.listtitle.first Sizzix Ti Holtz
      %ul
        %li= link_to "Vagabon Machine", "#"
        %li= link_to "Latest Dies", "#"
        %li= link_to "Tim Holtz Videos", "#"
        %li= link_to "Tim Holtz Blog", "#"
    .clear
    .contentwrap_XS
      = image_tag("/images/_temp/meganav_timholtz.png", :width => 460)

%li.megaitem.ui-corner-top
  = link_to "Support", "#", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
  .megapanel
    %ul.contentwrap_XS
      %li.listtitle.first Community Support
      %ul
        %li= link_to "Blogs", "#"
        %li= link_to "News", "#"
        %li= link_to "Events", "#"
        %li= link_to "Awards", "#"
        %li= link_to "Magazine Features", "#"
        %li= link_to "Meet the Team", "#"
        %li= link_to "Competitions", "#"
        
    %ul.contentwrap_XS
      %li.listtitle.first Shop by Clearance
      %ul
        %li= link_to "Customer Support Center", "#"
        %li= link_to "Order Status", "#"
        %li= link_to "Website FAQs", "#"
        %li= link_to "Stocklist List", "#"
        %li= link_to "Instructions", "#"
        %li= link_to "Privacy Policy", "#"
        %li= link_to "Contact Us Online 24x7", "#"