-# primary navigation menu (product catalog, customer & community outreach, etc)
#nav_megamenu.dontprint
  %ul.megalist
    %li.megaitem
      = link_to "Shop Sizzix", catalog_path, :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      .megapanel
        %ul.megasublist.resize
          %li= link_to "Product Catalog", "#", :class => "megasublink", :onclick => "return false;"
          %li= link_to "Phasellus Dapibus", "#", :class => "megasublink", :onclick => "return false;"
          %li= link_to "Featured Designers", "#", :class => "megasublink", :onclick => "return false;"
          %li.last= link_to "Feugiat tristique", "#", :class => "megasublink", :onclick => "return false;"
        .subpanel
          %ul.contentwrap_XS
            %li.listtitle.first Category
            %ul
              %li= link_to "dolor sit amet", "#"
              %li=link_to "consectetur adipiscing", "#"
              %li=link_to "Vestibulum auctor", "#"
              %li=link_to "odio in nisl", "#"
              %li=link_to "dictum", "#"
            %li.listtitle Designer
            %ul
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
              %li=link_to "Phasellus dapibus", "#"
            %li.listtitle Machine Compatibility
            %ul
              %li=link_to "Vestibulum auctor", "#"
              %li=link_to "odio in nisl", "#"
              %li=link_to "dictum", "#"
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
          %ul.contentwrap_XS
            %li.listtitle.first Product Line
            %ul
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
              %li=link_to "Phasellus dapibus", "#"
            %li.listtitle Theme
            %ul
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
              %li=link_to "Phasellus dapibus", "#"
            %li.listtitle Price
            %ul
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
              %li=link_to "Phasellus dapibus", "#"
          %ul.contentwrap_XS
            %li.listtitle.first Themes
            %ul
              %li=link_to "Vestibulum auctor", "#"
              %li=link_to "odio in nisl", "#"
              %li=link_to "dictum", "#"
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
            %li.listtitle Specials
            %ul
              %li=link_to "Vestibulum auctor", "#"
              %li=link_to "odio in nisl", "#"
              %li=link_to "dictum", "#"
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
          .contentwrap_medium= link_to image_tag("/images/_temp/meganav_eclips.jpg"), "/shop/eclips"
          .contentwrap_medium.last
            %p Sizzix award-winning artwork is now available electronically! The eclips Electronic Shape-Cutting Machine and Handheld Remote Control creates completely customizable shapes and letters to adorn almost anything. No computer required!
            %p= link_to "View the eclips videos", "/shop/eclips"
        .subpanel{:style => "display: none;"}
          .contentwrap_XXL.last= image_tag("http://placehold.it/790x80")
          .contentwrap_XL
            %p "Have you seen Oz?"
            %p "Oh, no," returned the soldier; "I have never seen him. But I spoke to him as he sat behind his screen and gave him your message. He said he will grant you an audience, if you so desire; but each one of you must enter his presence alone, and he will admit but one each day. Therefore, as you must remain in the Palace for several days, I will have you shown to rooms where you may rest in comfort after your journey."
          %ul.contentwrap_XS.last
            %ul
              %li=link_to "Vestibulum auctor", "#"
              %li=link_to "odio in nisl", "#"
              %li=link_to "dictum", "#"
              %li=link_to "bibendum", "#"
              %li=link_to "massa interdum", "#"
        .subpanel{:style => "display: none;"}
          .contentwrap_XS
            = image_tag("http://placehold.it/150x175")
            %p "Hil-lo, hol-lo, hel-lo!" After this she stood upon both feet and cried in a loud voice: "Ziz-zy, zuz-zy, zik!" Now the charm began to work
          .contentwrap_XS
            = image_tag("http://placehold.it/150x175")
            %p The sky was darkened, and a low rumbling sound was heard in the air
          .contentwrap_XS
            = image_tag("/images/_temp/meganav_timholtz.jpg")
            %p== Tim Holtz is the Creative Director for Ranger Industries, one of the leading manufacturers of innovative inks, paints, and embossing products. Tim plays an integral part in the development and design of cutting edge paper crafting products. Tim has teamed up with Sizzix bring #{link_to "unique products", "/shop/timholtz"} that work hand in hand with Ranger’s extensive lines.
          .contentwrap_XS
            = image_tag("http://placehold.it/150x175")
            %p Here they dropped the poor Woodman, who fell a great distance to the rocks, where he lay so battered and dented that he could neither move nor groan
          .contentwrap_XS.last
            = image_tag("http://placehold.it/150x175")
            %p They made his hat and boots and clothes into a small bundle and threw it into the top branches of a tall tree          
        .subpanel{:style => "display: none;"}
          .contentwrap_17col
            %div{:style => "position: relative; float: left; margin-right: 10px"}= image_tag("http://placehold.it/110x100")
            %div{:style => "position: relative; float: left; width: 550px; min-height: 110px"}== Phileas Fogg took a chair, and sat down near the fireplace, opposite Aouda. No emotion was visible on his face. Fogg returned was exactly the Fogg who had gone away; there was the same calm, the same impassibility.
            %div{:style => "position: relative; float: left; margin-right: 10px"}= image_tag("http://placehold.it/110x100")
            %div{:style => "position: relative; float: left; width: 550px; min-height: 110px"}== "Please let me finish," returned Mr. Fogg. "When I decided to bring you far away from the country which was so unsafe for you, I was rich, and counted on putting a portion of my fortune at your disposal; then your existence would have been free and happy. But now I am ruined."
            %div{:style => "position: relative; float: left; margin-right: 10px"}= image_tag("http://placehold.it/110x100")
            %div{:style => "position: relative; float: left; width: 550px; min-height: 110px"}== "Madam, you could not remain in India, and your safety could only be assured by bringing you to such a distance that your persecutors could not take you."
          .contentwrap_XXS= image_tag("http://placehold.it/110x400")
    %li.megaitem
      = link_to "Craft Ideas", catalog_path(:anchor => "ideas=1"), :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      .megapanel
        %ul.contentwrap_medium
          %li elementum
          %li feugiat tristique
          %li Vestibulum auctor
          %li bibendum
          %li massa interdum
        %ul.contentwrap_small.resize
          %li dolor sit amet
          %li consectetur adipiscing
          %li Phasellus dapibus
        %p.contentwrap_small
          Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
        %ul.contentwrap_medium.last
          %li Vestibulum auctor
          %li odio in nisl
          %li massa interdum
          %li Phasellus dapibus
          %li dictum
          %li bibendum
          %li massa interdum
    %li.megaitem
      = link_to "What's New?", "#", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      .megapanel
        %ul.contentwrap_XXXL.last.resize
          %li= link_to "eclips", shop_path("eclips")
          %li= link_to "eclips", shop_path("eclips")
          %li= link_to "eclips", shop_path("eclips")
          %li= link_to "eclips", shop_path("eclips")
          %li= link_to "eclips", shop_path("eclips")
          %li= link_to "eclips", shop_path("eclips")
    %li.megaitem
      = link_to "Community", "#", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      .megapanel
        %p.contentwrap_XXXL.last.resize
          5 Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
    %li.megaitem
      = link_to "Customer Care", "#", :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      .megapanel
        %p.contentwrap_XXXL.last.resize
          The next thing was to eat the comfits: this caused some noise and  confusion, as the large birds complained that they could not taste  theirs, and the small ones choked and had to be patted on the back.  However, it was over at last, and they sat down again in a ring, and  begged the Mouse to tell them something more.
        %p.contentwrap_large.first.resize
          'It IS a long tail, certainly,' said Alice, looking down with wonder at  the Mouse's tail; 'but why do you call it sad?' And she kept on puzzling  about it while the Mouse was speaking, so that her idea of the tale was  something like this:&mdash;
        %p.contentwrap_large.last= image_tag("http://placehold.it/470x150")
        %p.contentwrap_medium.first
          'You promised to tell me your history, you know,' said Alice, 'and why  it is you hate - C and D,' she added in a whisper, half afraid that it  would be offended again.
        %p.contentwrap_medium.resize
          Alice thought the whole thing very absurd, but they all looked so grave  that she did not dare to laugh; and, as she could not think of anything  to say, she simply bowed, and took the thimble, looking as solemn as she  could.
        %p.contentwrap_medium.last
          'I beg your pardon,' said Alice very humbly: 'you had got to the fifth  bend, I think?'
    %li.megaitem
      = link_to "Shop the Outlet", outlet_path, :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      .megapanel
        %ul.contentwrap_small
          %li massa interdum
          %li Phasellus dapibus
          %li elementum
          %li feugiat tristique
        %ul.contentwrap_XL.resize
          %li bibendum
          %li Phasellus dapibus
        %ul.contentwrap_small.last
          %li Vestibulum auctor
          %li bibendum
          %li massa interdum
          
    -# Ellison3 dashboard menu for admins
    - if admin_signed_in?
      %li.megaitem
        = link_to "Dashboard", "#", :class => "megalink-admin", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
        .megapanel
          .contentwrap_XL.resize
            %h3== Admin Dashboard ~ #{system_name}
            %ul#nav_utility_admin
              %li= link_to "<span>Edit Admin Profile</span>".html_safe, edit_admin_registration_path(current_admin), :class => "btn-myaccount", :title => "Edit Admin Profile", :alt => "Edit Admin Profile"
              %li= link_to "<span>Log Out Dashboard</span>".html_safe, destroy_session_path('admin'), :class => "btn-admin-logout", :title => "Log Out Dashboard", :alt => "Log Out Dashboard"
          .contentwrap_medium.last{ :style => 'text-align: right;'}
            %span{:class => 'minilink'}
              %strong Switch System:
              %span{:id => 'systemswitch'}
                - (ELLISON_SYSTEMS & current_admin.systems_enabled).each do |sys|
                  = link_to_unless current_system == sys, sys, "#{uri_append_or_first}system=#{sys}"
          .clear
          %ul.megasublist.resize
            %li= link_to "Product Catalog", "#", :class => "megasublink", :onclick => "return false;"
            %li= link_to "Customer Orders", "#", :class => "megasublink", :onclick => "return false;"
            %li= link_to "User Accounts", "#", :class => "megasublink", :onclick => "return false;"
            %li.last= link_to "Website Settings", "#", :class => "megasublink", :onclick => "return false;"
          .subpanel
            .contentwrap_XXL.last
              %ul
                %li= link_to "Manage Product Catalog", admin_products_path
                %li= link_to "Manage Compatibility", admin_compatibilities_path
                %li= link_to "Manage Ideas", admin_ideas_path
                %li= link_to "Create & Associate Product Tags", admin_tags_path
                %li= link_to "Create & Edit Coupons", admin_coupons_path
          .subpanel{:style => "display: none;"}
            #user_as= render :partial => 'layouts/user_as'
            .contentwrap_XXL.last
              %ul
                %li= link_to "Review Customer Orders", admin_orders_path
                %li= link_to "Review Customer Quotes", admin_quotes_path
                %li= link_to "Customer Feedback", admin_feedbacks_path
            - if get_cart.order_reference
              #previous_order_reference.contentwrap_XXL.last
                previous order reference:
                = link_to get_cart.order_reference, admin_order_path(get_cart.order_reference)
                = link_to 'reset', remove_order_reference_path, :remote => true
            - if current_admin.can_act_as_customer
              = form_tag('/user_as', :remote => true, :class => 'contentwrap_XXL last') do
                = label_tag :user_as_email, "Login as customer:"
                = text_field_tag :user_as_email, nil, :placeholder => "enter customer email"
                = submit_tag 'login', :class => 'jqui_save'
                
          .subpanel{:style => "display: none;"}
            .contentwrap_XXL.last
              %ul
                %li= link_to "Manage Customer Accounts", admin_users_path
                %li= link_to "Manage Website Administrators", admin_admins_path
          .subpanel{:style => "display: none;"}
            .contentwrap_XXL.last
              %ul
                %li= link_to "Create & Edit Landing Pages", admin_landing_pages_path
              %ul
                %li= link_to "Manage US Shipping Rates (by weight)", admin_fedex_rates_path
                %li= link_to "Manage Shipping Rates (by #{t 'number.currency.format.unit'})", admin_shipping_rates_path
                %li= link_to "Edit International Settings", admin_countries_path
                %li= link_to "Manage Stores", admin_stores_path
                %li= link_to "Manage Events", admin_events_path

-# Sizzix UK mega menu link styles
- if is_sizzix_uk?
  :javascript
    $(".megalink").FontEffect({
      outline:true,
      outlineWeight: 2,
      outlineColor1: "#3359a4"
    })
    $(".megalink-admin").FontEffect({
      outline:true,
      outlineWeight: 2,
      outlineColor1: "#e3e7f8"
    })
:javascript
  $('ul.megasublist li').mouseover(function(){
    $('div.subpanel').eq($('ul.megasublist li').index(this)).fadeTo('fast',1).siblings('div.subpanel').fadeTo('fast',0).hide();
    $(this).parents('.megapanel').shadowOff();
    $(this).parents('.megapanel').shadowOn(megapanel_shadow_options); 
  })