- cache "navigation_#{current_system}", :expires_in => 1.minute do
  - @top_navigations.each do |top_nav|
    - panel_columns = Navigation.where(:system => current_system, :top_nav => @top_navigations.index(top_nav)).asc(:column)
    %li.megaitem.ui-corner-top
      = link_to top_nav.label, top_nav.link, :class => "megalink", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
      -# apply the full-width class to panels with six columns
      -# apply the reverse class to the panel of the last meganav link, but only if there are more than five meganav links
      .megapanel{:class => panel_columns.count >= 6 ? 'full-width' : ((@top_navigations.index(top_nav) == @top_navigations.length - 1) && @top_navigations.index(top_nav) > 4) ? 'reverse' : nil}
        - i=0
        - panel_columns.each do |nav|
          - i+=1
          %ul.contentwrap_XS{:class => i == 6 ? 'resize last' : nil} 
            %li.listtitle.first= link_to_unless nav.link.blank?, nav.label, nav.link
            %ul
              - if nav.navigation_type == 'static'
                - nav.navigation_links.ordered.each do |link|
                  %li= link_to_unless link.link.blank?, link.label, link.link
              - elsif nav.navigation_type == 'product_tag'
                - perform_search(Product, :facets => [nav.tag_type], :ignore_keyword => true).facet("#{nav.tag_type}_#{current_system}").rows.each do |row|
                  %li= link_to row.instance.name, "/catalog#facets=#{row.value}"
              - elsif nav.navigation_type == 'idea_tag'
                - perform_search(Idea, :facets => [nav.tag_type], :ignore_keyword => true).facet("#{nav.tag_type}_#{current_system}").rows.each do |row|
                  %li= link_to row.instance.name, "/catalog#facets=#{row.value}&ideas=1"