-# primary navigation menu (product catalog, customer & community outreach, etc)
#nav_megamenu.dontprint
  %ul.megalist
    - if is_sizzix_us?
      = render :partial => 'layouts/meganav_szus'
    - elsif is_sizzix_uk?
      = render :partial => 'layouts/meganav_szuk'
    - elsif is_ee?
      = render :partial => 'layouts/meganav_eeus-uk'
    - elsif is_er?
      = render :partial => 'layouts/meganav_er'
    - else
      = render :partial => 'layouts/meganav_temp'

    -# Ellison3 dashboard menu for admins
    - if admin_signed_in?
      %li.megaitem
        = link_to "Dashboard", "#", :class => "megalink-admin", :onclick => "$(this).siblings('div.megapanel').hide(); return true;"
        .megapanel.full-width
          .contentwrap_XL.resize
            %h3== Admin Dashboard ~ #{system_name}
            %ul#nav_utility_admin
              %li= link_to "<span>Edit Admin Profile</span>".html_safe, edit_admin_registration_path(current_admin), :class => "btn-myaccount", :title => "Edit Admin Profile", :alt => "Edit Admin Profile"
              %li= link_to "<span>Log Out Dashboard</span>".html_safe, destroy_session_path('admin'), :class => "btn-admin-logout", :title => "Log Out Dashboard", :alt => "Log Out Dashboard"
          .contentwrap_medium.last{ :style => 'text-align: right;'}
            %span{:class => 'minilink'}
              %strong Switch System:
              %span{:id => 'systemswitch'}
                - (ELLISON_SYSTEMS & current_admin.systems_enabled).each do |sys|
                  = link_to_unless current_system == sys, sys, "?#{request.query_parameters.merge('system' => sys).to_params}"
          .clear
          %ul.megasublist.contentwrap_XS.resize
            %li= link_to "Product Catalog", "#", :class => "megasublink", :onclick => "return false;"
            %li= link_to "Customer Orders", "#", :class => "megasublink", :onclick => "return false;"
            %li= link_to "User Accounts", "#", :class => "megasublink", :onclick => "return false;"
            %li.last= link_to "Website Settings", "#", :class => "megasublink", :onclick => "return false;"
          .subpanel
            .contentwrap_XXL.last
              %ul
                %li= link_to "Manage Product Catalog", admin_products_path
                %li= link_to "Manage Compatibility", admin_compatibilities_path
                %li= link_to "Manage Ideas", admin_ideas_path
                %li= link_to "Create & Associate Product Tags", admin_tags_path
                %li= link_to "Create & Edit Coupons", admin_coupons_path
          .subpanel{:style => "display: none;"}
            #user_as= render :partial => 'layouts/user_as'
            .contentwrap_XXL.last
              %ul
                %li= link_to "Review Customer Orders", admin_orders_path
                %li= link_to "Review Customer Quotes", admin_quotes_path
                %li= link_to "Customer Feedback", admin_feedbacks_path
            - if get_cart.order_reference
              #previous_order_reference.contentwrap_XXL.last
                previous order reference:
                = link_to get_cart.order_reference, admin_order_path(get_cart.order_reference)
                = link_to 'reset', remove_order_reference_path, :remote => true
            - if current_admin.can_act_as_customer
              = form_tag('/user_as', :remote => true, :class => 'contentwrap_XXL last') do
                = label_tag :user_as_email, "Login as customer:"
                = text_field_tag :user_as_email, nil, :placeholder => "enter customer email"
                = submit_tag 'login', :class => 'jqui_save'
                
          .subpanel{:style => "display: none;"}
            .contentwrap_XXL.last
              %ul
                %li= link_to "Manage Customer Accounts", admin_users_path
                %li= link_to "Manage Website Administrators", admin_admins_path
          .subpanel{:style => "display: none;"}
            %ul.contentwrap_medium
              %li= link_to "Create & Edit Landing Pages", admin_landing_pages_path
              %li= link_to "Edit Shared Contents", admin_shared_contents_path
              %li= link_to "Edit Homepage", admin_shared_contents_path(:placement => 'home')
              %li= link_to "Edit Campaigns", admin_shared_contents_path(:placement => 'campaigns')
            %ul.contentwrap_medium
              %li= link_to "Manage US Shipping Rates (by weight)", admin_fedex_rates_path
              %li= link_to "Manage Shipping Rates (by #{t 'number.currency.format.unit'})", admin_shipping_rates_path
              %li= link_to "Edit International Settings", admin_countries_path
              %li= link_to "Manage Stores", admin_stores_path
              %li= link_to "Manage Events", admin_events_path
              %li= link_to "Manage Materials", admin_materials_path
              %li= link_to "Material Orders", admin_material_orders_path
              %li= link_to "eclips firmwares", :controller => 'admin/firmwares'
            %ul.contentwrap_XS
              %li &nbsp;

-# Sizzix UK mega menu link styles
- if is_sizzix_uk?
  :javascript
    $(".megalink").FontEffect({
      outline:true,
      outlineWeight: 2,
      outlineColor1: "#3359a4"
    })
    $(".megalink-admin").FontEffect({
      outline:true,
      outlineWeight: 2,
      outlineColor1: "#e3e7f8"
    })
:javascript
  $('ul.megasublist li').mouseover(function(){
    $('div.subpanel').eq($('ul.megasublist li').index(this)).fadeTo('fast',1).siblings('div.subpanel').fadeTo('fast',0).hide();
    $(this).parents('.megapanel').shadowOff();
    $(this).parents('.megapanel').shadowOn(megapanel_shadow_options); 
  })