.lyris_su_corner
  - if is_sizzix_us?
    %img{alt: "", height: "27", src: "/images/ui-logos/szx_su_logo.png", width: "58"}/
  - else
    %img{alt: "", height: "27", src: "/images/ui-logos/ee_su_logo.png", width: "76"}/
  = link_to 'x', '#', class: 'lyris_btn_close', id: 'close_newsletter_signup'
.lyris_su_btm#newsletter_popup_inner
  - if is_ee?
    %h2 New to Ellisoneducation.com?
    %p
      Subscribe to our newsletter for curriculum ideas, creative tips and special announcements, plus get advance notice of specials and sales.
  - elsif is_sizzix_us?
    %h2 New to Sizzix.com?
    %p
      Subscribe to our newsletter for tips & tricks, special announcements and updates about your favorite designers, plus get advance notice of specials and sales.
  - else
    %h2 New to Ellison?
    %p
      Subscribe to our newsletter for tips & tricks, special announcements and updates about your favorite designers, plus get advance notice of specials and sales.
  .error#newsletter_signup_errors(style='display:none')
  #newsletter_signup_messages.notice(style='display:none')
  = form_tag url_for(controller: 'index', action: 'newsletter_signup_do'), remote: true, id: 'newsletter-signup-form' do
    = text_field_tag :email, "Type your email address here", :onfocus => "if (this.value == 'Type your email address here'){this.value='';}", :onblur => "if (this.value == ''){this.value='Type your email address here';}", :size => 36, :style =>"color:#666;"
    %br
    - if is_ee?
      = submit_tag :submit, value: 'Sign up for the Connection', class: 'lyris_btn_css'
    - elsif is_sizzix_us?
      = submit_tag :submit, value: 'Sign up for the Scoop', class: 'lyris_btn_css'
    - else
      = submit_tag :submit, value: 'Sign up for our Newsletter', class: 'lyris_btn_css'
  :coffeescript
    $('#close_newsletter_signup').click ->
      $('#newsletter_signup').hide()
      $.cookie 'newsletter_signup_closed', true,
        expires: 90
        path: '/'
      false
