.lyris_su_corner
  %img{alt: "", height: "27", src: "http://www.sizzix.com/images/static/szx_su_logo.png", width: "58"}/
  = link_to 'x', '#', class: 'lyris_btn_close', id: 'close_newsletter_signup'
.lyris_su_btm
  %h2 New to Sizzix.com?
  %p
    Thanks for joining us. We would love to add you as a subscriber. Simply enter your email address in the box below and you can receive regular updates!
  .error#newsletter_signup_errors(style='display:none')
  #newsletter_signup_messages.notice(style='display:none')
  = form_tag url_for(controller: 'index', action: 'newsletter_signup_do'), remote: true, id: 'newsletter-signup-form' do
    = label_tag :email
    = text_field_tag :email
    %br
    = submit_tag :submit, value: 'Sign Up for the Sizzix Scoop', class: 'lyris_btn_css'
  :coffeescript
    $('#close_newsletter_signup').click ->
      $('#newsletter_signup').hide()
      $.cookie 'newsletter_signup_closed', true,
        expires: 90
      false