-# GLOBAL LAYOUT for the ELLISON3 WEB APPLICATION CONTENT MANAGEMENT SYSTEM

!!!
%html
  %head
    %title= @title
    = render 'layouts/common_head'
  %body.bp
    #root
      .container
        .design-gutter.dontprint
          \&nbsp;
        .main
          #header
            = render 'layouts/masthead'
            = render 'layouts/meganav'
          #content
            = render 'layouts/content'
        .design-gutter.dontprint.last
          \&nbsp;
      #root_footer
    #footer.dontprint
      .container
        .design-gutter.dontprint
          \&nbsp;
        .main
          = render 'layouts/footer'
        .design-gutter.dontprint.last
          \&nbsp;