!!!
/default szus layout
%html
  %head
    %title 
      = get_domain
      \-
      = @title
    = render 'layouts/common_head'
  %body.bp
    #header
      = image_tag "ui-logos/szus.gif"
      = render :partial => 'layouts/nav'
    #cart{:style => "display:none"}
    #wrapper.bp
      - if notice
        %p.dontprint.notice= notice 
      - if alert
        %p.dontprint.error= alert
      = yield