-# GLOBAL LAYOUT for the ELLISON3 WEB APPLICATION PLATFORM

!!!
%html
  %head
    %title
      = @title
      \| 
      = get_domain.capitalize
    = render 'layouts/common_head'
  %body.bp
    - if is_er?
      = render 'layouts/archetype_cardpanels'
    - else
      = render 'layouts/archetype_columnar_NEW'