!!!
/szuk layout
%html
  %head
    %title 
      = get_domain
      \-
      = @title
    = render 'layouts/common_head'
  %body.bp
    #header
      = image_tag "ui-logos/er.png"
      = render :partial => 'layouts/nav'
    #wrapper.bp
      - if notice
        %p.dontprint.notice= notice
      - if alert
        %p.dontprint.error= alert
      = yield