-# GLOBAL LAYOUT for the ELLISON3 WEB APPLICATION PLATFORM

!!!
%html{:lang => current_locale}
  %head
    :javascript
      var current_system = "#{current_system}";
    %title
      = get_domain.capitalize
      \- 
      = @title
    = render "layouts/common_head"
    = yield :gmap_header
  %body.bp
    #root
      .container{ :style => is_corp_site? ? "background: url('/images/ui-backgrounds/_erus_root_corporate.png') no-repeat scroll center top transparent" : nil}
        .design-gutter.dontprint
          \&nbsp;
        .main
          #header
            = render "layouts/masthead"
            = render "layouts/meganav" unless is_corp_site?
            .clear
          #content
            #modal_box_content= yield :modal_content
            = render "layouts/content"
        .design-gutter.dontprint.last
          \&nbsp;
      #root_footer
    #footer.dontprint
      .container
        .design-gutter.dontprint
          \&nbsp;
        .main
          - if is_corp_site?
            = render "layouts/footer_corporate"
          - else
            = render "layouts/footer_#{current_system}"
          = render "layouts/legal"
        .design-gutter.dontprint.last
          \&nbsp;
  :javascript
    #{lyris_tracking_code}
