-# GLOBAL LAYOUT for the ELLISON3 WEB APPLICATION PLATFORM

!!!
%html
  %head
    %title
      Dies & Die Cutting Machines
      \| 
      = get_domain.capitalize
    = render 'layouts/common_head'
  %body.bp
    - if is_sizzix_us?
      = render 'layouts/archetype_fullwidth'
    - elsif is_er?
      = render 'layouts/archetype_cardpanels'
    - else
      = render 'layouts/archetype_columnar'