-# GLOBAL LAYOUT for the ELLISON3 WEB APPLICATION PLATFORM

!!!
%html{:lang => current_locale}
  %head
    :javascript
      var current_system = "#{current_system}";
    %title
      = @title
      \| 
      = get_domain.capitalize
    = render "layouts/common_head"
    = yield :gmap_header
  %body.bp
    #root
      .container
        .design-gutter.dontprint
          \&nbsp;
        .main
          #header
            = render "layouts/masthead"
            = render "layouts/meganav"
          #content
            = render "layouts/content"
        .design-gutter.dontprint.last
          \&nbsp;
      #root_footer
    #footer.dontprint
      .container
        .design-gutter.dontprint
          \&nbsp;
        .main
          = render "layouts/footer_#{current_system}"
        .design-gutter.dontprint.last
          \&nbsp;