!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
    %style{:type => "text/css", :media => "screen"}
      :plain
        body,#wrap {
          background-color: #e1d7c7;
        }
        td, th {
          font-size: 11px;
          vertical-align: top;
        }
        #layout {
          margin: 10px auto 30px;
          text-align: left;
        }
        #message {
          font-size: 13px;
          background: #fff;
          color: #444;
          font-style: normal;
          font-weight: normal;
          font-family: Helvetica;
          line-height: 1.4em;
          padding: 10px 20px 30px;
          vertical-align: top;
        }
        #message .primary-heading,.content .primary-heading {
          font-size: 22px;
          font-weight: normal;
          color: #333;
          font-family: Georgia;
          line-height: 150%;
          text-align: left;
          margin: 10px 0px;
        }
        #message .secondary-heading,.content .secondary-heading {
          font-size: 18px;
          font-weight: normal;
          color: #333;
          font-style: normal;
          font-family: Georgia;
          text-align: left;
          margin-bottom: 15px;
        }
        #content {
          padding-bottom: 20px;
        }
        td.threecol {
          width: 28%;
          padding-right: 10px;
          padding-left: 10px;
          color: #444;
          padding-top: 10px;
          border-right: 1px solid #ccc;
        }
        td.first {
          padding-left:0;
          width:25%;
        }
        td.last {
          padding-right:0px;
          margin-right:0px;
          border:0;
        }

  %body.bp
    %center
      #wrap
        %table#layout{:border => "0", :cellspacing => "0", :cellpadding => "0", :width => "600" }
          %tr
            %td#message
              %table{ :border => "0", :cellspacing => "0", :cellpadding => "0", :width => "100%" }
                %tr
                  %td= image_tag("http://www.#{get_domain}/images/ui-email/logo_#{current_system}.png", :alt => "#{system_name}", :title => "#{system_name}")
                  %td{ :align => "right" }
                    %strong== #{system_name.upcase}
                    %br
                    - if is_us?
                      25862 Commercentre Drive
                      %br
                      Lake Forest, CA 92630-8804
                      %br
                      Toll Free (877) 355-4766
                      %br
                      Fax (800) 253-2240
                      %br
                    - else
                      Unit 3, Whitegate Industrial Estate
                      %br
                      Wrexham, United Kingdom LL13 8UG
                      %br
                      Phone within UK: 0844 499 8181
                      %br
                      Phone outside of UK: + 44 (0) 845 345 2277
                      %br
                      Fax: +44 845 345 0011
                      %br
                    == http://www.#{get_domain}
              = yield